.pql-popover-content{
    max-width:500px;
}

.pql-popover{

    .loading-text{
        font-size: 14px;
        margin: 0px;
        font-weight: normal;
        line-height: 225%;
        color: #666a6a;
    }
    .loading{
        font-size: 14px;
    }
    .input-block-level{
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
        padding: 4px;
        width: 93%;
        resize: vertical;
    }
    .icon-clippy{
        font-size: x-large;
    }
    
}