header {

  .header-container {
    display: table;
    width: 100%;
  }
  border-bottom: 1px solid $greyLighter;
  background: $greyLightestEver;

  margin-bottom: 1rem;
  padding: .4rem 2rem;

  position: relative;

  #brand {
    width: 27%;
    white-space: nowrap;

    display: table-cell;
    vertical-align: middle;

    #icgc {
      color: $blueDark;
		  font-weight: bold;
		  letter-spacing: -2px;
    }
    a {
      color: $greyDarker;
      font: {
        size: 2.6rem;
        weight: 300;
        family: $sans-stack;
      }
      text-transform: none;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background: none;
      }
    }
    img {
      height: 2.8rem;
      width: 2.8rem;
      vertical-align: top;
    }
    
  }
  .header-country{
      display: inline;
      text-align: center;

      .mirror-portal-flag{
        font-size: 1.5rem !important;
        display: inline-block;
        line-height: 1 !important;
        vertical-align: top;
      }

      .mirror-portal-original{
        opacity: 0;
        display: inline-block;
        font-size: 1.5rem !important;
        line-height: 1 !important;
        vertical-align: top;

        span.flag-text{
          color: #283e5d;
          font-weight: bold;
        }

        .flag-icon-icgc{
          background-image: url(/styles/images/icgc-logo.png);
        }
      }

      span.flag-text{
        font-size: 0.55rem;
        font-weight: normal;
        color: #aaa;
        display: block;
        text-transform: uppercase;
        margin-top:5px;
      }

      &:hover{
        .mirror-portal-original{
          animation:animatefromleft 0.4s;
          opacity: 1;
        }
      }
    }
  
}

#home-page{
  header{
    .header-country{

      .mirror-portal-flag{
        vertical-align: initial;
        
        span.flag-text{
          font-weight: normal;
        }
      }

      .mirror-portal-original{
        vertical-align: initial;
      }

      span.flag-text{
        font-size: 0.75rem;
      }
    }
  }

}

@keyframes animatefromleft{
  from{transform:translateX(-50px); opacity:0} 
  to{transform:translateX(0px); opacity:1}
}

@media screen and (min-width: 721px) and (max-width: 950px) {
  header {
    .header-container {
      display: block;
      #brand {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 1.4rem;
        a {
          font-size: 3.5rem;
        }
      }

      .t_nav__actions {
        display: block;
        width: 100%;

        .t_nav__items__item {
          width: 100%;

          .t_suggest.t_suggest__header {
            width: 98%;
            margin: 0rem 0.5rem 0.5rem 0.5rem;

            .t_suggest__input {
              border-radius: 4rem;
            }

          }
        }
      }

      .t_nav__pages {
        width: 100%;
        min-width: 228px;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  header {
    padding: 0 0;
    .header-container {
      display: block;

      #brand {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 1.4rem;
        a {
          font-size: 3.5rem;
        }
      }
      .t_nav__pages {
        display: block;
        width: 100%;
        text-align: center;

        .t_nav__items__item {
          display: inline;
          margin: 0.5rem 0;

          a {
           border-width: 1px;
          }

          .t_nav__items__item__title {
            display: inline;
          }
          .t_nav__items__item__icon i {
            position: relative;
            display: inline-block;
            margin: 0 auto;
            padding: .8rem 1rem .8rem 1.1rem;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1) !important;
          }
        }
      }

      .t_suggest.t_suggest__header {
        width: 98%;
        margin: 0rem 0.5rem 0.5rem 0.5rem;

        .t_suggest__input {
          border-radius: 4rem;
        }

      }
    }

  }

}

.t_nav {
  font-size: 1.3rem;
}

.t_nav__pages {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 38%;
}

.t_nav__actions {
  display: table-cell;
  text-align: right;
  margin-right: 0;
  width: 27%;
}

.t_nav__items {
  position: relative;
}

.t_nav__items__item {
  background-color: transparent;
  display: inline;
  text-align: left;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  @include breakpoint($break-tablet) {
    display: inline-block;
  }

  a, a:active, a:visited {
    border-radius: 0;
    display: block;
    background: $white;
    text-decoration: none;
    width: auto;

    @include breakpoint($break-tablet) {
      border-radius: 3rem;
    }
  }
  a:hover {
    text-decoration: none;
  }

  &.t_nav__items__item__home a {
    color: $orange;
    border: .3rem solid $orange;
  }

  &.t_nav__items__item__home a:hover {
    color: $white;
    background: $orange;
  }

  &.t_nav__items__item__projects a {
    color: $orangeLight;
    border: .3rem solid $orangeLight;
  }

  &.t_nav__items__item__projects a:hover {
    color: $white;
    background: $orangeLight;
  }

  &.t_nav__items__item__advanced a {
    color: $blue;
    border: .3rem solid $blue;
  }

  &.t_nav__items__item__advanced a:hover {
    color: $white;
    background: $blue;
  }

  &.t_nav__items__item__analysis a {
    color: $mauve;
    border: .3rem solid $mauve;
  }

  &.t_nav__items__item__analysis a:hover {
    color: $white;
    background: $mauve;
  }

  &.t_nav__items__item__data_repositories a {
    color: $repositories;
    border: .3rem solid $repositories;
  }

  &.t_nav__items__item__data_repositories a:hover {
    color: $white;
    background: $repositories;
  }

  &.t_nav__items__item__download a {
    color: $cyan;
    border: .3rem solid $cyan;
  }

  &.t_nav__items__item__download a:hover {
    color: $white;
    background: $cyan;
  }

  &.t_nav__items__item__search a {
    background: $greyLight;
    border: .3rem solid $greyLight;
    .icon-search {
      padding: 1rem;
    }

    form {
      opacity: 0;
    }
  }

  &.t_nav__items__item__search a:hover {
    background: $greyLight;
  }

  &.t_nav__items__item__search a.open {
    border: .3rem solid $greyLight;
    text-align: left;
    background: $white;
    i {
      color: $greyLight;
    }
    form {
      width: auto;
      opacity: 1;
      input {
        border-radius: 1rem;
      }
    }
  }

  &.t_nav__items__item__search a.open:hover {
    background: $white;
  }

  &.t_nav__items__item__login a {
    background: $violet;
    border: .3rem solid $violet;
  }

  &.t_nav__items__item__login a:hover {
    background: $violet;
  }
}

.t_nav__items__item__icon {
  i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: .8rem 1rem .8rem 1.1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    @include breakpoint($break-laptop) {
      padding: .8rem 1rem .9rem;
    }

    @include breakpoint($break-widescreen) {
      padding: .9rem;
    }
  }

}

.t_nav__items__item__title {
  display: none;
}

@media screen and (max-width: 720px) {
  #home-page {
    .home-landing {
      .t_suggest {
        width: 98%;
        margin: 0rem 0.5rem 0.5rem 0.5rem;
        .t_suggest__input {
          border-radius: 4rem;
        }
      }
    }
  }
}

#home-page {
  header {
    text-align: center;
    padding: 0;

    .header-container {
      display: block;
    }

    #brand {
      display: block;
      width: 100%;
      margin: 0;

      a {
        line-height: 7rem;
        font: {
          size: 4rem;
          weight: 300;
          family: $sans-stack;
        }
      }

      img {
        height: 4rem;
        margin-bottom: .9rem;
        width: 4rem;
        vertical-align: middle;
      }
    }
  }

  .t_nav__pages {
    margin: 0.5rem 0rem;
    display:block;
    width: 100%;
    .t_nav__items__item {
      text-align: left;
      margin: 0;
      @include breakpoint($break-tablet) {
        margin: 0rem 1.25rem 0.7rem 0rem;
      }
      a {
        padding-right: 1rem;
      }

    }
  }

  .t_nav__actions {
    position: absolute;
    top: .4rem;
    right: 2rem;
  }

  .t_nav__items__item__title {
    font-weight: 300;
    display: inline-block;
  }

  .t_nav__items__item__home {
    display: none;
  }
  .t_nav__items__item__search {
    display: none;
  }
  .t_nav__items__item__projects a {
    background: $orangeLight;
    color: $white;
  }
  .t_nav__items__item__advanced a {
    background: $blue;
    color: $white;
  }
  .t_nav__items__item__analysis a {
    background: $mauve;
    color: $white;
  }
  .t_nav__items__item__download a {
    background: $cyan;
    color: $white;
  }
  .t_nav__items__item__data_repositories a {
    background: $repositories;
    color: $white;
  }
}

#projects-page {
  .t_nav__items__item__projects a {
    cursor: default;
    background: $orangeLight;
    color: $white;
    i {
      box-shadow: none;
      background: none;
    }
  }
}

#advanced-page {
  .t_nav__items__item__advanced a {
    cursor: default;
    background: $blue;
    color: $white;
    i {
      box-shadow: none;
      background: none;
    }
  }
}


#analysis-page {
  .t_nav__items__item__analysis a {
    cursor: default;
    background: $mauve;
    color: $white;
    i {
      box-shadow: none;
      background: none;
    }
  }
}

#dataReleases-page {
  .t_nav__items__item__download a {
    cursor: default;
    background: $cyan;
    color: $white;
    i {
      box-shadow: none;
      background: none;
    }
  }
}

#repository-page {
  .t_nav__items__item__data_repositories a {
    cursor: default;
    background: $repositories;
    color: $white;
    i {
      box-shadow: none;
      background: none;
    }
  }
}

#q-page {
  .t_nav__items__item__search {
    display: none;
  }
}

/* ************************************
 *   Suggest
 *********************************** */
.t_suggest.t_suggest__header {
  color: $greyDarker;

  width: 150%;
  float: right;
  margin: 0;

  .t_suggest__input {
    margin: .4rem;
    padding: {
      top: .5rem;
      right: 1.75rem;
      bottom: .5rem;
      left: 0;
    }
  }

  .t_suggest_flyout {
    margin-top: .5rem;
  }

  .t_suggest__embedded__left {
    top: 1.1rem;
    left: 1rem;
  }

  .t_suggest__embedded__right {
    top: 1rem;
    right: 1rem
  }
}

/************************************************
 * @-moz-document
 ***********************************************/
@-moz-document url-prefix() {
  .t_suggest.t_suggest__header {
    .t_suggest__embedded__left {
      top: 1.3rem;
    }

    .t_suggest__embedded__right {
      top: 1.2rem;
    }
  }

  .t_nav__items__item__icon {
    i {
      padding: .8rem;
    }
  }
}
