.mini-venn-canvas {
  svg {
    cursor: pointer;
    transform: scale(1.3);
    & > * {
      pointer-events: none;
    }
  }
  text:not(.venn-count) {
    display: none;
  }
  .venn-count {
      font-size: 22px; 
  }
}

.survival-table {
  .icon-info {
    font-size: 10px;
    cursor: help;
    color: #6baed6;
  }
}

.survival-graphs {
  position: relative;
  survival-analysis-graph {
    display: block;
    opacity: 1;
    transition: 0.4s opacity ease;
    width: 100%;

    &.disabled {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  .icon-file {
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
  }
}