.mini-venn-canvas {
  svg {
    cursor: pointer;
    transform: scale(1.2);
    & > * {
      pointer-events: none;
    }
  }

  text {
      font-size: 22px; 
  }

  &.only-two {
    overflow: hidden;
    svg {
      transform: scale(1.2) translateY(30px);
    }
  }
}

.survival-table {
  margin-top: 20px;
  .icon-info {
    font-size: 10px;
    cursor: help;
    color: #6baed6;
  }
  .icon-file {
    font-size: 14px;
    margin: 0;
  }
}

.survival-graphs {
  position: relative;
  display: flex;
  survival-analysis-graph {
    display: block;
    opacity: 1;
    transition: 0.4s opacity ease;
    width: 100%;

    &.disabled {
      position: absolute;
      z-index: -100;
      opacity: 0;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  survival-analysis-graph {
    .title {
      text-transform: none;
      font-size: 16px;
      margin: 0 auto 0 40px;
    }
    &:not(:fullscreen) {
      .title {
        display: none;
      }
    }
  }
}