<div class="clearfix">
<ul data-ng-class="{'footer-grid-adjust': ! stagedFeatures.getCloudLinks()}">
    <li class="heading">Main</li>
    <li ng-repeat="item in FooterCtrl.mainItems">
      <a href="{{:: item.href }}">{{:: item.title }}</a>
    </li>
</ul>
<ul data-ng-class="{'footer-grid-adjust': ! stagedFeatures.getCloudLinks()}">
    <li class="heading">Tools</li>
    <li><a href="/browser">Genome Viewer</a></li>
    <li><a href="/ga4gh/beacon">ICGC GA4GH Beacon</a></li>
    <li data-ng-if="portalFeature.get('SOFTWARE_PAGE')"><a href="/software">Software</a></li>
</ul>
<ul data-ng-class="{'footer-grid-adjust': ! stagedFeatures.getCloudLinks()}">
    <li class="heading">Documentation</li>
    <li><a href="http://docs.icgc.org/portal/about" target="_blank">Portal</a></li>
    <li><a href="http://docs.icgc.org/portal/api-endpoints/" target="_blank">Portal API</a></li>
    <li><a href="http://docs.icgc.org/submission/about" target="_blank">Submission</a></li>
   
    
</ul>
<ul data-ng-class="{'footer-grid-adjust': ! stagedFeatures.getCloudLinks()}">
    <li class="heading">DCC</li>
    <li><a href="/team">The Team</a></li>
    <li><a href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback">Contact Us</a></li>
    <li><a target="_blank" href="https://twitter.com/icgc_dcc">Twitter</a></li>
</ul>
<ul data-ng-class="{'footer-grid-adjust': ! stagedFeatures.getCloudLinks()}">
    <li class="heading">ICGC</li>
    <li><a href="https://icgc.org" target="_blank">ICGC Home</a></li>
    <li><a href="https://www.icgc.org/daco" target="_blank">Data Access</a></li>
    <li><a href="https://www.icgc.org/icgc/goals-structure-policies-guidelines/e3-publication-policy" target="_blank">Publication Policy</a></li>
    <li><a href="https://www.icgc.org/privacy-policy" target="_blank">Privacy Policy</a></li>
    <li><a href="https://www.icgc.org/terms-and-conditions" target="_blank">Terms and Conditions</a></li>
</ul>
<ul data-ng-if="stagedFeatures.getCloudLinks()">
    <li class="heading">Cloud</li>
    <li data-ng-repeat="cloudLink in ::stagedFeatures.getCloudLinks()"> 
      <a data-ng-href="{{cloudLink.link}}" data-ng-bind="cloudLink.title"></a>
    </li>
    <li>
        <a href="http://docs.icgc.org/cloud/guide/" target="_blank">User Guide</a>
    </li>
</ul>
<div class="logo omega"><a href="http://oicr.on.ca/" target="_blank"><img src="/styles/images/OICR2logo.png"></a></div>
        </div>
<div class="footer-caption">
    <small style="display: block"> &copy; 2015 <a href="https://icgc.org">International Cancer Genome Consortium.</a> All
        Rights
        reserved.</small>
    <small style="display: block; line-height: .5rem" data-ng-if="FooterCtrl.portalVersion">ICGC Data Portal {{FooterCtrl.portalVersion}} -
        API {{FooterCtrl.apiVersion}} -
        <a href="https://github.com/icgc-dcc/dcc-portal/commit/{{FooterCtrl.portalCommit}}" target="_blank" data-ng-bind="FooterCtrl.portalCommit"></a></small>
</div>
