<p>Subscribe to our Twitter <a target="_blank" href="https://twitter.com/icgc_dcc"><i class="icon-twitter"></i>feed</a> to get updates.</p>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/icgc_dcc"
  data-widget-id="380699364819091456"
  data-chrome="nofooter noborders transparent"
  data-theme="light"
  data-tweet-limit="2"><i class="icon-spin icon-spinner"></i>Loading Tweets...</a>
<script>!function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
   if (!d.getElementById(id)) {
       js = d.createElement(s);
       js.id = id;
       js.src = p + "://platform.twitter.com/widgets.js";
       fjs.parentNode.insertBefore(js, fjs);
   }
}(document, "script", "twitter-wjs");</script>
<a target="_blank" style="margin-left: 4rem" href="https://twitter.com/icgc_dcc"><i class="icon-twitter"></i>See more news.</a>
