<div data-ng-if="ProjectsCtrl.isLoadingData" class="loading"><h3><i class="icon-spinner icon-spin"></i>
    <translate>Loading Summary...</translate>
</h3></div>

<div data-ng-show="ProjectsCtrl.projects && !ProjectsCtrl.isLoadingData" ng-init="lineHeight = 310">
    <section>
        <div class="narrow">
            <div ng-show="! ProjectsCtrl.hasDonutData()" class="text-center">
              <span class="graph_title"><translate>Donor Distribution</translate></span>
              <div style="line-height: {{ lineHeight }}px;">
                <strong><translate>No data found.</translate></strong>
              </div>
            </div>
            <donut ng-show="ProjectsCtrl.hasDonutData()"
                   height="350"
                   width="300"
                   data-items="ProjectsCtrl.donut"
                   data-sub-title="{{ProjectsCtrl.donutChartSubTitle()}}"
                   inner-label="{{'Donors' | translate}}"
                   outer-label="{{'Donors' | translate}}"
                   heading="{{'Donor Distribution' | translate}}">
            </donut>
        </div>

        <div class="wide omega">
            <stacked height="250"
                     line-height="lineHeight"
                     data-items="ProjectsCtrl.stacked"
                     data-is-loading="ProjectsCtrl.isLoadingData"
                     data-selected="ProjectsCtrl.projectIds"
                     selected-project-count="ProjectsCtrl.numberOfSelectedProjectsInFilter()"
                     data-title="{{'Top 20 Mutated Genes with High Functional Impact SSMs' | translate}}"
                     data-y-label="{{'Donors Affected' | translate}}"
                     data-subtitle="{{ProjectsCtrl.ssmTotalDonors | number}} Unique SSM-Tested Donors"
                     data-current-page="projects">
            </stacked>
        </div>
    </section>

    <section>
        <div>
           <project-mutation-distribution
               data-items="ProjectsCtrl.distribution"
               data-selected="ProjectsCtrl.projectIds"
               data-project-list="ProjectsCtrl.projectIDLookupMap"
               selected-project-count="ProjectsCtrl.numberOfSelectedProjectsInFilter()">
           </project-mutation-distribution>
        </div>
    </section>
</div>
