
<span data-ng-if="ProjectCtrl.isPendingDonor">
  <div class="h1-wrap">
      <h1 data-ui-scrollfix=79><span class="t_badge t_badge__project"></span>
          {{ProjectCtrl.project.id}}
      </h1>
  </div>

  <section>
    <i class="icon-attention or icon-attention-1"></i>
    No data for this project has been submitted directly to ICGC DCC yet. However, go to the
    <a href="{{:: ProjectCtrl.urlToExternalRepository() }}">
      {{:: ProjectCtrl.dataRepoTitle }} browser
    </a>
     to see the list of data files hosted in {{:: ProjectCtrl.dataRepoTitle }} for this project.
  </section>
</span>

<span data-ng-if="!ProjectCtrl.isPendingDonor">
<div class="h1-wrap">
    <h1 data-ui-scrollfix=79><span class="t_badge t_badge__project"></span>
        {{ProjectCtrl.project.name}}
    </h1>
</div>
<div data-scroll-spy="">
<aside data-ui-scrollfix=79 class="t_sidenav">
    <section>
        <ul class="t_subnav__items">
            <li data-spy="summary" class="t_subnav__items__item current"><a data-scrollto href="#summary">Summary</a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="genes" class="t_subnav__items__item"><a data-scrollto href="#genes">Mutated Genes</a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="mutations" class="t_subnav__items__item"><a data-scrollto href="#mutations">Mutations</a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="donors" class="t_subnav__items__item"><a data-scrollto href="#donors">Donors</a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="publications" class="t_subnav__items__item"><a data-scrollto
                                                                         href="#publications">Publications</a>
            </li>
            <li><br></li>
            <li class="t_subnav__items__item" data-ng-if="ProjectCtrl.mutationFacets.functionalImpact.total > 0">
                <span>Page Filters</span>
            </li>
            <li class="t_subnav__items__box" data-ng-if="ProjectCtrl.mutationFacets.functionalImpact.total > 0">
                <ul class="t_facets">
                    <terms data-type="mutation"
                           data-facet-name="functionalImpact"
                           data-hide-count="true"
                           data-label="Mutation Impact"
                           data-facet="ProjectCtrl.mutationFacets.functionalImpact"></terms>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<article>
<section id="summary">
<div class="half">
    <h3>Summary</h3>
    <table class="table table-info">
        <tr>
            <th>Code</th>
            <td>{{ProjectCtrl.project.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <a href="http://icgc.org/node/{{ProjectCtrl.project.icgcId}}" target="_blank">
                    <i class="icon-external-link"></i>{{ProjectCtrl.project.name}}</a>
            </td>
        </tr>
        <tr>
            <th>Primary Site</th>
            <td>{{ProjectCtrl.project.primarySite}}</td>
        </tr>
        <tr>
            <th>Tumour Type</th>
            <td>{{ProjectCtrl.project.tumourType}}</td>
        </tr>
        <tr>
            <th>Tumour Subtype</th>
            <td>{{ProjectCtrl.project.tumourSubtype}}</td>
        </tr>
        <tr>
            <th>Countries</th>
            <td>
                <ul data-ng-repeat="country in ProjectCtrl.project.primaryCountries">
                    <li>{{country}}</li>
                </ul>
            </td>
        </tr>
        <tr data-ng-if="ProjectCtrl.project.state === 'live' && ProjectCtrl.studies.length > 0">
            <th>Number of donors in
              <a href="/pcawg">PCAWG</a>
            </th>
            <td>
                <ul>
                    <li data-ng-repeat="study in ProjectCtrl.studies">
                        <a href="/search?filters={{study.advQuery}}">{{study.count | number }}</a>
                        <span data-ng-if="!ProjectCtrl.isPCAWG(study.term)"> {{study.term}} </span>
                        <!--
                        <span data-ng-if="ProjectCtrl.isPCAWG(study.term)"><pcawg-badge></pcawg-badge></span>
                        -->
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Number of donors with molecular data in DCC </th>
            <td>
                <span data-ng-if="ProjectCtrl.project.totalLiveDonorCount > 0">
                    <a data-ui-sref=
                    'advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"state\":{\"is\":[\"live\"]}}}"})'>
                        {{::ProjectCtrl.project.totalLiveDonorCount | number}}</a>
                </span>
                <span data-ng-if="ProjectCtrl.project.totalLiveDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Total number of donors</th>
            <td>
                <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]}}}"})'>
                    {{::ProjectCtrl.project.totalDonorCount | number}}
                </a>
            </td>
        </tr>

    </table>
    <div data-ng-if="ProjectCtrl.hasExp"><h3>Experimental Analyses</h3>
        <table class="table table-info">
            <tr data-ng-repeat="(k,v) in ProjectCtrl.project.experimentalAnalysisPerformedSampleCounts track by k">
                <th><abbr data-tooltip="{{ k | define }}">{{k}}</abbr></th>
                <td>
                    {{v}} samples from
                    <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"analysisTypes\":{\"is\":[\"{{k}}\"]}}}"})'>
                        {{ProjectCtrl.project.experimentalAnalysisPerformedDonorCounts[k]}}
                    </a>
                    donors
                </td>
            </tr>
        </table>
        <p>
            <button type="button" class="t_button" data-ng-click="ProjectCtrl.downloadSample()"><i
                    class="icon-download"></i>Download Sample Sheet
            </button>
        </p>

        <div data-ng-if="ProjectCtrl.project.repository.length > 0">
            <h3>Raw data is available at</h3>
            <table class="table table-info">
                <tr data-ng-repeat="repo in ProjectCtrl.project.repository" data-ng-switch="repo">
                    <td>
                        <a data-ng-switch-when="EGA" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectEGA()}}">
                            <i class="icon-external-link"></i>European Genome-phenome Archive</a>

                        <a data-ng-switch-when="dbSNP" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectSNP()}}">
                            <i class="icon-external-link"></i>NCBI dbSNP</a>

                        <a data-ng-switch-when="TCGA" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectTCGA()}}">
                            <i class="icon-external-link"></i>The Cancer Genome Atlas</a>

                        <a data-ng-switch-when="CGHub" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectCGHub(ProjectCtrl.project.id.split('-')[0])}}">
                            <i class="icon-external-link"></i>Cancer Genomics Hub</a>

                        <a data-ng-switch-when="GEO" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectGEO()}}">
                            <i class="icon-external-link"></i>Gene Expression Omnibus</a>
                    </td>
                </tr>
            </table>
            <div>An approved <a target="_blank" href="http://icgc.org/daco"><i class="icon-external-link"></i>data
                access request</a> is required.
            </div>
        </div>

    </div>
</div>
<div class="half omega">
    <h3>Available Data Types</h3>
    <div data-ng-if="ProjectCtrl.project.state === 'pending'" class="well">
    Only clinical data has been submitted to ICGC DCC.
    </div>
    <table class="table table-info" data-ng-if="ProjectCtrl.project.state === 'live'">
        <tr>
            <th>Clinical Data</th>
            <td>
                <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]}}}"})'>
                    {{ProjectCtrl.project.totalDonorCount | number}} donors
                </a>
            </td>
        </tr>
        <tr>
            <th>Simple Somatic Mutations (SSM)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.ssmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"ssm\"]}}}"})'>
                    {{ProjectCtrl.project.ssmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.ssmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Copy Number Somatic Mutations (CNSM)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.cnsmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"cnsm\"]}}}"})'>
                    {{ProjectCtrl.project.cnsmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.cnsmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Structural Somatic Mutations (StSM)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.stsmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"stsm\"]}}}"})'>
                    {{ProjectCtrl.project.stsmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.stsmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Simple Germline Variants (SGV)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.sgvTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"sgv\"]}}}"})'>
                    {{ProjectCtrl.project.sgvTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.sgvTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Array-based DNA Methylation (METH-A)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.methArrayTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"meth_array\"]}}}"})'>
                    {{ProjectCtrl.project.methArrayTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.methArrayTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Sequence-based DNA Methylation (METH-S)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.methSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"meth_seq\"]}}}"})'>
                    {{ProjectCtrl.project.methSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.methSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Array-based Gene Expression (EXP-A)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.expArrayTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"exp_array\"]}}}"})'>
                    {{ProjectCtrl.project.expArrayTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.expArrayTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Sequence-based Gene Expression (EXP-S)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.expSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"exp_seq\"]}}}"})'>
                    {{ProjectCtrl.project.expSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.expSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Protein Expression (PEXP)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.pexpTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"pexp\"]}}}"})'>
                    {{ProjectCtrl.project.pexpTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.pexpTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Sequence-based miRNA Expression (miRNA)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.mirnaSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"mirna_seq\"]}}}"})'>
                    {{ProjectCtrl.project.mirnaSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.mirnaSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th>Exon junction (JCN)</th>
            <td>
                <a data-ng-if="ProjectCtrl.project.jcnTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"jcn\"]}}}"})'>
                    {{ProjectCtrl.project.jcnTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.jcnTestedDonorCount === 0">--</span>
            </td>
        </tr>
    </table>
    <span class="open-in">Open in</span>
    <a href="{{:: ProjectCtrl.dataReleasesUrl }}/current/Projects/{{ProjectCtrl.project.id}}">
      <i class="icon-database"></i>{{:: ProjectCtrl.dataReleasesTitle }}
    </a>
</div>
</section>
<section id="genes"
         data-ng-if="ProjectCtrl.project.state == 'live'"
         data-ng-controller="ProjectGeneCtrl as ProjectGeneCtrl"
         data-ng-class="{'loading': !ProjectGeneCtrl.genes.hits, 'empty': ProjectGeneCtrl.genes.hits.length == 0}">
    <h3 data-ng-if="!ProjectGeneCtrl.genes.hits">
        <i class="icon-spinner icon-spin"></i> Fetching Mutated Genes...
    </h3>

    <h3 data-ng-if="ProjectGeneCtrl.genes.hits.length == 0">
        No Mutated Genes Found.
    </h3>

    <div data-ng-if="ProjectGeneCtrl.genes.hits.length > 0">
        <h3>Most Frequently Mutated Genes
            <span data-open-in-list='/g?filters={{ProjectGeneCtrl.genes.advQuery}}'></span>
        </h3>

        <div class="clearfix">
            <bar data-ng-if="ProjectGeneCtrl.bar.hasData" format="percentage"
                 class="wide" height=200 items="ProjectGeneCtrl.bar"
                 title=""
                 ylabel="% of Donors Affected">
            </bar>
        </div>
        <div class="t_table_top">
            Showing <strong>{{ProjectGeneCtrl.genes.hits.length | number}}</strong> of
            <strong>{{ProjectGeneCtrl.genes.pagination.total | number}}</strong> genes
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_genes"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">Symbol</th>
                <th rowspan="2">Name</th>
                <th rowspan="2"><abbr data-tooltip="Gene location on the genome, chr:start-end">Location</abbr></th>
                <th rowspan="2">Type</th>
                <th colspan="2" class="text-center"># Donors affected</th>
                <th rowspan="2" class="text-center">
                    <abbr data-tooltip="Number of SSM in the Gene" data-tooltip-placement="left"># Mutations</abbr>
                </th>
            </tr>
            <tr>
                <th class="text-center">
                    <abbr data-tooltip="Breakdown of Affected Donors in {{ ProjectCtrl.project.id }}<br># Donors where Gene is mutated / # SSM tested donors">
                        in {{ProjectCtrl.project.id}}
                    </abbr> <i class="icon-caret-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="# Donors where gene contains SSM filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project."
                          tooltip-placement="left">Across all Projects</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in ProjectGeneCtrl.genes.hits">
                <td><a data-ui-sref="gene({id:gene.id})">{{gene.symbol}}</a></td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type | trans}}</td>
                <td class="text-right" style="display:block; position: relative; white-space: nowrap">

                        <span
                                data-ng-style="{width:gene.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount * 100+'%'}"
                                class="t_facets__facet__terms__active__term__bar"></span>
                    <span style="position: relative">
                        <a data-ng-href='/search?filters={{gene.advQuery}}'>
                            {{gene.affectedDonorCountFiltered | number}}
                        </a>
                        /
                        <a href='/search?filters={"donor":{"projectId":{"is":["{{ProjectCtrl.project.id}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                            {{ProjectCtrl.project.ssmTestedDonorCount | number}}
                        </a>
                        <em>({{gene.uiAffectedDonorPercentage * 100 | number:2}}%)</em>
                    </span>
                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{gene.uiDonors}}"
                        data-link='/search?filters={{gene.advQueryAll}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   data-ui-sref="project({id:p.term})">{{p.term}}</a>:
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
                <td class="text-right">
                    <span data-ng-if="ProjectGeneCtrl.mutationCounts === null"><i class="icon-spinner icon-spin"></i></span>
                    <span data-ng-if="ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] === 0">--</span>
                    <a data-ng-if="ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] > 0"
                       href='/search/m?filters={{gene.advQuery}}'>
                        {{ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] | number}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_genes">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Location</th>
                <th>Type</th>
                <th>Number of donors from the current project with the current gene mutated</th>
                <th>Total number of SSM-tested donors from the current project</th>
                <th>Percentage of affected donors</th>
                <th>Donors affected by Gene in all projects</th>
                <th>Mutations</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in ProjectGeneCtrl.genes.hits">
                <td>{{gene.symbol}}</td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type}}</td>
                <td>{{gene.affectedDonorCountFiltered}}</td>
                <td>{{ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>{{gene.affectedDonorCountFiltered / ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>
                    <div data-ng-repeat="p in gene.uiDonors | orderBy:'percentage':true">
                        {{p.term}}:{{p.count}}/{{p.countTotal}}
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
                <td>{{ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="mutations"
         data-ng-if="ProjectCtrl.project.state === 'live'"
         data-ng-controller="ProjectMutationsCtrl as ProjectMutationsCtrl"
         data-ng-class="{'loading': !ProjectMutationsCtrl.mutations.hits, 'empty': ProjectMutationsCtrl.mutations.hits.length == 0}">
    <h3 data-ng-if="!ProjectMutationsCtrl.mutations.hits">
        <i class="icon-spinner icon-spin"></i> Fetching Mutations...
    </h3>

    <h3 data-ng-if="ProjectMutationsCtrl.mutations.hits.length == 0">
        No Mutations Found.
    </h3>

    <div data-ng-if="ProjectMutationsCtrl.mutations.hits.length > 0">
        <h3>Most Frequent Mutations
            <span data-open-in-list='/m?filters={{ProjectMutationsCtrl.mutations.advQuery}}'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="ProjectMutationsCtrl.bar.hasData" height=200 items="ProjectMutationsCtrl.bar"
                 title=""
                 ylabel="Donors affected"></bar>
        </div>

        <div class="t_table_top">
            Showing <strong>{{ProjectMutationsCtrl.mutations.hits.length}}</strong> of
            <strong>{{ProjectMutationsCtrl.mutations.pagination.total | number}}</strong> mutations
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_mutations"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">
                    <abbr data-tooltip="Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}">DNA
                        change</abbr>
                </th>
                <th rowspan="2">Type</th>
                <th rowspan="2">
                    <abbr data-tooltip="Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.">Consequences</abbr>
                </th>
                <th colspan="2" class="text-center"># Donors affected</th>
            </tr>
            <tr>
                <th class="text-center"
                    data-tooltip="Breakdown of Affected Donors in {{ ProjectCtrl.project.id }}<br># Donors affected / # SSM tested donors">
                    <abbr>in {{ProjectCtrl.project.id}}</abbr> <i class="icon-caret-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project."
                          data-tooltip-placement="left">Across all Project</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in ProjectMutationsCtrl.mutations.hits">
                <td><a data-ui-sref="mutation({id:mutation.id})">{{mutation.id}}</a></td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td><abbr data-tooltip="{{ mutation.type | define }}">{{mutation.type}}</abbr></td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td class="text-right" style="position: relative; display: block;white-space: nowrap">
                        <span data-ng-style="{width:mutation.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount * 100+'%'}"
                              class="t_facets__facet__terms__active__term__bar"></span>
                        <span style="position: relative">
                            <a href='/search?filters={{mutation.advQuery}}'>
                                {{mutation.affectedDonorCountFiltered | number}}
                            </a>
                            /
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{ProjectCtrl.project.id}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{ProjectCtrl.project.ssmTestedDonorCount | number}}
                            </a>
                            <em>({{mutation.affectedDonorCountFiltered / ProjectCtrl.project.ssmTestedDonorCount * 100 |
                                number:2}}%)</em>
                        </span>

                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{mutation.uiDonors}}"
                        data-link='/search?filters={{mutation.advQueryAll}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   data-ui-sref="project({id:p.term})">{{p.term}}</a>:
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_mutations">
            <thead>
            <tr>
                <th>Mutation ID</th>
                <th>Genomic DNA Change</th>
                <th>Type</th>
                <th>Consequences</th>
                <th>Number of affected donors from the current project</th>
                <th>Number of SSM-tested donors from the current project</th>
                <th>Percentage of affected donors</th>
                <th>Other Projects Mutation Observed</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in ProjectMutationsCtrl.mutations.hits">
                <td>{{mutation.id}}</td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td>{{mutation.type}}</td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td>{{mutation.affectedDonorCountFiltered}}</td>
                <td>{{ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>{{mutation.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>
                    <div data-ng-repeat="p in mutation.uiDonors | orderBy:'percentage':true">
                        <div>{{p.term}}:{{p.count}}/{{p.countTotal}}</div>
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="donors"
         data-ng-if="ProjectCtrl.project.state === 'live'"
         data-ng-controller="ProjectDonorsCtrl as ProjectDonorsCtrl"
         data-ng-class="{'loading': !ProjectDonorsCtrl.donors.hits, 'empty': ProjectDonorsCtrl.donors.hits.length == 0 || ProjectCtrl.project.ssmTestedDonorCount == 0}">
    <h3 data-ng-if="!ProjectDonorsCtrl.donors.hits && ProjectCtrl.project.ssmTestedDonorCount > 0">
        <i class="icon-spinner icon-spin"></i> Fetching Donors...
    </h3>

    <h3 data-ng-if="ProjectDonorsCtrl.donors.hits.length == 0 || ProjectCtrl.project.ssmTestedDonorCount == 0">
        No Affected Donors Found.
    </h3>

    <div data-ng-if="ProjectDonorsCtrl.donors.hits.length > 0 && ProjectCtrl.project.ssmTestedDonorCount > 0">
        <h3>Most Affected Donors
            <span data-open-in-list='?filters={{ProjectDonorsCtrl.donors.advQuery}}' data-type='donor'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="ProjectDonorsCtrl.bar.hasData" height=200 items="ProjectDonorsCtrl.bar"
                 title=""
                 ylabel="Genes affected"></bar>
        </div>

        <div class="t_table_top">
            Showing <strong>{{ProjectDonorsCtrl.donors.hits.length}}</strong> of <strong>{{ProjectDonorsCtrl.donors.pagination.total
            | number}}</strong> donors
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_donors"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Site</th>
                <th rowspan="2">Gender</th>
                <th rowspan="2" class="text-center"><abbr data-tooltip="Age at Diagnosis">Age</abbr></th>
                <th rowspan="2"><abbr data-tooltip="Tumour Stage at Diagnosis">Stage</abbr></th>
                <th rowspan="2" class="text-center">
                    <abbr data-tooltip="Survival Time in days">Survival<br>(days)</abbr>
                </th>
                <th rowspan="2"><abbr data-tooltip="Experimental analyses performed">Analyses</abbr></th>
                <th colspan="11" class="text-center">Available Data Types</th>
                <th rowspan="2" data-tooltip="Number of SSM"><abbr># Mutations</abbr></th>
                <th rowspan="2">
                    <abbr data-tooltip="Number of Genes with SSM" data-tooltip-placement="left"># Genes <i class="icon-caret-down"></i></abbr>
                </th>
            </tr>
            <tr>
                <th data-tooltip="{{ 'ssm' | datatype }}"><abbr class="tiny-header">SSM</abbr></th>
                <th data-tooltip="{{ 'cnsm' | datatype }}"><abbr class="tiny-header">CNSM</abbr></th>
                <th data-tooltip="{{ 'stsm' | datatype }}"><abbr class="tiny-header">StSM</abbr></th>
                <th data-tooltip="{{ 'sgv' | datatype }}"><abbr class="tiny-header">SGV</abbr></th>
                <th data-tooltip="{{ 'meth_array' | datatype }}"><abbr class="tiny-header">METH-A</abbr></th>
                <th data-tooltip="{{ 'meth_seq' | datatype }}"><abbr class="tiny-header">METH-S</abbr></th>
                <th data-tooltip="{{ 'exp_array' | datatype }}"><abbr class="tiny-header">EXP-A</abbr></th>
                <th data-tooltip="{{ 'exp_seq' | datatype }}"><abbr class="tiny-header">EXP-S</abbr></th>
                <th data-tooltip="{{ 'pexp' | datatype }}"><abbr class="tiny-header">PEXP</abbr></th>
                <th data-tooltip="{{ 'mirna_seq' | datatype }}"><abbr class="tiny-header">miRNA-S</abbr></th>
                <th data-tooltip="{{ 'jcn' | datatype }}"><abbr class="tiny-header">JCN</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in ProjectDonorsCtrl.donors.hits">
                <td><a data-ui-sref="donor({id:donor.id})">{{donor.id}}</a></td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td class="text-right">{{donor.ageAtDiagnosis | numberPT}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td class="text-right">{{donor.survivalTime | numberPT}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td class="text-center"><span data-exists="donor.ssmCount"></span></td>
                <td class="text-center"><span data-exists="donor.cnsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.stsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.sgvExists"></span></td>
                <td class="text-center"><span data-exists="donor.methArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.methSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.expArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.expSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.pexpExists"></span></td>
                <td class="text-center"><span data-exists="donor.mirnaSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.jcnExists"></span></td>
                <td class="text-right">
                    <i data-ng-if="ProjectDonorsCtrl.mutationCounts===null"
                       class="icon-spinner icon-spin"></i>
                    <span data-ng-if="ProjectDonorsCtrl.mutationCounts[donor.id] === 0">--</span>
                    <a data-ng-if="ProjectDonorsCtrl.mutationCounts[donor.id] > 0"
                       href='/search/m?filters={{donor.advQuery}}'>
                        {{ProjectDonorsCtrl.mutationCounts[donor.id] | number}}
                    </a>
                </td>
                <td class="text-right">
                    <a href='/search/g?filters={{donor.advQuery}}'>
                        {{donor.ssmAffectedGenes | number}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_donors">
            <thead>
            <tr>
                <th>Donor ID</th>
                <th>Site</th>
                <th>Gender</th>
                <th>Age at Diagnosis</th>
                <th>Tumor Stage at Diagnosis</th>
                <th>Survival Time (days)</th>
                <th>Experimental Analyses</th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>StSM</th>
                <th>SGV</th>
                <th>METH-A</th>
                <th>METH-S</th>
                <th>EXP-A</th>
                <th>EXP-S</th>
                <th>PEXP</th>
                <th>miRNA-S</th>
                <th>JCN</th>
                <th>Mutations</th>
                <th>Mutated Genes</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in ProjectDonorsCtrl.donors.hits">
                <td>{{donor.id}}</td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td>{{donor.ageAtDiagnosis}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td>{{donor.survivalTime}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td>{{donor.ssmCount? 'True': 'False'}}</td>
                <td>{{donor.cnsmExists? 'True':'False'}}</td>
                <td>{{donor.stsmExists? 'True':'False'}}</td>
                <td>{{donor.sgvExists? 'True':'False'}}</td>
                <td>{{donor.methArrayExists? 'True':'False'}}</td>
                <td>{{donor.methSeqExists? 'True':'False'}}</td>
                <td>{{donor.expArrayExists? 'True':'False'}}</td>
                <td>{{donor.expSeqExists? 'True':'False'}}</td>
                <td>{{donor.pexpExists? 'True':'False'}}</td>
                <td>{{donor.mirnaSeqExists? 'True':'False'}}</td>
                <td>{{donor.jcnExists? 'True':'False'}}</td>
                <td>{{ProjectDonorsCtrl.mutationCounts[donor.id]}}</td>
                <td>{{donor.ssmAffectedGenes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="publications"
    data-ng-if="ProjectCtrl.project.state === 'live'"
    data-ng-class="{'empty': ProjectCtrl.project.uiPublicationList.length == 0}">
    <h3 data-ng-if="ProjectCtrl.project.uiPublicationList.length == 0">No Publications.</h3>

    <div data-ng-if="ProjectCtrl.project.uiPublicationList.length > 0">
        <h3>Publications</h3>
        <ol>
            <li data-ng-repeat="pub in ProjectCtrl.project.uiPublicationList | orderBy:'refCount':true">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pub.id}}" target="_blank">
                    {{pub.authors[0]}} <i data-ng-if="pub.authors.length > 1">et al., </i>
                    <strong>{{pub.title}}</strong>,
                    {{pub.journal}}, {{pub.issue}}, {{pub.pubdate}}
                </a>
            </li>
        </ol>
    </div>
</section>
</article>
</div>
