
<span data-ng-if="ProjectCtrl.isPendingDonor">
  <div class="h1-wrap">
      <h1 data-ui-scrollfix=79><span class="t_badge t_badge__project"></span>
          {{ProjectCtrl.project.id}}
      </h1>
  </div>

  <section>
    <i class="icon-attention or icon-attention-1"></i>
    <translate>No data for this project has been submitted directly to ICGC DCC yet.</translate>
    <translate>
        However, go to the
        <a href="{{:: ProjectCtrl.urlToExternalRepository() }}">
        {{:: ProjectCtrl.dataRepoTitle }} browser
        </a>
        to see the list of data files hosted in {{:: ProjectCtrl.dataRepoTitle }} for this project.
    </translate>
  </section>
</span>

<span data-ng-if="!ProjectCtrl.isPendingDonor">
<div class="h1-wrap">
    <h1 data-ui-scrollfix=79><span class="t_badge t_badge__project"></span>
        {{ProjectCtrl.project.name}}
    </h1>
</div>
<div data-scroll-spy="">
<aside data-ui-scrollfix=79 class="t_sidenav">
    <section>
        <ul class="t_subnav__items">
            <li data-spy="summary" class="t_subnav__items__item current"><a data-scrollto href="#summary"><translate>Summary</translate></a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="genes" class="t_subnav__items__item"><a data-scrollto href="#genes"><translate>Mutated Genes</translate></a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="mutations" class="t_subnav__items__item"><a data-scrollto href="#mutations"><translate>Mutations</translate></a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="donors" class="t_subnav__items__item"><a data-scrollto href="#donors"><translate>Donors</translate></a></li>
            <li data-ng-if="ProjectCtrl.project.state === 'live'" data-spy="publications" class="t_subnav__items__item">
                <a data-scrollto href="#publications">Publications</a>
            </li>
            <li><br></li>
            <li class="t_subnav__items__item">
                <span><translate>Page Filters</translate></span>
            </li>
            <li class="t_subnav__items__box">
                <ul class="t_facets">
                    <terms data-type="mutation"
                           data-facet-name="functionalImpact"
                           data-hide-count="true"
                           data-label="{{'Mutation Impact' | translate}}"
                           data-facet="ProjectCtrl.mutationFacets.functionalImpact"
                           data-show-when-empty="true"
                    ></terms>
                    <li
                        class="text-center"
                        data-ng-if="ProjectCtrl.loadState.isLoading && !ProjectCtrl.mutationFacets.functionalImpact"
                    ><i class="icon-spinner icon-spin"></i></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<article>
<section id="summary">
<div class="half">
    <h3><translate>Summary</translate></h3>
    <table class="table table-info">
        <tr>
            <th><translate>Code</translate></th>
            <td>{{ProjectCtrl.project.id}}</td>
        </tr>
        <tr>
            <th><translate>Name</translate></th>
            <td>
                <a href="http://icgc.org/node/{{ProjectCtrl.project.icgcId}}" target="_blank">
                    <i class="icon-external-link"></i>{{ProjectCtrl.project.name}}</a>
            </td>
        </tr>
        <tr>
            <th><translate>Primary Site</translate></th>
            <td>{{ProjectCtrl.project.primarySite}}</td>
        </tr>
        <tr>
            <th><translate>Tumour Type</translate></th>
            <td>{{ProjectCtrl.project.tumourType}}</td>
        </tr>
        <tr>
            <th><translate>Tumour Subtype</translate></th>
            <td>{{ProjectCtrl.project.tumourSubtype}}</td>
        </tr>
        <tr>
            <th><translate>Countries</translate></th>
            <td>
                <ul data-ng-repeat="country in ProjectCtrl.project.primaryCountries">
                    <li>{{country}}</li>
                </ul>
            </td>
        </tr>
        <tr data-ng-if="ProjectCtrl.project.state === 'live' && ProjectCtrl.studies.length > 0">
            <th>
                <translate>
                    Number of donors in <a href="/pcawg">PCAWG</a>
                </translate>
            </th>
            <td>
                <ul>
                    <li data-ng-repeat="study in ProjectCtrl.studies">
                        <a href="/search?filters={{study.advQuery}}">{{study.count | number }}</a>
                        <span data-ng-if="!ProjectCtrl.isPCAWG(study.term)"> {{study.term}} </span>
                        <!--
                        <span data-ng-if="ProjectCtrl.isPCAWG(study.term)"><pcawg-badge></pcawg-badge></span>
                        -->
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th><translate>Number of donors with molecular data in DCC</translate> </th>
            <td>
                <span data-ng-if="ProjectCtrl.project.totalLiveDonorCount > 0">
                    <a data-ui-sref=
                    'advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"state\":{\"is\":[\"live\"]}}}"})'>
                        {{::ProjectCtrl.project.totalLiveDonorCount | number}}</a>
                </span>
                <span data-ng-if="ProjectCtrl.project.totalLiveDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Total number of donors</translate></th>
            <td>
                <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]}}}"})'>
                    {{::ProjectCtrl.project.totalDonorCount | number}}
                </a>
            </td>
        </tr>

    </table>
    <div data-ng-if="ProjectCtrl.hasExp"><h3><translate>Experimental Analysis</translate></h3>
        <table class="table table-info">
            <tr data-ng-repeat="(k,v) in ProjectCtrl.project.experimentalAnalysisPerformedSampleCounts track by k">
                <th><abbr data-tooltip="{{ k | define }}">{{k}}</abbr></th>
                <td>
                    <translate translate-comment="N samples from N donors">{{v}} samples from</translate>
                    <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"analysisTypes\":{\"is\":[\"{{k}}\"]}}}"})'>
                        {{ProjectCtrl.project.experimentalAnalysisPerformedDonorCounts[k]}}
                    </a>
                    <translate translate-comment="N samples from N donors">donors</translate>
                </td>
            </tr>
        </table>
        <p>
            <button type="button" class="t_button" data-ng-click="ProjectCtrl.downloadSample()">
                <i class="icon-download"></i>
                <translate>Download Sample Sheet</translate>
            </button>
        </p>

        <div data-ng-if="ProjectCtrl.project.repository.length > 0">
            <h3><translate>Raw data is available at</translate></h3>
            <table class="table table-info">
                <tr data-ng-repeat="repo in ProjectCtrl.project.repository" data-ng-switch="repo">
                    <td>
                        <a data-ng-switch-when="EGA" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectEGA()}}">
                            <i class="icon-external-link"></i><translate>European Genome-phenome Archive</translate></a>

                        <a data-ng-switch-when="dbSNP" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectSNP()}}">
                            <i class="icon-external-link"></i><translate>NCBI dbSNP</translate></a>

                        <a data-ng-switch-when="TCGA" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectTCGA()}}">
                            <i class="icon-external-link"></i><translate>The Cancer Genome Atlas</translate></a>

                        <a data-ng-switch-when="CGHub" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectCGHub(ProjectCtrl.project.id.split('-')[0])}}">
                            <i class="icon-external-link"></i><translate>Cancer Genomics Hub</translate></a>

                        <a data-ng-switch-when="GEO" target="_blank" href="{{ProjectCtrl.ExternalLinks.projectGEO()}}">
                            <i class="icon-external-link"></i><translate>Gene Expression Omnibus</translate></a>
                    </td>
                </tr>
            </table>
            <div>
                <translate>
                    An approved <a target="_blank" href="http://icgc.org/daco"><i class="icon-external-link"></i>data access request</a> is required.
                </translate>
            </div>
        </div>

    </div>
</div>
<div class="half omega">
    <h3><translate>Available Data Types:</translate></h3>
    <div data-ng-if="ProjectCtrl.project.state === 'pending'" class="well">
    <translate>Only clinical data has been submitted to ICGC DCC.</translate>
    </div>
    <table class="table table-info" data-ng-if="ProjectCtrl.project.state === 'live'">
        <tr>
            <th><translate>Clinical Data</translate></th>
            <td>
                <a data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]}}}"})'>
                    {{ProjectCtrl.project.totalDonorCount | number}} donors
                </a>
            </td>
        </tr>
        <tr>
            <th><translate>Simple Somatic Mutations (SSM)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.ssmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"ssm\"]}}}"})'>
                    {{ProjectCtrl.project.ssmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.ssmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Copy Number Somatic Mutations (CNSM)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.cnsmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"cnsm\"]}}}"})'>
                    {{ProjectCtrl.project.cnsmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.cnsmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Structural Somatic Mutations (StSM)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.stsmTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"stsm\"]}}}"})'>
                    {{ProjectCtrl.project.stsmTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.stsmTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Simple Germline Variants (SGV)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.sgvTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"sgv\"]}}}"})'>
                    {{ProjectCtrl.project.sgvTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.sgvTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Array-based DNA Methylation (METH-A)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.methArrayTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"meth_array\"]}}}"})'>
                    {{ProjectCtrl.project.methArrayTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.methArrayTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Sequence-based DNA Methylation (METH-S)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.methSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"meth_seq\"]}}}"})'>
                    {{ProjectCtrl.project.methSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.methSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Array-based Gene Expression (EXP-A)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.expArrayTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"exp_array\"]}}}"})'>
                    {{ProjectCtrl.project.expArrayTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.expArrayTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Sequence-based Gene Expression (EXP-S)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.expSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"exp_seq\"]}}}"})'>
                    {{ProjectCtrl.project.expSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.expSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Protein Expression (PEXP)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.pexpTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"pexp\"]}}}"})'>
                    {{ProjectCtrl.project.pexpTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.pexpTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Sequence-based miRNA Expression (miRNA)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.mirnaSeqTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"mirna_seq\"]}}}"})'>
                    {{ProjectCtrl.project.mirnaSeqTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.mirnaSeqTestedDonorCount === 0">--</span>
            </td>
        </tr>
        <tr>
            <th><translate>Exon Junction (JCN)</translate></th>
            <td>
                <a data-ng-if="ProjectCtrl.project.jcnTestedDonorCount > 0"
                   data-ui-sref='advanced({filters:"{\"donor\":{\"projectId\":{\"is\":[\"{{ProjectCtrl.project.id}}\"]},\"availableDataTypes\":{\"is\":[\"jcn\"]}}}"})'>
                    {{ProjectCtrl.project.jcnTestedDonorCount | number}} donors
                </a>
                <span data-ng-if="ProjectCtrl.project.jcnTestedDonorCount === 0">--</span>
            </td>
        </tr>
    </table>
    <div>
        <span class="open-in"><translate>Open in</translate></span>
        <a href="{{:: ProjectCtrl.dataReleasesUrl }}/current/Projects/{{ProjectCtrl.project.id}}">
        <i class="icon-database"></i>{{:: ProjectCtrl.dataReleasesTitle }}
        </a>
    </div>
</div>
</section>
<section id="genes"
    data-ng-if="ProjectCtrl.project.state == 'live'"
    data-ng-controller="ProjectGeneCtrl as ProjectGeneCtrl"
    data-ng-class="{'loading': !ProjectGeneCtrl.genes.hits, 'empty': ProjectGeneCtrl.genes.hits.length == 0}"
    fix-scroll>
    <h3 data-ng-if="!ProjectGeneCtrl.genes.hits">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Mutated Genes...</translate>
    </h3>

    <h3 data-ng-if="ProjectGeneCtrl.genes.hits.length == 0">
        <translate>No Mutated Genes Found.</translate>
    </h3>

    <div data-ng-if="ProjectGeneCtrl.genes.hits.length > 0">
        <h3>
            <translate>Most Frequently Mutated Genes</translate>
            <span data-open-in-list='/g?filters={{ProjectGeneCtrl.genes.advQuery}}'>
                <a href="#" data-ng-click="ProjectCtrl.openOncogrid()">
                    <i class="icon-grid"></i><translate>OncoGrid</translate>
                </a>
            </span>
        </h3>

        <div class="clearfix">
            <bar data-ng-if="ProjectGeneCtrl.bar.hasData" format="percentage"
                 class="wide" height=200 items="ProjectGeneCtrl.bar"
                 title=""
                 ylabel="{{'% of Donors Affected' | translate}}">
            </bar>
        </div>
        <div class="t_table_top">
            <span data-table-counts data-label="{{'genes' | translate}}" data-page="ProjectGeneCtrl.genes.pagination"></span>
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_genes">
            </span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2"><translate>Symbol</translate></th>
                <th rowspan="2"><translate>Name</translate></th>
                <th rowspan="2"><abbr data-tooltip="{{'Gene location on the genome, chr:start-end' | translate}}"><translate>Location</translate></abbr></th>
                <th rowspan="2"><translate>Type</translate></th>
                <th colspan="2" class="text-center"><translate># Donors affected</translate></th>
                <th rowspan="2" class="text-center">
                    <abbr data-tooltip="{{'Number of SSM in the Gene' | translate}}" data-tooltip-placement="left"><translate># Mutations</translate></abbr>
                </th>
                <th rowspan="2">
                    <abbr data-tooltip="{{ 'Cohort comparison for filtered donors with versus without mutated gene' | translate }}" 
                        data-tooltip-placement="left"
                        style="display:block;">
                        <i class="icon-chart-bar">
                        </i>
                    </abbr>
                </th>
            </tr>
            <tr>
                <th class="text-center">
                    <abbr data-tooltip="Breakdown of Affected Donors in {{ ProjectCtrl.project.id }}<br># Donors where Gene is mutated / # SSM tested donors">
                        <translate>in</translate> {{ProjectCtrl.project.id}}
                    </abbr> <i class="icon-caret-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="{{'# Donors where gene contains SSM filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project.' | translate}}"
                          tooltip-placement="left"><translate>Across all Projects</translate></abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in ProjectGeneCtrl.genes.hits">
                <td><a data-ui-sref="gene({id:gene.id})">{{gene.symbol}}</a></td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type | trans}}</td>
                <td class="text-right" style="position: relative; white-space: nowrap">

                        <span
                            data-ng-style="{width:gene.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount * 100+'%'}"
                            class="t_facets__facet__terms__active__term__bar"></span>
                    <span style="position: relative">
                        <a data-ng-href='/search?filters={{gene.advQuery}}'>
                            {{gene.affectedDonorCountFiltered | number}}
                        </a>
                        /
                        <a href='/search?filters={"donor":{"projectId":{"is":["{{ProjectCtrl.project.id}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                            {{ProjectCtrl.project.ssmTestedDonorCount | number}}
                        </a>
                        <em>({{gene.uiAffectedDonorPercentage * 100 | number:2}}%)</em>
                    </span>
                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{gene.uiDonors}}"
                        data-link='/search?filters={{gene.advQueryAll}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   data-ui-sref="project({id:p.term})">{{p.term}}</a>:
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
                <td class="text-right">
                    <span data-ng-if="ProjectGeneCtrl.mutationCounts === null"><i class="icon-spinner icon-spin"></i></span>
                    <span data-ng-if="ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] === 0">--</span>
                    <a data-ng-if="ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] > 0"
                       href='/search/m?filters={{gene.advQuery}}'>
                        {{ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id] | number}}
                    </a>
                </td>
                <td>
                    <i class="icon-chart-bar phenotype-analysis"
                        data-ng-click="ProjectCtrl.launchSurvivalAnalysis('gene', gene.id, gene.symbol)"></i>
                </td>
            </tr>
            </tbody>
        </table>
        
        <pagination-controls data-type="genes" data-data="ProjectGeneCtrl.genes"></pagination-controls>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_genes">
            <thead>
            <tr>
                <th><translate>Symbol</translate></th>
                <th><translate>Name</translate></th>
                <th><translate>Location</translate></th>
                <th><translate>Type</translate></th>
                <th><translate>Number of donors from the current project with the current gene mutated</translate></th>
                <th><translate>Total number of SSM-tested donors from the current project</translate></th>
                <th><translate>Percentage of affected donors</translate></th>
                <th><translate>Donors affected by Gene in all projects</translate></th>
                <th><translate>Mutations</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in ProjectGeneCtrl.genes.hits">
                <td>{{gene.symbol}}</td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type}}</td>
                <td>{{gene.affectedDonorCountFiltered}}</td>
                <td>{{ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>{{gene.affectedDonorCountFiltered / ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>
                    <div data-ng-repeat="p in gene.uiDonors | orderBy:'percentage':true">
                        {{p.term}}:{{p.count}}/{{p.countTotal}}
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
                <td>{{ProjectGeneCtrl.mutationCounts[ProjectCtrl.project.id][gene.id]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="mutations"
    data-ng-if="ProjectCtrl.project.state === 'live'"
    data-ng-controller="ProjectMutationsCtrl as ProjectMutationsCtrl"
    data-ng-class="{'loading': !ProjectMutationsCtrl.mutations.hits, 'empty': ProjectMutationsCtrl.mutations.hits.length == 0}"
    fix-scroll>
    <h3 data-ng-if="!ProjectMutationsCtrl.mutations.hits">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Mutations...</translate>
    </h3>

    <h3 data-ng-if="ProjectMutationsCtrl.mutations.hits.length == 0">
        <translate>No Mutations Found.</translate>
    </h3>

    <div data-ng-if="ProjectMutationsCtrl.mutations.hits.length > 0">
        <h3>
            <translate>Most Frequent Mutations</translate>
            <span data-open-in-list='/m?filters={{ProjectMutationsCtrl.mutations.advQuery}}'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="ProjectMutationsCtrl.bar.hasData" height=200 items="ProjectMutationsCtrl.bar"
                 title=""
                 ylabel="{{'Donors affected' | translate}}"></bar>
        </div>

        <div class="t_table_top">
            <span data-table-counts data-label="{{'mutations' | translate}}" data-page="ProjectMutationsCtrl.mutations.pagination"></span>
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_mutations"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">
                    <abbr data-tooltip="{{'Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}' | translate}}">
                        <translate>DNA change</translate>
                    </abbr>
                </th>
                <th rowspan="2"><translate>Type</translate></th>
                <th rowspan="2">
                    <abbr data-tooltip="{{'Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.' | translate}}"><translate>Consequences</translate></abbr>
                </th>
                <th colspan="2" class="text-center"><translate># Donors affected</translate></th>
                <th rowspan="2">
                    <abbr data-tooltip="{{ 'Cohort comparison for filtered donors with versus without mutation' | translate }}" 
                        data-tooltip-placement="left"
                        style="display:block;padding-left:5px;">
                        <i class="icon-chart-bar">
                        </i>
                    </abbr>
                </th>
            </tr>
            <tr>
                <th class="text-center"
                    data-tooltip="Breakdown of Affected Donors in {{ ProjectCtrl.project.id }}<br># Donors affected / # SSM tested donors">
                    <abbr><translate>in</translate> {{ProjectCtrl.project.id}}</abbr> <i class="icon-caret-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="{{'# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project.' | translate}}'"
                          data-tooltip-placement="left"><translate>Across all Project</translate></abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in ProjectMutationsCtrl.mutations.hits track by mutation.id">
                <td><a data-ui-sref="mutation({id:mutation.id})">{{mutation.id}}</a></td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td><abbr data-tooltip="{{ mutation.type | define }}">{{mutation.type}}</abbr></td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td class="text-right" style="position: relative;white-space: nowrap">
                        <span data-ng-style="{width:mutation.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount * 100+'%'}"
                              class="t_facets__facet__terms__active__term__bar"></span>
                        <span style="position: relative">
                            <a href='/search?filters={{mutation.advQuery}}'>
                                {{mutation.affectedDonorCountFiltered | number}}
                            </a>
                            /
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{ProjectCtrl.project.id}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{ProjectCtrl.project.ssmTestedDonorCount | number}}
                            </a>
                            <em>({{mutation.affectedDonorCountFiltered / ProjectCtrl.project.ssmTestedDonorCount * 100 |
                                number:2}}%)</em>
                        </span>

                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{mutation.uiDonors}}"
                        data-link='/search?filters={{mutation.advQueryAll}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   data-ui-sref="project({id:p.term})">{{p.term}}</a>:
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
                <td>
                    <i class="icon-chart-bar phenotype-analysis" style="padding-left:5px;"
                        data-ng-click="ProjectCtrl.launchSurvivalAnalysis('mutation', mutation.id, mutation.id)"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="mutations" data-data="ProjectMutationsCtrl.mutations"></pagination-controls>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_mutations">
            <thead>
            <tr>
                <th><translate>Mutation ID</translate></th>
                <th><translate>Genomic DNA Change</translate></th>
                <th><translate>Type</translate></th>
                <th><translate>Consequences</translate></th>
                <th><translate>Number of affected donors from the current project</translate></th>
                <th><translate>Number of SSM-tested donors from the current project</translate></th>
                <th><translate>Percentage of affected donors</translate></th>
                <th><translate>Other Projects Mutation Observed</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in ProjectMutationsCtrl.mutations.hits">
                <td>{{mutation.id}}</td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td>{{mutation.type}}</td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td>{{mutation.affectedDonorCountFiltered}}</td>
                <td>{{ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>{{mutation.affectedDonorCountFiltered/ProjectCtrl.project.ssmTestedDonorCount}}</td>
                <td>
                    <div data-ng-repeat="p in mutation.uiDonors | orderBy:'percentage':true">
                        <div>{{p.term}}:{{p.count}}/{{p.countTotal}}</div>
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section id="donors"
    data-ng-if="ProjectCtrl.project.state === 'live'"
    data-ng-controller="ProjectDonorsCtrl as ProjectDonorsCtrl"
    data-ng-class="{'loading': !ProjectDonorsCtrl.donors.hits, 'empty': ProjectDonorsCtrl.donors.hits.length == 0 || ProjectCtrl.project.ssmTestedDonorCount == 0}"
    fix-scroll>
    <h3 data-ng-if="!ProjectDonorsCtrl.donors.hits && ProjectCtrl.project.ssmTestedDonorCount > 0">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Donors...</translate>
    </h3>

    <h3 data-ng-if="ProjectDonorsCtrl.donors.hits.length == 0 || ProjectCtrl.project.ssmTestedDonorCount == 0">
        <translate>No Affected Donors Found.</translate>
    </h3>

    <div data-ng-if="ProjectDonorsCtrl.donors.hits.length > 0 && ProjectCtrl.project.ssmTestedDonorCount > 0">
        <h3>
            <translate>Most Affected Donors</translate>
            <span data-open-in-list='?filters={{ProjectDonorsCtrl.donors.advQuery}}' data-type='donor'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="ProjectDonorsCtrl.bar.hasData" height=200 items="ProjectDonorsCtrl.bar"
                 title=""
                 ylabel="{{'Genes affected' | translate}}"></bar>
        </div>

        <div class="t_table_top">
            <span data-table-counts data-label="{{'donors' | translate}}" data-page="ProjectDonorsCtrl.donors.pagination"></span>
            <span data-toolbar data-dl="{{ProjectCtrl.project.id}}_donors"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2"><translate>ID</translate></th>
                <th rowspan="2"><translate>Site</translate></th>
                <th rowspan="2"><translate>Gender</translate></th>
                <th rowspan="2" class="text-center"><abbr data-tooltip="{{'Age at Diagnosis' | translate}}"><translate>Age</translate></abbr></th>
                <th rowspan="2"><abbr data-tooltip="{{'Tumour Stage at Diagnosis' | translate}}"><translate>Stage</translate></abbr></th>
                <th rowspan="2" class="text-center">
                    <abbr data-tooltip="{{'Survival Time in days' | translate}}"><translate has-markup>Survival<br>(days)</translate></abbr>
                </th>
                <th rowspan="2"><abbr data-tooltip="{{'Experimental analysis performed' | translate}}"><translate>Analysis</translate></abbr></th>
                <th colspan="11" class="text-center"><translate>Available Data Types:</translate></th>
                <th rowspan="2" data-tooltip="{{'Number of SSM' | translate}}"><abbr><translate># Mutations</translate></abbr></th>
                <th rowspan="2">
                    <abbr data-tooltip="{{'Number of Genes with SSM' | translate}}" data-tooltip-placement="left"><translate># Genes</translate> <i class="icon-caret-down"></i></abbr>
                </th>
            </tr>
            <tr>
                <th data-tooltip="{{ 'ssm' | datatype }}"><abbr class="tiny-header">SSM</abbr></th>
                <th data-tooltip="{{ 'cnsm' | datatype }}"><abbr class="tiny-header">CNSM</abbr></th>
                <th data-tooltip="{{ 'stsm' | datatype }}"><abbr class="tiny-header">StSM</abbr></th>
                <th data-tooltip="{{ 'sgv' | datatype }}"><abbr class="tiny-header">SGV</abbr></th>
                <th data-tooltip="{{ 'meth_array' | datatype }}"><abbr class="tiny-header">METH-A</abbr></th>
                <th data-tooltip="{{ 'meth_seq' | datatype }}"><abbr class="tiny-header">METH-S</abbr></th>
                <th data-tooltip="{{ 'exp_array' | datatype }}"><abbr class="tiny-header">EXP-A</abbr></th>
                <th data-tooltip="{{ 'exp_seq' | datatype }}"><abbr class="tiny-header">EXP-S</abbr></th>
                <th data-tooltip="{{ 'pexp' | datatype }}"><abbr class="tiny-header">PEXP</abbr></th>
                <th data-tooltip="{{ 'mirna_seq' | datatype }}"><abbr class="tiny-header">miRNA-S</abbr></th>
                <th data-tooltip="{{ 'jcn' | datatype }}"><abbr class="tiny-header">JCN</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in ProjectDonorsCtrl.donors.hits track by donor.id">
                <td><a data-ui-sref="donor({id:donor.id})">{{donor.id}}</a></td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td class="text-right">{{donor.ageAtDiagnosis | numberPT}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td class="text-right">{{donor.survivalTime | numberPT}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td class="text-center"><span data-exists="donor.ssmCount"></span></td>
                <td class="text-center"><span data-exists="donor.cnsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.stsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.sgvExists"></span></td>
                <td class="text-center"><span data-exists="donor.methArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.methSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.expArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.expSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.pexpExists"></span></td>
                <td class="text-center"><span data-exists="donor.mirnaSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.jcnExists"></span></td>
                <td class="text-right">
                    <i data-ng-if="ProjectDonorsCtrl.mutationCounts===null"
                       class="icon-spinner icon-spin"></i>
                    <span data-ng-if="ProjectDonorsCtrl.mutationCounts[donor.id] === 0">--</span>
                    <a data-ng-if="ProjectDonorsCtrl.mutationCounts[donor.id] > 0"
                       href='/search/m?filters={{donor.advQuery}}'>
                        {{ProjectDonorsCtrl.mutationCounts[donor.id] | number}}
                    </a>
                </td>
                <td class="text-right">
                    <a href='/search/g?filters={{donor.advQuery}}'>
                        {{donor.ssmAffectedGenes | number}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="donors" data-data="ProjectDonorsCtrl.donors"></pagination-controls>

        <table class="hidden" id="{{ProjectCtrl.project.id}}_donors">
            <thead>
            <tr>
                <th><translate>Donor ID</translate></th>
                <th><translate>Site</translate></th>
                <th><translate>Gender</translate></th>
                <th><translate>Age at Diagnosis</translate></th>
                <th><translate>Tumor Stage at Diagnosis</translate></th>
                <th><translate>Survival Time (days)</translate></th>
                <th><translate>Experimental Analysis</translate></th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>StSM</th>
                <th>SGV</th>
                <th>METH-A</th>
                <th>METH-S</th>
                <th>EXP-A</th>
                <th>EXP-S</th>
                <th>PEXP</th>
                <th>miRNA-S</th>
                <th>JCN</th>
                <th><translate>Mutations</translate></th>
                <th><translate>Mutated Genes</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in ProjectDonorsCtrl.donors.hits">
                <td>{{donor.id}}</td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td>{{donor.ageAtDiagnosis}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td>{{donor.survivalTime}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td>{{donor.ssmCount? 'True': 'False'}}</td>
                <td>{{donor.cnsmExists? 'True':'False'}}</td>
                <td>{{donor.stsmExists? 'True':'False'}}</td>
                <td>{{donor.sgvExists? 'True':'False'}}</td>
                <td>{{donor.methArrayExists? 'True':'False'}}</td>
                <td>{{donor.methSeqExists? 'True':'False'}}</td>
                <td>{{donor.expArrayExists? 'True':'False'}}</td>
                <td>{{donor.expSeqExists? 'True':'False'}}</td>
                <td>{{donor.pexpExists? 'True':'False'}}</td>
                <td>{{donor.mirnaSeqExists? 'True':'False'}}</td>
                <td>{{donor.jcnExists? 'True':'False'}}</td>
                <td>{{ProjectDonorsCtrl.mutationCounts[donor.id]}}</td>
                <td>{{donor.ssmAffectedGenes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="publications"
    data-ng-if="ProjectCtrl.project.state === 'live'"
    data-ng-class="{'empty': ProjectCtrl.project.uiPublicationList.length == 0}">
    <h3 data-ng-if="ProjectCtrl.project.uiPublicationList.length == 0">No Publications.</h3>

    <div data-ng-if="ProjectCtrl.project.uiPublicationList.length > 0">
        <h3>Publications</h3>
        <ol>
            <li data-ng-repeat="pub in ProjectCtrl.project.uiPublicationList | orderBy:'refCount':true">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pub.id}}" target="_blank">
                    {{pub.authors[0]}} <i data-ng-if="pub.authors.length > 1">et al., </i>
                    <strong>{{pub.title}}</strong>,
                    {{pub.journal}}, {{pub.issue}}, {{pub.pubdate}}
                </a>
            </li>
        </ol>
    </div>
</section>
</article>
</div>
