<span data-ng-if="ProjectCtrl.isPendingDonor">
    <div class="h1-wrap">
        <h1 data-ui-scrollpoint=79>
            <span class="t_badge t_badge__project"></span>
            {{ProjectCtrl.project.id}}
        </h1>
    </div>

    <section>
        <i class="icon-attention or icon-attention-1"></i>
        <translate>No data for this project has been submitted directly to ICGC DCC yet.</translate>
        <translate>
            However, go to the
            <a href="{{:: ProjectCtrl.urlToExternalRepository() }}">
                {{:: ProjectCtrl.dataRepoTitle }} browser
            </a>
            to see the list of data files hosted in {{:: ProjectCtrl.dataRepoTitle }} for this project.
        </translate>
    </section>
</span>

<span data-ng-if="!ProjectCtrl.isPendingDonor">
    <div class="h1-wrap">
        <h1 data-ui-scrollpoint=105>
            <span class="t_badge t_badge__project"></span>
            {{ProjectCtrl.project.name}}
        </h1>
    </div>
    <article fix-scroll class="full">
        <div class="t_tabs t_tabs__isolated">
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="ProjectCtrl.activeTab = 'summary'" data-ng-class="{active: ProjectCtrl.activeTab === 'summary'}"
                data-nested data-href="projects/{{ProjectCtrl.project.id}}">
                <translate>Summary</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="ProjectCtrl.activeTab = 'donors'" data-ng-class="{active: ProjectCtrl.activeTab === 'donors'}"
                data-nested data-href="projects/{{ProjectCtrl.project.id}}/donors">
                <translate>Donors</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="ProjectCtrl.activeTab = 'variants'" data-ng-class="{active: ProjectCtrl.activeTab === 'variants'}"
                data-nested data-href="projects/{{ProjectCtrl.project.id}}/variants">
                <translate>Variants</translate>
                <br>
            </div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: ProjectCtrl.activeTab === 'summary'}" data-ng-include="'scripts/projects/views/project.summary.html'"></div>
        <div class='t_tab_pane' data-ng-class="{active: ProjectCtrl.activeTab === 'donors'}">
            <div data-ng-include="'scripts/projects/views/project.donors.html'"></div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: ProjectCtrl.activeTab === 'variants'}">
            <div data-ng-include="'scripts/projects/views/project.variants.html'"></div>
        </div>
    </article>
</span>