target/
.project
.classpath
pom.xml.releaseBackup
release.properties

client/.settings/
client/npm-debug.log
client/pom.xml.releaseBackup
client/.cake_task_cache

server/reports/
server/pom.xml.releaseBackup

node_modules/

.pmd

server/src/test/resources/tupleState.test
