# Eclipse IDE
.project
.classpath

# Intellij IDE
.idea
*.iml
atlassian-ide-plugin.xml
unit.xml
e2e.xml

# Maven
target/
pom.xml.releaseBackup
git.properties
release.properties
dependency-reduced-pom.xml

# Submission UI
npm-debug.log
.cake_task_cache
public/
node_modules/

# Project Temporary files
reports/
build/
.pmd
dist_*/

# *nix temporary files
*~

# Mac metadata
.DS_Store
