<h1><span class="t_badge t_badge_icon t_badge__download"><span class="icon-download"></span></span>Data Download</h1>
<section style="padding-top:0">

    <div class="alert alert-info" data-ng-if="showInfo && hasEmail && !error">
        Your data download request is being processed. This can take few minutes to complete depending on the size of
        the requested data.
        An email including a link to your data files will be sent to you when ready.
        In the meantime you can continue to browse ICGC data using the Portal.
    </div>

    <div class="alert alert-info" data-ng-if="showInfo && !hasEmail && !error">
        Your data download request is being processed. This can take few minutes to complete depending on the size of
        the requested data.
        If you don’t want to wait, you can either 1) save this link, or 2) cancel the current job by clicking on
        <strong>Cancel</strong>
        below and submit again your data download request but including this time an email address.
    </div>

    <div class="alert alert-error" data-ng-if="error">{{error}}</div>

    <div class="alert alert-warning" data-ng-if="!downloadEnabled">
        Data Download is currently disabled due to maintenance.<br>
        Please contact <a href="mailto:dcc-support@icgc.org">support</a> if you require assistance.
    </div>


    <div class="wide" data-ng-if="!error">
        <div data-ng-show="jobs.length === 0">
            <br>
            <h3> You have no downloads </h3>
            <br>
        </div>

        <div data-ng-repeat="job in jobs track by job.downloadId">
            <br><br>
            <div data-ng-if="job.startTime"><strong> Request time: </strong>{{job.startTime | date:"yyyy-MM-dd hh:mm:ss a"}}</div>
            <div>
                <span><strong>Status: </strong>{{job.status | trans}}</span>
                <span class="pull-right" data-ng-show="['FAILED', 'NOT_FOUND'].indexOf(job.status) === -1 ">
                    <button class="t_button" data-ng-show="job.status === 'RUNNING'"
                            data-ng-click="cancelDownload(job.downloadId)">Cancel
                    </button>
                    <button class="t_button" data-ng-show="['FINISHING', 'SUCCEEDED'].indexOf(job.status) >= 0"
                            data-ng-click="downloadAll(job.downloadId)"><i class="icon-download"></i> Download
                    </button>
                </span>
            </div>

            <div data-ng-show="['KILLED', 'FAILED', 'NOT_FOUND', 'EXPIRED'].indexOf(job.status) === -1">
                <strong>Expiration: </strong>
                <span data-ng-if="job.et">
                {{ (job.et + job.ttl*3600000 - currentTime)/3600000 | number:0 }} hours
                </span>
                <span data-ng-if="!job.et"> -- </span>
            </div>

            <div data-ng-show="['KILLED', 'FAILED', 'NOT_FOUND', 'EXPIRED'].indexOf(job.status) === -1">
                <strong>Size: </strong>
                <span data-ng-if="job.archiveSize"> {{ job.archiveSize | bytes }} </span>
                <span data-ng-if="!job.archiveSize"> -- </span>
            </div>


            <div>
                <strong>Query: </strong>
                <a href="/search" data-ng-if="!job.filter">All </a>
                <a href="/search?filters={{job.filterStr}}" data-ng-if="job.filter">
                    <query-display data-filters="job.uiQueryFilter"></query-display>
                </a>
            </div>

            <div data-ng-show="job.status === 'FAILED'" class="alert-error">
                An error has occurred preparing download <em>{{job.downloadId}}</em>. Please contact <a
                    href="support@icgc.org">support</a> for help.
            </div>
            <div data-ng-show="job.status === 'NOT_FOUND'" class="alert-info">
                This download <em>{{job.downloadId}}</em> is either invalid, or it is expired and expunged by the
                system.
            </div>
            <div data-ng-show="job.status === ''" class="alert-info">
            </div>
            <div data-ng-show="job.status === 'EXPIRED'" class="alert-info">
                Your data files are not available anymore for downloading. Data files must be downloaded within
                {{job.ttl}} hours after job completion. Please submit again your data download request if you still need
                the data.
            </div>

            <div data-ng-show="['KILLED', 'FAILED', 'NOT_FOUND', 'EXPIRED'].indexOf(job.status) === -1">

                <a href="" data-ng-click="job.isExpanded = !job.isExpanded">
                    <i class="pull-right" style="font-size:2.0rem; padding-bottom:1rem"
                       data-ng-class="{'icon-caret-down':job.isExpanded, 'icon-caret-left':!job.isExpanded}"></i>
                </a>

                <div class="progress" style="margin-bottom:1rem; cursor:pointer"
                     data-ng-click="job.isExpanded = !job.isExpanded">

                    <div class="progress-bar progress-bar-success" style="width:100%" data-ng-if="['SUCCEEDED', 'FINISHING'].indexOf(job.status) >= 0"></div>
                    <div class="progress-bar progress-bar-info" data-ng-style="convertProgress(job.overallProgress)"
                         data-ng-if="['SUCCEEDED', 'FINISHING'].indexOf(job.status) === -1"></div>
                    <span class="pull-right" data-ng-if="job.overallProgress !== 1">
                       <i class="icon-spinner icon-spin"></i>
                    </span>
                </div>

                <table class="table table-download" data-ng-show="job.isExpanded===true">
                    <tbody>
                    <tr data-ng-repeat="file in job.progress">
                        <td width="80%" valign="middle">
                            <div class="progress" style="height:8px; margin-bottom:0">
                                <div class="progress-bar text-left"
                                     data-ng-class="{'progress-bar-success':file.completed === 'true'}"
                                     data-ng-style="convertProgress(file.percentage)"></div>
                            </div>
                        </td>
                        <td>
                           <span data-ng-if="file.completed === 'false'">
                               <i class="icon-spinner icon-spin"></i> {{file.dataType | datatype}}
                           </span>
                           <span data-ng-if="file.completed === 'true'">
                               <a href="" data-ng-click="downloadType(job.downloadId, file.dataType)"><i
                                       class="icon-download"></i> {{file.dataType | datatype }}</a>
                           </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
