<div class="modal-content">
   <div class="modal-header clearfix">
      <h3 class="pull-left"><translate>Download Donor Data</translate></h3>
      <button class="pull-right t_button" data-ng-click="cancel();">
        <i class="icon-cancel"></i>
      </button>
   </div>
   <div class="modal-body light" style="max-height:none">
      <div class="alert alert-info" style="margin:0 0.1rem 1rem 0.1rem">
         <translate has-markup>To browse and download unfiltered data, please visit the
         <a href="{{:: dataReleasesRouteInfo.href }}" data-ng-click="modal=false">
            <i class="icon-database"></i><strong>{{:: dataReleasesRouteInfo.title }}</strong></a> section.</translate>
      </div>
      <div data-ng-if="params.processing">
         <i class="icon-spinner icon-spin"></i> <translate>Calculating download sizes...</translate>
      </div>

      <div class="alert alert-warning" data-ng-if="params.downloadEnabled === false" style="margin:0rem;">
        <translate>
          Download Donor Data section is currently unavailable due to maintenance.
        </translate>
        <br>
        <translate has-markup>
          Please contact <a href="mailto:dcc-support@icgc.org">support</a> if you require assistance.
        </translate>
      </div>

      <div data-ng-if="!params.processing && params.downloadEnabled">
         <span><translate has-markup>Search criteria results in <strong>{{totalDonor | number}}</strong> donors. Select data types to download:</translate></span>
         <table class="table table-info">
            <thead>
               <tr>
                  <th><translate>Data Type</translate></th>
                  <th class="text-right"><translate>File Size (Estimated)</translate></th>
                  <th class="text-right"><translate>Select</translate></th>
               </tr>
            </thead>
            <tbody>
               <tr data-ng-repeat="type in params.dataTypes" data-ng-click="toggle(type)">
                  <td>
                     <span>{{type.uiLabel}}</span>
                  </td>
                  <td class="text-right">
                     <span data-ng-if="type.sizes > 0">
                        {{type.sizes | bytes}}
                     </span>
                     <span data-ng-if="type.sizes === 0">
                        --
                     </span>
                  </td>
                  <td class="text-right">
                     <i data-ng-if="type.sizes > 0" style="cursor: pointer" data-ng-class="{'icon-check':type.active, 'icon-check-empty':!type.active}"></i>
                     <span data-ng-if="type.sizes === 0" >--</span>
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <span class="pull-left"><strong><translate has-markup>Total file size</translate> {{overallSize | bytes}}</strong></span>
                     <span class="pull-right"><strong><translate has-markup>{{dlFile}} files selected ({{dlTotal | bytes}})</translate></strong></span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="modal-footer">
      <button class="t_button" data-ng-click="cancel()"><translate>Cancel</translate></button>
      <button class="t_button" data-ng-click="download();"
              data-ng-disabled="dlTotal==0 || isSendingRequest()">
         <span data-ng-if="! isSendingRequest()"><i class="icon-download"></i><translate>Download</translate></span>
         <span data-ng-if="isSendingRequest()"><i class="icon-spinner icon-spin"></i><translate>Preparing...</translate></span>
      </button>
   </div>
</div>
