<div class="modal-content">
   <div class="modal-header clearfix">
      <h3 class="pull-left">Download Donor Data</h3>
      <button class="pull-right t_button" data-ng-click="cancel();"><i
                                                                       class="icon-cancel"></i>
      </button>
   </div>
   <div class="modal-body light" style="max-height:none">
      <div class="alert alert-info" style="margin:0 0.1rem 1rem 0.1rem">
         To browse and download unfiltered data, please visit the
         <a href="{{:: dataReleasesRouteInfo.href }}" data-ng-click="modal=false">
            <i class="icon-database"></i><strong>{{:: dataReleasesRouteInfo.title }}</strong></a> section.
      </div>
      <div data-ng-if="params.processing">
         <i class="icon-spinner icon-spin"></i> Calculating download sizes...
      </div>
      <div data-ng-if="!params.processing">
         <span>Search criteria results in <strong>{{totalDonor | number}}</strong> donors. Select data types to download:</span>
         <table class="table table-info">
            <thead>
               <tr>
                  <th>Data Type</th>
                  <th class="text-right">File Size (Estimated)</th>
                  <th class="text-right">Select</th>
               </tr>
            </thead>
            <tbody>
               <tr data-ng-repeat="type in params.dataTypes" data-ng-click="toggle(type)">
                  <td>
                     <span>{{type.uiLabel}}</span>
                  </td>
                  <td class="text-right">
                     <span data-ng-if="type.sizes > 0">
                        {{type.sizes | bytes}}
                     </span>
                     <span data-ng-if="type.sizes === 0">
                        --
                     </span>
                  </td>
                  <td class="text-right">
                     <i data-ng-if="type.sizes > 0" style="cursor: pointer" data-ng-class="{'icon-check':type.active, 'icon-check-empty':!type.active}"></i>
                     <span data-ng-if="type.sizes === 0" >--</span>
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <span class="pull-left"><strong>Total file size {{overallSize | bytes}}</strong></span>
                     <span class="pull-right"><strong>{{dlFile}} files selected ({{dlTotal | bytes}})</strong></span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="modal-footer">
      <button class="t_button" data-ng-click="cancel()">Cancel</button>
      <button class="t_button" data-ng-click="download();"
              data-ng-disabled="dlTotal==0 || isSendingRequest()">
         <span data-ng-if="! isSendingRequest()"><i class="icon-download"></i>Download</span>
         <span data-ng-if="isSendingRequest()"><i class="icon-spinner icon-spin"></i>Preparing...</span>
      </button>
   </div>
</div>
