<div class="modal-content">
    <div class="modal-header clearfix">
        <h3 class="pull-left"><translate>Login</translate></h3>
        <button class="pull-right t_button" data-ng-click="closeLoginPopup()"><i
                class="icon-cancel"></i>
        </button>
    </div>
    <div class="modal-body" style="max-height:none;padding-bottom:0">

        <div data-ng-hide="error" class="alert-info">
            <translate>Sign in using your ICGC DACO-approved account for controlled data</translate>
        </div>
        <div data-ng-show="error">
            <div class="alert-error">
                {{params.error}}
            </div>
            <div class="alert">
                <translate>Problems logging in?</translate> 
                <a href="mailto:dcc-support@icgc.org?Subject=Problem%20Logging%20In"><i
                    class="icon-mail"></i> <translate>Contact Us</translate></a> <translate>or</translate>
                <a href="http://icgc.org/daco/"><i class="icon-pilcrow"></i> <translate>Apply for access to controlled data.</translate></a>
            </div>
        </div>
        <ul class="open-id-providers">
            <li class="open-id-provider" data-ng-class="{active: params.provider=='icgc'}"
                data-ng-click="params.provider='icgc'"><span class="logo"><img
                    src="/styles/images/icgc_open_id.png"></span></li>
            <li class="open-id-provider" data-ng-class="{active: params.provider=='google'}"
                data-ng-click="params.provider='google'"><span class="logo"><img
                    src="/styles/images/google_open_id.png"></span></li>
            <li class="open-id-provider" data-ng-class="{active: params.provider=='yahoo'}"
                data-ng-click="params.provider='yahoo'"><span class="logo"><img style="margin-bottom: .5rem" src="/styles/images/yahoo_open_id.png"></span>
            </li>
        </ul>

        <!--<p data-ng-show="provider=='icgc'">Sign in using your <strong>ICGC</strong> account.<br><br>-->
        <!--<label>Username</label><br>-->
        <!--<input type="text" id="cudUsername" style="width:50%" data-ng-model="cudUsername">-->
        <!--<br>-->
        <!--<label>Paasword</label><br>-->
        <!--<input type="password" id="cudPassword" style="width:50%" data-ng-model="cudPassword">-->
        <!--</p>-->

        <p data-ng-show="params.provider=='icgc'"><translate has-markup>Sign in using your <strong>ICGC</strong> account.</translate></p>

        <p data-ng-show="params.provider=='google'||params.provider=='yahoo'">
            <translate has-markup translate-comment="{{params.provider}} comes out to be either ICGC, Google or Yahoo">Sign in using <strong style="text-transform: capitalize">{{params.provider}}</strong> as your OpenID provider</translate>
        </p>

        <p data-ng-show="params.provider=='openid'">
            <label for="openIDUrl"><translate has-markup>Enter your <strong>OpenID</strong> url</translate></label><br>
            <input id="openIDUrl" style="width:50%" data-ng-model="openIDUrl"></p>

        <p data-ng-show="params.provider=='verisign'">
            <label for="verisignUsername"><translate has-markup>Enter your <strong>Verisign</strong> username</translate></label><br>
            https://<input data-ng-model="verisignUsername" id="verisignUsername">.pip.verisignlabs.com/
        </p>
    </div>
    <div class="modal-footer">
        <button class="t_button" data-ng-click="closeLoginPopup();reset()"><translate>Cancel</translate></button>
        <button class="t_button" data-ng-click="tryLogin()"
                data-ng-disabled="params.provider=='openid'&&!openIDUrl||params.provider=='verisign'&&!verisignUsername||connecting">
            <span ng-hide="connecting"><i class="icon-login"></i><translate>Login</translate></span>
            <span ng-show="connecting"><i class="icon-spin icon-spinner"></i><translate>Connecting...</translate></span>
        </button>
    </div>
</div>

