<div class="h1-wrap">
   <h1 data-ui-scrollfix="79">
      <span class="t_badge t_badge_icon">
         <span class="icon-book-open"></span>
      </span>
      User Guide: ICGC Data Analysis in the Cloud
   </h1>
</div>
<div data-scroll-spy class="cloud-guide-content icgc-cloud">
   <aside class="t_side_nav" data-ui-scrollfix="79">
      <nav>
         <ol class="t_subnav__items">
            <li data-spy="overview" class="t_subnav__items__item current"><a data-scrollto href="#overview">Overview</a></li>
            <li data-spy="auth" class="t_subnav__items__item"><a data-scrollto href="#auth">Authorization</a></li>
            <li data-spy="preqs" class="t_subnav__items__item"><a data-scrollto href="#preqs">Compute Prerequisites</a></li>
            <li data-spy="install" class="t_subnav__items__item"><a data-scrollto href="#install">Installation</a></li>
            <li data-spy="config" class="t_subnav__items__item"><a data-scrollto href="#config">Configuration</a></li>
            <li data-spy="fs-search" class="t_subnav__items__item"><a data-scrollto href="#fs-search">File Search</a></li>
            <li data-spy="storage-client" class="t_subnav__items__item"><a data-scrollto href="#storage-client">Storage Client Usage</a></li>
            <li data-spy="faq" class="t_subnav__items__item"><a data-scrollto href="#faq">FAQs</a></li>
            <li data-spy="terms" class="t_subnav__items__item"><a data-scrollto href="#terms">Used Terms</a></li>
         </ol>
      </nav>
   </aside>
   <article class="user-guide-content">
      <section id="overview">
         <h2>Overview</h2>

         <p>This user guide describes the steps to securely explore and analyze ICGC data stored in <a href="https://aws.amazon.com/about-aws/" target="_blank"><i class="icon-external-link"></i>Amazon (<em>AWS</em>)</a> or <a href="https://www.cancercollaboratory.org/" target="_blank"><i class="icon-external-link"></i>Collaboratory (<em>OpenStack</em>)</a> cloud environments. For more information about ICGC cloud initiatives, please see <a href="/icgc-in-the-cloud/">ICGC in the Cloud</a>.</p>

         <p>Please see <a data-scrollto href="#terms">Terms</a> for a glossary of terms used in this guide.</p>

         <h3>Process</h3>

         <p>The figure below illustrates the overall process and systems involved:</p>
         <table style="border: 1px solid #CCC; margin-left: 2em; margin-right: 2em">
            <tr style="vertical-align: top; ">
               <td style="width: 50%; padding: 1.2rem;font-size: 1.1rem;">
                  <ol>
                     <li><a data-scrollto href="#auth">Authorization</a><br>
                        Apply for DACO <em>Cloud Access</em> if not already approved<br>
                        Upon approval, login to the <em>Data Portal</em><br>
                        Generate an <em>Access Token</em> for cloud download
                     </li>
                     <li><a data-scrollto href="#preqs">Compute Prerequistes</a><br>Provision a <em>Compute Instance</em> in the target cloud</li>
                     <li><a data-scrollto href="#install">Installation</a><br> Download and install the ICGC <em>Storage Client</em></li>
                     <li><a data-scrollto href="#config">Configuration</a><br> Configure the Storage Client to use the generated Access Token</li>
                     <li><a data-scrollto href="#fs-search">File Search</a><br> Identify files of interest using the Data Portal</li>
                     <li><a data-scrollto href="#storage-client">Storage Client Usage</a><br> Download or view data with the provided Storage Client or via an external tool</li>
                  </ol>
               </td>
               <td style="vertical-align:middle;">
                  <div class="screen-shot" style="padding: 0; margin: 0;">
                     <a style="width: 100%"  title="Click Cloud Process Diagram to see the full image." href="/scripts/repositories/images/guides/cloud_process_diagram.svg" target="_blank">
                        <img style="padding: 0" src="/scripts/repositories/images/guides/cloud_process_diagram.svg" alt="Cloud Process Diagram">
                     </a>
                  </div>
               </td>
            </tr>
         </table>

         <p>The subsequent sections will provide additional details on each of these topics.</p>

         <h3>Security</h3>
         <p>The usage of the distributed <a href="/software">Storage Client</a> is required to provide additional security while operating in participating cloud environments and to enhance user download speeds. </p>
         <div class="guide-callout guide-callout-aws">
            <div class="guide-callout-content">
              <h4>AWS</h4>
              <p>
                Security is enforced by a coordinating ICGC storage server. The client communicates with the server which brokers downloads and converts ICGC Access Tokens into Amazon <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/ShareObjectPreSignedURL.html" target="_blank"><i class="icon-external-link"></i>pre-signed urls</a>. Once a successful authorization handshake between the client and the server is established, downloads will be transferred directly from <em>S3</em> to the client, maintaining fast access to the data.
              </p>
              <p>
                It is important to note that the provided software only functions within the <code>us-east-1</code> EC2 region of AWS located in Northern Virginia, U.S. where the data is physically stored. Attempting to use the software outside of this region will be denied data access.
              </p>
             </div>
         </div>
         <div class="guide-callout guide-callout-collab">
          <div class="guide-callout-content">
            <h4>Collaboratory</h4>
            <p>
                Downloads only function inside Collaboratory's OpenStack environment.
            </p>
          </div>
         </div>
         <p>
            Lastly, it is the user’s responsibility to protect the data after it has been attained. This includes any subsequent analyses and storage on cloud and downstream resources.
         </p>
      </section>
      <section id="auth">
         <h2>Authorization</h2>

         <p>There are two prerequesites to using the Storage Client: DACO Cloud Access status and a self-provisioned Access Token.</p>

         <h3 id="auth-daco">DACO Cloud Access</h3>

         <p>DACO Cloud Access is prerequisite to using the Storage Client. To apply for DACO access please follow the instructions provided at <a href="https://icgc.org/daco" target="_blank"><i class="icon-external-link"></i>https://icgc.org/daco</a>. Once approved, you will be able to <a href="https://dcc.icgc.org/">login</a> to the Data Portal to generate an <a data-scrollto href="#auth-token" data-scroll-offset="70">Access Token</a>. To login, click on the &ldquo;Login&rdquo; link in the upper right-hand corner of the page. When prompted, choose to login with either your <a href="https://icgc.org/user/login" target="_blank"><i class="icon-external-link"></i>ICGC.org login</a> or one of the supported OpenID providers (e.g. Google).
         After successful authentication, you will know that you have Cloud Access to the controlled tier if the &ldquo;login&rdquo; link is replaced with a green cloud icon (<i class="icon-cloud-1 data-available" data-tooltip="Cloud Access Authorized" data-tooltip-placement="bottom"></i>).
         </p>

         <h3 id="auth-token">Access Tokens</h3>

         <p>The Access Token model used for protecting the cloud data set follows a similar process to Github&rsquo;s <a href="https://help.github.com/articles/creating-an-access-token-for-command-line-use/" target="_blank"><i class="icon-external-link"></i>personal access tokens</a>. Tokens are used instead of a username / password to securely access ICGC resources.</p>

         <p>Related to Access Tokens is the concept of <em>Scopes</em>. Tokens allow you to associate Scopes which limit access to that needed for the target environment. This enhances security by following the <a href="http://www.wikiwand.com/en/Principle_of_least_privilege" target="_blank"><i class="icon-external-link"></i>Principle of Least Privilege</a>. Cloud specific Scopes will become available after acquiring DACO Cloud Access. An instance of a cloud download token will grant access to all of the available data in that environment.</p>

         <h3 id="auth-token-manager">Token Manager</h3>
         <p>To acquire an Access Token, you must first obtain DACO Clould Access and login to the Data Portal. After a successful login, there will be <em>Token Manager</em> link in the upper right corner of the page. Clicking on this link will display the Token Manager dialog:</p>

         <div class="screen-shot">
            <a title="Click the Token Manager toolbar to see the full image." href="/scripts/repositories/images/guides/token_manager_link.png" target="_blank">
               <img src="/scripts/repositories/images/guides/token_manager_link.png" alt="Token Manager Link" />
            </a>
         </div>

         <p>From this dialog, you can manage the Access Tokens associated with your account. Importantly, you may delete and regenerate an access token if you believe that it has been compromised.</p>
         <div class="screen-shot">
            <a title="Click the Token <anager screenshot to see the full image." href="/scripts/repositories/images/guides/token_manager_screenshot.png" target="_blank">
               <img src="/scripts/repositories/images/guides/token_manager_screenshot.png" alt="Token Manager Screenshot" />
            </a>
         </div>

         <p>When creating an Access Token, you will need to specify the Scope associated with the target cloud(s).</p>
         <div class="guide-callout guide-callout-aws">
           <div class="guide-callout-content">
            <h4>AWS</h4>
            <p>
              In the case of the ICGC AWS data set, an access token with the <span class="badge token-badge token-scopes">aws.download</span> scope is required to access the <a href="https://docs.icgc.org/access-controlled-data" target="_blank"><i class="icon-external-link"></i>controlled access data</a>
            </p>
            </div>
         </div>
         <div class="guide-callout guide-callout-collab">
           <div class="guide-callout-content">
            <h4>Collaboratory</h4>
            <p>
              In the case of the ICGC Collaboratory data set, an access token with the <span class="badge token-badge token-scopes">collab.download</span> scope is required to access the <a href="https://docs.icgc.org/access-controlled-data" target="_blank"><i class="icon-external-link"></i>controlled access data</a>
            </p>
            </div>
         </div>

         <p>You can verify that your Access Token has the desired scopes by inspecting it in the table at the bottom of the dialog. For security purposes, Access Tokens must remain private and not be shared with anyone.</p>

         <p>Following the creation of a Compute Instance, discussed in the next section, you will need to edit the Storage Client client configuration file to include the generated Access Token. See the <a data-scrollto href="#config">Configuration</a> section for additional information.</p>
      </section>
      <section id="preqs">
         <h2>Compute Prerequisites</h2>

         <h3>Compute Instance</h3>
         <p>As a first step in analyzing data, you will need to create a Compute Instance to run the Storage Client and any other supporting software.</p>
         <div class="guide-callout guide-callout-aws">
            <div class="guide-callout-content">
            <h4>AWS</h4>
            <p>
              In order to run within <a href="https://aws.amazon.com/ec2/" target="_blank"><i class="icon-external-link"></i>EC2</a>, you will need your own AWS account to provision a running EC2 instance. Any data processing will be charged to this account. Note that ICGC data download from S3 to the same EC2 region is free of charge. Please see Amazon's documentation for detailed instructions.
            </p>
            </div>
         </div>
         <div class="guide-callout guide-callout-collab">
           <div class="guide-callout-content">
            <h4>Collaboratory</h4>
            <p>
              In order to run within <a href="https://www.cancercollaboratory.org/" target="_blank"><i class="icon-external-link"></i>Collaboratory</a>, you will need to be enrolled. To begin the enrollment process, please send an email to <a href="mailto:help@cancercollaboratory.org" style="white-space: nowrap"><i class="icon-mail"></i>help@cancercollaboratory.org</a>.
            </p>
            </div>
         </div>

         <p>
           The following sections provide guidance on selecting and configuring the chosen instance type.
         </p>

         <h3>Resources</h3>
         <p>
            As data files are quite large, users should have enough local disk space to store files downloaded from the remote repository.
         </p>
         <p>
           More processing cores will give greater parallelism, and therefore, better thoughput of downloads.</p>
         <p>
           By default the storage client is configured to use a maximum of 3G of RAM. Most of time this is more than sufficient.
         </p>

         <h3>Operating System</h3>
         <p>The Storage Client has been designed to work on modern Mac and Linux distributions. Windows should work as well but remains untested.</p>


         <h3>Dependencies</h3>

         <p>The Storage Client requires Java 8 to be installed. It has been tested using the Oracle distribution. The procedure for installing Java 8 will vary depending on the operating system and package manager used.</p>
         <p>
           In order to use the mount feature, <a href="http://fuse.sourceforge.net/" target="_blank"><i class="icon-external-link"></i>FUSE</a> is required. On most Linux based systems this will require installing <code>libfuse-dev</code> and <code>fuse</code> packages.
         </p>
      </section>
      <section id="install">
         <h2>Installation</h2>
         <p>This section describes how to install the Storage Client. The are two options: (a) from a tarball and (b) from a Docker image hosted on Dockerhub.</p>

         <h3>Install from Tarball</h3>
         <p>To begin using the Storage Client, the first step is to download the distribution. The latest version can be downloaded from <a href="/software#!storage-client">here</a>.</p>

         <pre class="language-shell"><code class="language-shell">wget -O icgc-storage-client.tar.gz https://dcc.icgc.org/api/v1/ui/software/icgc-storage-client/latest
tar -xvzf icgc-storage-client.tar.gz</code></pre>

         <p>After untaring the archive, the Storage Client will be available at <code>bin/icgc-storage-client</code>. Steps to verify the authenticity and integrity of the download can be found on our <a href="/software">software</a> page.</p>
         <h3>Install from Docker Image</h3>

         <p>We also support a Docker image of the Storage Client that is bundled with Java 8 for easy deployment.</p>

         <p>The image is hosted at <a href="https://hub.docker.com/r/icgc/icgc-storage-client/" target="_blank"><i class="icon-external-link"></i>https://hub.docker.com/r/icgc/icgc-storage-client/</a> and downloaded by issuing the following command:</p>

         <pre class="language-shell"><code class="language-shell">docker pull icgc<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client</code></pre>

         <p>Once pulled, you can open a shell in the container by executing:</p>

         <pre class="language-shell"><code class="language-shell">docker run <span class="token operator">-</span>it icgc<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client</code></pre>

         <p>There is no entry point or command defined for the image. The software may be located at <code>/icgc/icgc-storage-client</code> which is also the working directory of the container. All other steps for <a data-scrollto href="#storage-client">using the Storage Client</a> will be the same for both Docker and tarball installations.</p>

      </section>
      <section id="config">
         <h2>Configuration</h2>
         <p>The configuration of the Storage Client is stored in the <code>conf/application.properties</code> file of the distribution.</p>

         <h3>Access Configuration</h3>
         <p>The main configuration element is the access token generated in <a data-scrollto data-scroll-offset="70" href="#auth-token">Access Token</a> above. Configuration is stored in the <code>conf/</code> directory of the distribution.</p>

         <p>Edit <code>application.properties</code> and add the generated accesss token to the line:</p>

         <pre class="language-shell"><code class="language-shell">accessToken<span class="token operator">=</span><span class="token operator">&lt;</span>access token<span class="token operator">&gt;</span></code></pre>

         <p>When using Docker, this can also be set with an environmental variable:</p>

         <pre class="language-shell"><code class="language-shell">docker run <span class="token operator">-</span>it <span class="token operator">-</span>e ACCESSTOKEN<span class="token operator">=</span><span class="token operator">&lt;</span>access token<span class="token operator">&gt;</span> icgc<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client</code></pre>

         <div class="guide-callout guide-callout-collab">
           <div class="guide-callout-content">
            <h4>Collaboratory</h4>
            <p>
               In addition to the above, you will need to change the <code>bin/icgc-storage-client</code> script to set <code>STORAGE_PROFILE=collab</code>. This can also performed externally via the environmental variable of the same name. Note that it is also possible to override this per execution using <code>bin/icgc-storage-client</code>'s <code>--profile collab</code> argument.
            </p>
           </div>
         </div>

         <h3>Transport Configuration</h3>
         <p>Based on the target Compute Instance defined in <a data-scrollto href="#preqs">Compute Prerequisites</a> and transfer speed requirements, it may be necessary to make changes to how the Storage Client transfers data. This is achieved by setting <code>transport.parallel</code> and <code>transport.memory</code>:</p>
         <ul>
            <li><code>transport.parallel</code> controls the number of concurrent threads for multi-part data transfers. It is recommended to set this to the number of cores of the Compute Instance.</li>
            <li><code>transport.memory</code> is the amount of non-heap memory per thread, in gigabytes. It is recommended set this to a value of <code>1</code> (1 GB). Be sure to leave enough memory for the operating system and any other software that may be running on the Compute Instance.</li>
         </ul>
      </section>
      <section id="fs-search">
         <h2>File Search</h2>

         <p>Finding files of interest can be done via the Data Portal. Objects are identified by their <em>Object ID</em>.</p>

         <ul>
            <li>Navigate to <a href="/repositories">repository file search</a></li>
            <li>Click on the <code>AWS</code> or <code>Collaboratory</code> filter in the left hand pane</li>
            <li>Filter based on properties of interest (e.g. donor id, specimen id, etc.)</li>
            <li>Export a <em>Manifest</em> for future use with the Storage Client</li>
         </ul>

         <p>The Manifest is the main way to define what files should be downloaded by the Storage Client. However, knowing the Object ID is sufficient for a single file download. To generate a Manifest, click on the "Download manifests" link the the Data Repository browser. You will be prompted with a "Download manifests" dialog:</p>

         <div class="screen-shot">
            <a title="Click the Download Manifest Dialog screenshot to see the full image." href="/scripts/repositories/images/guides/download_manifest_dialog.png" target="_blank">
               <img src="/scripts/repositories/images/guides/download_manifest_dialog.png" alt="Download Manifest Dialog" />
            </a>
         </div>

         <p>Manifests downloaded from the Data Portal can be transferred to the Storage Client instance by using SFTP or SCP. For convenience, it is also possible to use a Manifest ID saved on the Data Portal by clicking on the &quot;Manifest ID&quot; button. See the <a data-scrollto href="#storage-client">Storage Client Usage</a> section for usage information.</p>
      </section>
      <section id="storage-client">
         <h2>Storage Client Usage</h2>

         <p>This section provides information on how to use the Storage Client once it has been properly downloaded and configured. It assumes the user possesses and has configured the requisite access token discussed previously. </p>

         <p>The Storage Client has the general syntax:</p>

         <pre class="language-shell"><code class=" language-shell">icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client <span class="token punctuation">[</span>options<span class="token punctuation">]</span> <span class="token punctuation">[</span>command<span class="token punctuation">]</span> <span class="token punctuation">[</span>command options<span class="token punctuation">]</span></code></pre>

         <p>It offers a set of commands, where each command has its own set of options to influence its operation.</p>

         <h3>Help</h3>

         <p>The Storage Client provides a <code>--help</code> option to list the available commands and a brief description of their supported options:</p>
         <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client --help</code></pre>

         <p>It is also possible to get information on a specific command using the <code>help</code> command:</p>
         <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client help download</code></pre>

         <h3>URL Command</h3>

         <p>The <code>url</code> command is the most basic command supported by the Storage Client. It allows one to resolve the underyling S3 URL for the requested object. This is useful if one wants to directly access the URL via HTTPS with an external client or tool (e.g. <code>curl</code>, <code>wget</code>, etc.)</p>

         <pre class=" language-javascript"><code class=" language-javascript">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client url <span class="token operator">--</span>object<span class="token operator">-</span>id ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd</code></pre>

         <p>An example of using <code>wget</code>:</p>

         <pre class="language-shell"><code class="language-shell">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client url <span class="token operator">--</span>object<span class="token operator">-</span>id <span class="token operator">&lt;</span>Object ID<span class="token operator">&gt;</span>
Resolving URL <span class="token keyword">for</span> object<span class="token punctuation">:</span> ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd <span class="token punctuation">(</span>offset <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">,</span> length <span class="token operator">=</span> <span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">)</span>
https<span class="token punctuation">:</span><span class="token operator">/</span><span class="token operator">/</span>s3<span class="token operator">-</span>external<span class="token number">-1</span><span class="token punctuation">.</span>amazonaws<span class="token punctuation">.</span>com<span class="token operator">/</span><span class="token operator">&lt;</span>snip<span class="token operator">&gt;</span>

wget https<span class="token punctuation">:</span><span class="token operator">/</span><span class="token operator">/</span>s3<span class="token operator">-</span>external<span class="token number">-1</span><span class="token punctuation">.</span>amazonaws<span class="token punctuation">.</span>com<span class="token operator">/</span><span class="token operator">&lt;</span>snip<span class="token operator">&gt;</span></code></pre>

         <h3>Download Command</h3>

         <p>The <code>download</code> command allows fast parallel download of remote objects. It can be run in one of two modes: (a) single object mode and (b) Manifest driven mode</p>
         <p>Note that the Storage Client is able to resume an interrupted download session. Simply rerun the same command again and it will continue.</p>
         <h4>Single Object</h4>

         <p>This mode is most useful when downloading a single object given a known Object ID, perhaps acquired from the Data Portal:</p>

         <pre class="language-shell"><code class="language-shell">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client download <span class="token operator">--</span>object<span class="token operator">-</span>id ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd <span class="token operator">--</span>output<span class="token operator">-</span>dir data</code></pre>

         <p>Downloads will be stored in the <code>--output-dir</code>.</p>

         <h4 id="storage-manifest-section">Manifest</h4>

         <p>Using a Manifest is ideal for downloading multiple files identified through the Data Portal. The <a href="/repositories" target="_blank"><i class="icon-external-link"></i>repository file search</a> allows one to generate a Manifest file that can be supplied for bulk downloading files. It also provides some additional metadata for selected files that gives the donor, specimen and sample context.</p>

         <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client download --manifest manifest.txt --output-dir data</code></pre>

         <p>The optional <code>--output-layout</code> option can be used to organize the downloads into a couple of predefined directory layouts. See the <code>--help</code> for addional information.</p>

         <h3>Manifest Command</h3>
         <p>
           The <code>manifest</code> command allows a user to quickly view the contents of a download Manifest produced by the Data Portal. A Manifest can come from:
         </p>
         <ul>
            <li>The local file system</li>
            <li>A Manifest ID that is hosted on the Data Portal</li>
            <li>Any URL</li>
          </ul>
         <p>
           A Manifest is a TSV file that contains both file identifying fields and satellite metadata for understanding the relationships to other data including donor, project and study.
         </p>
         <h4>Manifest from a Local File</h4>
         <p>
           An example of using a local file system Manifest:
         </p>
          <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client manifest --manifest manifest.aws-virginia.1444232116728.txt</code></pre>
         <h4 id="storage-manifest-data-portal-section">Manifest from the Data Portal</h4>
         <p>An example of using a Data Portal hosted Manifest:</p>
         <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client manifest --manifest 49e91614-7811-11e5-8a58-34363bcf803c</code></pre>
         <h4>Manifest from a URL</h4>
         <p>An example of using a URL hosted Manifest:</p>
         <pre class="language-shell"><code class="language-shell">bin/icgc-storage-client manifest --manifest http://hastebin.com/raw/ujajodilih</code></pre>

         <h3>View Command</h3>

         <p>The <code>view</code> command is a minimal version of <a href="http://www.htslib.org/doc/samtools.html" target="_blank"><i class="icon-external-link"></i>samtools view</a>. It allows to request a &ldquo;genomic slice&rdquo; of the remote BAM file, freeing the user from having to download the entire file locally, saving bytes and time.</p>

         <p>The following example will download reads overlapping the region 1 - 100000 in chromosome 1:</p>

         <pre class="language-shell"><code class=" language-shell">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client view <span class="token operator">--</span>object<span class="token operator">-</span>id ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd <span class="token operator">--</span>query <span class="token number">1</span><span class="token punctuation">:</span><span class="token number">1</span><span class="token operator">-</span><span class="token number">100000</span></code></pre>

         <p>The BAI is automatically discovered and streamed as part of the operation.</p>
         <p>For quickly accessing the only the BAM header one can issue:</p>
         <pre class="language-shell"><code class="language-shell">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client view <span class="token operator">--</span>header<span class="token operator">-</span>only <span class="token operator">--</span>object<span class="token operator">-</span>id ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd</code></pre>
         <p>It is also possible to pipe the output of the above to <code>samtools</code>, etc. for pipelining a workflow: </p>

         <pre class="language-shell"><code class=" language-shell">bin<span class="token operator">/</span>icgc<span class="token operator">-</span>storage<span class="token operator">-</span>client view <span class="token operator">--</span>object<span class="token operator">-</span>id ddcdd044<span class="token operator">-</span>adda<span class="token operator">-</span>5f09<span class="token number">-8849</span><span class="token operator">-</span>27d6038f8ccd <span class="token operator">|</span> samtools mpileup <span class="token operator">-</span></code></pre>

        <h3>Mount Command</h3>
        <p>The <code>mount</code> command can be used to mount the remote S3 bucket as a read-only <a href="http://fuse.sourceforge.net/" target="_blank"><i class="icon-external-link"></i>FUSE</a> file system. This is very useful to browse and explore the available files, as well as quickly see their size and date of modification using common commands such as <code>ls</code>, <code>find</code>, <code>du</code> and <code>tree</code>. It also works very well with standard analysis tools such as <code>samtools</code>. </p>
        <p>Files are organized into a virtual directory structure. The following shows the default <code>bundle</code> layout:</p>
        <pre><code>/bundleId1/fileName1
/bundleId1/fileName2
...
/bundleId1/fileNamei
...
/bundleIdn/fileName1
/bundleIdn/fileName2
...
/bundleIdn/fileNamej</code></pre>
        <p>where <code>bundleId</code> and <code>fileName</code> are the original <em>Bundle ID</em> and file name of the file respectively. It possible to control the layout using the <code>--layout</code> option. Using <code>--layout object-id</code> will instead produce a flat list of files named by their associated Object ID.</p>
        <p>
          The file system implementation's performance is optimized for serial reads. Frequent random access patterns will lead to very poor performance.
          Under the covers, each random seek requires a new HTTP connection to S3 with the appropriate <code>Range</code> header set which is an expensive operation.
          For this reason, it is only recommended for streaming analysis (e.g. <code>samtools view</code> like functionality).
        </p>
        <h4>Mount All Files</h4>
        <p>To mount all available files locally, issue the following:</p>
        <pre class="language-shell"><code class=" language-shell"># Create the mount point
mkdir /mnt/icgc

# Mount
bin/icgc-storage-client mount --mount-point /mnt/icgc</code></pre>
        <p>
          To speed up subsequent mounts, one can specify the <code>--cache-metadata</code> flag above which will locally store an index of the file system.
        </p>
        <p>
        Once mounted, you can use standard analysis tools against files found under the mount point:
        </p>

        <pre class="language-shell"><code class=" language-shell"># Slice
samtools view /mnt/icgc/fff75930-0f8c-4c99-9b48-732e7ed4c625/443a7a6ab964e41c011cc9a303bc086c.bam 1:10000-20000</code></pre>

        <h4>Mount Only Manifest Entries</h4>
        <p>To filter the mount to only include the files specified in a Manifest, issue the following:</p>

        <pre class="language-shell"><code class=" language-shell"># Create the mount point
mkdir /mnt/icgc

# Mount
bin/icgc-storage-client mount --mount-point /mnt/icgc --manfiest <span class="token operator">&lt;</span>manifest<span class="token operator">&gt;</span></code></pre>

        <p>See the <code>manifest</code> command for more details on how to specify a Manifest.</p>

        <h4>Mount in Docker</h4>

        <p>To avoid having to install the FUSE and Java dependencies when working with the <code>mount</code> command, it is very convenient to mount from within a Docker container. This is also useful for creating a custom image for analysis that derives from the one published by ICGC. First, ensure that Docker and the Storage Client image is installed. See the <a data-scrollto href="#install">Installation</a> section for details.</p>

        <p>Next, export the access token generated from the portal:</p>

        <pre class="language-shell"><code class=" language-shell"># Export access token
export ACCESSTOKEN=&lt;accessToken&gt;</code></pre>

        <p>And then mount the file system inside the container against the empty <code>/mnt</code> directory:</p>

        <pre class="language-shell"><code class=" language-shell"># Alias for ease of use
alias icgc-storage-client="docker run -it --rm -e ACCESSTOKEN --privileged icgc/icgc-storage-client bin/icgc-storage-client"</code></pre>
        <pre class="language-shell"><code class=" language-shell"># Mount the file system in the container
icgc-storage-client mount --mount-point /mnt</code></pre>

        <p>Note that the <code>--privileged</code> Docker option is required for FUSE in order to access the host's <code>/dev/fuse</code> device.</p>

        <p>In another terminal, you can access the newly mounted file system:</p>

<pre class="language-shell"><code class=" language-shell"># List all files recursively
docker exec -it $(docker ps -lq) find /mnt</code></pre>

        <p>To perform analysis within the container:</p>

<pre class="language-shell"><code class=" language-shell"># Open a shell in the previously created container
docker exec -it $(docker ps -lq) bash

# Install samtools
apt-get install samtools

# Slice
samtools view /mnt/fff75930-0f8c-4c99-9b48-732e7ed4c625/443a7a6ab964e41c011cc9a303bc086c.bam 1:10000-20000</code></pre>

        <p>
          Due to a limitation of Docker it is not possible to access a FUSE mounted file system from the host operating system.
          Please see <a href="https://github.com/docker/docker/issues/10088" target="_blank"><i class="icon-external-link"></i>here</a> for more details.
        </p>
      </section>

      <section id="faq">
         <h2>FAQs</h2>

         <h5>Where can I find the Bundle ID associated with an Object ID?</h5>

         <p>Currently the only way to retrieve the Bundle ID of an Object ID is by viewing the file entity page in the Data Portal. Navigate to the Data Repository browser and enter the Object ID in the "File" filter and click on the resulting record.</p>

         <h5>Where are detailed Storage Client logs stored?</h5>

         <p>The Storage Client log file is stored at <code>logs/client.log</code></p>

         <h5>How long will pre-signed URLs remain valid?</h5>

         <p>Pre-signed URLs are valid for 1 day from the time they are issued. For security purposes, a URL issued to one user must not be used by another and must be kept private.</p>

         <h5>Does the client maintain state?</h5>

         <p>Yes, the client maintains state in the working directory in a hidden file <code>.<span class="token operator">&lt;</span>Object ID<span class="token operator">&gt;</span>/meta</code>. This file includes cached pre-signed URLS.
          If your downloads fail unexpectedly, then try deleting this directory to purge pre-signed URLs that may have expired. Also, when using the
          <code>mount</code> command with the <code>--cache-metadata</code> option, <code>.entities.cache</code> and <code>.objects.cache</code> are stored in the current working directory.
         </p>

         <h5>Why do I get a security exception when I try to download an object?</h5>

         <p>If you are targeting the AWS cloud, ensure that you are running within the <code>us-east-1</code> <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-regions-availability-zones" target="_blank"><i class="icon-external-link"></i>region</a>. If you are targeting Collaboratory, make sure you are inside the OpenStack environment.</p>

         <h5>I can&rsquo;t use the result of a <code>url</code> command with <code>samtools</code>:</h5>

         <p>
           <code>samtools</code> doesn&rsquo;t support the HTTPS
            protocol<span style="color: rgb(160, 58, 58);">*</span>, which is required by ICGC to access S3-stored data files.
            Use the client <code>view</code> command to pipe data to samtools, download the desired files locally, or use the mount command to create a FUSE mount of the ICGC data files.
         </p>
         <p>
            <span style="color: rgb(160, 58, 58);">*</span> <strong>Update</strong>:
            As of commit <a href="https://github.com/samtools/htslib/commit/fe1f08a3a80b8a5a17fa56b3fc1808ab2ac25d63" target="_blank"><i class="icon-external-link"></i>fe1f08a</a>
            <code>samtools</code> now supports file access over HTTPS and Amazon S3.
         </p>

         <h5>How do I report a bug in the software?</h5>

         <p>Please contact <a href="mailto:dcc-support@icgc.org"><i class="icon-mail"></i>dcc-support@icgc.org</a> and include the version of the software in the body of the message (<code>bin/icgc-storage-client --version</code>). </p>
      </section>
      <section id="terms">
         <h2>Terms</h2>

         <p>Related terms and their defintions are given below:</p>

         <table class="guide-terms table table-info" style="font-size: 1.1rem">
            <thead>
               <tr>
                  <th>Term</th>
                  <th>Meaning</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><em>Access Token</em></td>
                  <td>An authorization mechanism created by the <em>Data Portal</em> to access data.</td>
               </tr>
               <tr>
                  <td><em>Bundle ID</em></td>
                  <td>An identifier that refers to a submission bundle of related files. Typically the files produced by analysis workflows are packaged as a single unit. However, when a bundle is imported into a cloud repository each file in the bundle is given its own Object ID.</td>
               </tr>
               <tr>
                  <td><em>Compute Instance</em></td>
                  <td>A user virtual machine operating in a cloud environment.</td>
               </tr>
               <tr>
                  <td><em>DACO</em></td>
                  <td>The Data Access Compliance Office which handles requests from researchers for access to controlled data from the ICGC.</td>
               </tr>
               <tr>
                  <td><em>DACO Cloud Access</em></td>
                  <td>DACO access with supplemental approved Cloud Access status.</td>
               </tr>
               <tr>
                  <td><em>DCC</em></td>
                  <td>The ICGC Data Coordination Center (<a href="https://icgc.org/icgc/goals-structure-policies-guidelines/coordination" target="_blank"><i class="icon-external-link"></i>DCC</a>) performs quality assessment, curation and data releases and also manages the data flow from projects and centers to the central ICGC database and public repositories.</td>
               </tr>
               <tr>
                  <td><em>Data Portal</em></td>
                  <td>The ICGC data portal located at <a href="https://dcc.icgc.org">https://dcc.icgc.org</a>.</td>
               </tr>
               <tr>
                  <td><em>FUSE</em></td>
                  <td><a href="https://en.wikipedia.org/wiki/Filesystem_in_Userspace" target="_blank"><i class="icon-external-link"></i>Filesystem in Userspace</a> is an operating system mechanism for Unix-like computer operating systems that
                  lets non-privileged users create their own file systems without editing kernel code.</td>
               </tr>
               <tr>
                  <td><em>Manifest</em></td>
                  <td>A file used as input to the Storage Client to describe and identify files to be downloaded.</td>
               </tr>
               <tr>
                  <td><em>Object ID</em></td>
                  <td>The unique identifier of an object expressed as a UUID. In the command line interface this is refered to as <code>--object-id</code>.</td>
               </tr>
               <tr>
                  <td><em>OpenStack</em></td>
                  <td>OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter, all managed through a dashboard that gives administrators control while empowering their users to provision resources through a web interface.</td>
               </tr>
               <tr>
                  <td><em>Scope</em></td>
                  <td>A user permission or authorization to access a resource.</td>
               </tr>
               <tr>
                  <td><em>Storage Client</em></td>
                  <td>Sofware provided by ICGC required to download data from AWS S3.</td>
               </tr>
               <tr>
                  <td><em>S3</em></td>
                  <td><a href="https://aws.amazon.com/s3/" target="_blank"><i class="icon-external-link"></i>Amazon Simple Storage Service</a>, the physical store of the ICGC AWS data.</td>
               </tr>
               <tr>
                  <td><em>Token Manager</em></td>
                  <td>Section of the portal used to manage Access Tokens.</td>
               </tr>
            </tbody>
         </table>
      </section>
   </article>
</div>
