<div class="og-grid-align">
  <h3>
    <translate>OncoGrid</translate>
    <span style="font-size:1rem" class="pull-right">
      <share-button></share-button>
    </span>
  </h3>    
</div>
<div data-ng-if="!item || item.state === 'ANALYZING'">
  <h1 class="text-center"><i class="icon-spinner icon-spin" style="font-size:5rem"></i></h1>
</div>
<div data-ng-if="item && item.state !== 'ANALYZING'">
  <div>
    <div class="wide og-grid-align">
      <div><translate>Your selected sets</translate></div>
      <table class="table">
        <thead>
          <tr>
            <th><translate>Type</translate></th>
            <th><translate>Set</translate></th>
            <th class="text-right"><translate># Items</translate></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><translate>Donor</translate></td>
            <td>{{donorSetName || item.donorSetName}}</td>
            <td class="text-right"><a href="{{donorLink}}">{{item.donorCount | number}}</a></td>
            <td style="font-size:1.25rem;min-width:11rem;">
              <span class="t_tools__tool">
                <i class="icon-file" data-tooltip="{{'Export as TSV' | translate}}" data-ng-click="exportSet(item.donorSet)"></i>
              </span>
              <span class="t_tools__tool" data-ng-if="ICGC_SETTINGS.downloadEnabled">
                <i data-tooltip="{{'Download Donor Data' | translate}}" class="icon-download" data-ng-click="OncoCtrl.downloadDonorData(item.donorSet)"></i>
              </span>
              <a class="t_tools__tool"
                data-tooltip="{{'View in Data Repositores' | translate}}" href="{{repoLink}}">
                <i class="icon-download-cloud"></i>
              </a>
              <span data-tooltip="{{'Share Saved Set' | translate}}">
                <share-icon data-custom-popup-disclaimer="" data-share-params="donorShare" class="t_tools__tool"></share-icon>
              </span>
            </td>
          </tr>
          <tr>
            <td><translate>Gene</translate></td>
            <td>{{geneSetName || item.geneSetName}}</td>
            <td class="text-right"><a href="{{geneLink}}">{{item.geneCount | number}}</a></td>
            <td style="font-size:1.25rem;">
              <span class="t_tools__tool">
                <i class="icon-file" data-tooltip="{{'Export as TSV' | translate}}" data-ng-click="exportSet(item.geneSet)"></i>
              </span>
              <span data-tooltip="{{'Share Saved Set' | translate}}">
                <share-icon data-custom-popup-disclaimer="" data-share-params="geneShare" class="t_tools__tool"></share-icon>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="wide og-grid-align">
      <span class="action-toolbar">
        <translate>Resulting Number of High Impact Mutation Occurrences:</translate> <a href="{{obsLink}}">{{obsCount}}</a>
      </span>
      <span class="action-toolbar pull-right">
        <i class="icon-chart"></i><a href="{{gvLink}}"><translate>Genome Viewer</translate></a>
      </span>
    </div>
    
    <div class="clearfix"></div>
    
    <h1 id="oncogrid-spinner" class="text-center oncogrid-spinner">
      <i class="icon-spinner icon-spin" style="font-size:5rem"></i>
    </h1>

    <div id="oncogrid-container">
      <div id="oncogrid-controls" class="og-grid-align" style="margin-top: 10px; min-height: 70px;">
        <div class="tool-buttons" style="float:left">
          <table>
            <tr>
              <td>
                <span class="btn-group">
                  <button id="reload-button" 
                    data-tooltip="{{'Reload grid' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.reloadGrid()">
                    <i class="icon-undo"></i>
                  </button>
                  <button id="fullscreen-button" 
                    data-tooltip="{{'Fullscreen' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.requestFullScreen()">
                    <i id="og-fullscreen-button" class="icon-resize-full"></i>
                  </button>
                  <button id="cluster-button" 
                    data-tooltip="{{'Cluster data' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.clusterData()">
                    <i class="icon-sort-alt-down"></i>
                  </button>
                  <button 
                    id="heat-button" 
                    data-tooltip="{{'Toggle heatmap view' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.heatMap()">
                    <i class="icon-fire"></i>
                  </button>
                  <button id="grid-button" 
                    data-tooltip="{{'Toggle grid lines' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.gridLines()">
                    <i class="icon-grid"></i>
                  </button>
                  <button id="crosshair-button" 
                    data-tooltip="{{'Toggle crosshair' | translate}}" 
                    class="btn btn-default btn-onco" 
                    data-ng-click="OncoCtrl.crosshair()">
                    <i class="icon-target"></i>
                  </button>
                </span>
              </td>
            </tr>

            <tr style="height: 40px;">
              <td id="og-crosshair-message" 
                colspan="6" 
                style="display:none;">
                <translate>Click and drag to select a region on the OncoGrid to zoom in.</translate>
              </td>
            </tr>
          </table>
        </div>

        <div id="og-legend" class="og-legend">
          <table id="og-variant-legend" class="onco-table">
            <tr>
              <td>
                <div>
                  <div class="onco-legend-square" style="background:#ff9b6c"></div>
                  <small><translate>missense variant</translate></small>
                </div>

                <div>
                  <div class="onco-legend-square" style="background:#57dba4"></div>
                  <small><translate>frameshift variant</translate></small>
                </div>
              </td>
              
              <td>
                <div>
                  <div class="onco-legend-square" style="background:#ff2323"></div>
                  <small><translate>start lost</translate></small>
                </div>

                <div>
                  <div class="onco-legend-square" style="background:#d3ec00"></div>
                  <small><translate>stop lost</translate></small>
                </div>
              </td>

              <td>
                <div>
                  <div class="onco-legend-square" style="background:#5abaff"></div>
                  <small><translate>initiator codon variant</translate></small>
                </div>

                <div>
                  <div class="onco-legend-square" style="background:#af57db"></div>
                  <small><translate>stop gained</translate></small>
                </div>
              </td>
            </tr>
          </table>

          <table id="og-heatmap-legend" class="onco-table" style="display: none;">
            <tr>
              <td><translate>Less</translate></td>
              <td>
                <div class="onco-legend-square" style="background:#D33682; opacity: 0.25;"></div>
                <div class="onco-legend-square" style="background:#D33682; opacity: 0.50;"></div>
                <div class="onco-legend-square" style="background:#D33682; opacity: 0.75;"></div>
                <div class="onco-legend-square" style="background:#D33682; opacity: 1;"></div>
              </td>
              <td><translate>More Mutations</translate></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="oncogrid-div" class="og-pointer-mode"></div>
      <div id="oncogrid-no-data" class="alert-error" style="display:none;">
        <translate>No result found.</translate> <br>
        <translate>Please note that the analysis is filtering on high impact mutations only.</translate> <br>
        <translate>Please change your donor or gene set and run the analysis again.</translate>
      </div>
    </div>
  </div>
  <div class="oncogrid-suggestions">
    <a class="cta" href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback">
      <h4 class="cta-title"><translate>Have Feedback?</translate></h4>
      <div class="cta-detail">
        <translate>Do you have feedback and want to help us improve this feature?</translate>
        <br/>
        <translate>Click here to let us know.</translate>
      </div>
    </a>
  </div>
</div>