<div class="modal-content token-manager">
   <div class="modal-header clearfix">
      <h3 class="pull-left"><i class="icon-key"></i><translate>Token Manager</translate></h3>
   </div>
   <div class="modal-body light">
      <h4><translate>Overview</translate> </h4>
      <p>
        <translate has-markup>
          Personal access tokens function like ordinary OAuth access tokens, similar to those offered by <a href="https://github.com/settings/tokens" target="_blank"><i class="icon-external-link"></i>GitHub.com</a>.
        </translate>
        <translate>They can be used instead of a password to access ICGC resources.</translate>
        <translate has-markup>
          Tokens allow you to associate <em>scopes</em> which limit access to that needed for the target environment.
        </translate>
        <translate>
          From this page, you can create your own personal API tokens for use in scripts and on the command line.
        </translate>
        <translate has-markup>
          This feature is required when using the <a href="http://docs.icgc.org/software/binaries/#storage-client" target="_blank">Storage Client</a> or programatically <a href="http://docs.icgc.org/portal/api" target="_blank"><i class="icon-external-link"></i>downloading controlled access data</a> from the Data Portal.
        </translate>
      </p>
      <div data-ng-if="activeTokens && activeTokens.length > 0" class="alert-w-icon alert-info" style="margin: 0rem auto 1.5rem auto;">
         <div class="alert-icon-container">
            <i class="icon-lock"></i>
         </div>
         <p class="alert-icon-body">
            <translate has-markup>
              Please note that access tokens are associated with your user credentials so you must <span style="text-decoration: underline">never</span> share your personal tokens with anyone.
            </translate>
         </p>
      </div>
      <h4><translate>Generate new tokens</translate></h4>
      <p>
        <translate>
          Select the desired set of scopes below and click "Generate". You may also enter a description to remind yourself what the token is for.
        </translate>
        <translate>
          Your new token will be shown in the next section. Note that there is currently a limit of one token per unique set of scopes.
        </translate>
      </p>
      <div data-ng-if="!cloudAccess" class="alert alert-info" role="alert">
        <translate has-markup>
          To generate tokens for cloud based environments you will require <a href="http://docs.icgc.org/portal/access"><i class="icon-external-link"></i>DACO cloud access</a>.
        </translate>
      </div>

      <table class="token-form">
         <tr>
            <td style="width: 70%">
               <div><translate>Select Required Scopes</translate></div>
               <div data-ng-if="!availableScopes" class="loading">
                 <i class="icon-spinner icon-spin"></i> 
                 <translate>Loading available scopes...</translate></div>
               <ul data-ng-if="availableScopes" class="token-scopes">
                  <li data-ng-repeat="scope in availableScopes">
                     <span data-ng-click="toggleScope(scope)">
                        <i class="{{ isActive(scope) ===true? 'icon-check':'icon-check-empty'}}"></i>
                        <span class="badge token-badge" style="font-weight: normal">{{scope.name}}</span>
                        <span class="token-description">
                           {{scope.description}}
                        </span>
                     </span>
                  </li>
               </ul>
            </td>
            <td>
               <div><translate>Enter a Description</translate></div>
               <textarea rows="2" 
                data-ng-model="tokenDescription" maxlength="200" 
                placeholder="{{'What is this token for?' | translate}}"></textarea>
            </td>
         </tr>
         <tr>
            <td colspan="2"><button class="t_button" data-ng-click="createToken()" data-ng-disabled="selected.length === 0"><translate>Generate</translate></button></td>
         </tr>
      </table>

      <h4><translate>Manage Active Tokens</translate></h4>
      <p>
        <translate has-markup>
          The following are your <strong>{{activeTokens.length}}</strong> active token(s).
        </translate>
        <translate>
          You may revoke a token if it is no longer needed or you believe it has been compromised.
        </translate>
        <div ng-if="errorCreatingToken" class="alert alert-error">
          <translate>There was an error creating the token. Please contact an administrator.</translate>
        </div>
      </p>
      <div>
         <div data-ng-if="!activeTokens" class="loading"><i class="icon-spinner icon-spin"></i> 
           <translate>Loading tokens...</translate>
         </div>
         <table data-ng-if="activeTokens" class="table table-info">
            <thead>
               <th><translate>Token Id</translate></th>
               <th><translate>Description</translate></th>
               <th><translate>Scopes</translate></th>
               <th><translate>Expires in</translate></th>
               <th>&nbsp;</th>
            </thead>
            <tbody>
               <tr data-ng-if="processing">
                  <td colspan="5" class="text-center"><i class="icon-spin icon-spinner" style="font-size:3rem"></i></td>
               </tr>
               <tr data-ng-if="activeTokens.length === 0 && processing===false">
                  <td colspan="5"><translate>No active tokens</translate></td>
               </tr>
               <tr data-ng-repeat="token in activeTokens | orderBy:'expiresIn':true" data-ng-if="processing===false">
                  <td class="token-cell">
                     <input type="text" class="token-id" readonly select-on-click value="{{token.id}}">

                     <span
                        class="clip-icon"
                        data-copy-to-clip
                        data-copy-data="token.id"
                        data-show-copy-tips="true"
                        data-prompt-on-copy="false"
                        data-on-copy-success-message="Token copied!"
                        data-on-copy-focus-on="input[type='text']">
                        <span class="icon-clippy"></span>
                     </span>
                  </td>
                  <td style="max-width:20rem">{{token.description}}</td>
                  <td ng-class="{
                    'alert-error': token.expiresIn < 0
                  }">
                     <span data-ng-repeat="scope in token.scope" class="badge token-badge" style="font-weight: normal">{{scope}}</span>
                  </td>
                  <td>{{ token.expiresIn < 0 ? 'Expired' : ((token.expiresIn / (60*60*24)) | number:2) }} <translate ng-if="token.expiresIn > 0">days</translate></td>
                  <td style="text-align: center">
                     <span class="t_tools__tool">
                        <i class="icon-trash" data-ng-click="deleteToken(token.id)"></i>
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="modal-footer">
      <button class="t_button" data-ng-click="cancel()"><translate>Close</translate></button>
   </div>
</div>
