<div class="modal-content token-manager">
   <div class="modal-header clearfix">
      <h3 class="pull-left"><i class="icon-key"></i>Token Manager</h3>
   </div>
   <div class="modal-body light">
      <h4>Overview </h4>
      <p>
         Personal access tokens function like ordinary OAuth access tokens, similar to those offered by <a href="https://github.com/settings/tokens" target="_blank"><i class="icon-external-link"></i>GitHub.com</a>. They can be used instead of a password to access ICGC resources. Tokens allow you to associate <em>scopes</em> which limit access to that needed for the target environment.
         From this page, you can create your own personal API tokens for use in scripts and on the command line. This feature is required when using the <a href="/software" target="_blank">Storage Client</a> or programatically <a href="http://docs.icgc.org/portal/api" target="_blank"><i class="icon-external-link"></i>downloading controlled access data</a> from the Data Portal.
      </p>
      <div data-ng-if="activeTokens && activeTokens.length > 0" class="alert-w-icon alert-info" style="margin: 0rem auto 1.5rem auto;">
         <div class="alert-icon-container">
            <i class="icon-lock"></i>
         </div>
         <p class="alert-icon-body">
            Please note that access tokens are associated with your user credentials so you must <span style="text-decoration: underline">never</span> share your personal tokens with anyone.
         </p>
      </div>
      <h4>Generate new tokens</h4>
      <p>
         Select the desired set of scopes below and click "Generate". You may also enter a description to remind yourself what the token is for. Your new token will be shown in the next section. Note that there is currently a limit of one token per unique set of scopes.
      </p>
      <div data-ng-if="!cloudAccess" class="alert alert-info" role="alert">To generate tokens for cloud based environments you will require <a href="http://docs.icgc.org/portal/access"><i class="icon-external-link"></i>DACO cloud access</a>.</div>

      <table class="token-form">
         <tr>
            <td style="width: 70%">
               <div>Select Required Scopes</div>
               <div data-ng-if="!availableScopes" class="loading"><i class="icon-spinner icon-spin"></i> Loading available scopes...</div>
               <ul data-ng-if="availableScopes" class="token-scopes">
                  <li data-ng-repeat="scope in availableScopes">
                     <span data-ng-click="toggleScope(scope)">
                        <i class="{{ isActive(scope) ===true? 'icon-check':'icon-check-empty'}}"></i>
                        <span class="badge token-badge" style="font-weight: normal">{{scope.name}}</span>
                        <span class="token-description">
                           {{scope.description}}
                        </span>
                     </span>
                  </li>
               </ul>
            </td>
            <td>
               <div>Enter a Description</div>
               <textarea rows="2" data-ng-model="tokenDescription" maxlength="200" placeholder="What is this token for?"></textarea>
            </td>
         </tr>
         <tr>
            <td colspan="2"><button class="t_button" data-ng-click="createToken()" data-ng-disabled="selected.length === 0">Generate</button></td>
         </tr>
      </table>

      <h4>Manage Active Tokens</h4>
      <p>
         The following are your <strong>{{activeTokens.length}}</strong> active token(s). You may revoke a token if it is no longer needed or you believe it has been compromised.
      </p>
      <div>
         <div data-ng-if="!activeTokens" class="loading"><i class="icon-spinner icon-spin"></i> Loading tokens...</div>
         <table data-ng-if="activeTokens" class="table table-info">
            <thead>
               <th>Token Id</th>
               <th>Description</th>
               <th>Scopes</th>
               <th>Expires in</th>
               <th>&nbsp;</th>
            </thead>
            <tbody>
               <tr data-ng-if="processing">
                  <td colspan="5" class="text-center"><i class="icon-spin icon-spinner" style="font-size:3rem"></i></td>
               </tr>
               <tr data-ng-if="activeTokens.length === 0 && processing===false">
                  <td colspan="5">No active tokens</td>
               </tr>
               <tr data-ng-repeat="token in activeTokens | orderBy:'expiresIn':true" data-ng-if="processing===false">
                  <td><input type="text" class="token-id" readonly select-on-click value="{{token.id}}"></td>
                  <td style="max-width:20rem">{{token.description}}</td>
                  <td>
                     <span data-ng-repeat="scope in token.scope" class="badge token-badge" style="font-weight: normal">{{scope}}</span>
                  </td>
                  <td>{{ (token.expiresIn / (60*60*24)) | number:2 }} days</td>
                  <td style="text-align: center">
                     <span class="t_tools__tool">
                        <i class="icon-trash" data-ng-click="deleteToken(token.id)"></i>
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="modal-footer">
      <button class="t_button" data-ng-click="cancel()">Close</button>
   </div>
</div>
