<div data-ng-init="repoContextID = repositoryCtrl.getRepoContextID()">
    <h1 class="repo-header" data-ng-if="repoContextID == 'aws-virginia'">
        <img src="/scripts/repositories/images/home/aws_logo.svg" width="260" class="logo" alt="ICGC AWS Logo" />
        <span>
            <translate>ICGC on the Amazon Cloud</translate>
        </span>
    </h1>
    <h1 class="repo-header" data-ng-if="repoContextID == 'collaboratory'">
        <img src="/scripts/repositories/images/home/collab_logo.png" class="logo" alt="Collaboratory Logo" />
        <span>
        <translate>The Cancer Genome Collaboratory</translate>
        </span>
    </h1>
    <section class="cloud-repository-content">
        <div class="half pull-right" data-ui-view2="dataContent">
             <!-- Bar Chart Status Region -->
            <div data-ng-show="repositoryCtrl.hasSummaryData()" class="bar-chart-container">

                <stacked height="250"
                    data-title="{{'Donor Distribution by Primary Site' | translate}}"
                    data-subtitle="{{ '[[projectCount]] projects and [[siteCount]] primary sites'| translate | subDelimiters:{projectCount: repositoryCtrl.getRepoSummaryData().projectCount, siteCount: repositoryCtrl.getRepoSummaryData().primarySiteCount} }}"
                    data-y-label="{{'Donors' | translate}}"
                    data-alternate-brightness="true"
                    data-items="repositoryCtrl.getPrimarySites()"
                    data-is-loading="false"
                    data-current-page="cloud"
                    data-repo-name="{{repositoryCtrl.getRepoName()}}">
                </stacked>
            
               <section class="well icons-container">
                    <div class="third text-center">
                        <i class="icon-team"></i><strong data-ng-bind="repositoryCtrl.getRepoSummaryData().donorCount | number"></strong> <translate>Donors</translate>
                    </div>
                    <div class="third text-center">
                        <i class="icon-file"></i><strong data-ng-bind="repositoryCtrl.getRepoSummaryData().fileCount | number"></strong> <translate>Files</translate>
                    </div>
                    <div class="third omega text-center">
                        <i class="icon-database"></i><strong data-ng-bind="repositoryCtrl.getRepoSummaryData().totalFileSize | bytes"></strong>
                    </div>
                </section>
            
                <table class="table table-info">
                    <thead>
                        <th><translate>Data Type</translate></th>
                        <th><translate># Donors</translate></th>
                        <th><translate># Files</translate></th>
                        <th><translate>Format</translate></th>
                        <th><translate>Size</translate></th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="type in repositoryCtrl.getRepoDataTypes()">
                            <td data-ng-bind="type.uiName"></td>
                            <td class="text-right" data-ng-bind="type.donorCount | number"></td>
                            <td class="text-right">
                                <a href="/repositories?filters={{type.filters}}" data-ng-bind="type.fileCount | number"></a>
                            </td>
                            <td data-ng-bind="type.fileFormat.join(', ')"></td>
                            <td class="text-right" data-ng-bind="type.fileSize | bytes"></td>
                        </tr>
                    </tbody>
                </table>
            
                <span>
                    <translate>Available data as of</translate> <a href="/repositories?filters={{repositoryCtrl.getFilterQueryStr()}}" data-ng-bind="repositoryCtrl.getRepoCreationDate() | date"></a>
                </span>
            </div>
            <!-- -->     
        </div>
        <div data-ui-view="bodyContent">
        </div>
    </section>
</div>