<div class="modal-content">
    <!-- header -->
    <div class="modal-header clearfix">
        <h3 class="pull-left"><translate>Save {{params.setType | readable }} Set</translate></h3>

        <button class="pull-right t_button" data-ng-click="cancel()"><i class="icon-cancel"></i>
        </button>
    </div>

    <!-- body -->
    <div class="modal-body">
        <div data-ng-if="params.setLimit">
            <div><translate>Save top:</translate> </div>
            <input type="text" maxlength="9" size="9"
                data-select-on-click
                integer-validator
                data-ng-model="params.setSize" data-ng-change="validateInput()">
            <br>
            <small>
                <translate>You can save up to the top {{params.setSizeLimit | number}} {{params.setType}}s</translate>
            </small>
        </div>


        <div>
            <div><translate>Name</translate>:</div>
            <input type="text" data-ng-model="params.setName" maxlength="64" data-select-on-click data-ng-change="validateInput()" style="width:100%;" autofocus></input>
        </div>

    </div>

    <!-- footer -->
    <div class="modal-footer">
        <button class="t_button" data-ng-click="cancel()"><translate>Cancel</translate></button>
        <button class="t_button" data-ng-disabled="!isValid" data-ng-click="submitNewExternalSet();">
            <translate>Save</translate>
        </button>
    </div>
</div>
