<div id="genomic" class="gv_full_screen">
  <h1><i class="t_badge t_badge_icon"><i class="icon-chart"></i></i><translate>Genome Viewer</translate></h1>
  <aside class="t_sidebar">
      <div class="t_tabs">
          <div class="t_tabs__tab t_tabs__tab__gene" ng-click="activateTab('genes')"
              ng-class="{active: tab == 'genes', inactive: tab!='genes'}">
              <span ng-if="genes.state == 'syncing'"><i class="icon-spinner icon-spin"></i></span>
              <span ng-if="genes.state != 'syncing'"><translate>Genes</translate></span>
          </div>
          <div class="t_tabs__tab t_tabs__tab__mutation" ng-click="activateTab('mutations')"
              ng-class="{active: tab == 'mutations', inactive: tab!='mutations'}">
              <span ng-if="mutations.state == 'syncing'"><i class="icon-spinner icon-spin"></i></span>
              <span ng-if="mutations.state != 'syncing'"><translate>Mutations</translate></span>
          </div>
      </div>
      <div class="t_facets_container">
          <div class='t_tab_pane' ng-class="{active: tab == 'genes'}">
              <section>
                  <input placeholder="{{'Filter genes' | translate}}" ng-model="gQuery" class="t_input__block">
                  <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-remove"
                    style="top:1.9rem"
                    ng-click="gQuery=''" ng-show='gQuery'></i>
              </section>
              <div style="max-height: 76rem; overflow-y: scroll;padding-bottom: 1rem">
                  <ul class="t_suggest_flyout__hits">
                      <li ng-click="setGeneActive(gene.id, {chromosome:gene.chromosome,start:gene.start,end:gene.end})"
                          class="t_suggest_flyout__hits__hit"
                          ng-repeat="gene in genes.data.hits | filter:gQuery"
                          ng-class="{selected: gene.active}">
                          <span style="font-size: 1.2rem" href="/genes/{{ gene.id }}">{{ gene.symbol }} <i ng-if="gene.active" class="icon-caret-right"></i></span>
                          <ul>
                              <li style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{ gene.name }}
                              </li>
                              <li style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                                  <small>chr{{ gene.chromosome }}:{{ gene.start }}-{{ gene.end }}</small>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  <div ng-if='genes.isBusy' style="text-align: center; padding-top: 1rem">
                      <i class="icon-spin icon-spinner icon-2x"></i>
                  </div>
                  <div ng-if="!genes.isBusy && !genes.isFinished" class="results_show_more_bar" type="button"
                      ng-click="nextGenes()">
                      <i class="icon-double-angle-down"></i> <translate>Show more results</translate>
                  </div>
              </div>
              <section data-ng-if="genes.data.hits.length">
                  <translate has-markup>Showing <strong>{{ genes.data.hits.length | number }}</strong> of <strong>{{ genes.data.pagination.total
                  | number }}</strong></translate>
              </section>
          </div>
          <div class='t_tab_pane' ng-class="{active: tab == 'mutations'}">
              <section>
                  <input placeholder="{{'Filter mutations' | translate}}" ng-model="mQuery" class="t_input__block">
                  <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-remove"
                    style="top:1.9rem"
                    ng-click="mQuery=''" ng-show='mQuery'></i>
              </section>
              <div style="max-height: 76rem; overflow-y: scroll; padding-bottom: 1rem">
                  <ul class="t_suggest_flyout__hits">
                      <li class="t_suggest_flyout__hits__hit"
                          ng-click="setMutationActive(mutation.id, {chromosome:mutation.chromosome,start:mutation.start,end:mutation.start})"
                          ng-repeat="mutation in mutations.data.hits | filter:mQuery"
                          ng-class="{selected: mutation.active}">
                          <span style="font-size: 1.2rem" href="/mutations/{{ mutation.id }}">{{ mutation.id }} <i ng-if="mutation.active" class="icon-caret-right"></i></span>
                          <ul>
                              <li style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                                  <small>chr{{ mutation.chromosome }}g:{{ mutation.start }}{{
                                      mutation.mutation}}
                                  </small>
                              </li>
                          </ul>
                      </li>
                  </ul>
                  <div ng-if='mutations.isBusy' style="text-align: center; padding-top: 1rem">
                      <i class="icon-spin icon-spinner icon-2x"></i>
                  </div>
                  <div ng-if="!mutations.isBusy && !mutations.isFinished" class="results_show_more_bar" type="button"
                      ng-click="nextMutations()">
                      <i class="icon-double-angle-down"></i> <translate>Show more results</translate>
                  </div>
              </div>
              <section data-ng-if="mutations.data.hits.length">
                  <translate has-markup>Showing <strong>{{ mutations.data.hits.length | number }}</strong> of <strong>{{
                  mutations.data.pagination.total | number }}</strong></translate>
              </section>
          </div>
      </div>
  </aside>
  <article style="margin-right:1px;">
      <section data-ng-hide="isValidChromosome">
      <h3 style="color:#666666"><translate>No Genomic Context available</translate></h3>
      </section>
  
      <div style="padding: 0.25rem 1rem; font-size:1.2rem" data-ng-if="filters"><translate>Query</translate>: <a href="/search/g?filters={{filtersStr}}"><query-display data-filters="filters"></query-display></a></div>
  
      <section data-ng-show="isValidChromosome" style="padding: 0.5rem 1rem" class="t_gv__navbar">
        <span data-gv-header></span>
        <span class="pull-right gv-navbar-zoom"></span>
      </section>
      <div data-ng-show="isValidChromosome" data-genome-viewer></div>
  </article>
</div>