<h1><span class="t_badge t_badge_icon"><span class="icon-help"></span></span>FAQ</h1>
<article class="full">
    <section>
    <h3>What is the ICGC DCC Portal?</h3>

    <h3>What data types are available in the DCC Portal?</h3>

    <h3>What studies are available in the DCC Portal?</h3>

    <h3>What data types are available for bulk download in the DCC Portal?</h3>

    <h3>Is controlled access data available?</h3>

    <h3>How do I access controlled access data?</h3>

    <h3>How do I submit my project's data to the DCC Portal?</h3>

    <h3>What is the ICGC Project?</h3>

    <h3>How does the ICGC Project differ from other projects like TCGA?</h3>

    <h3>How does the DCC Portal differ from other websites?</h3>

    <h3>How do I cite the portal?</h3>

    <h3>Is the data reannotated in the DCC Portal?</h3>

    <h3>How do I access bulk data through the DCC Portal?</h3>

    <h3>Is there an API for the site?</h3>

    <h3>Do you have tutorials on how to use the site?</h3>

    <h3>What format is data for bulk download available in?</h3>

    <h3>Does the site use a 0- or 1-based coordinate system?</h3>
    </section>
</article>
