<h1><span class="t_badge t_badge_icon"><span class="icon-help"></span></span><translate>FAQ</translate></h1>
<article class="full">
    <section>
    <h3><translate>What is the ICGC DCC Portal?</translate></h3>

    <h3><translate>What data types are available in the DCC Portal?</translate></h3>

    <h3><translate>What studies are available in the DCC Portal?</translate></h3>

    <h3><translate>What data types are available for bulk download in the DCC Portal?</translate></h3>

    <h3><translate>Is controlled access data available?</translate></h3>

    <h3><translate>How do I access controlled access data?</translate></h3>

    <h3><translate>How do I submit my project's data to the DCC Portal?</translate></h3>

    <h3><translate>What is the ICGC Project?</translate></h3>

    <h3><translate>How does the ICGC Project differ from other projects like TCGA?</translate></h3>

    <h3><translate>How does the DCC Portal differ from other websites?</translate></h3>

    <h3><translate>How do I cite the portal?</translate></h3>

    <h3><translate>Is the data reannotated in the DCC Portal?</translate></h3>

    <h3><translate>How do I access bulk data through the DCC Portal?</translate></h3>

    <h3><translate>Is there an API for the site?</translate></h3>

    <h3><translate>Do you have tutorials on how to use the site?</translate></h3>

    <h3><translate>What format is data for bulk download available in?</translate></h3>

    <h3><translate>Does the site use a 0- or 1-based coordinate system?</translate></h3>
    </section>
</article>
