<h1 data-ui-scrollfix="79" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 0.43em;"><span class="t_badge t_badge_icon"><span class="icon-team"></span></span><translate>The ICGC DCC Team</translate>
</h1>
<article class="full team-content">
    <section style="margin-left: 5em; font-size: 1.2em" >
        <h3 class="team-section-header"><translate>Leader</translate></h3>
        <ul>
            <li>Lincoln Stein, OICR</li>
        </ul>

        <h3 class="team-section-header"><translate>Data Curation</translate></h3>
        <ul>
            <li>Francis Ouellette, <translate>Leader</translate>, OICR</li>
            <li>Hardeep Nahal</li>
            <li>Marc Perry</li>
        </ul>
        <div class="clearfix"></div>

        <h3 class="team-section-header"><translate>Software Engineering</translate></h3>
        <div class="half">
            <ul>
                <li>Vincent Ferretti, <translate>Leader</translate>, OICR</li>
                <li>Dusan Andric</li>
                <li>Phuong-My Do</li>
                <li>Francois Gerthoffert</li>
                <li>Chang Wang</li>
                <li>Michael Moncada</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Vitalii Slobodianyk</li>
                <li>Bob Tiernay</li>
                <li>Douglas Wong</li>
                <li>Linda Xiang</li>
                <li>Junjun Zhang</li>
                <li>Sid Joshi</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header"><translate>Research IT</translate></h3>
        <div class="half">
            <ul>
                <li>David Sutton, <translate>Leader</translate>, OICR</li>
                <li>Bob Gibson</li>
                <li>David Magda</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Rob Naccarato</li>
                <li>Brian Ott</li>
                <li>Gino Yearwood</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header"><translate>Contributors</translate></h3>
        <ul>
            <li>Ignacio Medina (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Franciso Salavert (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Pablo Cingolani (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Louis Letourneau (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Denis Yuen (SeqWare), OICR</li>
        </ul>

        <h3 class="team-section-header"><translate>Alumni</translate></h3>
        <div class="half">
            <ul>
                <li>Daniel Chang</li>
                <li>Anthony Cros</li>
                <li>Aly Hassan</li>
                <li>Jerry Lam</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Sepehr Mavedati</li>
                <li>Brian O'Connor</li>
                <li>Shane Wilson</li>
                <li>Terry Lin</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header"><translate>Acknowledgements</translate></h3>
        <ul>
            <li>
                <translate>
                    The <a href="http://www.reactome.org/pages/about/reactome-team/" target="_blank">Reactome Team</a>
                </translate>
            </li>
        </ul>
        <ul>
            <li>
                <translate>
                    The <a href="http://iobio.io/" target="_blank">iobio Team</a>
                </translate>
            </li>
        </ul>
        <h3 class="team-section-header"><translate>Credits</translate></h3>
        <ul>
            <li>
                Perfect Score by Evan Shuster from the Noun Project<br>
                Download by Simon Henrotte from the Noun Project<br>
            </li>
        </ul>

    </section>
</article>
