<h1 data-ui-scrollfix="79" style="border-bottom: 1px solid #e6e6e6; padding-bottom: 0.43em;"><span class="t_badge t_badge_icon"><span class="icon-team"></span></span>The ICGC DCC Team
</h1>
<article class="full team-content">
    <section style="margin-left: 5em; font-size: 1.2em" >
        <h3 class="team-section-header">Leader</h3>
        <ul>
            <li>Lincoln Stein, OICR</li>
        </ul>

        <h3 class="team-section-header">Data Curation</h3>
        <ul>
            <li>Francis Ouellette, Leader, OICR</li>
            <li>Hardeep Nahal</li>
            <li>Marc Perry</li>
        </ul>
        <div class="clearfix"></div>

        <h3 class="team-section-header">Software Engineering</h3>
        <div class="half">
            <ul>
                <li>Vincent Ferretti, Leader, OICR</li>
                <li>Dusan Andric</li>
                <li>Phuong-My Do</li>
                <li>Francois Gerthoffert</li>
                <li>Terry Lin</li>
                <li>Michael Moncada</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Vitalii Slobodianyk</li>
                <li>Bob Tiernay</li>
                <li>Douglas Wong</li>
                <li>Linda Xiang</li>
                <li>Junjun Zhang</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header">Research IT</h3>
        <div class="half">
            <ul>
                <li>David Sutton, Leader, OICR</li>
                <li>Bob Gibson</li>
                <li>David Magda</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Rob Naccarato</li>
                <li>Brian Ott</li>
                <li>Gino Yearwood</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header">Contributors</h3>
        <ul>
            <li>Ignacio Medina (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Franciso Salavert (Genome Maps), European Bioinformatics Institute, United Kingdom</li>
            <li>Pablo Cingolani (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Louis Letourneau (SnpEff), McGill University and Genome Quebec Innovation Center, Canada</li>
            <li>Denis Yuen (SeqWare), OICR</li>
        </ul>

        <h3 class="team-section-header">Alumni</h3>
        <div class="half">
            <ul>
                <li>Daniel Chang</li>
                <li>Anthony Cros</li>
                <li>Aly Hassan</li>
                <li>Jerry Lam</li>
            </ul>
        </div>
        <div class="half omega">
            <ul>
                <li>Sepehr Mavedati</li>
                <li>Brian O'Connor</li>
                <li>Shane Wilson</li>
            </ul>
        </div>
        <div class="clearfix"></div>

        <h3 class="team-section-header">Acknowledgements</h3>
        <ul>
            <li>The <a href="http://www.reactome.org/pages/about/reactome-team/" target="_blank">Reactome Team</a></li>
        </ul>
        <ul>
            <li>The <a href="http://iobio.io/" target="_blank">iobio Team</a></li>
        </ul>

    </section>
</article>
