/*** Protein Viewer ***/
.axis-label {
    font-size: 1.5ex;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #666;
    stroke-width: 1px;
}

.axis .tick line {
    stroke: #666;
    stroke-width: 1px;
}

.axis .tick text {
    font-size: 1.2ex;
}

g.domain text {
    font-size: 1.5ex;
    font-weight: bold;
    fill: white;
}

g.marker circle {
    cursor: pointer;
    opacity: 0.75;
}

g.marker path {
   opacity: 0.75;
}

g.marker circle.high {
   fill: #d44;
   stroke: none;
}

g.marker circle.low {
   fill: #4d4;
   stroke: none;
}

g.marker circle.unknown {
   fill: #bbb;
   stroke: none;
}

g.marker rect {
   visibility: hidden;
}

.selected-mutation {
   stroke-width: 2.0;
   stroke: #33A; 
   opacity: 1.0;
   visibility: visible;
}

[class^="mutation-circle"] {
    transform-origin: center;
    transition: transform 0.2s ease;
    &:not(.selected-mutation):hover {
        cursor: pointer;
        transform: scale(1.1);
        opacity: 0.8;
    }
}


.axis .minor {
    stroke-opacity: .5;
}

.axis path {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
}

.proteinstructure .marker {
    stroke: #666;
    stroke-width: 1px;
}

.protein-structure-viewer-diagram {
    height: 300px;
    svg {
        user-select: none;
    }
    .minimap-zoom {
        fill: #{rgba($selection, 0.5)}!important;
    }
}