$copyClipBubbleBG: $tooltipFill;
$borderColour: $tooltipBorder;
$shadowColor: $tooltipShadowColor;
$iconColor: #e9931c;

.copy-to-clip {
  position: relative;
  display: inline-block;

  .icon-clippy {
    color: $iconColor;
  }


 .copy-to-clip-message-container {
   background: $copyClipBubbleBG;
   position: absolute;
   opacity: 0.95;
   color: #000;
   left: 10%;
   top: -3px;
   text-align: center;
   padding: 5px 11px;
   font-weight: 300;
   line-height: 1.6rem;
   font-size: .9rem;
   z-index: 0;
   display: none;
   border: 1px solid $borderColour;
   border-radius: 3px;
   -webkit-filter: drop-shadow(0 1px 3px $shadowColor);
   -moz-box-shadow: 0 1px 3px $shadowColor;
   filter: drop-shadow(0 1px 3px $shadowColor);
   white-space: nowrap;

   &:after {
     border-width: 6px;
   }

   &:before {
     border-width: 7px;
   }
   
   .arrow {
     position: absolute;
     top: 100%;
     left: calc(50% - 8px);
     content: ' ';
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     border-top: 8px solid $borderColour;

     &:before {
       content: ' ';
       position: absolute;
       left: -8px;
       top: -9px;
       border-left: 8px solid transparent;
       border-right: 8px solid transparent;
       border-top: 8px solid $copyClipBubbleBG;
     }
   }
 } 
}