<div class="text-center">

  <div ng-show="! showPlot" class="text-center">
    <span class="graph_title">{{ defaultGraphTitle }}</span>

    <div style="line-height: {{ defaultGraphHeight }}px;">
      <strong><translate>No data found for the selected</translate>
        <ng-pluralize count="selectedProjectCount" when="{'0': 'project', 'one': 'project', 'other': 'projects'}"></ng-pluralize>.
      </strong>
    </div>
  </div>

  <div ng-show="showPlot">
    <div class="canvas"></div>
  </div>

</div>
