<section data-ng-show="DonorCtrl.activeTab === 'clinicalData'" id="clinical">
    <h3>
        <translate>Clinical Data</translate>
        <small class="pull-right" style="font-size: 1.0rem" data-ng-if="DonorCtrl.donor.clinicalXML">
            <a href="{{DonorCtrl.donor.clinicalXML}}" target="_blank">
                <i class="icon-external-link"></i>
                <translate>TCGA Clinical XML</translate>
            </a>
        </small>
    </h3>
    <div class="half">
        <table class="table table-info">
            <tr>
                <th>
                    <translate>Age at Diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtDiagnosis | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Age at enrollment</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtEnrollment | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Age at last followup</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Diagnosis ICD-10 code</translate>
                </th>
                <td>{{ DonorCtrl.donor.diagnosisIcd10 }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Disease status at last followup</translate>
                </th>
                <td>{{ DonorCtrl.donor.diseaseStatusLastFollowup }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Interval of last followup (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.intervalOfLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Gender</translate>
                </th>
                <td>{{ DonorCtrl.donor.gender }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Vital status</translate>
                </th>
                <td>{{ DonorCtrl.donor.vitalStatus }}</td>
            </tr>
        </table>
    </div>
    <div class="half omega">
        <table class="table table-info">
            <tr>
                <th>
                    <translate>Tumour stage at diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosis }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour staging system at diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStagingSystemAtDiagnosis }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour stage at diagnosis supplemental</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosisSupplemental }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Relapse Type</translate>
                </th>
                <td>{{ DonorCtrl.donor.relapseType }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Relapse interval (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.relapseInterval | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Survival time (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.survivalTime | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Prior Malignancy</translate>
                </th>
                <td>{{ DonorCtrl.donor.priorMalignancy }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Cancer Type Prior Malignancy</translate>
                </th>
                <td>{{ DonorCtrl.donor.cancerTypePriorMalignancy }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Cancer history first degree relative</translate>
                </th>
                <td>{{ DonorCtrl.donor.cancerHistoryFirstDegreeRelative }}</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>

    <div data-ng-init="supplementalCollapsed=true">
        <span data-ng-show="DonorCtrl.hasSupplementalFiles(DonorCtrl.donor)">
            <a href="" data-ng-click="supplementalCollapsed=!supplementalCollapsed">
                <translate>Supplemental data</translate>: {{ DonorCtrl.donor.biomarker? " " + DonorCtrl.donor.biomarker.length + " Biomarker,
                " : "" }} {{ DonorCtrl.donor.family? " " + DonorCtrl.donor.family.length + " Family, " : "" }} {{ DonorCtrl.donor.exposure?
                " " + DonorCtrl.donor.exposure.length + " Exposure, " : "" }} {{ DonorCtrl.donor.surgery? " " + DonorCtrl.donor.surgery.length
                + " Surgery, " : "" }} {{ DonorCtrl.donor.therapy? " " + DonorCtrl.donor.therapy.length + " Therapy" : ""
                }}
                <i class="icon-caret-left" data-ng-if="supplementalCollapsed===true"></i>
                <i class="icon-caret-down" data-ng-if="supplementalCollapsed===false"></i>
            </a>
        </span>
        <div data-ng-include="'scripts/donors/views/donor.supplemental.html'" data-ng-show="supplementalCollapsed === false"></div>
    </div>

</section>