<div class="files-wrapper">
  <div class="t_table_top">
    <span data-table-counts data-label="{{'files' | translate}}" data-page="DonorFilesCtrl.files.pagination"></span>
    <span class="t_tools">
      <span class="t_tools__tool">
        <i class="icon-file pull-right"
          data-tooltip="{{'Export table as TSV' | translate}}" data-tooltip-placement="left"
          data-ng-click="ExternalRepoController.export()">
        </i>
      </span>
    </span>
  </div>
  <table class="table table-selectable">
                <thead>
                    <th data-sortable data-type="files" data-field="id"
                      data-active="true" data-reversed="true"><translate>File ID</translate></th>
                    <th><translate>Repository</translate></th>

                    <th><translate>Study</translate></th>
                    <th data-sortable data-type="files" data-field="dataType"><translate>Data Type</translate></th>
                    <th data-sortable data-type="files"
                      data-field="experimentalStrategy"><translate>Strategy</translate></th>
                    <th><translate>Format</translate></th>
                    <th><translate>Size</translate></th>
                </thead>

                <tbody>
                  <tr data-ng-repeat="row in DonorFilesCtrl.files.hits">
                    <td>{{row.id}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <!--<td style="white-space:nowrap;max-width: 8rem; font-size: {{ row.fileId.length > 100? '0.75rem' : ' inherit' }}">
                       <i class="{{ row.access === 'open' ? 'icon-lock-open' : 'icon-lock' }}" />
                       <a href="{{:: ExternalRepoController.dataRepoFileUrl }}{{ row.id }}"
                        tooltip="{{ ExternalRepoController.fileNames (row.fileCopies) }}"
                        ng-bind="row.id" />
                    </td>

                    <td tooltip="{{ ExternalRepoController.repoNamesInTooltip (row.fileCopies) }}"
                      ng-bind="ExternalRepoController.repoNames (row.fileCopies)" />

                    <td>
                      <study-badge study="{{ row.study [0] }}" text="{{ row.study [0] }}">
                    </td>

                    <td>{{ row.dataCategorization.dataType }}</td>
                    <td>{{ row.dataCategorization.experimentalStrategy }}</td>

                    <td>{{ ExternalRepoController.fileFormats (row.fileCopies) }}</td>

                    <td class="text-right" style="white-space:nowrap">
                      {{ ExternalRepoController.fileAverageSize (row.fileCopies) | bytes }}
                    </td>-->

                  </tr>
                </tbody>
            </table>
  <pagination-controls data-type="files" data-data="DonorFilesCtrl.files"></pagination-controls>
</div>