<div class="h1-wrap">
    <h1 data-ui-scrollpoint=105>
        <span class="t_badge t_badge__donor"></span>
        {{ DonorCtrl.donor.id }}
        <pcawg-badge data-ng-if="DonorCtrl.isPCAWG(DonorCtrl.donor)"></pcawg-badge>
    </h1>
</div>

<span data-ng-if="DonorCtrl.isPendingDonor">
    <section>
        <i class="icon-attention or icon-attention-1"></i>
        <translate>No data for this donor has been submitted directly to ICGC DCC yet.</translate>
        <translate has-markup>However, go to the
            <a href="{{:: DonorCtrl.urlToExternalRepository() }}">
                {{:: DonorCtrl.dataRepoTitle }} browser
            </a>
            to see the list of data files hosted in {{:: DonorCtrl.dataRepoTitle }} for this donor.</translate>
    </section>
</span>

<span data-ng-if="!DonorCtrl.isPendingDonor">
    <article fix-scroll class="full">
        <div class="t_tabs t_tabs__isolated">
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="DonorCtrl.activeTab = 'summary'" data-ng-class="{active: DonorCtrl.activeTab === 'summary'}"
                data-nested data-href="donors/{{DonorCtrl.donor.id}}">
                <translate>Summary</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="DonorCtrl.activeTab = 'variants'" data-ng-class="{active: DonorCtrl.activeTab === 'variants'}"
                data-nested data-href="donors/{{DonorCtrl.donor.id}}/variants">
                <translate>Variants</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="DonorCtrl.activeTab = 'files'" data-ng-class="{active: DonorCtrl.activeTab === 'files'}"
                data-nested data-href="donors/{{DonorCtrl.donor.id}}/files">
                <translate>Files</translate>
                <br>
            </div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: DonorCtrl.activeTab === 'summary'}" data-ng-include="'scripts/donors/views/donor.summary.html'"></div>
        <div class='t_tab_pane' data-ng-class="{active: DonorCtrl.activeTab === 'variants'}">
            <div data-ng-include="'scripts/donors/views/donor.variants.html'"></div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: DonorCtrl.activeTab === 'files'}">
            <div data-ng-include="'scripts/donors/views/donor.files.html'"></div>
        </div>
    </article>
</span>