<section data-ng-show="DonorCtrl.activeTab === 'specimen'" id="specimen" data-ng-controller="DonorSpecimenCtrl as DonorSpecimenCtrl" data-ng-class="{'empty': DonorCtrl.donor.specimen.length == 0}">
    <h3 data-ng-if="DonorCtrl.donor.specimen.length == 0">
        <translate>No Specimen Found.</translate>
    </h3>

    <div data-ng-if="DonorCtrl.donor.specimen.length > 0">
        <h3>
            <translate>Specimen</translate>
        </h3>

        <div data-ng-include="'scripts/donors/views/donor.specimen.specimen.html'"></div>
    </div>
</section>