<div class="h1-wrap">
    <h1 data-ui-scrollfix=79><span class="t_badge t_badge__donor"></span>
        {{ DonorCtrl.donor.id }}
        <pcawg-badge data-ng-if="DonorCtrl.isPCAWG(DonorCtrl.donor)"></pcawg-badge>
    </h1>
</div>

<span data-ng-if="DonorCtrl.isPendingDonor">
  <section>
    <i class="icon-attention or icon-attention-1"></i>
    <translate>No data for this donor has been submitted directly to ICGC DCC yet.</translate>
    <translate has-markup>However, go to the
    <a href="{{:: DonorCtrl.urlToExternalRepository() }}">
      {{:: DonorCtrl.dataRepoTitle }} browser
    </a>
     to see the list of data files hosted in {{:: DonorCtrl.dataRepoTitle }} for this donor.</translate>
  </section>
</span>

<span data-ng-if="!DonorCtrl.isPendingDonor">
<div data-scroll-spy="">
<aside data-ui-scrollfix=79 class="t_sidenav">
    <section>
        <ul class="t_subnav__items">
            <li data-spy="summary" class="t_subnav__items__item current"><a data-scrollto href="#summary"><translate>Summary</translate></a></li>
            <li data-spy="clinical" class="t_subnav__items__item"><a data-scrollto href="#clinical"><translate>Clinical Data</translate></a></li>
            <li data-spy="mutations" class="t_subnav__items__item" data-ng-if="DonorCtrl.donor.state==='live'"><a data-scrollto href="#mutations"><translate>Mutations</translate></a></li>
            <li data-spy="specimen" class="t_subnav__items__item"><a data-scrollto href="#specimen"><translate>Specimen</translate></a></li>
            <li data-spy="files-section" class="t_subnav__items__item"><a data-scrollto href="#files-section"><translate>Files</translate></a></li>
            <li><br></li>
            <li class="t_subnav__items__item" data-ng-if="DonorCtrl.mutationFacets.functionalImpact.total > 0">
                <span><translate>Page Filters</translate></span>
            </li>
            <li class="t_subnav__items__box" data-ng-if="DonorCtrl.mutationFacets.functionalImpact.total > 0">
                <ul class="t_facets">
                    <terms data-type="mutation"
                           data-facet-name="functionalImpact"
                           data-hide-count="true"
                           data-label="{{'Mutation Impact' | translate}}"
                           data-facet="DonorCtrl.mutationFacets.functionalImpact"
                    ></terms>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<article>
<section id="summary">
    <div class="half">
        <h3><translate>Summary</translate></h3>
        <table class="table table-info">
            <tr>
                <th>ID</th>
                <td>{{ DonorCtrl.donor.id }}</td>
            </tr>
            <tr>
                <th><translate>Submitter ID</translate></th>
                <td>{{ DonorCtrl.donor.submittedDonorId }}</td>
            </tr>
            <tr>
                <th><translate>Project Name</translate></th>
                <td>
                   <a href="/projects/{{DonorCtrl.donor.projectId}}">{{ DonorCtrl.donor.projectName }}</a>
                </td>
            </tr>
            <tr>
                <th><translate>Project Code</translate></th>
                <td>{{ DonorCtrl.donor.projectId }}</td>
            </tr>
            <tr>
                <th><translate>Primary Site</translate></th>
                <td>{{ DonorCtrl.donor.primarySite }}</td>
            </tr>
            <tr>
                <th><translate>Tumour Type</translate></th>
                <td>{{ DonorCtrl.donor.tumourType }}</td>
            </tr>
            <tr>
                <th><translate>Tumour Subtype</translate></th>
                <td>{{ DonorCtrl.donor.tumourSubtype }}</td>
            </tr>
            <tr>
                <th><translate>Total number of mutations</translate></th>
                <td><a data-ng-if="DonorCtrl.donor.ssmCount > 0"
                       href='/search/m?filters={"donor":{"id":{"is":["{{DonorCtrl.donor.id}}"]}}}'>
                    {{ DonorCtrl.donor.ssmCount | numberPT }}</a>
                    <span data-ng-if="!DonorCtrl.donor.ssmCount">--</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="half omega">
        <h3><translate>Available Data Types:</translate></h3>
        <div data-ng-if="DonorCtrl.donor.state === 'pending'" class="well">
            <translate>Only clinical data has been submitted to ICGC DCC.</translate>
        </div>
        <table class="table table-info" data-ng-if="DonorCtrl.donor.state === 'live'">
            <tr>
                <th><translate>Clinical Data</translate></th>
                <td class="text-center"><i class="icon-ok"></i></td>
            </tr>
            <tr>
                <th><translate>Simple Somatic Mutations (SSM)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.ssmCount"></span></td>
            </tr>
            <tr>
                <th><translate>Copy Number Somatic Mutations (CNSM)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.cnsmExists"></span></td>
            </tr>
            <tr>
                <th><translate>Structural Somatic Mutations (StSM)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.stsmExists"></span></td>
            </tr>
            <tr>
                <th><translate>Simple Germline Variants (SGV)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.sgvExists"></span></td>
            </tr>
            <tr>
                <th><translate>Array-based DNA Methylation (METH-A)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.methArrayExists"></span></td>
            </tr>
            <tr>
                <th><translate>Sequence-based DNA Methylation (METH-S)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.methSeqExists"></span></td>
            </tr>
            <tr>
                <th><translate>Array-based Gene Expression (EXP-A)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.expArrayExists"></span></td>
            </tr>
            <tr>
                <th><translate>Sequence-based Gene Expression (EXP-S)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.expSeqExists"></span></td>
            </tr>
            <tr>
                <th><translate>Protein Expression (PEXP)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.pexpExists"></span></td>
            </tr>
            <tr>
                <th><translate>Sequence-based miRNA Expression (miRNA)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.mirnaSeqExists"></span></td>
            </tr>
            <tr>
                <th><translate>Exon Junctions (JCN)</translate></th>
                <td class="text-center"><span data-exists="DonorCtrl.donor.jcnExists"></span></td>
            </tr>
        </table>

        <div>
            <button class="t_button" type="button" data-ng-click="DonorCtrl.downloadDonorData()" data-ng-disabled="!ICGC_SETTINGS.downloadEnabled">
                <i class="icon-download"></i>
                <span> <translate>Download Donor Data</translate></span>
            </button>
            <br>
            <span data-ng-if="!ICGC_SETTINGS.downloadEnabled" class="alert-warning"><translate>Data download is currently unavailable.</translate></span>
        </div>

    </div>
</section>

<section id="clinical">
    <h3><translate>Clinical Data</translate>
        <small class="pull-right" style="font-size: 1.0rem" data-ng-if="DonorCtrl.donor.clinicalXML">
            <a href="{{DonorCtrl.donor.clinicalXML}}" target="_blank"><i class="icon-external-link"></i><translate>TCGA Clinical XML</translate></a>
        </small>
    </h3>
    <div class="half">
        <table class="table table-info">
            <tr>
                <th><translate>Age at Diagnosis</translate></th>
                <td>{{ DonorCtrl.donor.ageAtDiagnosis | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Age at enrollment</translate></th>
                <td>{{ DonorCtrl.donor.ageAtEnrollment | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Age at last followup</translate></th>
                <td>{{ DonorCtrl.donor.ageAtLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Diagnosis ICD-10 code</translate></th>
                <td>{{ DonorCtrl.donor.diagnosisIcd10 }}</td>
            </tr>
            <tr>
                <th><translate>Disease status at last followup</translate></th>
                <td>{{ DonorCtrl.donor.diseaseStatusLastFollowup }}</td>
            </tr>
            <tr>
                <th><translate>Interval of last followup (days)</translate></th>
                <td>{{ DonorCtrl.donor.intervalOfLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Gender</translate></th>
                <td>{{ DonorCtrl.donor.gender }}</td>
            </tr>
            <tr>
                <th><translate>Vital status</translate></th>
                <td>{{ DonorCtrl.donor.vitalStatus }}</td>
            </tr>
        </table>
    </div>
    <div class="half omega">
        <table class="table table-info">
            <tr>
                <th><translate>Tumour stage at diagnosis</translate></th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosis }}</td>
            </tr>
            <tr>
                <th><translate>Tumour staging system at diagnosis</translate></th>
                <td>{{ DonorCtrl.donor.tumourStagingSystemAtDiagnosis }}</td>
            </tr>
            <tr>
                <th><translate>Tumour stage at diagnosis supplemental</translate></th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosisSupplemental }}</td>
            </tr>
            <tr>
                <th><translate>Relapse Type</translate></th>
                <td>{{ DonorCtrl.donor.relapseType }}</td>
            </tr>
            <tr>
                <th><translate>Relapse interval (days)</translate></th>
                <td>{{ DonorCtrl.donor.relapseInterval | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Survival time (days)</translate></th>
                <td>{{ DonorCtrl.donor.survivalTime | numberPT }}</td>
            </tr>
            <tr>
                <th><translate>Prior Malignancy</translate></th>
                <td>{{ DonorCtrl.donor.priorMalignancy }}</td>
            </tr>
            <tr>
                <th><translate>Cancer Type Prior Malignancy</translate></th>
                <td>{{ DonorCtrl.donor.cancerTypePriorMalignancy }}</td>
            </tr>
            <tr>
                <th><translate>Cancer history first degree relative</translate></th>
                <td>{{ DonorCtrl.donor.cancerHistoryFirstDegreeRelative }}</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>

    <div data-ng-init="supplementalCollapsed=true">
       <span data-ng-show="DonorCtrl.hasSupplementalFiles(DonorCtrl.donor)">
           <a href="" data-ng-click="supplementalCollapsed=!supplementalCollapsed">
               <translate>Supplemental data</translate>:
               {{ DonorCtrl.donor.biomarker? " " + DonorCtrl.donor.biomarker.length + " Biomarker, " : "" }}
               {{ DonorCtrl.donor.family? " " + DonorCtrl.donor.family.length + " Family, " : "" }}
               {{ DonorCtrl.donor.exposure? " " + DonorCtrl.donor.exposure.length + " Exposure, " : "" }}
               {{ DonorCtrl.donor.surgery? " " + DonorCtrl.donor.surgery.length + " Surgery, " : "" }}
               {{ DonorCtrl.donor.therapy? " " + DonorCtrl.donor.therapy.length + " Therapy" : "" }}
               <i class="icon-caret-left" data-ng-if="supplementalCollapsed===true"></i>
               <i class="icon-caret-down" data-ng-if="supplementalCollapsed===false"></i>
           </a>
       </span>
       <div data-ng-include="'scripts/donors/views/donor.supplemental.html'"
            data-ng-show="supplementalCollapsed === false"></div>
    </div>

</section>

<section id="mutations"
         data-ng-if="DonorCtrl.donor.state === 'live'"
         data-ng-controller="DonorMutationsCtrl as DonorMutationsCtrl"
         data-ng-class="{'loading': !DonorMutationsCtrl.mutations.hits, 'empty': DonorMutationsCtrl.mutations.hits.length == 0}">
    <h3 data-ng-if="!DonorMutationsCtrl.mutations.hits"><i class="icon-spinner icon-spin"></i> <translate>Fetching Mutations...</translate>
    </h3>

    <h3 data-ng-if="DonorMutationsCtrl.mutations.hits.length == 0"><translate>No Mutations Reported.</translate></h3>

    <div data-ng-if="DonorMutationsCtrl.mutations.hits.length > 0">
        <h3><translate>Most Frequent Mutations</translate>
            <span
            data-open-in-list='/m?filters={{DonorMutationsCtrl.mutations.advQuery}}'
            context="donor"
            context-url='/m?filters={{DonorMutationsCtrl.mutations.viewerQuery}}'></span>
        </h3>

        <div class="t_table_top">
            <span data-table-counts data-label="{{'mutations' | translate}}" data-page="DonorMutationsCtrl.mutations.pagination"></span>
            <span data-toolbar data-dl="{{DonorCtrl.donor.id}}_mutations"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2"><abbr data-tooltip="{{'Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}' | translate}}">
                    <translate>DNA change</translate></abbr>
                </th>
                <th rowspan="2">Type</th>
                <th rowspan="2"><abbr data-tooltip="{{'Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.' | translate}}"><translate>Consequences</translate></abbr>
                </th>
                <th colspan="2" class="text-center"><translate># Donors affected</translate></th>
            </tr>
            <tr>
                <th class="text-center">
                    <abbr data-tooltip="{{'Breakdown of Affected Donors in [[ projectId ]]<br># Donors affected / # SSM tested donors' | translate | subDelimiters:{projectId: DonorCtrl.donor.projectId} }}">
                        {{ DonorCtrl.donor.projectId }}
                    </abbr> <i class="icon-caret-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="{{'# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project.' | translate}}"
                          data-tooltip-placement="left"><translate>Across all Projects</translate></abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in DonorMutationsCtrl.mutations.hits track by mutation.id">
                <td>
                    <a href="/mutations/{{ mutation.id }}">{{ mutation.id }}</a>
                </td>
                <td class="t_cell_line_break">chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td><abbr data-tooltip="{{ mutation.type | define }}">{{ mutation.type }}</abbr>
                </td>
                <td>
                    <mutation-consequences items="mutation.consequences"></mutation-consequences>
                </td>
                <td class="text-right" style="position: relative; white-space: nowrap">
                        <span data-ng-style="{width:mutation.affectedDonorCountFiltered/DonorCtrl.donor.ssmTestedDonorCount * 100+'%'}"
                          class="t_facets__facet__terms__active__term__bar"></span>
                    <span style="position: relative">
                        <a href='/search?filters={{mutation.advQuery}}'>
                            {{ mutation.affectedDonorCountFiltered | number }}
                        </a>
                        /
                        <a href='/search?filters={"donor":{"projectId":{"is":["{{DonorCtrl.donor.projectId}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                            {{ DonorCtrl.donor.ssmTestedDonorCount | number }}
                        </a>
                        <em>({{mutation.affectedDonorCountFiltered / DonorCtrl.donor.ssmTestedDonorCount * 100 |
                            number:2}}%)</em>
                    </span>


                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{mutation.uiDonors}}"
                        data-link='/search?filters={{mutation.advQueryAll}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   href="/projects/{{p.term}}">{{p.term}}</a>:
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="mutations" data-data="DonorMutationsCtrl.mutations"></pagination-controls>

        <table class="hidden" id="{{DonorCtrl.donor.id}}_mutations">
            <thead>
            <tr>
                <th><translate>Mutation ID</translate></th>
                <th><translate>Genomic DNA Change</translate></th>
                <th><translate>Mutation Type</translate></th>
                <th><translate>Consequences</translate></th>
                <th><translate>Number of affected donors from the same project as this donor</translate></th>
                <th><translate>Number of SSM-tested donors from the same project as this donor</translate></th>
                <th><translate>Percentage of affected donors</translate></th>
                <th><translate>Projects</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in DonorMutationsCtrl.mutations.hits">
                <td>{{mutation.id}}</td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td>{{mutation.type}}</td>
                <td>
                    <mutation-consequences data-ng-if="mutation.consequences"
                                           items="mutation.consequences"></mutation-consequences>
                </td>
                <td>{{mutation.affectedDonorCountFiltered}}</td>
                <td>{{DonorCtrl.donor.ssmTestedDonorCount}}</td>
                <td>{{mutation.affectedDonorCountFiltered / DonorCtrl.donor.ssmTestedDonorCount}}</td>
                <td>
                    <div data-ng-repeat="p in mutation.uiDonors | orderBy:'percentage':true">
                        <div>{{p.term}}:{{p.count}}/{{p.countTotal}}</div>
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="specimen" data-ng-controller="DonorSpecimenCtrl as DonorSpecimenCtrl"
         data-ng-class="{'empty': DonorCtrl.donor.specimen.length == 0}">
    <h3 data-ng-if="DonorCtrl.donor.specimen.length == 0"><translate>No Specimen Found.</translate></h3>

    <div data-ng-if="DonorCtrl.donor.specimen.length > 0">
        <h3><translate>Specimen</translate></h3>

        <div data-ng-include="'scripts/donors/views/donor.specimen.html'"></div>
    </div>
</section>

<section id="files-section"
    data-ng-controller="DonorFilesCtrl as DonorFilesCtrl"
    data-ng-class="{'loading': !DonorFilesCtrl.files.hits, 'empty': DonorFilesCtrl.files.hits.length == 0}"
    fix-scroll>

    <h3 data-ng-if="!DonorFilesCtrl.files.hits">
        <i class="icon-spinner icon-spin"></i>
        <translate>Fetching Files...</translate>
    </h3>

    <h3 data-ng-if="DonorFilesCtrl.files.hits.length == 0"><translate>No Files Found.</translate></h3>

    <div data-ng-if="DonorFilesCtrl.files.hits.length > 0">
        <h3>
            <translate>Files</translate>
            <span class="pull-right action-toolbar">
                <span class="action-item">
                    <i class="icon-download-cloud"></i>
                    <a href='/repositories?filters={"donor":{"id":{"is":["{{DonorFilesCtrl.donorId}}"]}}}'>
                        <translate>View in Data Repositories</translate>
                    </a>
                </span>
            </span>
        </h3>
        <div data-ng-include="'scripts/donors/views/donor.files.html'"></div>
    </div>
</section>

</article>
</div>
</span>
