<section data-ng-show="DonorCtrl.activeTab === 'summary'" id="summary">
    <div class="half">
        <h3>
            <translate>Summary</translate>
        </h3>
        <table class="table table-info">
            <tr>
                <th>ID</th>
                <td>{{ DonorCtrl.donor.id }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Submitter ID</translate>
                </th>
                <td>{{ DonorCtrl.donor.submittedDonorId }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Project Name</translate>
                </th>
                <td>
                    <a href="/projects/{{DonorCtrl.donor.projectId}}">{{ DonorCtrl.donor.projectName }}</a>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Project Code</translate>
                </th>
                <td>{{ DonorCtrl.donor.projectId }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Primary Site</translate>
                </th>
                <td>{{ DonorCtrl.donor.primarySite }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour Type</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourType }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour Subtype</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourSubtype }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Total number of mutations</translate>
                </th>
                <td>
                    <a data-ng-if="DonorCtrl.donor.ssmCount > 0" href='/search/m?filters={"donor":{"id":{"is":["{{DonorCtrl.donor.id}}"]}}}'>
                        {{ DonorCtrl.donor.ssmCount | numberPT }}</a>
                    <span data-ng-if="!DonorCtrl.donor.ssmCount">--</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="half omega">
        <h3>
            <translate>Available Data Types:</translate>
        </h3>
        <div data-ng-if="DonorCtrl.donor.state === 'pending'" class="well">
            <translate>Only clinical data has been submitted to ICGC DCC.</translate>
        </div>
        <table class="table table-info" data-ng-if="DonorCtrl.donor.state === 'live'">
            <tr>
                <th>
                    <translate>Clinical Data</translate>
                </th>
                <td class="text-center">
                    <i class="icon-ok"></i>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Simple Somatic Mutations (SSM)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.ssmCount"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Copy Number Somatic Mutations (CNSM)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.cnsmExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Structural Somatic Mutations (StSM)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.stsmExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Simple Germline Variants (SGV)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.sgvExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Array-based DNA Methylation (METH-A)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.methArrayExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Sequence-based DNA Methylation (METH-S)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.methSeqExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Array-based Gene Expression (EXP-A)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.expArrayExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Sequence-based Gene Expression (EXP-S)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.expSeqExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Protein Expression (PEXP)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.pexpExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Sequence-based miRNA Expression (miRNA)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.mirnaSeqExists"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <translate>Exon Junctions (JCN)</translate>
                </th>
                <td class="text-center">
                    <span data-exists="DonorCtrl.donor.jcnExists"></span>
                </td>
            </tr>
        </table>

        <div>
            <button class="t_button" type="button" data-ng-click="DonorCtrl.downloadDonorData(); track('download-donor-data', { action: 'click', label: 'donor page' });"
                data-ng-disabled="!ICGC_SETTINGS.downloadEnabled">
                <i class="icon-download"></i>
                <span>
                    <translate>Download Donor Data</translate>
                </span>
            </button>
            <br>
            <span data-ng-if="!ICGC_SETTINGS.downloadEnabled" class="alert-warning">
                <translate>Data download is currently unavailable.</translate>
            </span>
        </div>

    </div>
</section>

<section data-ng-show="DonorCtrl.activeTab === 'summary'" id="clinical">
    <h3>
        <translate>Clinical Data</translate>
        <small class="pull-right" style="font-size: 1.0rem" data-ng-if="DonorCtrl.donor.clinicalXML">
            <a href="{{DonorCtrl.donor.clinicalXML}}" target="_blank">
                <i class="icon-external-link"></i>
                <translate>TCGA Clinical XML</translate>
            </a>
        </small>
    </h3>
    <div class="half">
        <table class="table table-info">
            <tr>
                <th>
                    <translate>Age at Diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtDiagnosis | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Age at enrollment</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtEnrollment | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Age at last followup</translate>
                </th>
                <td>{{ DonorCtrl.donor.ageAtLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Diagnosis ICD-10 code</translate>
                </th>
                <td>{{ DonorCtrl.donor.diagnosisIcd10 }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Disease status at last followup</translate>
                </th>
                <td>{{ DonorCtrl.donor.diseaseStatusLastFollowup }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Interval of last followup (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.intervalOfLastFollowup | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Gender</translate>
                </th>
                <td>{{ DonorCtrl.donor.gender }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Vital status</translate>
                </th>
                <td>{{ DonorCtrl.donor.vitalStatus }}</td>
            </tr>
        </table>
    </div>
    <div class="half omega">
        <table class="table table-info">
            <tr>
                <th>
                    <translate>Tumour stage at diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosis }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour staging system at diagnosis</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStagingSystemAtDiagnosis }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Tumour stage at diagnosis supplemental</translate>
                </th>
                <td>{{ DonorCtrl.donor.tumourStageAtDiagnosisSupplemental }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Relapse Type</translate>
                </th>
                <td>{{ DonorCtrl.donor.relapseType }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Relapse interval (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.relapseInterval | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Survival time (days)</translate>
                </th>
                <td>{{ DonorCtrl.donor.survivalTime | numberPT }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Prior Malignancy</translate>
                </th>
                <td>{{ DonorCtrl.donor.priorMalignancy }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Cancer Type Prior Malignancy</translate>
                </th>
                <td>{{ DonorCtrl.donor.cancerTypePriorMalignancy }}</td>
            </tr>
            <tr>
                <th>
                    <translate>Cancer history first degree relative</translate>
                </th>
                <td>{{ DonorCtrl.donor.cancerHistoryFirstDegreeRelative }}</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>

    <div data-ng-init="supplementalCollapsed=true">
        <span data-ng-show="DonorCtrl.hasSupplementalFiles(DonorCtrl.donor)">
            <a href="" data-ng-click="supplementalCollapsed=!supplementalCollapsed">
                <translate>Supplemental data</translate>: {{ DonorCtrl.donor.biomarker? " " + DonorCtrl.donor.biomarker.length + " Biomarker,
                " : "" }} {{ DonorCtrl.donor.family? " " + DonorCtrl.donor.family.length + " Family, " : "" }} {{ DonorCtrl.donor.exposure?
                " " + DonorCtrl.donor.exposure.length + " Exposure, " : "" }} {{ DonorCtrl.donor.surgery? " " + DonorCtrl.donor.surgery.length
                + " Surgery, " : "" }} {{ DonorCtrl.donor.therapy? " " + DonorCtrl.donor.therapy.length + " Therapy" : ""
                }}
                <i class="icon-caret-left" data-ng-if="supplementalCollapsed===true"></i>
                <i class="icon-caret-down" data-ng-if="supplementalCollapsed===false"></i>
            </a>
        </span>
        <div data-ng-include="'scripts/donors/views/donor.supplemental.html'" data-ng-show="supplementalCollapsed === false"></div>
    </div>

</section>

<section data-ng-show="DonorCtrl.activeTab === 'summary'" id="specimen" data-ng-controller="DonorSpecimenCtrl as DonorSpecimenCtrl" data-ng-class="{'empty': DonorCtrl.donor.specimen.length == 0}">
    <h3 data-ng-if="DonorCtrl.donor.specimen.length == 0">
        <translate>No Specimen Found.</translate>
    </h3>

    <div data-ng-if="DonorCtrl.donor.specimen.length > 0">
        <h3>
            <translate>Specimen</translate>
        </h3>

        <div data-ng-include="'scripts/donors/views/donor.specimen.html'"></div>
    </div>
</section>