<br>
<div data-ng-if="DonorCtrl.donor.biomarker">
    <div style="font-size:1.5rem"><translate>Donor Biomarker</translate></div>
    <table class="table table-info">
        <thead>
            <tr>
                <th><translate>Specimen ID</translate></th>
                <th><translate>Biomarker Name</translate></th>
                <th><translate>Biomarker Threshold</translate></th>
                <th><translate>Biomarker Positive</translate></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="f in DonorCtrl.donor.biomarker">
                <td>{{f.specimenId}}</td>
                <td>{{f.biomarkerName}}</td>
                <td>{{f.biomarkerThreshold}}</td>
                <td>{{f.biomarkerPositive}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>

<div data-ng-if="DonorCtrl.donor.family">
	<br>
    <div style="font-size:1.5rem"><translate>Donor Family</translate></div>
    <table class="table table-info">
        <thead>
            <tr>
                <th><translate>Relative with cancer history</translate></th>
                <th><translate>Relation Type</translate></th>
                <th><translate>Relation Type other</translate></th>
                <th><translate>Sex</translate></th>
                <th><translate>Age</translate></th>
                <th><translate>Disease ICD10</translate></th>
                <th><translate>Disease</translate></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="f in DonorCtrl.donor.family">
                <td>{{f.donorHasRelativeWithCancerHistory}}</td>
                <td>{{f.relationshipType}}</td>
                <td>{{f.relationshipTypeOther}}</td>
                <td>{{f.relaltionshipSex}}</td>
                <td>{{f.relationshipAge}}</td>
                <td>{{f.relationshipDiseaseICD10}}</td>
                <td>{{f.relationshipDisease}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>

<div data-ng-if="DonorCtrl.donor.surgery">
	<br>
    <div style="font-size:1.5rem"><translate>Donor Surgery</translate></div>
    <table class="table table-info">
        <thead>
            <tr>
                <th><translate>Specimen ID</translate></th>
                <th><translate>Procedure Interval</translate></th>
                <th><translate>Procedure Type</translate></th>
                <th><translate>Procedure Site</translate></th>
                <th><translate>Resection Status</translate></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="f in DonorCtrl.donor.surgery">
                <td>{{f.specimenId}}</td>
                <td>{{f.procedureInterval}}</td>
                <td>{{f.procedureType}}</td>
                <td>{{f.procedureSite}}</td>
                <td>{{f.resectionStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>

<div class="half" data-ng-if="DonorCtrl.donor.exposure" data-ng-init="exposureIdx = 0; exposure = DonorCtrl.donor.exposure[exposureIdx]">
	<br>
    <div style="font-size:1.5rem">Donor Exposure</div>
    <div data-ng-show="DonorCtrl.donor.exposure.length > 1">
       <span data-ng-repeat="e in DonorCtrl.donor.exposure">
          <span data-ng-click="$parent.exposureIdx = $index; $parent.exposure = DonorCtrl.donor.exposure[$index]">
              <span style="padding:0 0.4rem">
                 <strong data-ng-if="$index === exposureIdx">{{$index + 1}}</strong>
                 <a href= "" data-ng-if="$index !== exposureIdx">{{$index + 1}}</a>
              </span>
          </span>
       </span>
    </div>

    <table class="table table-info"> 
        <tr>
            <th><translate>Exposure type</translate></th>
            <td>{{exposure.exposureType}}</td>
        </tr>
        <tr>
            <th><translate>Exposure intensity</translate></th>
            <td>{{exposure.exposureIntesity}}</td>
        </tr>
        <tr>
            <th><translate>Tobacco smoking history indicator</translate></th>
            <td>{{exposure.tobaccoSmokingHistoryIndicator}}</td>
        </tr>
        <tr>
            <th><translate>Tobacco smoking intensity</translate></th>
            <td>{{exposure.tobaccoSmokingIntensity}}</td>
        </tr>
        <tr>
            <th><translate>Alcohol history</translate></th>
            <td>{{exposure.alcoholHistory}}</td>
        </tr>
        <tr>
            <th><translate>Alcohol history intensity</translate></th>
            <td>{{exposure.alcoholHistoryIntensity}}</td>
        </tr>
    </table>
</div>

<div class="half" data-ng-if="DonorCtrl.donor.therapy" data-ng-class="{'omega': DonorCtrl.donor.exposure}"
     data-ng-init="therapyIdx = 0; therapy = DonorCtrl.donor.therapy[therapyIdx]">
	<br>
    <div style="font-size:1.5rem"><translate>Donor Postresection Therapy</translate></div>
    <div data-ng-show="DonorCtrl.donor.therapy.length > 1">
       <span data-ng-repeat="t in DonorCtrl.donor.therapy">
          <span data-ng-click="$parent.therapyIdx = $index; $parent.therapy = DonorCtrl.donor.therapy[$index]">
              <span style="padding:0 0.4rem">
                 <strong data-ng-if="$index === therapyIdx">{{$index + 1}}</strong>
                 <a href= "" data-ng-if="$index !== therapyIdx">{{$index + 1}}</a>
              </span>
          </span>
       </span>
    </div>

    <table class="table table-info"> 
        <tr>
            <th><translate>First therapy type</translate></th>
            <td>{{therapy.firstTherapyType}}</td>
        </tr>
        <tr>
            <th><translate>First therapy therapeutic intent</translate></th>
            <td>{{therapy.firstTherapyTherapeuticIntent}}</td>
        </tr>
        <tr>
            <th><translate>First therapy start interval</translate></th>
            <td>{{therapy.firstTherapyStartInterval}}</td>
        </tr>
        <tr>
            <th><translate>First therapy duration</translate></th>
            <td>{{therapy.firstTherapyDuration}}</td>
        </tr>
        <tr>
            <th><translate>First therapy response</translate></th>
            <td>{{therapy.firstTherapyResponse}}</td>
        </tr>
        <tr>
            <th><translate>Second therapy type</translate></th>
            <td>{{therapy.secondTherapyType}}</td>
        </tr>
        <tr>
            <th><translate>Second therapy therapeutic intent</translate></th>
            <td>{{therapy.secondTherapyTherapeuticIntent}}</td>
        </tr>
        <tr>
            <th><translate>Second therapy start interval</translate></th>
            <td>{{therapy.secondTherapyStartInterval}}</td>
        </tr>
        <tr>
            <th><translate>Second therapy duration</translate></th>
            <td>{{therapy.secondTherapyDuration}}</td>
        </tr>
        <tr>
            <th><translate>Second therapy response</translate></th>
            <td>{{therapy.secondTherapyResponse}}</td>
        </tr>
        <tr>
            <th><translate>Other therapy</translate></th>
            <td>{{therapy.otherTherapy}}</td>
        </tr>
        <tr>
            <th><translate>Other therapy response</translate></th>
            <td>{{t.otherTherapyResponse}}</td>
        </tr>
    </table>
</div>

