<div data-ng-if="isActive" class="t_current">
    <ul>
        <li>
            <button type="button" class="t_button t_current__remove_all" data-ng-click="Facets.removeAll()">
                <i class="icon-undo"></i>
            </button>
            <share-button></share-button>
            <pql-button></pql-button>
        </li>
        <li data-ng-repeat="(typeName, type) in filters">
            <ul>
                <li data-ng-repeat="(facet, terms) in type track by facet" class="t_facets__facet">
                    <span class="t_facets__facet__label"
                          data-ng-mouseenter="hoverStyle={'text-decoration':'line-through'}; $event.stopPropagation();"
                          data-ng-mouseleave="hoverStyle={}; $event.stopPropagation()"
                          data-ng-click="removeFacet(typeName, facet)"
                          data-ng-switch="facet">
                        <span data-ng-switch-when="id">{{typeName | readable}}</span>
                        <span data-ng-switch-when="pathwayId"><translate>Pathway</translate></span>
                        <span data-ng-switch-when="compoundId"><translate>Compound</translate></span>
                        <span data-ng-switch-when="goTermId"><translate>GO</translate></span>
                        <span data-ng-switch-when="curatedSetId"><translate>Curated Gene Set</translate></span>
                        <span data-ng-switch-when="donorId"><translate>Donor</translate></span>
                        <span data-ng-switch-when="location">{{typeName | readable }} Location</span>
                        <span data-ng-switch-default="">{{facet | trans: typeName }}</span>
                    </span>

                    <span class="t_current__or">{{ prepositionBuilder(typeName, facet, terms) }}</span>

                    <ul class="t_facets__facet__terms" data-ng-init="expandTerms=false; limit=3">
                        <li data-ng-repeat="termObj in terms.is | limitTo:(expandTerms===true? terms.is.length : limit) track by termObj.term"
                            class="t_facets__facet__terms__term">
                            <span class="t_facets__facet__terms__active__term__label {{ activeClass({type:typeName, facet:facet}) }}"
                                  data-ng-style="hoverStyle"
                                  data-ng-click="track('term', {action: 'remove', label: termObj.controlFacet + ' / ' + termObj.controlTerm}); removeTerm(termObj.controlType, termObj.controlFacet, termObj.controlTerm)"
                                  data-icgc-tooltip="{{ termObj.term | geneSetNameLookup | define:termObj.controlFacet }}">
                                  {{ resolveDisplayName (termObj) | trans:termObj.controlFacet }}
                            </span>
                            <span data-ng-if="!$last" class="t_current__or">,&nbsp;</span>
                        </li>
                        <li data-ng-show="terms.is.length > limit">
                            <a href=""><span data-ng-click="expandTerms=!expandTerms" class="t_current__or">
                                <i class="{{expandTerms?'icon-caret-left':''}}"></i> {{ expandTerms? 'less':'...'}}
                            </span></a>
                        </li>
                        <li data-ng-repeat="termObj in terms.not | limitTo:(expandTerms===true? terms.not.length : limit) track by termObj.term"
                            class="t_facets__facet__terms__term">
                            <span class="t_facets__facet__terms__active__term__label {{ activeClass({type:typeName, facet:facet}) }}"
                                  data-ng-style="hoverStyle"
                                  data-ng-click="track('term', {action: 'remove', label: termObj.controlFacet + ' / ' + termObj.controlTerm}); removeTerm(termObj.controlType, termObj.controlFacet, termObj.controlTerm)"
                                  data-icgc-tooltip="{{ termObj.term | geneSetNameLookup | define:termObj.controlFacet }}">
                                  {{ resolveDisplayName (termObj) | trans:termObj.controlFacet }}
                            </span>
                            <span data-ng-if="!$last" class="t_current__or">,&nbsp;</span>
                        </li>
                        <li data-ng-show="terms.not.length > limit">
                            <a href=""><span data-ng-click="expandTerms=!expandTerms" class="t_current__or">
                                <i class="{{expandTerms?'icon-caret-left':''}}"></i> {{ expandTerms? 'less':'...'}}
                            </span></a>
                        </li>
                    </ul>
                    <span class="t_current__or">{{ inPluralForm (terms) ? ')' : '' }}</span>

                    <span data-ng-if="!$last" class="t_current__and"> AND </span>
                </li>
            </ul>
            <span data-ng-if="!$last" class="t_current__and"> AND </span>
        </li>
    </ul>
</div>
