<ul class="t_facets__facet">
    <li class="t_facets__facet__title" data-ng-class="{t_facets__facet__title_active:actives.length}">
        <span data-ng-click="collapsed=!collapsed" class="t_facets__facet__title__label">
            <i data-ng-class="{'icon-caret-down':!collapsed, 'icon-caret-right':collapsed}"></i>
            {{label}}
        </span>
        <span data-ng-if="actives.length || activeEntityIds.length > 0" class="t_facets__facet__terms__inactive__reset t_tools">
            <span class="pull-right t_facets__facet__is__not" 
                data-ng-if="enabled && type !== 'file-donor' && !isNot"
                data-ng-click="notFacet(facet)"
                data-tooltip="Toggle this facet to IS NOT">
                <i style="color:black;" class="icon-toggle-on"></i>
            </span>
            <span class="pull-right t_facets__facet__is__not" 
                data-ng-if="enabled && type !== 'file-donor' && isNot"
                data-ng-click="isFacet(facet)"
                data-tooltip="Toggle this facet to IS">
                <i style="color:darkred;" class="icon-toggle-off"></i>
            </span>
            <a data-ng-click="removeFacet()" class="t_tools__tool " href=""><i class="icon-undo"></i></a>
        </span>
    </li>
    <li>
        <ul class="t_facets__facet__terms__active">
            <li class="t_facets__facet__terms__active__term__label {{activeClass}}"
                data-active-term
                data-item="item"
                data-ng-repeat="item in activeEntityIds"
                data-ng-click="removeSpecificTerm (type, Extensions.ENTITY, item)"
                data-ng-mouseenter="mouseOver($event)"
                data-ng-mouseleave="mouseLeave($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                <i class="icon-ok"></i>
                <span data-tooltip="{{ item }}"
                      data-tooltip-placement="top">{{ entityIdMap [item] || item }}</span>
                </span>
            </li>

            <li class="t_facets__facet__terms__active__term__label {{activeClass}}"
                data-active-term
                data-item="item"
                data-ng-repeat="item in actives"
                data-ng-click="removeTerm(item)"
                data-ng-mouseenter="mouseOver($event)"
                data-ng-mouseleave="mouseLeave($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                <i class="icon-ok"></i>
                <span data-tooltip="{{ item }}"
                      data-tooltip-placement="top">{{item}}</span>
                </span>
            </li>
        </ul>
    </li>
    <li class="t_facets__facet__input" data-ng-hide="collapsed">
        <input class="t_input__block"
               placeholder="{{ placeholder }}"
               data-types="{{ types }}"
               data-suggest="tags"/>
        <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-show='isBusy'></i>
        <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
           data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
    </li>
    <li class="t_facets__facet__button">
        <ul class="t_facets__facet__terms__active">
            <li class="text-right" data-ng-hide="collapsed">
                <button type="button" class="t_button pull-right" data-ng-click="uploadDonorSet()">
                    <i class="icon-search"></i> Upload Donor Set
                </button>
                <br><br>
            </li>
        </ul>
    </li>
</ul>
