<ul class="t_facets__facet">
    <li class="t_facets__facet__title" data-ng-class="{t_facets__facet__title_active:actives.length}">
        <span data-ng-click="collapsed=!collapsed" class="t_facets__facet__title__label">
            <i data-ng-class="{'icon-caret-down':!collapsed, 'icon-caret-right':collapsed}"></i>
            {{label}}
        </span>
        <span data-ng-if="actives.length || hasExtension" class="t_facets__facet__terms__inactive__reset t_tools">
            <a data-ng-click="removeFacet()" class="t_tools__tool " href=""><i class="icon-undo"></i></a>
        </span>
    </li>
    <li>
        <ul class="t_facets__facet__terms__active">

            <li ng-if="isGeneType()"
                class="t_facets__facet__terms__active__term__label {{activeClass}}"
                active-term
                item="gene.dataId"
                ng-repeat="gene in activeGenes"
                ng-click="removeTerm (gene.dataId)"
                ng-mouseenter="mouseOver ($event)"
                ng-mouseleave="mouseLeave ($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                  <i class="icon-ok" />
                  <span tooltip="{{:: gene.tooltip }}"
                        tooltip-placement="top"
                        ng-bind="entityIdMap[gene.uiText.replace('ES:', '')]|| gene.uiText" />
                </span>
            </li>

            <li ng-if="! isGeneType()"
                class="t_facets__facet__terms__active__term__label"
                data-active-term
                data-item="item"
                data-ng-repeat="item in actives"
                data-ng-click="removeTerm(item)"
                data-ng-mouseenter="mouseOver($event)"
                data-ng-mouseleave="mouseLeave($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                  <i class="icon-ok" />
                  <span tooltip="{{:: item }}"
                        tooltip-placement="top"
                        ng-bind="item" />
                </span>
            </li>
        </ul>
    </li>
    <li class="t_facets__facet__input" data-ng-hide="collapsed">
        <input class="t_input__block"
               placeholder="{{ placeholder }}"
               data-types="{{ types }}"
               data-suggest="tags"/>
        <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-if='isBusy'></i>
        <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
           data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
    </li>
    <li class="t_facets__facet__button">
        <ul class="t_facets__facet__terms__active">
            <li class="text-right" data-ng-hide="collapsed">
                <!-- Split button -->
                <div class="btn-group entity-search pull-right">
                    <button type="button" class="btn t_button" data-ng-click="useGeneSet('upload')">Upload Gene Set</button>
                    <button type="button" 
                        class="btn t_button dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false" 
                        data-ng-if="entitySets.length">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" data-ng-if="entitySets.length">
                        <li><a href="" data-ng-click="useGeneSet('select')">Select Saved Gene Sets</a></li>
                        <li class="divider-label">
                            <div>
                                <span>Recent Gene Sets</span>
                            </div>
                        </li>
                        <li data-ng-repeat="set in entitySets | limitTo: displaySavedSetLimit" class="set-list">
                            <a href="" data-ng-click="selectSet(set);" data-ng-class="{selected: set.selected}">
                                <span>{{ set.name | limitTo: 16 }} {{set.name.length > 16 ? '...' : ''}} </span>
                                <span>{{ set.count | number }} Genes </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <br><br>
            </li>
        </ul>
    </li>
</ul>
