<ul class="t_facets__facet" ng-controller="tagsFacetCtrl as ctrl">
    <li class="t_facets__facet__title" data-ng-class="{t_facets__facet__title_active:actives.length}">

        <span data-ng-click="ctrl.collapsed=!ctrl.collapsed" data-ng-if="type !== 'file'" class="t_facets__facet__title__label">
            <i data-ng-class="{'icon-caret-down':!ctrl.collapsed, 'icon-caret-right':ctrl.collapsed}"></i>
            {{label}}
        </span>

        <span data-ng-click="ctrl.collapsed=!ctrl.collapsed" data-ng-if="type === 'file'" class="t_facets__facet__title__label">
            <i data-ng-class="{'icon-caret-down':!ctrl.collapsed, 'icon-caret-right':ctrl.collapsed}"></i>
            <abbr data-tooltip="{{'File ID, Object ID, Submitter Bundle ID, File Set ID, Manifest ID' | translate}}" tooltip-placement="right">{{label}}</abbr>
        </span>
        
        <span data-ng-if="actives.length > 0 || activeEntityIds.length > 0"
          class="t_facets__facet__terms__inactive__reset t_tools">
            <a data-ng-click="removeFacet()" class="t_tools__tool " href=""><i class="icon-undo"></i></a>
        </span>
    </li>
    <li>
        <ul class="t_facets__facet__terms__active">
            <li class="t_facets__facet__terms__active__term__label {{activeClass}}"
                data-active-term
                data-ng-if="isGeneType()"
                data-item="gene.dataId"
                data-ng-repeat="gene in activeGenes"
                data-ng-click="removeTerm (gene.dataId)"
                data-ng-mouseenter="mouseOver ($event)"
                data-ng-mouseleave="mouseLeave ($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                  <i class="icon-ok" />
                  <span tooltip="{{:: gene.tooltip }}"
                        tooltip-placement="top">
                    {{ entityIdMap[gene.uiText.replace('ES:', '')] || gene.uiText }}
                </span>
            </li>
            <li class="t_facets__facet__terms__active__term__label {{activeClass}}"
                data-active-term
                data-ng-if="!isGeneType()"
                data-item="item"
                data-ng-repeat="item in actives"
                data-ng-click="removeTerm(item)"
                data-ng-mouseenter="mouseOver($event)"
                data-ng-mouseleave="mouseLeave($event)">

                <span class="t_facets__facet__terms__active__term__label__text">
                    <i class="icon-ok"></i>
                    <span tooltip="{{:: item }}" 
                        tooltip-placement="top">
                        {{ entityIdMap [item.replace('ES:', '')] || item }}
                    </span>
                </span>
            </li>
        </ul>
    </li>
    <li class="t_facets__facet__input" data-ng-hide="ctrl.collapsed">
        <input class="t_input__block"
               placeholder="{{ placeholder }}"
               data-types="{{ types }}"
               data-suggest="tags"/>
        <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-if='isBusy'></i>
        <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
           data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
    </li>
    <li class="t_facets__facet__button" data-ng-if="showEntitySetFacet">
        <ul class="t_facets__facet__terms__active">
            <li class="text-right" data-ng-hide="collapsed">
                <data-entity-set-facet
                    data-entity-type="{{label}}"
                    data-entity-set="entitySets"
                    data-click-event="uploadEntityFn"
                    data-select-event="selectSet">
                </data-entity-set-facet>
                <br><br>
            </li>
        </ul>
    </li>
</ul>
