/*
 * Copyright 2016(c) The Ontario Institute for Cancer Research. All rights reserved.
 *
 * This program and the accompanying materials are made available under the terms of the GNU Public
 * License v3.0. You should have received a copy of the GNU General Public License along with this
 * program. If not, see <http://www.gnu.org/licenses/>.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

.select-list {
  width: 100%;
  max-height: 42rem;
  overflow-y: auto;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.2));
    z-index: 1;
  }
}

.select-list-no-item{
  margin: 12px;
}

.select-list-item {
  cursor: pointer;
  padding: 0.5rem;
  padding-left: calc(0.5rem + 3px);
  transition: all 0.2s ease;
  border-bottom:1px solid $greyLighter;
  position: relative;
  transform: translateZ(0);
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: $mauve;
    transform: translateY(100%);
    transition: all 0.2s;
  }

  &:hover {
    background-color: $selection;
  }

  &.active {
    box-shadow: -2px 2px 7px 0px rgba(0, 0, 0, 0.2);
    background: $white;
    color: $black;
    z-index: 2;
    &:before {
      transform: translateY(0);
    }
  }

  .select-list-item-detail{
    display: block;
    line-height: 20px;

    .list-item-date{
      color: $grey;
    }
  }

  .select-list-cancel {
    background: transparent;
    color: $greyLight;

    &:hover:before {
      background-color: $red;
      color: $white;
    }

    &:before {
      padding: 0.15rem;
      border-radius: 25%;
      transition: all 0.2s;
    }
  }
}

/* Entity saved set list facet */

.entity-search{
  button, ul{
    font-size: 100%;
  }

  ul{
    .divider-label{
      height: 30px;

      div{
        width: 100%;
        height: 14px;
        border-bottom: 1px solid #ddd;
      }
      span{
        font-size: 10px;
        background: #FFF;
        margin: 0px 20px;
        padding: 0px 3px;
        color: #666;
      }
    }
    .set-list{
      a{
        cursor: pointer;

        &.selected{
          cursor: default;
          span{
            color: #555;

            &:last-child{
              color: #555;
            }
          }
        }
        
        span{
          display: block;
          
          &:last-child{
            text-align: right;
            font-size: 10px;
            color: #000;
          }
        }
      }
    }
  }
}

