<article class="full home-landing">
    <div class="clearfix">
        <form class="t_suggest">
            <input
                    class="t_suggest__input"
                    placeholder="{{'e.g. BRAF, KRAS G12D, DO35100, MU7870, FI998, apoptosis, Cancer Gene Census, imatinib, GO:0016049' | translate}}"
                    autofocus="true"
                    data-suggest
                    />
            <i class="t_suggest__embedded t_suggest__embedded__left t_suggest__embedded__search icon-search"></i>
            <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-show='isBusy'></i>
            <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel"
               data-ng-click="query='';quick()" data-ng-show='query && !isBusy'></i>
        </form>
    </div>
    <section>
        <h3><translate>About Us</translate></h3>

        <p>
            <translate has-markup>The <a target="_blank" href="http://icgc.org"><i class="icon-external-link"></i>ICGC</a> Data Portal provides tools for visualizing, querying
            and downloading the data released quarterly by the consortium's member projects.</translate>
        </p>

        <p><translate has-markup>To access ICGC controlled tier data, please read these <a href="http://docs.icgc.org/portal/access/" target="_blank"><i class="icon-external-link"></i>instructions.</a></translate></p>

        <p><translate has-markup>New features will be regularly added by the <a href="/team">DCC development team</a>.</translate>
            <a href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback"><i class="icon-mail"></i><translate>Feedback is welcome.</translate></a>
        </p>

        <div class="divider"></div>

        <p>
         <div class="text-left"><a href="/pcawg" style="background:none"><img id="#pcawg-logo" src="styles/images/PCAWG-final-small.png"></a></div>
         <translate has-markup>The <a href="/pcawg">Pancancer Analysis of Whole Genomes</a> (PCAWG) study is an international collaboration to identify common patterns of mutation in more than 2,800 cancer whole genomes from the International Cancer Genome Consortium.</translate>
        </p>
    </section>
    <section class="text-center" data-ng-controller="ReleaseCtrl as ReleaseCtrl">
        <h3><translate>Data Release</translate> {{ ReleaseCtrl.release.releaseNumber }}</h3>
        <h3 class="subhead">{{ ReleaseCtrl.applicationReleaseDate }}</h3>
        <donut home=true items='ReleaseCtrl.donut' inner-label='Donors' outer-label='Donors'
               heading="{{'Donor Distribution by Primary Site' | translate}}" height="325" should-show-no-data-message="false"></donut>

        <div class="summary-table-container">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr>
                    <td><translate>Cancer projects</translate></td>
                    <td class="text-right">
                        <a href="/projects">{{ReleaseCtrl.release.projectCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Cancer primary sites</translate></td>
                    <td class="text-right">{{ReleaseCtrl.release.primarySiteCount | number}}
                    </td>
                </tr>
                <tr>
                    <td><translate>Donors with molecular data in DCC</translate></td>
                    <td class="text-right">
                        <a href="{{ReleaseCtrl.routeToAdvancedSearchPageWithLiveDonorStateFilter()}}">{{ReleaseCtrl.release.liveDonorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Total Donors</translate></td>
                    <td class="text-right">
                        <a href="/search">{{ReleaseCtrl.release.donorCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Simple somatic mutations</translate></td>
                    <td class="text-right">
                        <a href="/search/m">{{ReleaseCtrl.release.ssmCount | number}}</a>
                    </td>
                </tr>
                <tr>
                    <td><translate>Mutated Genes</translate></td>
                    <td class="text-right">
                        <a href='/search/g?filters={"donor":{"availableDataTypes":{"is":["ssm"]}}}'>
                        {{ReleaseCtrl.release.mutatedGeneCount | number}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="sidebar omega">
        <h3><translate>Tutorial</translate></h3>
        <h4><translate>Example Queries</translate></h4>
        <ol class="list">
            <li>
                <a href='/search/m?filters={"gene":{"id":{"is":["ENSG00000157764"]}},"mutation":{"consequenceType":{"is":["missense_variant"]}},"donor":{"primarySite":{"is":["Colorectal"]}}}'>
                    <translate>BRAF missense mutations in colorectal cancer</translate>
                </a>
            </li>
            <li>
                <a href='/search/g?filters={"mutation":{"functionalImpact":{"is":["High"]}}, "donor":{"projectId":{"is":["MALY-DE"]}, "tumourStageAtDiagnosis":{"is":["III"]}}}'>
                    <translate>Most frequently mutated genes by high impact mutations in stage III malignant lymphoma</translate>
                </a>
            </li>
            <li>
                <a href='/search?filters={"donor":{"primarySite":{"is":["Brain"]}, "availableDataTypes":{"is":["meth_array", "meth_seq"]}},"mutation":{"consequenceType":{"is":["frameshift_variant"]}}}'>
                    <translate>Brain cancer donors with frameshift mutations and having methylation data available</translate>
                </a>
            </li>
        </ol>
    </section>
    <section class="sidebar icgc-cloud-home">
        <div class="divider"></div>
        <div class="icgc-container">
          
            <a href="/icgc-in-the-cloud" title="Go to ICGC in the Cloud Home">
                <img alt="ICGC in the Cloud Logo" src="/scripts/repositories/images/home/ICGC_cloud_logo.png" />
            </a>  
            <p>
              <translate>ICGC data is now available on commercial and academic compute cloud.</translate>
              <a href="/icgc-in-the-cloud"><translate>Read more...</translate></a>
            </p>
        </div>
    </section>
    
</article>
