<main class="home-main">
    <div class="white-row">
        <div class="content-wrap">
            <div class="search-container">
                <div class="headline">
                    <h2>
                        <translate>Cancer genomics data sets visualization, analysis and download.</translate>
                    </h2>
                </div>
                <div class="search-box">
                    <form class="t_suggest" ng-submit="btnSubmit()" ng-controller="suggestController">
                        <div class="search-input-container">
                            <input class="t_suggest__input" placeholder="{{'Quick Search' | translate}}" autofocus="true" data-suggest />
                            <i class="t_suggest__embedded t_suggest__embedded__right  icon-spin icon-spinner" data-ng-show='isBusy'></i>
                            <i class="t_suggest__embedded t_suggest__embedded__right t_suggest__embedded__clear icon-cancel" data-ng-click="query='';quick()"
                                data-ng-show='query && !isBusy'></i>
                        </div>
                        <button class="btn" type="submit" value="Submit">Search</button>
                    </form>
                    <div class="search-suggestions">
                        <translate>e.g. BRAF, KRAS G12D, DO35100, MU7870, Fl998, apoptosis, Cancer Gene Census, imatinib, GO:0016049</translate>
                    </div>
                    <div class="advanced-search">
                        <h3>
                            <translate>Advanced Search</translate>
                        </h3>
                        <div class="buttons">
                            <a class="btn" href="/search">
                                <translate>By donors</translate>
                            </a>
                            <a class="btn" href="/search/g">
                                <translate>By genes</translate>
                            </a>
                            <a class="btn" href="/search/m">
                                <translate>By mutations</translate>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects-container" data-ng-controller="ReleaseCtrl as ReleaseCtrl">
                <h3>{{ReleaseCtrl.release.projectCount | number}}
                    <translate>Cancer projects</translate>
                </h3>
                <a href="/projects">View Projects</a>
                <div class="stats">
                    <div class="label">
                        <translate>Cancer primary sites</translate>
                    </div>
                    <div class="last">{{ReleaseCtrl.release.primarySiteCount | number}}</div>

                    <break></break>

                    <div class="label">
                        <translate>Donor with molecular data in DCC</translate>
                    </div>
                    <div class="last">{{ReleaseCtrl.release.liveDonorCount | number}}</div>

                    <break></break>

                    <div class="label">
                        <translate>Total Donors</translate>
                    </div>
                    <div class="last">{{ReleaseCtrl.release.donorCount | number}}</div>

                    <break></break>

                    <div class="label">
                        <translate>Simple somatic mutations</translate>
                    </div>
                    <div class="last">{{ReleaseCtrl.release.ssmCount | number}}</div>
                </div>
                <div class="latest">
                    <div class="label">
                        <translate>{{ReleaseCtrl.applicationReleaseDate}}</translate>
                    </div>
                    <div class="last">
                        <i class="fa fa-download"></i>
                        <a href="/releases/current">
                            <translate>Download Release</translate>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-row">
        <div class="content-wrap">
            <div class="intro">
                <div>
                    <h2>
                        <translate>Browse more than 2800 harmonized whole genomes</translate>
                    </h2>
                    <p>
                        <translate>The Pan-Cancer Analysis of Whole Genomes is an international collaboration to identify common mutation
                            patterns. With open data access, you can join the collaborative analysis effort!</translate>
                    </p>
                    <img src="/styles/images/PCAWG-final.svg" />
                </div>
                <div>
                    <h2>
                        <translate>Instant analysis with cloud computing</translate>
                    </h2>
                    <p>
                        <translate>Getting headaches spending days or weeks downloading data? Instead, upload your analytic software
                            to our Collaboratory cloud or Amazon Web Services and get right to the research with ICGC data
                            in the cloud.</translate>
                    </p>
                    <img src="/styles/images/ICGC_cloud_logo-transparent.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="white-row">
        <div class="content-wrap">
            RESOURCES HERE
        </div>
    </div>
    <div class="blue-row">
        <div class="content-wrap">
            BLUE HERE
        </div>
    </div>
</main>