.team-content {
  .team-section-header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  .full .team-section-header:first-child {
    margin-top: 0.75rem;
  }
}

