<div class="modal-content download-manifests light">
  <div class="modal-header clearfix">
    <h3 class="pull-left">
      Manifest ID
    </h3>
    <button class="pull-right t_button" data-ng-click="cancel()">
      <i class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-info-wrapper flex-column">
      <p>icgc-get intro text</p>

      <p>Manifest ID:</p>
      <div>
        <div class="input-group clipboard-group" ng-if="!!vm.manifestId">
          <input
            class="manifest-id form-control input-sm code text-center"
            onClick="this.select()"
            size="38"
            type="text"
            value="{{vm.manifestId}}"
          />
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button"
                data-copy-to-clip
                data-copy-data="vm.manifestID"
                data-show-copy-tips="true"
                data-prompt-on-copy="false"
                data-on-copy-success-message="Copied!"
                data-on-hover-message="Copy to clipboard"
                >
                <i class="icon-clippy"></i>
            </button>
            
          </span>
        </div>
        <i
          class="icon-spin icon-spinner"
          ng-class="{ 'hidden': !vm.loadState.isLoading }"
        ></i>
      </div>

      <translate></translate>
      


    </div>
    <div>
      
    </div>
  </div>

  <div class="modal-footer">
    <button class="t_button" data-ng-click="cancel();">OK</button>
  </div>
</div>