<div class="h1-wrap">
    <h1 data-ui-scrollfix="79">
        <span class="t_badge t_badge_icon t_badge__data_repositories">
          <span class="icon-download-cloud" />
        </span>
        {{:: ExternalRepoController.dataRepoTitle }}
    </h1>
</div>

<div>

<aside class="t_sidebar">

  <div class="t_tabs">
    <div class="t_tabs__tab t_tabs__tab__file"
      ng-class="{ active: ExternalRepoController.isOnFilesTab() }"
      ng-click="ExternalRepoController.setTabToFiles()">
      <translate>Files</translate>
    </div>
    <div class="t_tabs__tab t_tabs__tab__donor"
      ng-class="{ active: ExternalRepoController.isOnDonorsTab() }"
      ng-click="ExternalRepoController.setTabToDonors()">
      <translate>Donors</translate>
    </div>
  </div>

  <div class="t_facets_container">
    <div class="t_tab_pane"
      ng-class="{ active: ExternalRepoController.isOnFilesTab() }"
      ng-show="ExternalRepoController.isOnFilesTab()">
      <ul class="t_facets">
        <li data-tags-facet
          data-type="file"
          data-facet-name="id"
          data-proxy-type="file"
          data-proxy-facet-name="id"
          data-label="{{'File' | translate}}"
          data-placeholder="{{'e.g. FI123, 7f87aa6a-b447-5092...' | translate}}" 
          data-entity-sets="ExternalRepoController.fileSets"
          data-show-entity-set-facet="true"/>
        <terms data-type="file"
          data-facet-name="repoName"
          data-facet="ExternalRepoController.files.termFacets.repoName"
          data-label="{{'Repository' | translate}}"
          data-icon-getter="ExternalRepoController.repoIconClass" />
        <terms data-type="file"
          data-facet-name="dataType"
          data-label="{{'Data Type' | translate}}"
          data-facet="ExternalRepoController.files.termFacets.dataType"
          data-defined="true" />
        <terms data-type="file"
          data-facet-name="experimentalStrategy"
          data-label="{{'Experimental Strategy' | translate}}"
          data-facet="ExternalRepoController.files.termFacets.experimentalStrategy"
          data-defined="true" />
        <terms data-type="file"
          data-facet-name="study"
          data-label="{{'Only Files in Study' | translate}}"
          data-missing-text="None"
          data-facet="ExternalRepoController.files.termFacets.study" />
        <terms data-type="file"
          data-facet-name="fileFormat"
          data-label="{{'File Format' | translate}}"
          data-facet="ExternalRepoController.files.termFacets.fileFormat" />
        <terms data-type="file" data-facet-name="software"
          data-label="{{'Analysis Software' | translate}}"
          data-facet="ExternalRepoController.files.termFacets.software" />
        <terms data-type="file"
          data-facet-name="access"
          data-label="{{'Access' | translate}}"
          data-collapsed="true"
          data-facet="ExternalRepoController.files.termFacets.access" />
      </ul>
    </div>

    <div class="t_tab_pane"
      ng-class="{ active: ExternalRepoController.isOnDonorsTab() }"
      ng-show="ExternalRepoController.isOnDonorsTab()">
      <ul class="t_facets">
        <li data-tags-facet
          data-type="file-donor"
          data-facet-name="id"
          data-label="{{'Donor' | translate}}"
          data-placeholder="{{'e.g. DO45299, SA501608' | translate}}"
          data-proxy-type="file"
          data-proxy-facet-name="donorId"
          data-entity-sets="ExternalRepoController.donorSets"
          data-show-entity-set-facet="true"></li>
      <terms data-type="file" data-facet-name="projectCode"
             data-label="{{'Project' | translate}}"
             data-facet="ExternalRepoController.files.termFacets.projectCode"
             data-defined="true" />
      <terms data-type="file" data-facet-name="primarySite"
             data-label="{{'Primary Site' | translate}}"
             data-facet="ExternalRepoController.files.termFacets.primarySite"></terms>
      <terms data-type="file" data-facet-name="specimenType"
             data-facet="ExternalRepoController.files.termFacets.specimenType"
             data-label="{{'Specimen Type' | translate}}"
             data-defined="true"></terms>
      <terms data-type="file" data-facet-name="donorStudy"
             data-label="{{'Only Donors in Study' | translate}}"
             data-missing-text="None"
             data-facet="ExternalRepoController.files.termFacets.donorStudy"></terms>
    </ul>
    <section>
      <translate  has-markup>
        For more complex queries, use <a href=""
        ng-click="ExternalRepoController.viewInSearch (ExternalRepoController.summary.fileCount)">
          {{:: ExternalRepoController.advancedSearchInfo.title}}</a> and
          click on "View in {{:: ExternalRepoController.dataRepoTitle }}"
      </translate>
    </section>
    </div>
  </div>
</aside>

<article style="position: relative; margin-right: 1px;">
    <current></current>
    <div data-ng-if="ExternalRepoController.loadState.isLoading" class="loading loading-text no-animate">
      <h3><i class="icon-spinner icon-spin"></i>
        <translate>Loading Files...</translate>
      </h3>
    </div>
    <section style="padding-top:0">
        <div>
           <!--
           <p>
               ICGC raw data and other data are available in other repositories. You can use this search tool to find
               files of your interest and create repository-specific manifests. Some manifests may require
               <a href="https://docs.icgc.org/access-controlled-data" target="_blank"><i class="icon-external-link"></i>authorized</a> access.
               <br>
               -->
            </p>
        </div>
        <div class="empty loading-text" data-ng-if="!ExternalRepoController.loadState.isLoading && ExternalRepoController.files.hits.length === 0">
            <h3><translate>No Files Found</translate></h3>
        </div>
        <div data-ng-if="!ExternalRepoController.loadState.isLoading && ExternalRepoController.files.hits.length">
            <section class="well" style="padding-top:0.5rem; padding-bottom:0.5rem">

                <div class="quarter" data-ng-if="!ExternalRepoController.showIcgcGet">
                    <button class="t_button" data-ng-click="ExternalRepoController.downloadManifest()">
                      <i class="icon-download"></i><translate>Download manifests</translate>
                    </button>
                </div>
                <div class="quarter" data-ng-if="ExternalRepoController.showIcgcGet">
                  <button class="t_button" data-ng-click="ExternalRepoController.downloadManifest()">
                    <i class="icon-file"></i>Manifests
                  </button>

                  <button class="t_button" data-ng-click="ExternalRepoController.showIcgcGetModal()">
                    <img src="/styles/images/icgc-get-white.svg" style="width: 16px; margin-bottom: -3px;">
                    <span>icgc-get</span>
                  </button>
                </div>

                <div class="quarter">
                    <i class="icon-file" style="font-size:1.25rem"></i>
                    <strong >
                        <span data-ng-if="ExternalRepoController.summary.fileCount" data-ng-bind="ExternalRepoController.summary.fileCount | number"></span>
                        <span data-ng-if="! ExternalRepoController.summary.donorCount">
                            <i class="icon-spinner icon-spin"></i>
                        </span>
                    </strong> <translate>Files</translate>
                </div>
                <div class="quarter">
                    <i class="icon-team" style="font-size:1.25rem"></i>
                    <a href="" data-ng-if="ExternalRepoController.summary.donorCount" data-ng-click="ExternalRepoController.viewInSearch(ExternalRepoController.summary.fileCount)" >
                      <strong>
                          <span data-ng-bind="ExternalRepoController.summary.donorCount | number"></span>
                      </strong> <translate>Donors</translate>
                    </a>
                    <span data-ng-if="! ExternalRepoController.summary.donorCount">
                        <strong>
                            <i class="icon-spinner icon-spin"></i>
                        </strong> <translate>Donors</translate>
                    </span>
                </div>
                <div class="quarter omega">
                    <i class="icon-database" style="font-size:1.25rem"></i>
                    <strong>
                        <span data-ng-if="ExternalRepoController.summary.totalFileSize" data-ng-bind="ExternalRepoController.summary.totalFileSize | bytes"></span>
                        <span data-ng-if="! ExternalRepoController.summary.totalFileSize">
                            <i class="icon-spinner icon-spin"></i>
                        </span>
                    </strong>
                </div>
            </section>

            <section class="graphs-container">
              <div class="graphs">
                <bar
                  config-overrides="ExternalRepoController.repoChartConfigOverrides"
                  items="ExternalRepoController.facetCharts.repositories"
                  heading="{{'Repository' | translate}}"
                  ylabel="{{'Files' | translate}}"
                  type="bar"
                  width="390"
                  height="150"
                  group-percent="3"
                >
                </bar>

                <pie items='ExternalRepoController.facetCharts.primarySite' heading="{{'Primary Site' | translate | replace: ' ':'&nbsp;'}}" label="{{'Files' | translate}}" type="pie" width="160" group-percent="3"
                   height="150"></pie>
                <pie items='ExternalRepoController.facetCharts.dataType' heading="{{'Data Type' | translate}}" label="{{'Files' | translate}}" type="pie" width="160" group-percent="3"
                   height="150"></pie>
                <pie items='ExternalRepoController.facetCharts.experimentalStrategy' heading="{{'Experimental Strategy' | translate | replace: ' ':'&nbsp;'}}" label="{{'Files' | translate}}" type="pie" width="160" group-percent="3"
                   height="150"></pie>
              </div>

            </section>

            <div class="clearfix"></div>

            <span class="action-toolbar pull-right">
              <span class="action-item" style="font-weight: 300;">
                  <i class="icon-floppy"></i><a href="" data-ng-click="ExternalRepoController.saveDonorSet('donor', ExternalRepoController.summary.donorCount)"><translate>Save Donor Set</translate></a>
              </span>
              <span class="action-item">
                  <entityset-persistence-dropdown
                      selected-entity-ids="ExternalRepoController.selectedFiles"
                      entity-type="'file'"
                      set-total-count="ExternalRepoController.files.pagination.total"
                      set-limit="ICGC_SETTINGS.maxNumberOfHits"
                      on-operation-success="ExternalRepoController.handleOperationSuccess()"
                  ></entityset-persistence-dropdown>
              </span>
            </span>

            <div class="t_table_top">
                <span data-table-counts data-label="{{'files' | translate}}" data-page="ExternalRepoController.files.pagination"></span>
                <span class="t_tools">
                    <span class="t_tools__tool">
                        <i class="icon-file pull-right"
                           data-tooltip="{{'Export table as TSV' | translate}}" data-tooltip-placement="left"
                           data-ng-click="ExternalRepoController.export()"></i>
                    </span>
                </span>
            </div>

            <table class="table table-selectable">
                <thead>
                    <th>&nbsp;</th>
                    <th data-sortable data-type="files" data-field="id"
                      data-active="true" data-reversed="true"><translate>File ID</translate></th>

                    <th data-sortable data-type="files" data-field="donorId"><translate>Donor</translate></th>

                    <th><translate>Repository</translate></th>

                    <th data-sortable data-type="files" data-field="projectCode"><translate>Project</translate></th>

                    <th><translate>Study</translate></th>
                    <th data-sortable data-type="files" data-field="dataType"><translate>Data Type</translate></th>
                    <th data-sortable data-type="files"
                      data-field="experimentalStrategy"><translate>Strategy</translate></th>
                    <th><translate>Format</translate></th>

                    <!-- <th data-sortable data-type="files" data-field="fileSize">Size</th> -->
                    <th><translate>Size</translate></th>
                    <th style="text-align:center">
                      <abbr>
                        <i class="icon-chart-bar" 
                          tooltip="{{'BAM & VCF Stats (available only for BAM and VCF Files in AWS and Collaboratory)' | translate}}" tooltip-placement="left">
                        </i>
                      </abbr>
                    </th>

                </thead>

                <tbody>
                  <tr
                    data-ng-repeat="row in ExternalRepoController.files.hits track by row.id"
                    data-ng-click="ExternalRepoController.toggleRow (row)"
                    ng-class="{
                        'is-selected': ExternalRepoController.isSelected(row)
                    }"
                  >
                    <td>
                        <icgc-checkbox is-checked="ExternalRepoController.isSelected(row)"></icgc-checkbox>
                    </td>

                    <td style="white-space:nowrap;max-width: 8rem; font-size: {{ row.fileId.length > 100? '0.75rem' : ' inherit' }}">
                       <i class="{{ row.access === 'open' ? 'icon-lock-open' : 'icon-lock' }}" />
                       <a href="{{:: ExternalRepoController.dataRepoFileUrl }}{{ row.id }}"
                        tooltip="{{ ExternalRepoController.fileNames (row.fileCopies) }}"
                        ng-bind="row.id" />
                    </td>

                    <td ng-init="donorData = ExternalRepoController.donorInfo (row.donors)">
                      <a data-ng-if="row.donors.length < 2" href="{{ donorData.href }}" tooltip="{{ donorData.tooltip }}"
                        ng-bind="donorData.text" />
                      <a data-ng-if="row.donors.length >= 2" href="" data-ng-click="ExternalRepoController.viewFileInSearch(row.id, row.donors.length)" tooltip="{{ donorData.tooltip }}"
                        ng-bind="donorData.text" />
                    </td>

                    <td tooltip="{{ ExternalRepoController.repoNamesInTooltip (row.fileCopies) }}"
                      ng-bind="(row.fileCopies | _:'map':'repo.name' | _:'unique').join(', ')" />

                    <td ng-init="ProjectData = ExternalRepoController.buildProjectInfo (row.donors)">
                      <a href="{{ ProjectData.href }}" tooltip="{{ ProjectData.tooltip }}"
                        ng-bind="ProjectData.text" />
                    </td>

                    <td>
                      <study-badge study="{{ row.study [0] }}" text="{{ row.study [0] }}">
                    </td>

                    <td>{{ row.dataCategorization.dataType }}</td>
                    <td>{{ row.dataCategorization.experimentalStrategy }}</td>

                    <td>{{ ExternalRepoController.fileFormats (row.fileCopies) }}</td>

                    <td class="text-right" style="white-space:nowrap">
                      {{ ExternalRepoController.fileAverageSize (row.fileCopies) | bytes }}
                    </td>

                    <td class="text-center" valign="middle" style="min-width: 1.6rem;">
                      <iobio-statistics data-file-copies="row.fileCopies"
                        data-object-id="row.objectId"
                        data-row-id="row.id"></iobio-statistics>
                    </td>

                  </tr>
                </tbody>
            </table>
           <pagination-controls data-type="files" data-data="ExternalRepoController.files"></pagination-controls>
        </div>

        <div ng-if="!ExternalRepoController.loadState.isLoading && ExternalRepoController.files.hits.length">
            <br>

            <small class="pull-left">
              <translate>
               Please see the <a href="http://docs.icgc.org/portal/repositories" target="_blank">
               <i class="icon-external-link"></i>Repository documentation</a> resource for a general overview of this feature.
              </translate>
            </small>
            <small class="pull-right">Index updated: {{ExternalRepoController.repoCreationTime | date}}</small>
        </div>
    </section>
</article>
</div>
