<div class="modal-content download-manifests light">
    <div class="modal-header clearfix">
      <h3 class="pull-left"><i class="icon-download" style="color: #666;"></i><translate>Download Files</translate></h3>
      <button class="pull-right t_button" data-ng-click="cancel()"><i
              class="icon-cancel"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="modal-info-wrapper">
        <div class="modal-info">
          <p>
            <translate>For instructions on obtaining access, see the <a href="http://docs.icgc.org/download/repositories/" target="_blank" external-link>Repositories documentation</a>.</translate>
          </p>
          <div class="flex-row">
            <small><translate>The available repositories below are restricted by your search filter</translate></small>
            <label
              class="no-select text-right"
              ng-show="repos.length > 1"
              style="margin-left: auto; cursor: pointer;"
            >
              <input
                ng-model="shouldDeduplicate"
                type="checkbox"
                ng-change="track('generate-manifest', {action: 'click', label: 'set dedupe', value: shouldDeduplicate})"
              />
              <translate>Remove duplicate files</translate>
              <i
                class="fa fa-info-circle"
                style="color: #b1b1b1;"
                icgc-tooltip="{{'<div class=\'tooltip-contents\'><p>Some files may be stored in multiple repositories.</p> <p>When &quot;Remove duplicate files&quot; is checked, duplicates from repositories lower in the list will not be included, and a manifest containing unique files from all repositories will be generated.</p> <p>You may drag rows to reorder the list to affect the generated manifest.</p></div>' | translate}}"
                tooltip-placement="left"
              ></i>
            </label>
          </div>
        </div>
      </div>

       <table class="table table-info">
         <thead>
           <th ng-if="shouldDeduplicate" class="text-center no-animate" colspan="2" ng-if="repos.length > 1"><translate>Priority</translate></th>
           <th style="width: 40%;"><translate>Repository</translate></th>
           <th class="text-right"><translate># Donors</translate></th>
           <th class="text-right"><translate># Files</translate></th>
           <th class="text-right"><translate>Total file size</translate></th>
         </thead>

         <tbody dnd-list="repos">
            <tr
              data-ng-repeat-start="repoData in repos"
              data-ng-class="{
                alt: $index % 2 === 0
              }"
              dnd-moved="movedCallback($index)"
              dnd-draggable="repoData"
              dnd-dragstart="closeDropdowns()"
              dnd-effect-allowed="move"
              dnd-disable-if="!shouldDeduplicate"
            >
             <td class="handle text-right no-animate" ng-if="shouldDeduplicate && repos.length > 1">&nbsp;::: </td>
             <td class="text-left no-animate" ng-if="shouldDeduplicate && repos.length > 1">{{$index + 1}}</td>
             <td>
                <i ng-if="repoData.isCloud" class="icon-cloud"></i>
                {{ repoData.repoName }}
             </td>
            <td
              class="text-right"
            >
              <number-tween
                ng-if="getRepoFieldValue(repoData.repoName, 'donorCount') !== undefined"
                value="getRepoFieldValue(repoData.repoName, 'donorCount')"
                formatter="$filter('number')"
                on-tween-start="handleNumberTweenStart"
                on-tween-end="handleNumberTweenEnd"
              ></number-tween>
              <i ng-if="getRepoFieldValue(repoData.repoName, 'donorCount') === undefined" class="icon-spinner icon-spin no-animate"></i>
            </td>

             <td
              class="text-right"
            >
               <number-tween
                  ng-if="getRepoFieldValue(repoData.repoName, 'fileCount') !== undefined"
                  value="getRepoFieldValue(repoData.repoName, 'fileCount')"
                  formatter="$filter('number')"
                  on-tween-start="handleNumberTweenStart"
                  on-tween-end="handleNumberTweenEnd"
                ></number-tween>
                <i ng-if="getRepoFieldValue(repoData.repoName, 'fileCount') === undefined" class="icon-spinner icon-spin no-animate"></i>
            </td>

            <td
              class="text-right"
            >
               <number-tween
                  ng-if="getRepoFieldValue(repoData.repoName, 'fileSize') !== undefined"
                  value="getRepoFieldValue(repoData.repoName, 'fileSize')"
                  formatter="$filter('bytes')"
                  on-tween-start="handleNumberTweenStart"
                  on-tween-end="handleNumberTweenEnd"
                ></number-tween>
                <i ng-if="getRepoFieldValue(repoData.repoName, 'fileSize') === undefined" class="icon-spinner icon-spin no-animate"></i>
            </td>

           </tr>

            <tr class="extras" data-ng-repeat-end>
           </tr>

           <tr class="dndPlaceholder">
             <td colspan="7"></td>
           </tr>

         </tbody>
         <tfoot ng-show="repos.length > 1">
           <tr class="totals" style="font-weight: bold;">
             <td colspan="{{shouldDeduplicate ? '4' : '2'}}" class="text-right">Totals:</td>
             <td class="text-right">{{ shouldDeduplicate ? summary : repos | _:'map':'fileCount' | _:'compact' | _:'sum' | number }}</td>
             <td class="text-right">{{ shouldDeduplicate ? summary : repos | _:'map':'fileSize' | _:'compact' | _:'sum' | bytes }}</td>
           </tr>
         </tfoot>
       </table>
    </div>

    <div class="modal-footer">

      <!-- ICGC-GET -->
      <button
        ng-if="!icgcGetId"
        class="t_button no-animate"
        data-ng-click="
          !icgcGetId && handleClickGenerateIcgcGetId(repos);
          icgcGetId && 
          track('generate-icgc-get-id', { action: 'click' });
        ">
        <span ng-show="!isGeneratingIcgcGetId && !icgcGetId">
          <translate>Generate icgc-get ID</translate>
        </span>
        <span ng-show="isGeneratingIcgcGetId">
          <translate>Generating icgc-get ID</translate> <i class="fa fa-spin fa-spinner"></i>
        </span>
      </button>
      <div ng-if="icgcGetId" class="text-left">
        <span class="button-label">Your icgc-get manifest ID is:</span>
        <div class="flex-row align-flex-end">
          <button
            class="t_button icgc-get-id"
            data-ng-click="
              track('copy-icgc-get-id', { action: 'click' });
            "
            data-copy-to-clip
            data-copy-analytics-tag="icgc-get-manifest-id"
            data-copy-data="icgcGetId"
            data-show-copy-tips="true"
            data-prompt-on-copy="false"
            data-on-copy-success-message="Copied!"
            data-on-hover-message="Copy to clipboard"
          >
              {{ icgcGetId }}
          </button>
          <button
              style="border-radius: 0 3px 3px 0;"
              class="btn btn-default btn-sm"
              type="button"
              data-copy-to-clip
              data-copy-analytics-tag="icgc-get-manifest-id"
              data-copy-data="icgcGetId"
              data-show-copy-tips="true"
              data-prompt-on-copy="false"
              data-on-copy-success-message="Copied!"
              data-on-hover-message="Copy to clipboard"
          >
              <i class="icon-clippy"></i>
          </button>
        </div>
      </div>
      <a
        href="http://docs.icgc.org/download/icgc-get/#download-using-manifest-id"
        target="_blank"
        style="margin-left: 4px;"
      >
        <i
          class="fa fa-question-circle"
          style="cursor: pointer;"
          icgc-tooltip="{{'<div class=\'tooltip-contents\'>icgc-get is a universal download client for accessing ICGC data residing in various data repositories. <br/><small><em>Click to see the User Guide for more information</em> <i class=\'fa fa-external-link\'></i></small></div>' | translate}}"
        ></i>
      </a>

      <!-- ICGC Storage Manifest ID -->
      <button
        class="t_button"
        data-ng-repeat="repoData in repos"
        data-ng-if="repos.length === 1 && repoData.hasManifest && !manifestID"
        data-ng-click="track('create-manifest-id', { action: 'click', label: repoData.repoName }); (!repoData.manifestID && !repoData.isGeneratingManifestID) && createManifestId(repoData.repoName, repoData)"
      >
        <span ng-show="!isGeneratingManifestID && !manifestID">
          <translate>Manifest ID</translate>
        </span>
        <span ng-show="isGeneratingManifestID">
          <translate>Generating Manifest ID</translate> <i class="fa fa-spin fa-spinner"></i>
        </span>
      </button>
      </a>
      <div ng-if="manifestID" class="text-left">
        <span class="button-label">Your manifest ID is:</span>
        <div class="flex-row align-flex-end">
          <button
            class="t_button icgc-get-id"
            data-ng-click="
              track('copy-manifest-id', { action: 'click' });
            "
            data-copy-to-clip
            data-copy-analytics-tag="icgc-manifest-id"
            data-copy-data="manifestID"
            data-show-copy-tips="true"
            data-prompt-on-copy="false"
            data-on-copy-success-message="Copied!"
            data-on-hover-message="Copy to clipboard"
          >
              {{ manifestID }}
          </button>
          <button
              style="border-radius: 0 3px 3px 0;"
              class="btn btn-default btn-sm"
              type="button"
              data-copy-to-clip
              data-copy-analytics-tag="icgc-get-manifest-id"
              data-copy-data="icgcGetId"
              data-show-copy-tips="true"
              data-prompt-on-copy="false"
              data-on-copy-success-message="Copied!"
              data-on-hover-message="Copy to clipboard"
          >
              <i class="icon-clippy"></i>
          </button>
        </div>
      </div>
      <a
      data-ng-repeat="repoData in repos"
      data-ng-if="repos.length === 1 && repoData.hasManifest"
      href="http://docs.icgc.org/download/guide/#manifest-from-the-data-portal"
      target="_blank"
      style="margin-left: 4px;"
      >
        <i
          class="fa fa-question-circle"
          style="cursor: pointer;"
          icgc-tooltip="{{'<div class=\'tooltip-contents\'>A manifest ID can be used by the ICGC Storage client. <br/><small><em>Click to see the User Guide for more information</em> <i class=\'fa fa-external-link\'></i></small></div>' | translate}}"
        ></i>
      </a>

      <!-- MANIFEST DOWNLOAD -->
      <button
        class="t_button"
        ng-click="
          downloadManifest();
          track('generate-manifest', { action: 'click' });
        "
      >
        <i class="icon-download"></i><translate>Download Manifest</translate>
      </button>
      <a
        href="http://docs.icgc.org/download/guide/#manifest"
        target="_blank"
        style="margin-left: 4px;"
      >
        <i
          class="fa fa-question-circle"
          style="cursor: pointer;"
          icgc-tooltip="{{'<div class=\'tooltip-contents\'>A manifest is a text file passed to download clients to download selected files of interest. <br/><small><em>Click to see the User Guide for more information</em> <i class=\'fa fa-external-link\'></i></small></div>' | translate}}"
        ></i>
      </a>
      
    </div>

    <div class="more-info" data-ng-if="manifestID">
      <div>
        <div>
          <translate>For downloading files only from AWS-Virginia or Collaboratory, you can use the Score Client:</translate>
        </div>
        <code
          ng-class="{ 'text-center': isGeneratingManifestID }"
          class="code"
          data-copy-to-clip
          data-copy-analytics-tag="generate-manifest-id"
          data-copy-data="'bin/score-client download --manifest ' + manifestID"
          data-show-copy-tips="true"
          data-prompt-on-copy="false"
          data-on-copy-success-message="Copied!"
          data-on-hover-message="Copy to clipboard"
        >
          <span>bin/score-client download --manifest {{manifestID}}</span>
          <i
            class="icon-spin icon-spinner"
            ng-class="{ 'hidden': !isGeneratingManifestID }"
          ></i>
        </code>
      </div>
    </div>

    <div class="more-info" ng-if="icgcGetId">
      <div>
        <div>
          <translate>To download your current file selection, execute the following command:</translate>
        </div>
        <code
          ng-class="{ 'text-center': isGeneratingIcgcGetId }"
          class="code"
          data-copy-to-clip
          data-copy-analytics-tag="icgc-get-manifest-id"
          data-copy-data="'./icgc-get download -m ' + icgcGetId"
          data-show-copy-tips="true"
          data-prompt-on-copy="false"
          data-on-copy-success-message="Copied!"
          data-on-hover-message="Copy to clipboard"
        >
          <span>./icgc-get download -m {{icgcGetId}}</span>
          <i
            class="icon-spin icon-spinner"
            ng-class="{ 'hidden': !isGeneratingIcgcGetId }"
          ></i>
        </code>

        <div ng-if="shouldDeduplicate" class="deduplication-warning">
          <em>
            <i class="fa fa-exclamation-triangle"></i>&nbsp;The repository order displayed above will overwrite the default order configured in icgc-get.
          </em>
        </div>
      </div>
    </div>
</div>
