<div class="modal-content icgc-get light">
  <div class="modal-header clearfix">
    <h3 class="pull-left">
      icgc-get
    </h3>
    <button class="pull-right t_button" data-ng-click="vm.close()">
      <i class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-info-wrapper flex-row row flex-center">
      <div class="col-xs-2 flex flex-center">
        <img src="/styles/images/icgc-get.svg" style="width: 100%;">
      </div>
      <div class="col-xs-10">
        <div>
          icgc-get is a universal download client for accessing ICGC data residing in various data repositories. 
          <translate>See the <a href="http://docs.icgc.org/cloud/icgc-get/" target="_blank">User Guide<i class="icon-external-link"></i></a> for more advanced options.</translate>
          <br>
          <translate>For information on how to obtain access, see the <a href="http://docs.icgc.org/cloud/repositories/" target="_blank" external-link>Repositories documentation</a>.</translate>
        </div>
        <div>
          <br>
          Your file selection icgc-get manifest ID is:
          <div class="input-group clipboard-group" ng-if="vm.manifestId">
            <input
              class="manifest-id form-control input-sm code text-center"
              onClick="this.select()"
              size="38"
              type="text"
              value="{{vm.manifestId}}"
            >
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button"
                  data-copy-to-clip
                  data-copy-data="vm.manifestId"
                  data-show-copy-tips="true"
                  data-prompt-on-copy="false"
                  data-on-copy-success-message="Copied!"
                  data-on-hover-message="Copy to clipboard"
                  >
                  <i class="icon-clippy"></i>
              </button>
            </span>
            <i
              class="icon-spin icon-spinner"
              ng-class="{ 'hidden': !vm.loadState.isLoading }"
            ></i>
          </div>
        <div>
          <br>
          <translate>To download your current file selection, copy the icgc-get manifest ID below and execute the following command:</translate>
        </div>
        <code ng-class="{ 'text-center': vm.loadState.isLoading }">
          <span ng-if="vm.manifestId">./icgc-get download -m {{vm.manifestId}}</span>
          <i
            class="icon-spin icon-spinner"
            ng-class="{ 'hidden': !vm.loadState.isLoading }"
          ></i>
        </code>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="t_button" data-ng-click="vm.close();">OK</button>
  </div>
</div>