<div class="vcf-iobio">
<div class="modal-header clearfix anchor" data-ng-if="onModal">
    <h3 class="pull-left">
      <span class="t_badge t_badge__file"></span>
      <span><b>{{vcfName}} </b><translate>VCF Stats</translate></span>
    </h3>
    <button class="pull-right t_button" data-ng-click="cancel()"><i class="icon-cancel"></i>
    </button>
    <span class="vcf-file-name light"><a href="/repositories/files/{{vcfName}}">{{vcfFileName}}</a></span> 
 </div>

<div class="modal-body">
<div id="loadingData">
  <h3>
    <i class="icon-spinner icon-spin"></i>
    <translate>Loading Statistics...</translate>
  </h3>
</div>
<div id="noData" >
  <div class="alert alert-warning">
    <span>
      <translate>Statistics are currently unavailable.</translate>
      <translate has-markup>
        Please contact <a href="mailto:dcc-support@icgc.org?Subject=VCF%20Statistics%20unavailable">support</a> if you require assistance.
      </translate>
    </span>
  </div>
</div>
<div id="showData">
  <div id="page">
    <section id="banner" style="clear: both">
      
      <div id="banner-middle">
        <div id="vcf_selection">
          <div id="reference_selected"></div>
          <div id="region_selected"></div>
        </div>
      </div>

      <div id="total-reads">
        <div>
          <div class="pull-left">
            <span id="value"> 0</span>
          </div>
          <div style="padding: 6px; margin-top: 23px" class="pull-right">
            
            <div id="label"><span id="number">&nbsp;</span> <translate>variants sampled</translate> </div>
          </div>
        </div>
        <i class="icon-cw" id="sample-more-button" title="Sample More" data-ng-click="increaseSampling()"></i>
      </div>
    </section>

    <section id="top">


      <div id="chromosome-picker" class="panel">
        <div class="title"><translate>Reference(s)</translate></div>
        <div class="samplingLoader big">Initializing<img src="styles/images/loading_dots.gif" /></div>
        <div id="primary-references">
        </div>
        <div id="other-references">
          <label><translate>Other references</translate></label>
          <select id="other-references-dropdown">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div id="variant-density-panel" class="panel">
        <div class="title"><translate>Variant Density</translate></div>
        <span class="svg-alt hint"><translate>(drag bottom chart to select region)</translate></span>
        <div class="samplingLoader big">
          <translate>Initializing</translate><img src="styles/images/loading_dots.gif" />
        </div>
        <div id="variant-density"></div>
        <div id="variant-density-vf"></div>
        <div id="variant-density-ref-vf"></div>
      </div>

    </section>

    <section id="vcf-messages" style="display: none;">
      <div class="too-few-variants alert alert-warning">
        <translate>Not enough variants found to initiate sampling.</translate>
      </div>
    </section>

    <section id="middle">
      <div id="tstv-ratio" class="panel">
        <div class="title"><translate>TSTV Ratio</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
        <div id="ratio-panel" class="svg-alt">
        </div>
        <div id="ratio-value" class="svg-alt"></div>
      </div>

      <div id="allele-freq" class="panel">
        <div class="title"><translate>Allele Frequency Spectrum</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
        <svg id="allele-freq-histogram" />
      </div>
      <div id="mut-spectrum" class="panel">
        <div class="title"><translate>Base Changes</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
      </div>
    </section>

    <section id="bottom">
      <div id="var-type" class="panel">
        <div class="title"><translate>Variant Types</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
      </div>

      <div id="indel-length" class="panel">
        <div class="title"><translate>Insertion &amp; Deletion Lengths</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
        <svg id="indel-length-histogram" />
      </div>

      <div id="qual-distribution" class="panel">
        <div class="title"><translate>Variant Quality</translate></div>
        <div class="samplingLoader"><translate>Sampling</translate> <img src="styles/images/loading_dots.gif" /></div>
        <svg id="qual-distribution-histogram" />
      </div>
    </section>

  </div>
</div>
</div>
</div>