.container{
  &.container-404{
    margin: 0;
    padding: 0;

    .page-not-found-container {
      padding: 2rem;
      
      .message-404 {

        &:after{
          display: block;
          margin-top: 2rem;
          height: 2px;
          border-bottom: 1px solid #e6e6e6;
          margin-left: -2rem;
          margin-right: -2rem;
          content: '';

        }

        .header-badge {
          background-color: #CC334A;
          padding: .6rem .8rem .5rem .5rem;
          margin: 0rem 1rem 0rem 0rem;

          i{
            color:#fff;
          }
        }

        .page{
          color: #CC334A;
          font-weight: 250;
        }

        .id{
          color: #CC334A;
          font-weight: 500;
        }
      }

      p {
        font-size: 1.2rem;
        min-height: 30rem;
      }
    }
  } 
}