.share-popover{
    
    .input-header{
        color: #888;
    }
    .loading-text{
        font-size: 18px;
        margin: 0px;
        color: #888;
    }
    .loading{
        font-size: 18px;
    }
    .input-block-level{
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 13px;
    }


}