.share-popover{
    
    .input-header{
        color: #888;
    }
    .loading-text{
        font-size: 14px;
        margin: 0px;
    }
    .loading{
        font-size: 14px;
        font-weight: normal;
        line-height: 225%;
    }
    .input-block-level{
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 12px;
        padding:4px;

    }


}