$guide-aws-color: rgb(228, 121, 17);
$guide-collab-color: rgb(97,168,225);

.guide-callout {
  position: relative;
  //border: 1px solid #eee;
  //border-left-width: 5px;
  display: table;
  border: solid 1px #eee;
  //border-radius: 2px;
  margin: 1rem 0rem;
  width: 100%;


  &:before {
    position: relative;
    height: 100%;
    display: table-cell;
    background: #eee;
    content: '\a0';
    width: 0.7rem;
    -webkit-box-shadow: inset -16px 0px 8px -16px rgba(0,0,0,0.72);
    -moz-box-shadow: inset -16px 0px 8px -16px rgba(0,0,0,0.72);
    box-shadow: inset -16px 0px 8px -16px rgba(0,0,0,0.72);
  }

  .guide-callout-content {
    margin-left: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0rem;

    p:last-child {
      margin-bottom: 0rem;
    }
  }


   h4 {
      margin: 0;
      font-weight: bold;
   }
}

.guide-callout-aws {

   &:before {
     background-color:  $guide-aws-color;
   }

   h4 {
      color: $guide-aws-color;
      padding-left: 30px;
      background-image: url(/scripts/repositories/images/guides/aws/aws-cube.png);
      background-repeat: no-repeat;
      background-size: 25px;
   }

   border-color: $guide-aws-color;
}

.guide-callout-collab {

    &:before {
     background-color:  $guide-collab-color;
   }

   h4 {
      color: $guide-collab-color;
      padding-left: 27px;
      background-image: url(/scripts/repositories/images/guides/collab/collab-logo-small.png);
      background-size: 16px;
      background-repeat: no-repeat;
      background-position: 3px 0;
   }

   border-color: $guide-collab-color;
}

.guide-terms {
   th:first-of-type, td:first-of-type {
      white-space: nowrap;
   }
}
