<div class="modal-content">
  <div class="modal-header clearfix">
    <h3 class="pull-left"><translate>Share Link</translate></h3>
    <button class="pull-right t_button" data-ng-click="cancel()"><i
      class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body" style="max-height:none;padding-bottom:0">
    <br>
    <input id="shortURLInput" 
      placeholder="{{'Loading...' | translate}}" class="input-block-level" type="text" value={{shortUrl}} />

    <span
       class="clip-icon"
       data-copy-to-clip
       data-copy-data="shortUrl"
       data-show-copy-tips="true"
       data-prompt-on-copy="false"
       data-on-hover-message="{{'Click to copy' | translate}}"
       data-on-copy-success-message="{{'Share Link copied!' | translate}}"
       data-on-copy-focus-on="#shortURLInput">
       <span class="icon-clippy"></span>
    </span>

    <p data-ng-if="! customPopupDisclaimer">
      <small><translate>You can also copy the link from your browser's address bar.</translate></small>
    </p>
    <p data-ng-if="customPopupDisclaimer ">
      <span data-ng-if="customPopupDisclaimer === true">&nbsp;</span>
      <small data-ng-if="customPopupDisclaimer !== true" data-ng-bind="customPopupDisclaimer">
      </small>
    </p>
  </div>
  <div class="modal-footer">
    <button class="t_button" data-ng-click="cancel()"><translate>Close</translate></button>
  </div>
</div>

