<div class="modal-content">
  <div class="modal-header clearfix">
    <h3 class="pull-left">Share Link</h3>
    <button class="pull-right t_button" data-ng-click="cancel()"><i
      class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body" style="max-height:none;padding-bottom:0">
    <br>
    <div
         data-copy-to-clip data-copy-data="shortUrl" data-show-copy-tips="true"
         data-on-copy-success-message="Share Link copied!"
         data-on-copy-focus-on="#shortURLInput"
         data-on-hover-message="Click here to copy the Share Link to your clipboard."
         data-prompt-on-copy="false">
      <input id="shortURLInput" placeholder="Loading..." class="input-block-level" type="text" value={{shortUrl}} />
      <span class="icon-clippy" />
    </div>
    <p data-ng-if="! customPopupDisclaimer">
      <small>You can also copy the link from your browser's address bar.</small>
    </p>
    <p data-ng-if="customPopupDisclaimer ">
      <span data-ng-if="customPopupDisclaimer === true">&nbsp;</span>
      <small data-ng-if="customPopupDisclaimer !== true" data-ng-bind="customPopupDisclaimer">
      </small>
    </p>
  </div>
  <div class="modal-footer">
    <button class="t_button" data-ng-click="cancel()">Close</button>
  </div>
</div>

