@import "./setSelection";

.analysis {
   width: 100%;
   padding:0px;

   &:before{
     display: none;
   }
   
   h3 {
      margin-top: 0;
   }

   .analysis-tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .analysis-tile {
      backface-visibility: hidden;
   }

   .analysis-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 12px 12px;
      .demo {
        border: none;
        text-decoration: underline;
      }
      .run {
        margin-right: 12px;
      }
   }

   .analysis-tile-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      width: calc(50% - 1rem);
      margin: 0 0.5rem 1rem;
      overflow: hidden;
      transition: all 0.2s $inQuad;

      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.07);
      border-top: 1px solid rgba(0, 0, 0, 0.04);
      border-left: 1px solid rgba(0, 0, 0, 0.04);

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #e9931c;
        left: 0;
        bottom: 0;
        transition: all 0.2s $outQuad;
        transform: translateX(calc(100% + 1px));
      }

      &.selected {
        &:after {
          transform: translateX(0);
        }
        .analysis-title {
          color: #e9931c;
        }
      }

      &:hover {
        .reveal-item{
          &:first-child {
            opacity: 0;
            transform: translateY(2%);
          } 
          &:last-child {
            opacity: 1;
            transform: translateX(-100%) translateY(0%);
          }
        }
      }


      .analysis-title {
        font-size: 18px;
        font-weight: 600;
        color: #811D52;
        -webkit-font-smoothing: antialiased;
        text-align: center;
        transition: 0.2s color $inQuad;
      }

      .analysis-tile-detail {
        font-size: 13px;
        line-height: 1.6;
        margin: 1em 1.5em;
        color: #666;
      }

      .reveal-window {
        width: 100%;
        overflow: hidden;
      }

      .reveal-container {
        display: flex;
        flex-direction: row;
        width: 200%;
      }

      .reveal-item {
        width: 50%;
        overflow: hidden;
        &:first-child {
          opacity: 1;
          transition-delay: 0.1s;
          transform: translateY(0);
          transition: transform .2s $inQuad, opacity 0.25s ease;
        }
        &:last-child {
          opacity: 0;
          transform: translateX(-100%) translateY(5%);
          transition: transform .2s $outQuad, opacity 0.25s ease;
        }
      }

      .demo-title, .demo-description {
         transition: all 0.15s ease;
         transition-delay: 0;
      }

      .demo-title {
         font-size: 13px;
         font-weight: 600;
         color: #F38721;
         margin-bottom: 0.2em;
      }

      .demo-description {
         line-height: 1.5;
         font-size: 11px;
         color: #99adb3;
      }

      .analysis-tile {
         transition: color .5s, background .5s;
         width: 100%;

         &.in-progress {
           &:hover {
             color: $grey;
           }
         }
      }
   }

   .analysis-suggestions {
      margin-top: 1.5rem;

      .cta {
         display: inline-block;
         padding: 1rem;

         .cta-detail, .cta-title {
            color: #9b315b;
         }

         .cta-title {
            font-weight: 500;
            font-size: 22px;
         }
      }

   }

   .sidepanel {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-right: 1rem;
      min-width: 17rem;
      max-width: 19rem;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 5px;
        height: 62px;
        background-image: linear-gradient(to bottom, transparent, #fff), linear-gradient(to right, transparent, rgba(0,0,0,0.2));
      }
      .delete-button {
        margin: 12px;
      }
   }

   .content {
      display: inline-block;
      
      min-height: 20rem; // Prevent complete collapse when switching content

      &.analysis-content {
         width: 75%;
      }
   }




   // Smaller sub heading lines
   .multi-line-heading {
      line-height: 1.5rem;
   }
}
