@import "./setSelection";

.analysis-tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0,0,0,0.87);
  position: relative;
  perspective: 1000px;
  cursor: pointer;

  &:hover {
    background: transparent;
  }

  .condensed & {
    .analysis-tool__image-wrapper > * {
      transition: 0.2s ease;
    }
    &:not(.analysis-tool--selected):not(:hover) {
      .analysis-tool__image-wrapper > * {
        filter: grayscale(20%) opacity(0.6);
      }
      .analysis-tool__heading {
        color: #666;
      }
    }
  }

  @for $i from 0 to 5 {
    $step: log($i + 1) * 0.15s;
    @debug $step; 
    &:nth-child(#{$i}) {
      &:before {
        transition-delay: 0.1 + $step;
        .condensed & {
          transition-delay: $step;
        }
      }

      .analysis-tool__column--text, .analysis-tool__heading, .analysis-tool__image-wrapper {
        transition-delay: 0.1s + $step;
        .condensed & {
          transition-delay: 0.1s + $step;
        }
      }

      .analysis-tool__image-wrapper {
        transition-delay: 0.1s + $step;
        .condensed & {
          transition-delay: 0.11s + $step;
        }
      }

      .analysis-tool__description {
        transition-delay: 0.3s + $step;
        .condensed & {
          transition-delay: 0s;
        }
      }
    }
  }

  & + .analysis-tool {
    margin-top: 40px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      height: 1px;
      background: #e6e6e6;
      top: -20px;
      transition: all 0.4s;
      transition-timing-function: $inQuad;
      .condensed & {
        opacity: 0;
        transition-timing-function: $outQuad;
        transform: translateX(-110%);
      }
    }
  }

  &__image-wrapper {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;

    transition: 0.2s ease;
    .condensed & {
      transform: translateY(30px) scale(0.9);
    }
  }

  &__image, svg {
    width: 100%;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 20px);
  }

  &__column--text {
    transition: 0.2s $inQuad;
    .condensed & {
      transform: translateX(-90px);
    }
  }

  &__heading {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: transform 0.2s $inQuad;

    .condensed & {
      transform: translateX(-50%) translateY(0px);
    }

    .demo {
      position: absolute;
      font-size: 16px;
      bottom: 0;
      right: -4px;
      transform: translateX(100%);
      transition: 0.2s ease;
      .condensed & {
        opacity: 0;
      }
    }
  }

  &__description {
    font-size: 14px;
    width: 33em;
    transition: 0.16s ease;
    .condensed & {
      opacity: 0;
    }
  }

  &--enrichment {
    svg {
      fill: #9b315b;
      height: 100px;
      width: auto;
    }
  }

  &--phenotype {
    svg {
      width: 62%;
    }
    .person-fg {
      fill: #0099e3;
    }
    .person-bg {
      fill: #C20127;
    }
  }

  &--set {
    svg {
      width: 62%;
    }
    path {
      stroke: #ffffff;
      stroke-width: 5px;
    }
    #top-right {
      fill: rgba(166, 28, 133, 0.7);
    }
    #bottom {
      fill: rgba(255, 148, 1, 0.7);
    }
    #top-left, #top-left-diff {
      fill: rgba(#0099e3, 0.7)
      
    }
  }

  &--oncogrid {
    svg {
      width: 65%;
    }
    .st0 {
      fill: rgba(155, 49, 91, 0.84);
    }
  }

  &--suggestions {
    .analysis-tool__heading, .analysis-tool__description {
      color: #9b315b;
    }
    transition: all 0.2s;
    max-height: 300px;
    .condensed & {
      opacity: 0;
      max-height: 0;
      pointer-events: none;
    }
  }
}

.sets-container {
  position: absolute;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  transition: 0.2s;
  transform: translateX(0);
  &.should-show {
    transition-timing-function: $outQuad;
    transition-delay: 0.3s;
  }
  &:not(.should-show) {
    transition-delay: 0s;
    transition-timing-function: $inQuad;
    opacity: 0;
    transform: translateX(10%);
    pointer-events: none;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    transition: 0.1s ease;
    &:hover {
      background: #eee;
    }
  }
}

.analysis {
   width: 100%;
   padding:0px;
   position: relative;
   perspective: 1000px;

   &:before{
     display: none;
   }
   
   h3 {
      margin-top: 0;
   }

   .sidepanel {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-right: 1rem;
      min-width: 17rem;
      max-width: 19rem;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 1px;
        height: 62px;
        background-image: linear-gradient(to bottom, transparent, #fff), linear-gradient(to right, transparent, rgba(0,0,0,0.2));
      }
      .delete-button {
        margin: 12px;
      }
   }

   .content {
      display: inline-block;
      
      min-height: 20rem; // Prevent complete collapse when switching content

      &.analysis-content {
         width: 75%;
      }
   }




   // Smaller sub heading lines
   .multi-line-heading {
      line-height: 1.5rem;
   }
}
