.analysis {
   width: 100%;
   padding:0px;

   &:before{
     display: none;
   }
   
   h3 {
      margin-top: 0;
   }

   .analysis-tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .analysis-tile-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;

      transition: all 0.15s $inExpo;

      &:hover {
         background-color: $selection;
         box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.07);
      }

      .tile-extra-container {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
         cursor: pointer;
         margin-left: -1rem;
         margin-right: -1rem;
         background-color: #fff;

         transition: all 0.15s ease;
         transition-delay: 0;
         position: relative;
         overflow: hidden;
         &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #9b315b;
            transform: translateX(100%);
            transition: transform 0.2s $outQuad;
            transition-delay: 0;
         }
         .tile-extra {
            z-index: 10;
         }
         &:hover {
            .demo-title, .demo-description {
               transition-delay: 0.3s;
            }
            .demo-title {
               color: #fff;
            }
            .demo-description {
               color: #e3e3e3;
            }
            &:after {
               transition-delay: 0.2s;
               transform: translateX(0);
            }
         }
      }

      .demo-title, .demo-description {
         transition: all 0.15s ease;
         transition-delay: 0;
      }

      .demo-title {
         font-size: 13px;
         font-weight: 600;
         color: #F38721;
         margin-bottom: 0.2em;
      }

      .demo-description {
         line-height: 1.5;
         font-size: 11px;
         color: #99adb3;
      }

      .analysis-tile, .tile-extra {
         max-width: 24rem;
         margin: 0 1rem;
      }

      .analysis-tile {
         transition: color .5s, background .5s;
         margin-bottom: 1rem;

         &.in-progress {
           &:hover {
             color: $grey;
           }
         }

         .analysis-title {
           font-size: 22px;
           font-weight: 600;
           color: #811D52;
           -webkit-font-smoothing: antialiased;
         }

         .analysis-tile-detail {
            font-size: 14px;
            line-height: 1.6;
         }
      }
   }

   .analysis-suggestions {
      margin-top: 1.5rem;

      .cta {
         display: inline-block;
         padding: 1rem;

         .cta-detail, .cta-title {
            color: #9b315b;
         }

         .cta-title {
            font-weight: 500;
            font-size: 22px;
         }
      }

   }

   .sidepanel {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-right: 1rem;
      min-width: 17rem;
      max-width: 19rem;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 1px;
        height: 62px;
        background-image: linear-gradient(to bottom, transparent, #fff), linear-gradient(to right, transparent, rgba(0,0,0,0.2));
      }
      .delete-button {
        margin: 12px;
      }
   }

   .content {
      display: inline-block;
      
      min-height: 20rem; // Prevent complete collapse when switching content

      &.analysis-content {
         width: 75%;
      }
   }




   // Smaller sub heading lines
   .multi-line-heading {
      line-height: 1.5rem;
   }
}
