@import "./setSelection";

.analysis-tool-selection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .analysis-tool {
    width: calc(50% - 50px);
    margin-bottom: 3em;
  }
}

$condensedWidth: 180px;

.analysis-tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0,0,0,0.87);
  position: relative;
  z-index: 2;
  perspective: 1000px;

  .analysis-tool {
    margin-top: 40px;
  }

  &__image-wrapper {
    width: $condensedWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__image, svg {
    width: 100%;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 20px);
  }

  &__heading {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }

  &__description {
    font-size: 14px;
    line-height: 1.5;
  }

  &__actions {
    .demo {
      margin-left: 12px;
    }
  }

  &--enrichment {
    svg {
      fill: #9b315b;
      height: 100px;
      width: auto;
    }
  }

  &--phenotype {
    svg {
      width: 62%;
    }
    .person-fg {
      fill: #0099e3;
    }
    .person-bg {
      fill: #C20127;
    }
  }

  &--set {
    svg {
      width: 62%;
    }
    path {
      stroke: #ffffff;
      stroke-width: 5px;
    }
    #top-right {
      fill: rgba(166, 28, 133, 0.7);
    }
    #bottom {
      fill: rgba(255, 148, 1, 0.7);
    }
    #top-left, #top-left-diff {
      fill: rgba(#0099e3, 0.7)
      
    }
  }

  &--oncogrid {
    svg {
      width: 65%;
    }
    .st0 {
      fill: rgba(155, 49, 91, 0.84);
    }
  }
}

.set-selection-screen {
  display: flex;
  flex-direction: row;
  .sets-container {
    flex-grow: 1;
  }
  .analysis-tool {
    align-items: flex-start;
    &__image-wrapper {
      margin-top: 31px;
    }
  }
}

.sets-container {
  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
    transition: 0.1s ease;
    &:hover {
      background: #eee;
    }
  }
}

.analysis {
   width: 100%;
   padding:0px;
   position: relative;
   perspective: 1000px;

   &:before{
     display: none;
   }
   
   h3 {
      margin-top: 0;
   }

   .sidepanel {
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-right: 1rem;
      min-width: 17rem;
      max-width: 19rem;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 1px;
        height: 62px;
        background-image: linear-gradient(to bottom, transparent, #fff), linear-gradient(to right, transparent, rgba(0,0,0,0.2));
      }
      .delete-button {
        margin: 12px;
      }
   }

   .content {
      display: inline-block;
      
      min-height: 20rem; // Prevent complete collapse when switching content

      &.analysis-content {
         width: 75%;
      }
   }




   // Smaller sub heading lines
   .multi-line-heading {
      line-height: 1.5rem;
   }
}
