<!--
  ~ Copyright 2013(c) The Ontario Institute for Cancer Research. All rights reserved.
  ~
  ~ This program and the accompanying materials are made available under the terms of the GNU Public
  ~ License v3.0. You should have received a copy of the GNU Pathwayral Public License along with this
  ~ program. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
  ~ IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
  ~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
  ~ CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  ~ WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
  ~ WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<div class="h1-wrap">
    <h1 data-ui-scrollpoint=105>
        <span class="t_badge t_badge__geneset"></span>
        {{ GeneSetCtrl.geneSet.id }}</h1>
</div>

<article fix-scroll class="full">
    <div class="t_tabs t_tabs__isolated">
        <div class="t_tabs__tab t_tabs__tab__geneset" data-ng-click="GeneSetCtrl.activeTab = 'summary'" data-ng-class="{active: GeneSetCtrl.activeTab === 'summary'}"
            data-nested data-href="genesets/{{GeneSetCtrl.geneSet.id}}">
            <translate>Summary</translate>
            <br>
        </div>
        <div class="t_tabs__tab t_tabs__tab__geneset" data-ng-click="GeneSetCtrl.activeTab = 'variants'" data-ng-class="{active: GeneSetCtrl.activeTab === 'variants'}"
            data-nested data-href="genesets/{{GeneSetCtrl.geneSet.id}}/variants">
            <translate>Variants</translate>
            <br>
        </div>
        <div class="t_tabs__tab t_tabs__tab__geneset" data-ng-click="GeneSetCtrl.activeTab = 'donors'" data-ng-class="{active: GeneSetCtrl.activeTab === 'donors'}"
            data-nested data-href="genesets/{{GeneSetCtrl.geneSet.id}}/donors">
            <translate>Donors</translate>
            <br>
        </div>
        <div ng-if="GeneSetCtrl.geneSet.type === 'pathway'" class="t_tabs__tab t_tabs__tab__geneset" data-ng-click="GeneSetCtrl.activeTab = 'pathwayViewer'" data-ng-class="{active: GeneSetCtrl.activeTab === 'pathwayViewer'}"
            data-nested data-href="genesets/{{GeneSetCtrl.geneSet.id}}/pathway-viewer">
            <translate>Pathway Viewer</translate>
            <br>
        </div>
    </div>
    <div class='t_tab_pane' data-ng-class="{active: GeneSetCtrl.activeTab === 'summary'}" data-ng-include="'scripts/genesets/views/geneset.summary.html'"></div>
    <div class='t_tab_pane' data-ng-class="{active: GeneSetCtrl.activeTab === 'variants'}">
        <div data-ng-include="'scripts/genesets/views/geneset.variants.html'"></div>
    </div>
    <div class='t_tab_pane' data-ng-class="{active: GeneSetCtrl.activeTab === 'donors'}">
        <div data-ng-include="'scripts/genesets/views/geneset.donors.html'"></div>
    </div>
    <div ng-if="GeneSetCtrl.geneSet.type === 'pathway'" class='t_tab_pane' data-ng-class="{active: GeneSetCtrl.activeTab === 'pathwayViewer'}">
        <div data-ng-include="'scripts/genesets/views/geneset.pathwayViewer.html'"></div>
    </div>
</article>