<!--
  ~ Copyright 2013(c) The Ontario Institute for Cancer Research. All rights reserved.
  ~
  ~ This program and the accompanying materials are made available under the terms of the GNU Public
  ~ License v3.0. You should have received a copy of the GNU Pathwayral Public License along with this
  ~ program. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
  ~ IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
  ~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
  ~ CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  ~ WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
  ~ WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<div class="h1-wrap">
    <h1 data-ui-scrollfix=79><span class="t_badge t_badge__geneset"></span>
        {{ GeneSetCtrl.geneSet.id }}</h1>
</div>
<div data-scroll-spy="">
<aside data-ui-scrollfix=79 class="t_sidenav">
    <section>
        <ul class="t_subnav__items">
            <li data-spy="summary" class="t_subnav__items__item current">
                <a data-scrollto href="#summary">
                    <translate>Summary</translate>
                </a>
            </li>
            <li data-spy="projects" class="t_subnav__items__item">
                <a data-scrollto href="#projects">
                    <translate>Cancer Distribution</translate>
                </a>
            </li>
            <li data-spy="genes" class="t_subnav__items__item">
                <a data-scrollto href="#genes">
                    <translate>Genes</translate>
                </a>
            </li>
          
            <li data-spy="pathway" class="t_subnav__items__item" data-ng-if="GeneSetCtrl.geneSet.source==='Reactome'">
              <a data-scrollto href="#pathway">
                  <translate>Pathway Viewer</translate>
              </a>
            </li>
            <li data-spy="mutations" class="t_subnav__items__item">
                <a data-scrollto href="#mutations">
                    <translate>Mutations</translate>
                </a>
            </li>
            <li data-spy="donors" class="t_subnav__items__item">
                <a data-scrollto href="#donors">
                    <translate>Donors</translate>
                </a>
            </li>
            <li><br></li>
            <li data-ng-if="GeneSetCtrl.mutationFacets.functionalImpact.total > 0"
                class="t_subnav__items__item">
                <span><translate>Page Filters</translate></span>
            </li>
            <li data-ng-if="GeneSetCtrl.mutationFacets.functionalImpact.total > 0"
                class="t_subnav__items__box">
                <ul class="t_facets">
                    <terms data-type="mutation"
                           data-facet-name="functionalImpact"
                           data-hide-count="true"
                           data-label="{{'Mutation Impact' | translate}}"
                           data-facet="GeneSetCtrl.mutationFacets.functionalImpact"
                    ></terms>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<article>
<section id="summary">
    <div class="wide">
        <h3><translate>Summary</translate></h3>

        <table class="table table-info">
            <tr>
                <th>ID</th>
                <td>{{ GeneSetCtrl.geneSet.id }}</td>
            </tr>
            <tr>
                <th><translate>Name</translate></th>
                <td>{{ GeneSetCtrl.geneSet.name }}</td>
            </tr>
            <tr>
                <th><translate>Gene Set Type</translate></th>
                <td>{{ GeneSetCtrl.geneSet.type }}</td>
            </tr>
            <tr>
                <th><translate>Human Genes</translate></th>
                <td>
                    <a href='/search/g?filters={"gene":{"{{GeneSetCtrl.geneSet.queryType}}":{"is":["{{GeneSetCtrl.geneSet.id}}"]}}}'>{{GeneSetCtrl.geneSet.geneCount}}</a>
                </td>
            </tr>
            <tr>
                <th><translate>Description</translate></td>
                <td data-ng-if="GeneSetCtrl.geneSet.description === '???' || GeneSetCtrl.geneSet.description === ''">
                --
                </td>
                <td data-ng-if="GeneSetCtrl.geneSet.description !== '???'">
                    <hide-text text="{{ GeneSetCtrl.geneSet.description}}" data-class="table-text-wrap"></hide-text>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.type==='go_term'">
                <th><translate>Ontology</translate></th>
                <td>{{ GeneSetCtrl.geneSet.ontology }}</td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.type==='go_term'">
                <th><translate>Alt. ID</translate></th>
                <td data-ng-if="GeneSetCtrl.geneSet.altIds.length === 0">--</td>
                <td data-ng-if="GeneSetCtrl.geneSet.altIds.length > 0">{{ GeneSetCtrl.geneSet.altIds.join(', ') }}</td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.type==='go_term'">
                <th><translate>Synonyms</translate></th>

                <td data-ng-if="GeneSetCtrl.geneSet.synonyms.length === 0">--</td>
                <td data-ng-if="GeneSetCtrl.geneSet.synonyms.length > 0">{{ GeneSetCtrl.geneSet.synonyms.join(', ') }}</td>

            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.type==='go_term'">
                <th><translate>Inferred Tree</translate></th>
                <td>
                    <inferred-tree tree="GeneSetCtrl.uiInferredTree"></inferred-tree>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.type==='pathway'">
                <th><translate>Hierarchy</translate></th>
                <td>
                    <hide-list data-items="GeneSetCtrl.uiParentPathways" 
                        data-display-limit="1"
                        data-template-name="template/reactomePathway.html">
                    </hide-list>
                </td>
            </tr>
        </table>
    </div>

    <div class="narrow omega">
        <h3><translate>External References</translate></h3>
        <table class="table table-info">

            <tr data-ng-if="GeneSetCtrl.geneSet.source === 'Reactome'">
                <td><translate>Reactome Pathway</translate></td>
                <td>
                    <a href="{{GeneSetCtrl.ExternalLinks.geneSetReactome(GeneSetCtrl.geneSet.id)}}" target="_blank">
                       <i class="icon-external-link"></i> {{ GeneSetCtrl.geneSet.id }}</a>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.source === 'COSMIC - Sanger'">
                <td><translate>COSMIC</translate></td>
                <td>
                    <a href="{{GeneSetCtrl.ExternalLinks.geneSetSanger()}}" target="_blank">
                       <i class="icon-external-link"></i>Cancer Gene Census</a>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.source === 'Gene Ontology'">
                <td><translate>Amigo2</translate></td>
                <td>
                    <a href="{{GeneSetCtrl.ExternalLinks.geneSetAmigo(GeneSetCtrl.geneSet.id)}}" target="_blank">
                        <i class="icon-external-link"></i> {{ GeneSetCtrl.geneSet.id }}
                    </a>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.source === 'Gene Ontology'">
                <td><translate>EBI QuickGO</translate></td>
                <td>
                    <a href="{{GeneSetCtrl.ExternalLinks.geneSetEBI(GeneSetCtrl.geneSet.id)}}" target="_blank">
                        <i class="icon-external-link"></i> {{ GeneSetCtrl.geneSet.id }}
                   </a>
                </td>
            </tr>
            <tr data-ng-if="GeneSetCtrl.geneSet.source === 'Gene Ontology'">
                <td><translate>Gene Ontology</translate></td>
                <td>
                    <a href="{{GeneSetCtrl.ExternalLinks.geneSetGeneOntology()}}" target="_blank">
                        <i class="icon-external-link"></i><translate>GO Website</translate></a>
                </td>
            </tr>

        </table>
    </div>

</section>
<section id="projects"
         data-ng-class="{'loading': !GeneSetCtrl.geneSet.projects, 'empty': GeneSetCtrl.geneSet.projects.length == 0}">
    <h3 data-ng-if="!GeneSetCtrl.geneSet.projects"><i class="icon-spinner icon-spin"></i> <translate>Fetching Donors...</translate></h3>

    <h3 data-ng-if="GeneSetCtrl.geneSet.projects.length == 0"><translate>No Donors Affected.</translate></h3>

    <div data-ng-if="GeneSetCtrl.geneSet.projects.length > 0">
        <h3>
            <translate>Cancer Distribution</translate>
            <span data-open-in-list='?filters={{GeneSetCtrl.baseAdvQuery}}' data-type='donor'></span>
        </h3>

        <h4 class="subhead">
            <a data-ng-href='/search?filters={{GeneSetCtrl.baseAdvQuery}}'>
                <strong>{{GeneSetCtrl.totalDonors | number}}</strong></a>
            <translate translate-comment="'N' donors affected by 'N' mutations across 'N' projects">donors affected by</translate>
            <a data-ng-href='/search/m?filters={{GeneSetCtrl.baseAdvQuery}}'>
                <strong>{{GeneSetCtrl.totalMutations | number}}</strong></a>
            <translate  translate-comment="'N' donors affected by 'N' mutations across 'N' projects">mutations across</translate>
            <a data-ng-href='/projects?filters={"project":{"id":{"is":["{{(GeneSetCtrl.geneSet.projects|pluck:"id").join("\",\"")}}"]}}}'>
                <strong>{{GeneSetCtrl.geneSet.projects.length | number}}</strong></a>
            <translate translate-comment="'N' donors affected by 'N' mutations across 'N' projects">projects</translate>
            <br>

            <a data-ng-href='search/g?filters={{GeneSetCtrl.baseAdvQuery}}'>
                <strong>{{GeneSetCtrl.totalGenes}}</strong>
            </a>
            <translate translate-comment="'N' out of 'N' genes in this gene set affected by mutations across 'N' cancer projects">out of</translate>
            <a data-ng-href='/search/g?filters={"gene":{"{{GeneSetCtrl.geneSet.queryType}}":{"is":["{{GeneSetCtrl.geneSet.id}}"]}}}'>
                <strong>{{GeneSetCtrl.geneSet.geneCount}}</strong>
            </a>
            <translate translate-comment="'N' out of 'N' genes in this gene set affected by mutations across 'N' cancer projects">genes in this gene set affected by mutations across</translate>
            <a data-ng-href='/projects?filters={"project":{"id":{"is":["{{(GeneSetCtrl.geneSet.projects|pluck:"id").join("\",\"")}}"]}}}'>
                <strong>{{GeneSetCtrl.geneSet.projects.length | number}}</strong>
            </a>
            <translate translate-comment="'N' out of 'N' genes in this gene set affected by mutations across 'N' cancer projects">cancer projects</translate>
        </h4>

        <div data-ng-if="GeneSetCtrl.donorBar.hasData">
            <bar class="half" height=250 items="GeneSetCtrl.donorBar" heading="{{'Top Projects by Donor Proportion' | translate}}"
                 subheading="{{'Top 10 projects with donors containing mutated genes in the gene set sorted by proportion of affected donors' | translate}}"
                 ylabel="{{'% of Donors Affected' | translate}}"
                 format="percentage"></bar>
        </div>
        <div data-ng-if="GeneSetCtrl.geneBar.hasData" class="clearfix">
            <bar class="half omega" height=250 items="GeneSetCtrl.geneBar" heading="{{'Top Projects by Gene Proportion' | translate}}"
                 subheading="{{'Top 10 projects with donors containing mutated genes in the gene set sorted by proportion of mutated genes' | translate}}"
                 ylabel="{{'% of Genes Affected' | translate}}"
                 format="percentage"></bar>
        </div>
        <span class="t_table_top">
            <data-table-row-counts
                data-data="GeneSetCtrl.geneSet.uiProjects"
                data-filter="GeneSetCtrl.tableFilter.projects"
                data-label="{{'projects' | translate}}"
                data-current-page="GeneSetCtrl.currentCancerPage"
                data-row-limit="GeneSetCtrl.defaultCancerRowLimit">
            </data-table-row-counts>
            <span data-toolbar data-dl="{{GeneSetCtrl.geneSet.id}}_distribution"></span>
             <table-filter data-class="small-filter" 
                data-filter-model="GeneSetCtrl.tableFilter.projects"
                data-current-page="GeneSetCtrl.currentCancerPage"></table-filter>
        </span>
        <table class="table table-bordered table-striped table-condensed"
            data-ng-init="sortProjectsDescendingly = true;">
            <thead>
            <tr>
                <th><translate>Project</translate></th>
                <th><translate>Site</translate></th>
                <th><translate>Tumour Type</translate></th>
                <th><translate>Tumour Subtype</translate></th>
                <th style="cursor: pointer" 
                    data-ng-click="sortProjectsDescendingly = ! sortProjectsDescendingly">
                    <abbr data-tooltip="{{'Number of Donors where a Gene involved in the Gene Set contains SSM' | translate}}">
                    <translate># Donors affected</translate>
                    <i class="{{ sortProjectsDescendingly ? 'icon-sort-down' : 'icon-sort-up'}}" />
                </abbr>
                </th>
                <th><abbr data-tooltip="{{'Number of SSM observed in [[ geneId ]]' | translate | subDelimiters:{geneId: GeneSetCtrl.geneSet.id} }}"
                          data-tooltip-placement="left"><translate># Mutations</translate></abbr></th>
                <th><abbr data-tooltip="{{'Number of Genes affected by [[ geneId ]]' | translate | subDelimiters:{geneId: GeneSetCtrl.geneSet.id} }}"
                          data-tooltip-placement="left"><translate># Genes</translate></abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="project in (GeneSetCtrl.geneSet.uiProjects |
                filter: GeneSetCtrl.tableFilter.projects | 
                orderBy:'uiAffectedDonorPercentage/100':sortProjectsDescendingly | 
                limitTo: GeneSetCtrl.defaultCancerRowLimit : ((GeneSetCtrl.currentCancerPage-1) * GeneSetCtrl.defaultCancerRowLimit)) track by project.uiId">
                <td><a data-tooltip="{{ project.uiName }}" data-ng-href="/projects/{{ project.uiId }}">
                    <span data-ng-bind-html="project.uiId | highlight: GeneSetCtrl.tableFilter.projects"></span>
                </a></td>
                <td><span data-ng-bind-html="project.uiPrimarySite | highlight: GeneSetCtrl.tableFilter.projects"></span></td>
                <td><span data-ng-bind-html="project.uiTumourType | highlight: GeneSetCtrl.tableFilter.projects"></span></td>
                <td><span data-ng-bind-html="project.uiTumourSubtype | highlight: GeneSetCtrl.tableFilter.projects"></span></td>
                <td class="text-right" style="position: relative; display: block">
                    <span data-ng-style="{width:project.uiAffectedDonorPercentage+'%'}"
                          class="t_facets__facet__terms__active__term__bar"></span>
                    <span style="position: relative">
                    <a data-ng-href='/search?filters={{project.uiAdvQuery}}'>
                        <span data-ng-bind-html="project.uiAffectedDonorCount | highlight: GeneSetCtrl.tableFilter.projects"></span>
                    </a>
                    /
                    <a data-ng-href='/search?filters={"donor":{"projectId":{"is":["{{ project.uiId }}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                        <span data-ng-bind-html="project.uiSSMTestedDonorCount | highlight: GeneSetCtrl.tableFilter.projects"></span>
                    </a>
                    <em data-ng-bind-html="'('+project.uiAffectedDonorPercentage + '%)' | highlight: GeneSetCtrl.tableFilter.projects"></em>
                    </span>
                </td>
                <td class="text-right">
                    <span data-ng-if="project.uiMutationCount==null"><i class="icon-spinner icon-spin"></i></span>
                    <span data-ng-if="project.uiMutationCount === '0'">--</span>
                    <a data-ng-if="project.uiMutationCount > '0'"
                       data-ng-href='/search/m?filters={{project.uiAdvQuery}}'
                       data-ng-bind-html="project.uiMutationCount | highlight: GeneSetCtrl.tableFilter.projects">                        
                    </a>
                </td>
                <td class="text-right">
                    <span data-ng-if="project.uiGeneCount==null"><i class="icon-spinner icon-spin"></i></span>
                    <span data-ng-if="project.uiGeneCount ==='0'">--</span>
                    <a data-ng-if="project.uiGeneCount > '0'"
                       data-ng-href='/search/g?filters={{project.uiAdvQuery}}'
                       data-ng-bind-html="project.uiGeneCount | highlight: GeneSetCtrl.tableFilter.projects">
                    </a> /
                    <a data-ng-href='/search/g?filters={"gene":{"{{project.uiQueryType}}":{"is":["{{project.uiGeneSetId}}"]}}}'
                        data-ng-bind-html="project.uiGeneSetCount | highlight: GeneSetCtrl.tableFilter.projects">
                    </a>
                    <em data-ng-bind-html="'(' + project.uiAffectedGenePercentage + '%)' | highlight: GeneSetCtrl.tableFilter.projects"></em>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-client-side 
            data-data="GeneSetCtrl.geneSet.uiProjects"
            data-filter="GeneSetCtrl.tableFilter.projects"
            data-row-limit="GeneSetCtrl.defaultCancerRowLimit"
            data-row-sizes="GeneSetCtrl.rowSizes"
            data-current-page="GeneSetCtrl.currentCancerPage"></pagination-client-side>

        <table class="hidden" id="{{GeneSetCtrl.geneSet.id}}_distribution">
            <thead>
            <tr>
                <th><translate>Project</translate></th>
                <th><translate>Site</translate></th>
                <th><translate>Tumour Type</translate></th>
                <th><translate>Tumour Subtype</translate></th>
                <th>
                    <translate>Number of donors with the current gene containing simple somatic mutations in the current project</translate>
                </th>
                <th><translate>Number of SSM-tested donors in the current project</translate></th>
                <th><translate>Percentage of donors with the current gene</translate></th>
                <th><translate>Mutations</translate></th>
                <th><translate>Genes</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="project in GeneSetCtrl.geneSet.projects | orderBy:'uiAffectedDonorPercentage':true">
                <td>{{project.name}}</td>
                <td>{{project.primarySite}}</td>
                <td>{{project.tumourType}}</td>
                <td>{{project.tumourSubtype}}</td>
                <td>{{project.affectedDonorCount}}</td>
                <td>{{project.ssmTestedDonorCount}}</td>
                <td>{{project.uiAffectedDonorPercentage}}</td>
                <td>{{project.mutationCount}}</td>
                <td>{{project.geneCount}}/{{GeneSetCtrl.geneSet.geneCount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="genes" 
    data-ng-controller="GeneSetGenesCtrl as GeneSetGenesCtrl"
    data-ng-class="{'loading': !GeneSetGenesCtrl.genes.hits, 'empty': GeneSetGenesCtrl.genes.hits.length == 0}"
    fix-scroll>
    <h3 data-ng-if="!GeneSetGenesCtrl.genes.hits">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Mutated Genes...</translate>
    </h3>

    <h3 data-ng-if="GeneSetGenesCtrl.genes.hits.length == 0">
        <translate>No Mutated Genes Found.</translate>
    </h3>

    <div data-ng-if="GeneSetGenesCtrl.genes.hits.length > 0">
        <h3>
            <translate>Most Frequently Mutated Genes</translate>
            <span data-open-in-list='/g?filters={{GeneSetCtrl.baseAdvQuery}}'></span>
        </h3>

        <div class="clearfix">
            <bar data-ng-if="GeneSetGenesCtrl.bar.hasData" format="percentage"
                 class="wide" height=200 items="GeneSetGenesCtrl.bar"
                 title=""
                 ylabel="{{'% of Donors Affected' | translate}}">
            </bar>
        </div>
        <div class="t_table_top">
            <span data-table-counts data-label="{{'genes' | translate}}" data-page="GeneSetGenesCtrl.genes.pagination"></span>
            <span data-toolbar data-dl="{{GeneSetCtrl.geneSet.id}}_genes"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th><translate>Symbol</translate></th>
                <th><translate>Name</translate></th>
                <th><abbr data-tooltip="{{'Gene location on the genome, chr:start-end' | translate}}"><translate>Location</translate></abbr></th>
                <th><translate>Type</translate></th>
                <th><abbr data-tooltip="{{'Number of Donors where a Gene involved in the Gene Set contains SSM' | translate}}">#
                    <translate>Donors affected</translate></abbr> <i class="icon-sort-down"></i></th>
                <th class="text-center">
                    <abbr data-tooltip="{{'Number of SSM in the Gene' | translate}}" data-tooltip-placement="left"><translate># Mutations</translate></abbr>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in GeneSetGenesCtrl.genes.hits track by gene.id">
                <td><a data-ui-sref="gene({id:gene.id})">{{gene.symbol}}</a></td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type}}</td>
                <td class="text-right" style="position: relative; white-space: nowrap">
                    <span data-ng-style="{width:gene.affectedDonorCountFiltered/GeneSetCtrl.totalDonors * 100+'%'}"
                          class="t_facets__facet__terms__active__term__bar"></span>
                    <span style="position: relative">
                        <a
                                data-ng-href='/search?filters={{gene.advQuery}}'>
                            {{gene.affectedDonorCountFiltered | number}}
                        </a>
                        /
                        <a data-ng-href='/search?filters={{GeneSetCtrl.baseAdvQuery}}'>
                            {{GeneSetCtrl.totalDonors | number}}</a>
                        <em>({{gene.affectedDonorCountFiltered/GeneSetCtrl.totalDonors * 100 | number:2}}%)</em>
                    </span>
                </td>
                <td class="text-right">
                    <span data-ng-show="gene.mutationCount === null"><i class="icon-spinner icon-spin"></i></span>
                    <span data-ng-show="gene.mutationCount === 0">--</span>
                    <a data-ng-show="gene.mutationCount > 0"
                       href='/search/m?filters={{gene.advQuery}}'>
                        {{gene.mutationCount | number}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="genesets" data-data="GeneSetGenesCtrl.genes"></pagination-controls>

        <table class="hidden" id="{{GeneSetCtrl.geneSet.id}}_genes">
            <thead>
            <tr>
                <th><translate>Symbol</translate></th>
                <th><translate>Name</translate></th>
                <th><translate>Location</translate></th>
                <th><translate>Type</translate></th>
                <th><translate>Number of donors affected</translate></th>
                <th><translate>Total number of SSM-tested donors from the current gene set</translate></th>
                <th><translate>Percentage of affected donors</translate></th>
                <th><translate>Mutations</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="gene in GeneSetGenesCtrl.genes.hits">
                <td>{{gene.symbol}}</td>
                <td>{{gene.name}}</td>
                <td>chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}</td>
                <td>{{gene.type}}</td>
                <td>{{gene.affectedDonorCountFiltered}}</td>
                <td>{{GeneSetCtrl.totalDonors}}</td>
                <td>{{gene.affectedDonorCountFiltered / GeneSetCtrl.totalDonors}}</td>
                <td>{{gene.mutationCount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="pathway" data-ng-if="GeneSetCtrl.geneSet.source === 'Reactome'"
         data-ng-class="{'loading': !GeneSetCtrl.pathway.xml, 'empty': GeneSetCtrl.pathway.xml}">
    <h3 data-ng-if="!GeneSetCtrl.pathway.xml">
        <i class="icon-spinner icon-spin"></i>
        <translate>Fetching Pathway Viewer...</translate>
    </h3>
    <div data-ng-if="GeneSetCtrl.pathway.xml">
        <h3><translate>Pathway Viewer</translate></h3>
        <h4 data-ng-if="GeneSetCtrl.pathway.xml"><translate>Drag and scroll to explore the pathway. Double click to reset the view.</translate></h4>
        <pathway-viewer data-items="GeneSetCtrl.pathway.xml"
                        data-zooms="GeneSetCtrl.pathway.zooms"
                        data-mutation-highlights="GeneSetCtrl.pathway.mutationHighlights"
                        data-drug-highlights="GeneSetCtrl.pathway.drugHighlights" >
        </pathway-viewer>
        <small><translate>Data Source:</translate> <a href="http://www.reactome.org/"><translate>Reactome</translate></a></small>
    </div>
    <h3 data-ng-if="!GeneSetCtrl.pathway">
        <translate>No Pathway Diagram Found.</translate>
    </h3>
</section>
<section id="mutations"
    data-ng-controller="GeneSetMutationsCtrl as GeneSetMutationsCtrl"
    data-ng-class="{'loading': !GeneSetMutationsCtrl.mutations.hits, 'empty': GeneSetMutationsCtrl.mutations.hits.length == 0}"
    fix-scroll>
    <h3 data-ng-if="!GeneSetMutationsCtrl.mutations.hits">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Mutations...</translate>
    </h3>

    <h3 data-ng-if="GeneSetMutationsCtrl.mutations.hits.length == 0">
        <translate>No Mutations Found.</translate>
    </h3>

    <div data-ng-if="GeneSetMutationsCtrl.mutations.hits.length > 0">
        <h3><translate>Most Frequent Mutations</translate>
            <span data-open-in-list='/m?filters={{GeneSetCtrl.baseAdvQuery}}'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="GeneSetMutationsCtrl.bar.hasData" height=200 items="GeneSetMutationsCtrl.bar"
                 title=""
                 ylabel="{{'Donors affected' | translate}}"></bar>
        </div>

        <div class="t_table_top">
            <span data-table-counts data-label="{{'mutations' | translate}}" data-page="GeneSetMutationsCtrl.mutations.pagination"></span>
            <span data-toolbar data-dl="{{GeneSetCtrl.geneSet.id}}_mutations"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>
                    <abbr data-tooltip="{{'Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}' | translate}}">
                        <translate>DNA change</translate></abbr>
                </th>
                <th><translate>Type</translate></th>
                <th>
                    <abbr data-tooltip="{{'Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.' | translate}}"><translate>Consequences</translate></abbr>
                </th>
                <th class="text-center">
                    <abbr data-tooltip="{{'# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project.' | translate}}"
                          data-tooltip-placement="left"><translate># Donors affected</translate></abbr></th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in GeneSetMutationsCtrl.mutations.hits track by mutation.id">
                <td><a data-ui-sref="mutation({id:mutation.id})">{{mutation.id}}</a></td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td><abbr data-tooltip="{{ mutation.type | define }}">{{mutation.type}}</abbr></td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td class="text-right" style="white-space: nowrap">
                    <ul data-hide-sum-list="{{mutation.uiDonors}}"
                        data-link='/search?filters={{mutation.advQuery}}'>
                        <li data-ng-repeat="p in list | orderBy:'percentage':true"
                            style="position: relative">
                            <span data-ng-style="{width:p.percentage * 100+'%'}"
                                  class="t_facets__facet__terms__active__term__bar"></span>
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   href="/projects/{{p.term}}">{{p.term}}</a>
                            <a href='/search?filters={{p.advQuery}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="mutationset" data-data="GeneSetMutationsCtrl.mutations"></pagination-controls>

        <table class="hidden" id="{{GeneSetCtrl.geneSet.id}}_mutations">
            <thead>
            <tr>
                <th><translate>Mutation ID</translate></th>
                <th><translate>Genomic DNA Change</translate></th>
                <th><translate>Type</translate></th>
                <th><translate>Consequences</translate></th>
                <th><translate>Donors affected</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="mutation in GeneSetMutationsCtrl.mutations.hits">
                <td>{{mutation.id}}</td>
                <td>chr{{mutation.chromosome}}:g.{{mutation.start}}{{mutation.mutation}}</td>
                <td>{{mutation.type}}</td>
                <td>
                    <mutation-consequences data-items="mutation.consequences"></mutation-consequences>
                </td>
                <td>
                    <div data-ng-repeat="p in mutation.uiDonors | orderBy:'percentage':true">
                        <div>{{p.term}}:{{p.count | number}}/{{p.countTotal | number}}</div>
                        <div data-ng-if="!$last">|</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="donors"
    data-ng-controller="GeneSetDonorsCtrl as GeneSetDonorsCtrl"
    data-ng-class="{'loading': !GeneSetDonorsCtrl.donors.hits, 'empty': GeneSetDonorsCtrl.donors.hits.length == 0}"
    fix-scroll>
    <h3 data-ng-if="!GeneSetDonorsCtrl.donors.hits">
        <i class="icon-spinner icon-spin"></i> <translate>Fetching Donors...</translate>
    </h3>

    <h3 data-ng-if="GeneSetDonorsCtrl.donors.hits.length == 0">
        <translate>No Affected Donors Found.</translate>
    </h3>

    <div data-ng-if="GeneSetDonorsCtrl.donors.hits.length > 0">
        <h3>
            <translate>Most Affected Donors</translate>
            <span data-open-in-list='?filters={{GeneSetCtrl.baseAdvQuery}}' data-type='donor'></span>
        </h3>

        <div class="clearfix">
            <bar class="wide" data-ng-if="GeneSetDonorsCtrl.bar.hasData" height=200 items="GeneSetDonorsCtrl.bar"
                 title=""
                 ylabel="{{'Genes affected' | translate}}"></bar>
        </div>

        <div class="t_table_top">
            <span data-table-counts data-label="{{'donors' | translate}}" data-page="GeneSetDonorsCtrl.donors.pagination"></span>
            <span data-toolbar data-dl="{{GeneSetCtrl.geneSet.id}}_donors"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2"><translate>Site</translate></th>
                <th rowspan="2"><translate>Gender</translate></th>
                <th rowspan="2" class="text-center"><abbr data-tooltip="{{'Age at Diagnosis' | translate}}"><translate>Age</translate></abbr></th>
                <th rowspan="2"><abbr data-tooltip="{{'Tumour Stage at Diagnosis' | translate}}"><translate>Stage</translate></abbr></th>
                <th rowspan="2" class="text-center">
                    <abbr data-tooltip="{{'Survival Time in days' | translate}}"><translate has-markup>Survival<br>(days)</translate></abbr>
                </th>
                <th rowspan="2"><abbr data-tooltip="{{'Experimental analysis performed' | translate}}"><translate>Analysis</translate></abbr></th>
                <th colspan="11" class="text-center"><translate>Available Data Types:</translate></th>
                <th rowspan="2" data-tooltip="{{'Number of SSM' | translate}}"><abbr><translate># Mutations</translate></abbr></th>
                <th rowspan="2">
                    <abbr data-tooltip="{{'Number of Genes with SSM' | translate}}"
                          data-tooltip-placement="left"><translate># Genes</translate> <i class="icon-caret-down"></i></abbr>
                </th>
            </tr>
            <tr>
                <th data-tooltip="{{ 'ssm' | datatype }}"><abbr class="tiny-header">SSM</abbr></th>
                <th data-tooltip="{{ 'cnsm' | datatype }}"><abbr class="tiny-header">CNSM</abbr></th>
                <th data-tooltip="{{ 'stsm' | datatype }}"><abbr class="tiny-header">StSM</abbr></th>
                <th data-tooltip="{{ 'sgv' | datatype }}"><abbr class="tiny-header">SGV</abbr></th>
                <th data-tooltip="{{ 'meth_array' | datatype }}"><abbr class="tiny-header">METH-A</abbr></th>
                <th data-tooltip="{{ 'meth_seq' | datatype }}"><abbr class="tiny-header">METH-S</abbr></th>
                <th data-tooltip="{{ 'exp_array' | datatype }}"><abbr class="tiny-header">EXP-A</abbr></th>
                <th data-tooltip="{{ 'exp_seq' | datatype }}"><abbr class="tiny-header">EXP-S</abbr></th>
                <th data-tooltip="{{ 'pexp' | datatype }}"><abbr class="tiny-header">PEXP</abbr></th>
                <th data-tooltip="{{ 'mirna_seq' | datatype }}"><abbr class="tiny-header">miRNA-S</abbr></th>
                <th data-tooltip="{{ 'jcn' | datatype }}"><abbr class="tiny-header">JCN</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in GeneSetDonorsCtrl.donors.hits track by donor.id">
                <td><a data-ui-sref="donor({id:donor.id})">{{donor.id}}</a></td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td class="text-right">{{donor.ageAtDiagnosis | numberPT}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td class="text-right">{{donor.survivalTime | numberPT}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td class="text-center"><span data-exists="donor.ssmCount"></span></td>
                <td class="text-center"><span data-exists="donor.cnsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.stsmExists"></span></td>
                <td class="text-center"><span data-exists="donor.sgvExists"></span></td>
                <td class="text-center"><span data-exists="donor.methArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.methSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.expArrayExists"></span></td>
                <td class="text-center"><span data-exists="donor.expSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.pexpExists"></span></td>
                <td class="text-center"><span data-exists="donor.mirnaSeqExists"></span></td>
                <td class="text-center"><span data-exists="donor.jcnExists"></span></td>
                <td class="text-right">
                    <i data-ng-if="donor.mutationCount===null"
                       class="icon-spinner icon-spin"></i>
                    <span data-ng-if="donor.mutationCount === 0">--</span>
                    <a data-ng-if="donor.mutationCount" href='/search/m?filters={{donor.advQuery}}'>
                        {{donor.mutationCount | number}}
                    </a>
                </td>
                <td class="text-right">
                    <a href='/search/g?filters={{donor.advQuery}}'>
                        {{donor.ssmAffectedGenes | number}}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <pagination-controls data-type="affectedDonors" data-data="GeneSetDonorsCtrl.donors"></pagination-controls>

        <table class="hidden" id="{{GeneSetCtrl.geneSet.id}}_donors">
            <thead>
            <tr>
                <th><translate>Donor ID</translate></th>
                <th><translate>Site</translate></th>
                <th><translate>Gender</translate></th>
                <th><translate>Age at Diagnosis</translate></th>
                <th><translate>Tumor Stage at Diagnosis</translate></th>
                <th><translate>Survival Time (days)</translate></th>
                <th><translate>Experimental Analysis</translate></th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>StSM</th>
                <th>SGV</th>
                <th>METH-A</th>
                <th>METH-S</th>
                <th>EXP-A</th>
                <th>EXP-S</th>
                <th>PEXP</th>
                <th>miRNA-S</th>
                <th>JCN</th>
                <th><translate>Mutations</translate></th>
                <th><translate>Mutated Genes</translate></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="donor in GeneSetDonorsCtrl.donors.hits">
                <td>{{donor.id}}</td>
                <td>{{donor.primarySite}}</td>
                <td>{{donor.gender}}</td>
                <td>{{donor.ageAtDiagnosis}}</td>
                <td>{{donor.tumourStageAtDiagnosis}}</td>
                <td>{{donor.survivalTime}}</td>
                <td>{{donor.analysisTypes.join(', ')}}</td>
                <td>{{donor.ssmCount? 'True': 'False'}}</td>
                <td>{{donor.cnsmExists? 'True':'False'}}</td>
                <td>{{donor.stsmExists? 'True':'False'}}</td>
                <td>{{donor.sgvExists? 'True':'False'}}</td>
                <td>{{donor.methArrayExists? 'True':'False'}}</td>
                <td>{{donor.methSeqExists? 'True':'False'}}</td>
                <td>{{donor.expArrayExists? 'True':'False'}}</td>
                <td>{{donor.expSeqExists? 'True':'False'}}</td>
                <td>{{donor.pexpExists? 'True':'False'}}</td>
                <td>{{donor.mirnaSeqExists? 'True':'False'}}</td>
                <td>{{donor.jcnExists? 'True':'False'}}</td>
                <td>{{donor.mutationCount}}</td>
                <td>{{donor.ssmAffectedGenes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</article>
</div>
