.token-manager {

   p {
      margin: 0 0 1em 0;
   }

   h4 {
      font-weight: bold;
      margin-bottom: 1em;
   }

   .alert {
      margin-left: 0;
      margin-right: 0;
   }

   .token-form {
      width: 100%;
      margin-top: 20px;

      td {
         vertical-align: top;
      }

      textarea {
         height: 90%;
      }
      button {
         float: right;
      }
   }

   .token-description {
      float: right;
      font-style: italic;
   }
   .token-id {
      height: 1.5rem;
      font-family: monospace;
      width: 100%;
      background-color: transparent;
      border-radius: 0.3rem;
      border: none;
      padding: 0;
      font-size: 1rem;
   }

   .token-scopes {
      margin-right: 20px;
      .token-badge {
         margin-left: 3px;
      }
      li {
         border-top: 1px solid #eee;
         padding: 3px;
      }
      li:last-of-type {
         border-bottom: 1px solid #eee;
      }
   }

   .token-badge {
      margin-right: 3px;
   }

   .t_tools__tool {
      font-size:1.25rem; margin-left: 0;
   }
}

.token-badge {
   font-weight: normal !important;
}
