<div class="btn-group entity-search pull-right">
  <button type="button" class="btn t_button" data-ng-click="$ctrl.clickEvent()" data-capitalize="true">
    Upload {{ $ctrl.entityType }} Set
  </button>
  <button type="button" 
    class="btn t_button dropdown-toggle" 
    data-toggle="dropdown"
    data-ng-if="$ctrl.entitySet.length">
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" data-ng-if="$ctrl.entitySet.length">
    <li class="divider-label">
      <span><b>Select Saved Sets</b></span>
    </li>
    <li data-ng-repeat="set in $ctrl.entitySet" class="set-list">
      <a href="" 
        data-ng-click="$ctrl.selectEvent(set);" 
        data-ng-class="{selected: set.selected}"
        data-tooltip="{{ set.name }}">
        <div>
          <div>
            <span>
              <i class="{{ set.selected === true ? 'icon-ok': 'icon-check-empty'}}"></i>
            </span>
          </div>
          <div>
            <span>{{ set.name | limitTo: 16 }} {{set.name.length > 16 ? '...' : ''}} </span>
            <span>{{ set.count | number }} {{ $ctrl.entityType.toLowerCase() }}{{ set.count > 1 ? 's' : '' }} </span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>