<span>
    <span data-ng-if="!uiFilters"><translate>All</translate></span>
    <span data-ng-repeat="(typeName, type) in uiFilters">
        <span data-ng-repeat="(facet, terms) in type track by facet">

            <span data-ng-switch="facet">
                <span data-ng-switch-when="id">{{typeName | readable}}</span>
                <span data-ng-switch-when="pathwayId">Pathway</span>
                <span data-ng-switch-when="goTermId">GO</span>
                <span data-ng-switch-when="curatedSetId"><translate>Curated Gene Set</translate></span>
                <span data-ng-switch-when="location">{{typeName | readable}} location</span>
                <span data-ng-switch-default="">{{facet | trans}}</span>
            </span>

            <span data-ng-if="terms.is"> 
                {{ terms.is.length !== 1? "IN (" : "IS" }} 
            </span>
            <span data-ng-if="terms.not"> 
                {{ terms.not.length !== 1? "NOT IN (" : "IS NOT" }} 
            </span>

            <span data-ng-if="terms.is" data-ng-repeat="termObj in terms.is track by termObj.term">
                <span data-ng-style="hoverStyle"
                      data-tooltip="{{ ['pathwayId', 'goTermId', 'curatedSetId'].indexOf(facet) >= 0? (termObj.term | geneSetNameLookup) : (termObj.term | define:term.controlFacet) }}">
                    {{termObj.term | trans:term.controlFacet}}
                </span>
                <span data-ng-if="!$last">,&nbsp;</span>  
            </span>
            
            <span data-ng-if="terms.not" data-ng-repeat="termObj in terms.not track by termObj.term">
                <span data-ng-style="hoverStyle"
                      data-tooltip="{{ ['pathwayId', 'goTermId', 'curatedSetId'].indexOf(facet) >= 0? (termObj.term | geneSetNameLookup) : (termObj.term | define:term.controlFacet) }}">
                      {{ resolveGeneSymbols (termObj.controlType, termObj.term) | trans: term.controlFacet }}
                </span>
                <span data-ng-if="!$last">,&nbsp;</span>
            </span>
            
            <span data-ng-if="terms.is"> 
                {{ terms.is.length !== 1? ")" : [Extensions.ENTITY].indexOf(terms.is[0].controlFacet) === -1 ?  "" : ")"}}
            </span>
            <span data-ng-if="terms.not"> 
                {{ terms.not.length !== 1? ")" : [Extensions.ENTITY].indexOf(terms.not[0].controlFacet) === -1 ?  "" : ")"}}
            </span>

            <span data-ng-if="!$last"> AND </span>
        </span>
        <span data-ng-if="!$last"> AND </span>
    </span>
</span>
