.graphs {
  span {
    float: left;
  }
  overflow: hidden;
  max-height: 1000px;
  transition: 0.5s max-height ease-in-out;
}

.graphs-collapsed {
  max-height: 186px;
  & + .more-graphs-wrap {
    .teaser-coverup {
      transform: scaleY(1);
    }
    .more-graphs:hover + .teaser-coverup {
      transform: scaleY(0.3);
    }
  }
}

.more-graphs-wrap {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  text-align: center;
  width: 100%;
  .more-graphs {
    position: relative;
    z-index: 101;
  }
  .teaser-coverup {
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to top, white 40%, transparent);
    bottom: 21px;
    z-index: 100;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: 0.5s transform ease;
  }
}

.more-graphs {
  border: 1px solid $greyLight;
  background: $white;
  font: {
    size: 1.2rem;
    weight: 300;
  }
;
  padding: .5rem 1rem;
  display: inline-block;

  &:hover {
    border: 1px solid $orangeLight;
    background: $white !important;
  }
}

.gene-list-ids {
   padding-left: 1rem;
   max-height: 3rem;
   overflow-x: hidden;
   overflow-y: scroll;
}


/* Advanced search tab toolbar */
.action-toolbar {
   line-height: 1.25rem;
   font-size: 1rem;
   color: #999999;

   .action-item {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.25rem;
   }
}
.action-toolbar > .action-item:last-child {
   border: 0;
}
