<section>
    <ul class="t_subnav__items">
        <li class="t_subnav__items__item" data-ng-if="GeneCtrl.mutationFacets.functionalImpact.total > 0" style="padding: .1rem 0;">
            <span>
                <translate>Quick Filters</translate>
            </span>
        </li>
    </ul>
</section>
<ul class="t_subnav__items__box" data-ng-if="GeneCtrl.mutationFacets.functionalImpact.total > 0">
    <ul class="t_facets">
        <terms data-type="donor" data-facet-name="projectId" data-hide-count="true" data-label="{{'Project' | translate}}" data-facet="GeneCtrl.donorFacets.projectId"></terms>
        <terms data-type="donor" data-facet-name="primarySite" data-hide-count="true" data-label="{{'Primary Site' | translate}}"
            data-facet="GeneCtrl.donorFacets.primarySite"></terms>
        <terms data-type="mutation" data-facet-name="functionalImpact" data-hide-count="true" data-label="{{'Mutation Impact' | translate}}"
            data-facet="GeneCtrl.mutationFacets.functionalImpact"></terms>
        <terms data-type="mutation" data-facet-name="clinvarClinicalSignificance" data-hide-count="true" data-label="{{'Clinical Significance' | translate}}"
            data-facet="GeneCtrl.mutationFacets.clinvarClinicalSignificance"></terms>
    </ul>
</ul>