<div class="h1-wrap">
    <h1 data-ui-scrollpoint=105>
        <span class="t_badge t_badge__gene"></span>
        {{ GeneCtrl.gene.symbol }}</h1>
</div>

<article fix-scroll class="full">
    <div class="t_tabs t_tabs__isolated">
        <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="GeneCtrl.activeTab = 'summary'" data-ng-class="{active: GeneCtrl.activeTab === 'summary'}"
            data-nested data-href="genes/{{GeneCtrl.gene.id}}">
            <translate>Summary</translate>
            <br>
        </div>
        <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="GeneCtrl.activeTab = 'relations'" data-ng-class="{active: GeneCtrl.activeTab === 'relations'}"
            data-nested data-href="genes/{{GeneCtrl.gene.id}}/relations">
            <translate>Relations</translate>
            <br>
        </div>
        <div class="t_tabs__tab t_tabs__tab__donor" data-ng-click="GeneCtrl.activeTab = 'visualizations'" data-ng-class="{active: GeneCtrl.activeTab === 'visualizations'}"
            data-nested data-href="genes/{{GeneCtrl.gene.id}}/visualizations">
            <translate>Visualizations</translate>
            <br>
        </div>
    </div>
    <div class='t_tab_pane' data-ng-class="{active: GeneCtrl.activeTab === 'summary'}" data-ng-include="'scripts/genes/views/gene.summary.html'"></div>
    <div class='t_tab_pane' data-ng-class="{active: GeneCtrl.activeTab === 'relations'}">
        <div data-ng-include="'scripts/genes/views/gene.relations.html'"></div>
    </div>
    <div class='t_tab_pane' data-ng-class="{active: GeneCtrl.activeTab === 'visualizations'}">
        <div data-ng-include="'scripts/genes/views/gene.visualizations.html'"></div>
    </div>
</article>