<aside data-ng-if="GeneCtrl.activeTab ==='protein'" class="t_sidebar">
    <section>
        <ul class="t_subnav__items">
            <li class="t_subnav__items__item" data-ng-if="GeneCtrl.mutationFacets.functionalImpact.total > 0">
                <span>
                    <translate>Quick Filters</translate>
                </span>
            </li>
        </ul>
    </section>
    <ul class="t_subnav__items__box" data-ng-if="GeneCtrl.mutationFacets.functionalImpact.total > 0">
        <ul class="t_facets">
            <terms data-type="donor" data-facet-name="projectId" data-hide-count="true" data-label="{{'Project' | translate}}" data-facet="GeneCtrl.donorFacets.projectId"></terms>
        </ul>
        <ul class="t_facets">
            <terms data-type="donor" data-facet-name="primarySite" data-hide-count="true" data-label="{{'Primary Site' | translate}}"
                data-facet="GeneCtrl.donorFacets.primarySite"></terms>
        </ul>
        <ul class="t_facets">
            <terms data-type="mutation" data-facet-name="functionalImpact" data-hide-count="true" data-label="{{'Mutation Impact' | translate}}"
                data-facet="GeneCtrl.mutationFacets.functionalImpact"></terms>
        </ul>
    </ul>
</aside>

<article data-ng-if="GeneCtrl.activeTab === 'protein'">
    <current></current>

    <section id="protein" class="dynamic-height">
        <div data-ng-if="!GeneCtrl.gene.uiProteinTranscript.length" class="empty">
            <h3 data-ng-if="GeneCtrl.gene.affectedTranscriptIds.length">
                <translate>No Protein Coding Transcript Found.</translate>
            </h3>
            <h3 data-ng-if="!GeneCtrl.gene.affectedTranscriptIds.length">
                <translate>No Mutation occurs in coding region of this Gene.</translate>
            </h3>
        </div>
        <div data-ng-if="GeneCtrl.gene.uiProteinTranscript.length" data-ng-init="sorted = (GeneCtrl.gene.uiProteinTranscript | orderBy:'+name')">
            <onco-lolliplot transcripts="sorted"></onco-lolliplot>
        </div>
    </section>
</article>