@charset "UTF-8";
/*
 * Copyright 2016(c) The Ontario Institute for Cancer Research. All rights reserved.
 *
 * This program and the accompanying materials are made available under the terms of the GNU Public
 * License v3.0. You should have received a copy of the GNU General Public License along with this
 * program. If not, see <http://www.gnu.org/licenses/>.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

//-----------------------------------------------------------------------------
@import "bootstrap.scss";
@import "../vendor/styles/slider.css";
@import "../bower_components/angular-loading-bar/build/loading-bar.css";
@import "../bower_components/angularjs-toaster/toaster.css";

// Genome Browser
@import "../vendor/scripts/genome-viewer/vendor/qtip2/jquery.qtip.min.css";
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

@import "../vendor/styles/genomeviewer/css/style.css";

// Base
@import "_base/base";
//-----------------------------------------------------------------------------
// Layout
@import "layout";
//-----------------------------------------------------------------------------
// General
@import "_general/root";
@import "_general/type";
@import "_bootstrap-overrides";
//-----------------------------------------------------------------------------
// Sections
@import "../scripts/common/styles/preheader";
@import "../scripts/common/styles/header";
@import "../scripts/releases/styles/home";
@import "../scripts/donors/styles/donor";
@import "../scripts/advanced/styles/advanced";
@import "../scripts/keyword/styles/results";
@import "../scripts/common/styles/footer";
@import "../scripts/analysis/styles/analysis";
@import "../scripts/static/styles/team";
//-----------------------------------------------------------------------------

// --

@import "../scripts/facets/styles/current";
@import "../scripts/facets/styles/facets";

@import "../scripts/ui/styles/index";

@import "../scripts/auth/styles/auth";

@import "../scripts/visualization/styles/vis";
@import "../scripts/highcharts/styles/highcharts";
@import "../scripts/proteinstructureviewer/styles/protein";
@import "../scripts/genomemaps/styles/genomemaps";
@import "../scripts/phenotype/styles/phenotype.result.scss";
@import "../scripts/survivalanalysis/styles/survival-analysis.scss";

// --
// Pages
@import "../scripts/oncogrid/styles/oncogrid";
@import "../scripts/pathwayviewer/styles/pathwayviewer";

@import "../scripts/repositories/styles/repositories";

@import "../scripts/repository/styles/repository";

@import "../scripts/compounds/styles/compounds";

@import "../scripts/tokens/styles/tokens";

@import "../scripts/beacon/styles/beacon";

@import "../vendor/styles/bamiobio/bamiobio";
@import "../vendor/styles/vcfiobio/vcfiobio";

@import "../scripts/404/styles/404";

// --

// Modules
@import "_modules/modules";

@import "override.scss";
@import "flags.scss";