<h1>
    <img src="styles/images/PCAWG-icon.png" style="height:3.5rem; margin-left:2rem; vertical-align:bottom"></img> 
    <span style="display:inline-block"><translate>PCAWG - Pancancer Analysis of Whole Genomes</translate></span>
</h1>
<section style="padding-top:0"> 
    <div class="wide">
        <h3><translate>Create a cloud commons</translate><h3>
        <h4><translate>Acknowledgements</translate></h4>
        <p>
        <translate>
            For the July 9 Nature Commentary titled "Create a cloud commons," the authors wish to  thank Joshua Stuart, Jennifer Jennings, Brian O’Connor, George Mihaiescu, Christina Yung and Fruzsina Molnar-Gabor for insights, comments and other assistance during the preparation of this article.
        </translate>
        <translate>
            We wish also to acknowledge Richard Daly, CEO of DNAnexus, for providing historical information on the subscriber base to this service.
        </translate>
        </p>
    </div>
</section>

