
<div id="pathways">
  <h1 data-ui-scrollfix="79"><i class="t_badge t_badge_icon"><i class="icon-spread"></i></i><translate>Pathway Viewer</translate></h1>
  <div class="content-body">
    <aside>
      <div>
        <div class="search-control">
            <div class="search-icon"><i class="icon-search"></i></div>
            <input class="pathway-filter" type="text" placeholder="{{'Filter pathways' | translate}}" data-ng-model="pathwayFilter">
        </div>
        <div class="pathway-filter-container">
            <ul class="t_suggest_flyout__hits">
              <li class="t_suggest_flyout__hits__hit" 
              data-ng-repeat="pw in pathways|filter:pathwayFilter"
              data-ng-click="setSelectedPathway(pw)"
              data-ng-class="{'selected': getSelectedPathway().geneSetId ==  pw.geneSetId}"
              >
                <div class="pathway-item-header">
                  <div class="item-title">
                    <span style="font-size: 1.2rem" data-ng-bind="pw.geneSetId"></span>
                  </div>
                  <div class="item-pval">
                    <abbrev data-tooltip="{{TooltipText.ENRICHMENT.GENESET_ADJUSTED_PVALUE}}" data-ng-bind="pw.adjustedPValue.toExponential(2)"></abbrev>
                  </div>
                </div>
                  <ul>
                      <li class="item-body">
                        <small data-ng-bind="pw.geneSetName"></small>
                      </li>
                  </ul>
                 
              </li>
            </ul>
        </div>
       </div>
    </aside>
    <article class="pathways-content">
      
      <section id="pathway" data-ng-if="geneSet.showPathway && geneSet.source === 'Reactome'"
         data-ng-class="{'loading': !geneSet.projects, 'empty': geneSet.projects.length == 0}">
         
         <div class="pathway-analysis-header">
               <span data-ng-if="analysis.getData().results.length > 0">
                <translate has-markup>Enriched gene set with FDR &le; <strong data-ng-bind="analysis.getData().params.fdr"></strong></translate>
               </span>
               <div class="action-item summary-back-link">
                    <i class="icon-beaker"></i>
                    <translate>Go back to <a href="/analysis/view/enrichment/{{analysis.getData().id}}">Enrichment Analysis Results</a></translate>
               </div>        
        </div>
         <table class="table table-bordered table-pathway-info">
                <thead>
                    <tr>
                        <th><translate>ID</translate></th>
                        <th><translate>Name</translate></th>
                        <th data-tooltip="{{TooltipText.ENRICHMENT.GENESET_GENES}}"><abbr><translate># Genes</translate></abbr></th>
                        <th data-tooltip="{{TooltipText.ENRICHMENT.GENESET_GENES_OVERLAP}}"><abbr><translate># Genes in overlap</translate></abbr></th>
                        <th data-tooltip="{{TooltipText.ENRICHMENT.GENESET_DONORS}}"><abbr><translate># Donors affected</translate></abbr></th>
                        <th data-tooltip="{{TooltipText.ENRICHMENT.GENESET_MUTATIONS}}"><abbr><translate># Mutations</translate></abbr></th>
                        <th data-tooltip="{{TooltipText.ENRICHMENT.GENESET_EXPECTED}}"><abbr><translate>Expected</translate></abbr></th>
                        <th>
                            <abbr data-tooltip="{{TooltipText.ENRICHMENT.GENESET_PVALUE}}"><translate>P-Value</translate></abbr>
                        </th>
                        <th>
                            <abbr data-tooltip="{{TooltipText.ENRICHMENT.GENESET_ADJUSTED_PVALUE}}"><translate>Adjusted P-Value</translate></abbr>
       
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="white-space:nowrap"><a data-ng-href="/genesets/{{getSelectedPathway().geneSetId}}"  data-ng-bind="getSelectedPathway().geneSetId"></a></td>
                        <td  data-ng-bind="getSelectedPathway().geneSetName">
                        </td>
                        <td class="text-right">
                            <a href="/search/g?filters={{getSelectedPathway().geneSetFilters}}" data-ng-bind="getSelectedPathway().geneCount | number"></a>
                        </td>
                        <td class="text-right">
                            <span data-ng-if="!getSelectedPathway().geneSetOverlapFilters" data-ng-bind="getSelectedPathway().overlapGeneSetGeneCount | number"></span>
                            <span data-ng-if="getSelectedPathway().geneSetOverlapFilters" class="gene-overlap-result">
                                <a href="/search/g?filters={{getSelectedPathway().geneSetOverlapFilters}}"  data-ng-bind="getSelectedPathway().overlapGeneSetGeneCount | number"></a>
                            </span>
                        </td>
    
                        <td class="text-right">
                            <span data-ng-if="!getSelectedPathway().geneSetOverlapFilters" data-ng-bind="getSelectedPathway().overlapGeneSetDonorCount | number"></span>
                            <span data-ng-if="getSelectedPathway().geneSetOverlapFilters && ! analysis.isLoading">
                                <a href="/search?filters={{getSelectedPathway().geneSetOverlapFilters}}"  data-ng-bind="getSelectedPathway().overlapGeneSetDonorCount | number"></a>
                            </span>
                            <span data-ng-if="analysis.isLoading"><i class="icon-spinner icon-spin"></i></span>
                        </td>
                        <td class="text-right">
                            <span data-ng-if="!getSelectedPathway().geneSetOverlapFilters" data-ng-bind="getSelectedPathway().overlapGeneSetMutationCount | number"></span>
                            <span data-ng-if="getSelectedPathway().geneSetOverlapFilters && ! analysis.isLoading">
                                <a href="/search/m?filters={{getSelectedPathway().geneSetOverlapFilters}}"  data-ng-bind="getSelectedPathway().overlapGeneSetMutationCount | number"></a>
                            </span>
                            <span data-ng-if="analysis.isLoading"><i class="icon-spinner icon-spin"></i></span>
                        </td>
                        <td class="text-right" data-ng-bind="getSelectedPathway().expectedValue.toExponential(2)"></td>
                        <td class="text-right"  data-ng-bind="getSelectedPathway().pvalue.toExponential(2)"></td>
                        <td class="text-right" data-ng-bind="getSelectedPathway().adjustedPValue.toExponential(2)"></td>
                    </tr>
                </tbody>
            </table>
        <div data-ng-if="pathway">
            <h3 class="spinner-container" data-ng-if="!pathway.xml">
                <i class="icon-spinner icon-spin"></i>
                <translate>Fetching Pathway Viewer...</translate>
            </h3>
            <div data-ng-if="pathway.xml">
                <h4>
                    <translate>Drag and scroll to explore the pathway. Double click to reset the view.</translate>
                </h4>                
                <pathway-viewer data-items="pathway.xml"
                                data-zooms="pathway.zooms"
                                data-mutation-highlights="pathway.mutationHighlights"
                                data-drug-highlights="pathway.drugHighlights"
                                data-overlaps="pathway.overlaps">
                </pathway-viewer>
                <small><translate>Data Source: <a href="http://www.reactome.org/">Reactome</a></translate></small>
            </div>
        </div>
        <h3 data-ng-if="!pathway">
            <translate>No Pathway Diagram Found.</translate>
        </h3>
      </section>
    </article>
  </div>
</div>