<div id="pathway-viewer-mini" class="pathwayviewercontainer text-center">
  <div data-ng-if="items===''" class="empty loading-text">
    <h3><translate>No Diagram Available</translate></h3>
  </div>
    <i class="fa fa-expand pathway-fullscreen-controller"></i>
    
  <div class="pathway-legend">
    <i data-ng-if="items!==''" data-ng-click="legendClick()" class="fa fa-question-circle pathway-legend-controller legend-icon"></i>
    <h4><translate>LEGEND</translate></h4>
    <div class="pathway-legend-container">
      <div class="pathway-legend-content"></div>
    </div>
  </div>
  
  <div class="pathway-info">
    <i style="visibility:hidden" class="fa fa-chevron-circle-right pathway-info-controller"></i>
    <h4><translate>DETAILS</translate></h4>
    <div>{{entityType}}</div>
    <div class="pathway-info-svg"></div>
    <div class="pathway-info-content">
      <div class="subpath-link" data-ng-if="entityType=='ProcessNode'">
        <a href="/genesets/R-HSA-{{ subPathwayId }}"><translate>VIEW THIS SUB-PATHWAY: R-HSA-{{ subPathwayId }}</translate></a>
      </div>
      
      <table class="table pathway-gene-table" data-ng-if="annotatedGenesList.length>0">
        <tr>
          <th class="pathway-gene-header-label pathway-gene-header">
            <span data-ng-click="sortField = 'symbol'; sortDescendingly = !sortDescendingly" style="cursor: pointer">
              <translate>Gene</translate>
              <span data-ng-if="sortField === 'symbol' && !sortDescendingly" class="icon-sort-down"></span>
              <span data-ng-if="sortField === 'symbol' && sortDescendingly" class="icon-sort-up"></span>
              <span data-ng-if="sortField !== 'symbol'" class="icon-sort" style="color:hsl(0,0%,80%)"></span>
            </span>
          </th>
          <th class="pathway-gene-header-label pathway-gene-header">
            <span data-ng-click="sortField = 'value'; sortDescendingly = !sortDescendingly" style="cursor: pointer">
              <translate># ICGC Mutations</translate>
              <span data-ng-if="sortField === 'value' && !sortDescendingly" class="icon-sort-down"></span>
              <span data-ng-if="sortField === 'value' && sortDescendingly" class="icon-sort-up"></span>
              <span data-ng-if="sortField !== 'value'" class="icon-sort" style="color:hsl(0,0%,80%)"></span>
            </span>
          </th>
          <th class="pathway-gene-header-label pathway-gene-header">
            <span data-ng-click="sortField = 'drugs.length'; sortDescendingly = !sortDescendingly" style="cursor: pointer">
              <translate># Targeting Compounds</translate>
              <span data-ng-if="sortField === 'drugs.length' && !sortDescendingly" class="icon-sort-down"></span>
              <span data-ng-if="sortField === 'drugs.length' && sortDescendingly" class="icon-sort-up"></span>
              <span data-ng-if="sortField !== 'drugs.length'" class="icon-sort" style="color:hsl(0,0%,80%)"></span>
            </span>
          </th>
        </tr>
        <tr data-ng-repeat="gene in annotatedGenesList | orderBy:sortField:sortDescendingly" data-ng-class="{'gene-overlap-result': overlappingGenesMap[gene.id]}">
          <th class="pathway-gene-label"><a href="/genes/{{ gene.id }}">{{ gene.symbol }}</a></th>
          <th class="pathway-gene-label"><a href="/search/m?filters={{ gene.advQuery }}">{{ gene.value }}</a></th>
          <th class="pathway-gene-label">
          	<a data-ng-if="gene.drugs.length > 0" href="/genes/{{ gene.id }}#compounds">{{ gene.drugs.length }}</a>
          	<span data-ng-if="gene.drugs.length === 0">0</span>
          </th>
        </tr>
      </table>
      
      
      <table class="table pathway-gene-table" data-ng-if="mutatedGenesList.length == 0 && overlappingGenesList.length > 0">
        <tr>
          <th class="pathway-gene-header-label pathway-gene-header"><translate>Gene</translate></th>
        </tr>
        <tr data-ng-repeat="gene in overlappingGenesList" class="gene-overlap-result">
          <th class="pathway-gene-label"><a href="/genes/{{ gene.geneId }}">{{ gene.geneSymbol }}</a></th>
        </tr>
      </table>
    </div>
  </div>
</div>