<h3 data-ng-if="!AdvancedCtrl.Donor.donors" class="loading loading-icon">
    <i class="icon-spinner icon-spin"></i>
</h3>
<ul data-ng-show="AdvancedCtrl.Donor.donors" class="t_facets">
    <li data-tags-facet data-label="{{'Donor' | translate}}" 
        data-facet-name="id" 
        data-placeholder="{{'e.g. DO45299, SA501608' | translate}}" 
        data-type="donor"
        data-entity-sets="AdvancedCtrl.donorSets"
        data-show-entity-set-facet="true"></li>

    <terms data-type="donor" data-facet-name="primarySite" data-label="{{'Primary Site' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.primarySite"></terms>

    <terms data-type="donor"
      data-facet-name="projectId"
      data-defined="true"
      data-label="{{'Project' | translate}}"
      data-facet="AdvancedCtrl.Donor.donors.facets.projectId" />
    <terms data-type="donor" data-facet-name="studies" data-label="{{'Study' | translate}}"
           data-missing-text="{{'None' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.studies"></terms>

    <terms data-type="donor" data-facet-name="gender" data-capitalize="true" data-label="{{'Gender' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.gender"></terms>

    <terms data-type="donor" data-facet-name="tumourStageAtDiagnosis" data-label="{{'Tumour Stage' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.tumourStageAtDiagnosis" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="vitalStatus" data-capitalize="true" data-label="{{'Vital Status' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.vitalStatus" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="diseaseStatusLastFollowup" data-capitalize="true" data-label="{{'Disease Status' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.diseaseStatusLastFollowup" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="relapseType" data-capitalize="true" data-label="{{'Relapse Type' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.relapseType" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="ageAtDiagnosisGroup" data-label="{{'Age at Diagnosis' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.ageAtDiagnosisGroup" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="availableDataTypes" data-defined="true" data-label="{{'Available Data Type' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.availableDataTypes" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="analysisTypes" data-defined="true" data-label="{{'Donor Analysis Type' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.analysisTypes" data-collapsed="true"></terms>

    <terms data-type="donor" data-facet-name="state" data-capitalize="true" data-collapsed="true" data-label="{{'Donor Molecular Data' | translate}}"
           data-facet="AdvancedCtrl.Donor.donors.facets.state"></terms>
</ul>
