<div data-ng-if="! AdvancedCtrl.Mutation.mutations || ! AdvancedCtrl.Mutation.hitsLoaded || AdvancedCtrl.Mutation.isLoading" class="loading loading-text"><h3><i
        class="icon-spinner icon-spin"></i> 
        <translate>Loading Mutations...</translate></h3></div>
<div data-ng-if="AdvancedCtrl.Mutation.mutations.hits.length == 0 && AdvancedCtrl.Mutation.hitsLoaded && ! AdvancedCtrl.Mutation.isLoading" class="empty loading-text">
    <h3>
        <translate>No Mutations Found.</translate>
    </h3>
</div>
<div data-ng-show="AdvancedCtrl.Mutation.mutations.hits.length && AdvancedCtrl.Mutation.hitsLoaded && ! AdvancedCtrl.Mutation.isLoading">
    <section class="graphs-container">
        <div class="graphs">
            <div class="row">
                <div class="span col-md-5 col-sm-12">
                    <span>
                        <bar
                            config-overrides="AdvancedCtrl.mutationConsequenceTypeChartConfig"
                            items="AdvancedCtrl.Mutation.barConsequences"
                            heading="{{'Consequence Type' | translate}}"
                            ylabel="{{'# of Mutations' | translate}}"
                            type="bar"
                            width="390"
                            height="150"
                            >
                        </bar>
                    </span>
                </div>
                <div class="span col-md-2 col-sm-4">
                    <pie items='AdvancedCtrl.Mutation.piePlatform' heading="{{'Platform' | translate}}" label="{{'Mutations' | translate}}" type="pie"
                        width="225"
                        height="150"></pie>
                </div>
                <div class="span col-md-2 col-sm-4">
                    <pie items='AdvancedCtrl.Mutation.pieVerificationStatus' heading="{{'Verification Status' | translate}}" label="{{'Mutations' | translate}}"
                        type="pie"
                        width="225"
                        height="150"></pie>
                </div>
                <div class="span col-md-2 col-sm-4">
                    <pie items='AdvancedCtrl.Mutation.pieType' heading="{{'Type' | translate}}" label="{{'Mutations' | translate}}" type="pie" width="225"
                        height="150"></pie>
                </div>
            </div>
        </div>
    </section>

    <div class="t_tabs">
        <div class="t_tabs__tab"
             data-nested
             data-href="search/m"
             data-ng-click="AdvancedCtrl.state.setSubTab('mutation')"
             data-ng-class="{active: AdvancedCtrl.state.isSubTab('mutation')}">
            <translate>Mutations</translate><br>
            <small data-ng-hide="AdvancedCtrl.Mutation.isLoading">{{AdvancedCtrl.Mutation.mutations.pagination.total |
                number}}
            </small>
            <small data-ng-show="AdvancedCtrl.Mutation.isLoading"><i class="icon-spinner icon-spin"></i></small>
        </div>
        <div class="t_tabs__tab"
             data-nested
             data-href="search/m/o"
             data-ng-click="AdvancedCtrl.state.setSubTab('occurrence')"
             data-ng-class="{active: AdvancedCtrl.state.isSubTab('occurrence')}">
            <translate>Mutation Occurrences</translate><br>
            <small data-ng-hide="AdvancedCtrl.Mutation.isLoading">{{AdvancedCtrl.Mutation.occurrences.pagination.total |
                number}}
            </small>
            <small data-ng-show="AdvancedCtrl.Mutation.isLoading"><i class="icon-spinner icon-spin"></i></small>
        </div>
    </div>

    <section>
        <div class='t_tab_pane'
             data-ng-class="{active: AdvancedCtrl.state.isSubTab('mutation')}"
             data-ng-include="'scripts/advanced/views/advanced.mutations.mutations.html'"></div>
        <div class='t_tab_pane'
             data-ng-class="{active: AdvancedCtrl.state.isSubTab('occurrence')}"
             data-ng-include="'scripts/advanced/views/advanced.mutations.observations.html'"></div>
    </section>
</div>
