<h3>Mutations
    <span class="action-toolbar pull-right">
        <span class="action-item">
            <i class="icon-floppy"></i><a href="" data-ng-click="AdvancedCtrl.saveSet('mutation', AdvancedCtrl.Mutation.mutations.pagination.total)">Save Mutation Set</a>
        </span>
        <span class="action-item">
            <i class="icon-chart"></i><a href="/browser/m?filters={{AdvancedCtrl.Location.filters()}}">Genome Viewer</a></span>
        </span>
    </span>
</h3>

<div class="t_table_top">
    <span data-table-counts data-label="mutations" data-page="AdvancedCtrl.Mutation.mutations.pagination"></span>
    <span data-toolbar data-dl="mutations"></span>
</div>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th rowspan="2" data-sortable data-type="mutations" data-field="id">ID</th>
        <th rowspan="2">
            <abbr data-tooltip="Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}">
                DNA Change</abbr>
        </th>
        <th rowspan="2" data-sortable data-type="mutations" data-field="type">Type</th>
        <th rowspan="2">
            <abbr data-tooltip="Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.">Consequences</abbr>
        </th>
        <th class="text-center" colspan="2"># Donors affected</th>
    </tr>
    <tr>
        <th data-sortable data-type="mutations" data-field="affectedDonorCountFiltered" data-active="true"
            data-reversed="true" class="text-center">
            <abbr data-tooltip="Number of Donors affected by Mutation<br>Filtered by Current Search Criteria / unfiltered # donors the mutation is observed.">Total</abbr>
        </th>
        <th class="text-center">
            <abbr data-tooltip="# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project."
                  data-tooltip-placement="left">Across all Projects</abbr>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="mutation in AdvancedCtrl.Mutation.mutations.hits track by mutation.id">
        <td><a href='/mutations/{{ mutation.id }}'>{{ mutation.id }}</a></td>
        <td class="t_cell_line_break">chr{{mutation.chromosome}}:g.{{ mutation.start }}{{ mutation.mutation }}</td>
        <td><abbr data-tooltip="{{ mutation.type | define }}">{{ mutation.type }}</abbr></td>
        <td style="max-width: 15rem; white-space: normal">
            <mutation-consequences  items="mutation.consequences"></mutation-consequences>
        </td>
        <td class="text-right" style="position: relative; display: block;white-space: nowrap">
                        
                    <span style="position: relative">
                        <a href='/search?filters={{mutation.embedQuery}}'>
                            {{mutation.affectedDonorCountFiltered | number}}
                        </a>
                        /
                        <a href='/search?filters={"mutation":{"id":{"is":["{{mutation.id}}"]}},"donor":{"availableDataTypes":{"is":["ssm"]}}}'>
                            {{mutation.affectedDonorCountTotal | number}}
                        </a>
                        <em>({{mutation.affectedDonorCountFiltered / mutation.affectedDonorCountTotal * 100 |
                            number:2}}%)</em>
                    </span>
        </td>
        <td class="text-right" style="white-space: nowrap">
            <ul data-hide-sum-list="{{mutation.uiDonors}}"
                data-link='/search?filters={{mutation.uiDonorsLink}}'>
                <li data-ng-repeat="p in list | orderBy:'percentage':true"
                    style="position: relative">
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   href="/projects/{{p.term}}">{{p.term}}</a>:
                            <a href='/search?filters={{AdvancedCtrl.Mutation.projectMutationQuery(p.term, mutation.id)}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<pagination-controls data-type="mutations" data="AdvancedCtrl.Mutation.mutations"></pagination-controls>

<table class="hidden" id="mutations" data-ng-if="AdvancedCtrl.Page.isExporting()">
    <thead>
    <tr>
        <th>Mutation ID</th>
        <th>Genomic DNA Change</th>
        <th>Type</th>
        <th>Consequences</th>
        <th>Donors Affected</th>
        <th>Projects Mutation Observed</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="mutation in AdvancedCtrl.Mutation.mutations.hits track by mutation.id">
        <td>{{mutation.id}}</td>
        <td>chr{{mutation.chromosome}}:g.{{ mutation.start }}{{ mutation.mutation }}</td>
        <td>{{mutation.type | define }}</td>
        <td>
            <mutation-consequences items="mutation.consequences"></mutation-consequences>
        </td>
        <td>{{mutation.affectedDonorCountFiltered}}/{{mutation.affectedDonorCountTotal}}</td>
        <td>{{mutation.uiDonorsExportString}}</td>
    </tr>
    </tbody>
</table>
