<div class="modal-content">
    <div class="modal-header clearfix">
        <h3 class="pull-left"><translate>Experiment Details</translate></h3>
        <button class="pull-right t_button" data-ng-click="cancel()"><i class="icon-cancel"></i>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-info table-condensed">
                <tbody>
                <tr><td><translate>ICGC Sample ID</translate></td><td>{{observation.icgcSampleId}}</td></tr>
                <tr><td><translate>Matched ICGC Sample ID</translate></td><td>{{observation.matchedICGCSampleId}}</td></tr>
                <tr><td><translate>ICGC Specimen ID</translate></td><td>{{observation.icgcSpecimenId}}</td></tr>
                <tr><td><translate>Submitted Sample ID</translate></td><td>{{observation.submittedSampleId}}</td></tr>
                <tr><td><translate>Submitted Matched Sample ID</translate></td><td>{{observation.submittedMatchedSampleId}}</td></tr>
                <tr><td><translate>Alignment Algorithm</translate></td><td>{{observation.alignmentAlgorithm}}</td></tr>
                <tr><td><translate>Base Calling Algorithm</translate></td><td>{{observation.baseCallingAlgorithm}}</td></tr>
                <tr><td><translate>Experimental Protocol</translate></td><td>{{observation.experimentalProtocol}}</td></tr>
                <tr><td><translate>Other Analysis Algorithm</translate></td><td>{{observation.otherAnalysisAlgorithm}}</td></tr>
                <tr><td><translate>Platform</translate></td><td>{{observation.platform}}</td></tr>
                <tr><td><translate>Raw Data Accession</translate></td><td>{{observation.rawDataAccession}}</td></tr>
                <tr><td><translate>Raw Data Repository</translate></td><td>{{observation.rawDataRepository}}</td></tr>
                <tr><td><translate>Sequencing Strategy</translate></td><td>{{observation.sequencingStrategy}}</td></tr>
                <tr><td><translate>Variaiton Calling Algorithm</translate></td><td>{{observation.variationCallingAlgorithm}}</td></tr>
                <tr><td><translate>Biological Validation Status</translate></td><td>{{observation.biologicalValidationStatus}}</td></tr>
                <tr><td><translate>Mutant Allele Read Count</translate></td><td>{{observation.mutantAlleleReadCount}}</td></tr>
                <tr><td><translate>Probability</translate></td><td>{{observation.probability}}</td></tr>
                <tr><td><translate>Total Read Count</translate></td><td>{{observation.totalReadCount}}</td></tr>
                <tr><td><translate>Verification Status</translate></td><td>{{observation.verificationStatus | readable }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

