<div data-ng-if="!AdvancedCtrl.Mutation.mutations" class="loading loading-icon">
    <i class="icon-spinner icon-spin icon-4x"></i>
</div>
<ul data-ng-show="AdvancedCtrl.Mutation.mutations" class="t_facets">
    <li data-tags-facet data-label="{{'Mutation' | translate}}" 
        data-facet-name="id" 
        data-placeholder="{{'e.g. MU123' | translate}}"
        data-type="mutation"
        data-entity-sets="AdvancedCtrl.mutationSets"
        data-show-entity-set-facet="true"></li>

    <terms data-type="mutation" data-facet-name="consequenceType" data-defined="true"
           data-label="{{'Consequence Type' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.consequenceType"></terms>

    <terms data-type="mutation" data-facet-name="functionalImpact" data-capitalize="true"
           data-label="{{'Functional Impact' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.functionalImpact"></terms>

    <terms data-type="mutation" data-facet-name="type" data-defined="true"
           data-label="{{'Type' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.type"></terms>

    <terms data-type="mutation" data-facet-name="platform"  data-collapsed="true"
           data-label="{{'Platform' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.platform"></terms>

    <terms data-type="mutation" data-facet-name="sequencingStrategy"  data-collapsed="true"
           data-label="{{'Analysis Type' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.sequencingStrategy"></terms>

    <terms data-type="mutation" data-facet-name="verificationStatus" data-capitalize="true" data-collapsed="true"
           data-label="{{'Verification Status' | translate}}"
           data-facet="AdvancedCtrl.Mutation.mutations.facets.verificationStatus"></terms>

    <li data-location-facet data-type="mutation" data-facet-name="location" data-label="{{'Location' | translate}}"
        data-placeholder="{{'e.g. chr12:43566-3457633' | translate}}" ></li>
</ul>

