<h3 data-ng-if="AdvancedCtrl.Mutation.occurrences.hits.length == 0" class="empty loading-text">
    <translate>No Mutation Occurrences Found.</translate>
</h3>
<div data-ng-if="AdvancedCtrl.Mutation.occurrences.hits.length > 0">
    <h3><translate>Mutation Occurrences</translate>
        <span class="action-toolbar pull-right">
            <i class="icon-chart"></i><a href="/browser/m?filters={{AdvancedCtrl.Location.filters()}}"><translate>Genome Viewer</translate></a>
        </span>
    </h3>

    <div class="t_table_top">
        <span data-table-counts data-label="{{'mutation occurrences' | translate}}"
              data-page="AdvancedCtrl.Mutation.occurrences.pagination"></span>
        <span data-toolbar data-dl="occurrences"></span>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th rowspan="2" data-sortable data-type="occurrences" data-field="mutationId">
                ID
            </th>
            <th rowspan="2" data-sortable data-type="occurrences" data-field="donorId" data-active="true" data-reversed="true">
                <translate>Donor ID</translate>
            </th>
            <th rowspan="2" data-sortable data-type="occurrences" data-field="projectId"><translate>Project</translate></th>
            <th rowspan="2"><translate>DNA change</translate></th>
            <th colspan="5" class="text-center"><translate>Experimental Observations</translate></th>
        </tr>
        <tr>
            <th><translate>Sample ID</translate></th>
            <th><translate>Matched Sample ID</translate></th>
            <th><translate>Platform</translate></th>
            <th><translate>Verification Status</translate></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="occurrence in AdvancedCtrl.Mutation.occurrences.hits">
            <td>
                <a href="/mutations/{{ occurrence.mutationId }}">{{ occurrence.mutationId }}</a>
            </td>
            <td>
                <a href="/donors/{{ occurrence.donorId }}">{{ occurrence.donorId }}</a>
            </td>
            <td>
                <a data-tooltip="{{ occurrence.projectName }}"
                   href="/projects/{{ occurrence.projectId }}">{{ occurrence.projectId }}</a>
            </td>
            <td class="t_cell_line_break">
                chr{{occurrence.chromosome}}:g.{{occurrence.start}}{{occurrence.mutation}}
            </td>
            <td>
                <ul>
                    <li data-ng-repeat="observation in occurrence.observations">{{observation.icgcSampleId}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li data-ng-repeat="observation in occurrence.observations">{{observation.matchedICGCSampleId || "--"}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li data-ng-repeat="observation in occurrence.observations">{{observation.platform || "--"}}</li>
                </ul>
            </td>
            <td>
               <ul>
                   <li data-ng-repeat="observation in occurrence.observations">{{observation.verificationStatus | readable }}</li>
               </ul>
            </td>
            <td>
               <ul>
                   <li data-ng-repeat="observation in occurrence.observations">
                       <a data-ng-click="AdvancedCtrl.viewObservationDetail(observation)" href="">Details</a>
                   </li>
               </ul>
            </td>
        </tr>
        </tbody>
    </table>


    <pagination-controls data-type="occurrences" data="AdvancedCtrl.Mutation.occurrences"></pagination-controls>

    <table id="occurrences" class="hidden" data-ng-if="AdvancedCtrl.Page.isExporting()">
        <thead>
        <tr>
            <th>Mutation ID</th>
            <th><translate>Donor ID</translate></th>
            <th><translate>Project</translate></th>
            <th><translate>DNA change</translate></th>
            <th><translate>Sample ID</translate></th>
            <th><translate>Matched Sample ID</translate></th>
            <th><translate>Platform</translate></th>
            <th><translate>Verification Status</translate></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="occurrence in AdvancedCtrl.Mutation.occurrences.hits">
            <td>{{occurrence.mutationId}}</td>
            <td>{{occurrence.donorId}}</td>
            <td>{{occurrence.projectId}}</td>
            <td>chr{{occurrence.chromosome}}:g.{{occurrence.start}}{{occurrence.mutation}}</td>
            <td>{{ (occurrence.observations | pluck:'icgcSampleId').join(',') }}</td>
            <td>{{ (occurrence.observations | pluck:'matchedICGCSampleId').join(',') }}</td>
            <td>{{ (occurrence.observations | pluck:'platform').join(',') }}</td>
            <td>{{ (occurrence.observations | pluck:'verificationStatus').join(',') }}</td>
        </tr>
        </tbody>
    </table>
</div>
