<h3 data-ng-if="!AdvancedCtrl.Gene.genes" class="loading loading-icon">
    <i class="icon-spinner icon-spin icon-4x"></i>
</h3>
<ul data-ng-show="AdvancedCtrl.Gene.genes" class="t_facets">
    <li data-tags-facet data-label="{{'Gene' | translate}}" 
        data-facet-name="id" 
        data-placeholder="{{'e.g. KRAS, ENSG00000133703' | translate}}"
        data-type="gene"
        data-entity-sets="AdvancedCtrl.geneSets"
        data-show-entity-set-facet="true"></li>

    <terms data-type="gene" data-facet-name="type" data-facet="AdvancedCtrl.Gene.genes.facets.type"
           data-capitalize="true" data-label="{{'Type' | translate}}"></terms>

    <li data-tags-facet
        data-type="pathway"
        data-facet-name="pathwayId"
        data-proxy-type="gene"
        data-proxy-facet-name="pathwayId"
        data-label="{{'Pathway' | translate}}"
        data-placeholder="{{'e.g. TNF Signaling, R-HSA-983168' | translate}}">
    </li>

    <li data-tags-facet
        data-type="compound"
        data-facet-name="compoundId"
        data-proxy-type="gene"
        data-proxy-facet-name="compoundId"
        data-label="Targeting Compounds"
        data-placeholder="e.g. erlotinib, ZINC000001546066">
    </li>

    <li data-tags-facet
        data-type="go_term"
        data-facet-name="goTermId"
        data-proxy-type="gene"
        data-proxy-facet-name="goTermId"
        data-label="{{'Gene Ontology (GO)' | translate}}"
        data-placeholder="{{'e.g. cell growth, GO:0016049' | translate}}">
    </li>

    <li data-tags-facet
        data-type="curated_set"
        data-facet-name="curatedSetId"
        data-proxy-type="gene"
        data-proxy-facet-name="curatedSetId"
        data-label="{{'Curated Gene Set' | translate}}">
    </li>

    <li data-location-facet data-type="gene" data-facet-name="location" data-label="{{'Location' | translate}}"
        data-placeholder="{{'Enter gene location' | translate}}" data-example="{{'e.g. chr12:43566-3457633' | translate}}"></li>
</ul>
