<div class="modal-content">
    <div class="modal-header clearfix">
        <h3 class="pull-left">Experiment Details</h3>
        <button class="pull-right t_button" data-ng-click="cancel()"><i class="icon-cancel"></i>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-info table-condensed">
                <tbody>
                <tr><td>ICGC Sample Id</td><td>{{observation.icgcSampleId}}</td></tr>
                <tr><td>Matched ICGC Sample Id</td><td>{{observation.matchedICGCSampleId}}</td></tr>
                <tr><td>ICGC Specimen Id</td><td>{{observation.icgcSpecimenId}}</td></tr>
                <tr><td>Submitted Sample Id</td><td>{{observation.submittedSampleId}}</td></tr>
                <tr><td>Submitted Matched Sample Id</td><td>{{observation.submittedMatchedSampleId}}</td></tr>
                <tr><td>Alignment Algorithm</td><td>{{observation.alignmentAlgorithm}}</td></tr>
                <tr><td>Base Calling Algorithm</td><td>{{observation.baseCallingAlgorithm}}</td></tr>
                <tr><td>Experimental Protocol</td><td>{{observation.experimentalProtocol}}</td></tr>
                <tr><td>Other Analysis Algorithm</td><td>{{observation.otherAnalysisAlgorithm}}</td></tr>
                <tr><td>Platform</td><td>{{observation.platform}}</td></tr>
                <tr><td>Raw Data Accession</td><td>{{observation.rawDataAccession}}</td></tr>
                <tr><td>Raw Data Repository</td><td>{{observation.rawDataRepository}}</td></tr>
                <tr><td>Sequencing Strategy</td><td>{{observation.sequencingStrategy}}</td></tr>
                <tr><td>Variaiton Calling Algorithm</td><td>{{observation.variationCallingAlgorithm}}</td></tr>
                <tr><td>Biological Validation Status</td><td>{{observation.biologicalValidationStatus}}</td></tr>
                <tr><td>Mutant Allele Read Count</td><td>{{observation.mutantAlleleReadCount}}</td></tr>
                <tr><td>Probability</td><td>{{observation.probability}}</td></tr>
                <tr><td>Total Read Count</td><td>{{observation.totalReadCount}}</td></tr>
                <tr><td>Verification Status</td><td>{{observation.verificationStatus | readable }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

