<h3>
    <translate>Mutations</translate>
    <span class="action-toolbar pull-right">
        <span class="action-item">
            <i class="icon-floppy"></i><a href="" data-ng-click="AdvancedCtrl.saveSet('mutation', AdvancedCtrl.Mutation.mutations.pagination.total)"><translate>Save Mutation Set</translate></a>
        </span>
        <span class="action-item">
            <i class="icon-chart"></i><a href="/browser/m?filters={{AdvancedCtrl.Location.filters()}}"><translate>Genome Viewer</translate></a>
        </span>
        <span class="action-item">
            <entityset-persistence-dropdown
                selected-entity-ids="AdvancedCtrl.selectedEntityIdsMap.mutation"
                entity-type="'mutation'"
                set-total-count="AdvancedCtrl.Mutation.mutations.pagination.total"
                set-limit="AdvancedCtrl.Settings.maxNumberOfHits"
                on-operation-success="AdvancedCtrl.handleOperationSuccess('mutation')"
            ></entityset-persistence-dropdown>
        </span>
    </span>
</h3>

<div class="t_table_top">
    <span data-table-counts data-label="{{'mutations' | translate}}" data-page="AdvancedCtrl.Mutation.mutations.pagination"></span>
    <span data-toolbar data-dl="mutations"></span>
</div>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th rowspan="2"></th>
        <th rowspan="2" data-sortable data-type="mutations" data-field="id">ID</th>
        <th rowspan="2">
            <abbr data-tooltip="{{'Genomic DNA change, shown as {chromosome}:g.{start}{ref}>{tumor}' | translate}}">
                <translate>DNA change</translate></abbr>
        </th>
        <th rowspan="2" data-sortable data-type="mutations" data-field="type"><translate>Type</translate></th>
        <th rowspan="2">
            <abbr data-tooltip="{{'Consequences caused by the mutation, annotated using SnpEff with Sequence Ontology terms. High, Low impact AA change is in RED or GREEN respectively.' | translate}}"><translate>Consequences</translate></abbr>
        </th>
        <th class="text-center" colspan="2"><translate># Donors affected</translate></th>
        <th rowspan="2">
            <abbr data-tooltip="{{ 'Cohort comparison for filtered donors with versus without mutation' | translate }}" 
                data-tooltip-placement="left"
                style="display:block;padding-left:5px;">
                <i class="icon-chart-bar">
                </i>
            </abbr>
        </th>
    </tr>
    <tr>
        <th data-sortable data-type="mutations" data-field="affectedDonorCountFiltered" data-active="true"
            data-reversed="true" class="text-center">
            <abbr data-tooltip="{{'Number of Donors affected by Mutation<br>Filtered by Current Search Criteria / unfiltered # donors the mutation is observed.' | translate}}"><translate>Total</translate></abbr>
        </th>
        <th class="text-center">
            <abbr data-tooltip="{{'# Donors where mutation is observed filtered by current criteria / # SSM tested donors portal wide. Expand to see breakdown by project.' | translate}}"
                  data-tooltip-placement="left"><translate>Across all Projects</translate></abbr>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr
        data-ng-repeat="mutation in AdvancedCtrl.Mutation.mutations.hits track by mutation.id"
        ng-class="{
            'is-selected': AdvancedCtrl.isEntitySelected('mutation', mutation)
        }"
        ng-click="AdvancedCtrl.toggleSelectedEntity('mutation', mutation)"
    >
        <td>
            <icgc-checkbox is-checked="AdvancedCtrl.isEntitySelected('mutation', mutation)"></icgc-checkbox>
        </td>
        <td><a href='/mutations/{{ mutation.id }}'>{{ mutation.id }}</a></td>
        <td class="t_cell_line_break">chr{{mutation.chromosome}}:g.{{ mutation.start }}{{ mutation.mutation }}</td>
        <td><abbr data-tooltip="{{ mutation.type | define }}">{{ mutation.type }}</abbr></td>
        <td style="max-width: 15rem; white-space: normal">
            <mutation-consequences  items="mutation.consequences"></mutation-consequences>
        </td>
        <td class="text-right" style="position: relative; white-space: nowrap">
                        
                    <span style="position: relative;display: block;">
                        <a href='/search?filters={{mutation.embedQuery}}'>
                            {{mutation.affectedDonorCountFiltered | number}}
                        </a>
                        /
                        <a href='/search?filters={"mutation":{"id":{"is":["{{mutation.id}}"]}},"donor":{"availableDataTypes":{"is":["ssm"]}}}'>
                            {{mutation.affectedDonorCountTotal | number}}
                        </a>
                        <em>({{mutation.affectedDonorCountFiltered / mutation.affectedDonorCountTotal * 100 |
                            number:2}}%)</em>
                    </span>
        </td>
        <td class="text-right" style="white-space: nowrap">
            <ul data-hide-sum-list="{{mutation.uiDonors}}"
                data-link='/search?filters={{mutation.uiDonorsLink}}'>
                <li data-ng-repeat="p in list | orderBy:'percentage':true"
                    style="position: relative">
                            <span style="position: relative">
                                <a data-tooltip-placement="left"
                                   data-tooltip="{{ p.projectName }}"
                                   href="/projects/{{p.term}}">{{p.term}}</a>:
                            <a href='/search?filters={{AdvancedCtrl.Mutation.projectMutationQuery(p.term, mutation.id)}}'>
                                {{p.count | number}}
                            </a>/
                            <a href='/search?filters={"donor":{"projectId":{"is":["{{p.term}}"]},"availableDataTypes":{"is":["ssm"]}}}'>
                                {{p.countTotal | number}}
                            </a>
                            <em>({{p.percentage * 100 | number:2}}%)</em>
                            </span>
                </li>
            </ul>
        </td>
        <td>
            <i class="icon-chart-bar phenotype-analysis" style="padding-left:5px;"
                data-ng-click="AdvancedCtrl.launchSurvivalAnalysis('mutation', mutation.id, mutation.id)"></i>
        </td>
    </tr>
    </tbody>
</table>
<pagination-controls data-type="mutations" data="AdvancedCtrl.Mutation.mutations"></pagination-controls>

<table class="hidden" id="mutations" data-ng-if="AdvancedCtrl.Page.isExporting()">
    <thead>
    <tr>
        <th><translate>Mutation ID</translate></th>
        <th><translate>Genomic DNA Change</translate></th>
        <th><translate>Type</translate></th>
        <th><translate>Consequences</translate></th>
        <th><translate>Donors affected</translate></th>
        <th><translate>Projects Mutation Observed</translate></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="mutation in AdvancedCtrl.Mutation.mutations.hits track by mutation.id">
        <td>{{mutation.id}}</td>
        <td>chr{{mutation.chromosome}}:g.{{ mutation.start }}{{ mutation.mutation }}</td>
        <td>{{mutation.type | define }}</td>
        <td>
            <mutation-consequences items="mutation.consequences"></mutation-consequences>
        </td>
        <td>{{mutation.affectedDonorCountFiltered}}/{{mutation.affectedDonorCountTotal}}</td>
        <td>{{mutation.uiDonorsExportString}}</td>
    </tr>
    </tbody>
</table>
