<div class="survival-analysis">
  <script type="text/template" class="survival-tip-template">
    <div>
      <strong><%= donor.id %></strong>
      <div><%= labels.survivalEstimate %>: <%= (donor.survivalEstimate * 100).toFixed(2) %>%</div>
      <% if (donor.isCensored) { %>
        <div><%= labels.censoredSurvivalTime %>: <%= donor.time %> <%= unit %> (censored)</div>
      <% } else { %>
        <div><%= labels.survivalTime %>: <%= donor.time %> <%= unit %> </div>
      <% } %>
    </div>
  </script>

  <h1 class="title" ng-if="ctrl.title">{{ ctrl.title }}</h1>

  <ul class="legend">
    <li>
      <i
        class="undo-button icon-undo"
        ng-class="{disabled: !ctrl.canUndo()}"
        ng-click="ctrl.handleClickReset()"
      ></i>
    </li>
    <li class="fullscreen-toggle">
      <i ng-if="!ctrl.isFullScreen()" ng-click="ctrl.handleClickEnterFullScreen()" class="icon-resize-full"></i>
      <i ng-if="ctrl.isFullScreen()" ng-click="ctrl.handleClickExitFullScreen()" class="icon-resize-small"></i>
    </li>
    <li
      class="set"
      ng-repeat="dataSet in ctrl.dataSets"
      ng-class="{
        disabled: ctrl.isDataSetDisabled(dataSet) || !dataSet.donors.length,
        interactable: dataSet.donors.length,
        }"
      ng-style="{color: ctrl.palette[$index % ctrl.palette.length]}"
      ng-click="ctrl.toggleDataSet(dataSet)"
    >
      <i
        ng-class="{
          'icon-check': !ctrl.isDataSetDisabled(dataSet) && dataSet.donors.length,
          'icon-check-empty': ctrl.isDataSetDisabled(dataSet) && dataSet.donors.length,
        }"
      ></i>
      <i>S</i><sub>{{ctrl.dataSets.indexOf(dataSet) + 1}}</sub> (N = {{dataSet.donors.length}}) - {{ dataSet.meta.name }}
    </li>
  </ul>

  <i class="icon-spin icon-spinner absolute-center" ng-class="{'ng-hide': ctrl.dataSets.length}"></i>


  <div class="p-value-test">
    <span ng-if="ctrl.pvalue !== undefined && ctrl.pvalue!==0">Log-Rank Test P-Value = {{ ctrl.pvalue.toExponential(2) }}</span>
    <span ng-if="ctrl.pvalue === 0">Log-Rank Test P-Value ≈ {{ ctrl.pvalue.toExponential(2) }}</span>
  </div>
  <div class="survival-graph">
    
  </div>

  <tooltip-control
    is-local="true"
    params="ctrl.tooltipParams"
  ></tooltip-control>

</div>