<div class="survival-analysis">

  <script type="text/template" class="survival-tip-template">
    <div>
      <strong><%= donor.id %></strong>
      <div><%= labels.survivalEstimate %>: <%= (donor.survivalEstimate * 100).toFixed(2) %>%</div>
      <% if (donor.isCensored) { %>
        <div><%= labels.censoredSurvivalTime %>: <%= donor.survivalTime %> <%= unit %> (censored)</div>
      <% } else { %>
        <div><%= labels.survivalTime %>: <%= donor.survivalTime %> <%= unit %> </div>
      <% } %>
    </div>
  </script>

  <div class="survival-graph">
    
  </div>

</div>