#repository-page {
  .graphs-container {
    position: relative;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0 0 1rem;
    &.collapsed {
      margin-top: 2.5rem;
      .graphs {
        display: none
      }
    }
  }

  .graphs {
    display: flex;
    & > * {
      float: none;
    }

    .highcharts-container {
      // throw chart onto GPU to fix safari ghosting issues
      transform: translateZ(0);
    }

    .highcharts-axis-labels {
      pointer-events: none;

      &.highcharts-xaxis-labels {
        font-family: 'icgc-icons';
        -webkit-font-smoothing: antialiased;
        text {
          fill: #166aa2 !important;
        }
      }
    }

    .highcharts-title {
      font-size: 16px !important;
    }
  }

  .download-manifests {
    .modal-header {
      border-bottom: 0;
      padding: 15px 15px 5px 15px;
    } 

    .modal-body {
      padding: 0;
      p {
        line-height: 1.5;
        margin: 0.5em 15px;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 12px;
      .t_button {
        margin-left: 0.7em;
      }
    }

    table {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      margin-top: 15px;
      margin-bottom: 0;
      tr {
        transition: all 0.3s ease;
        &:nth-child(odd) {
          background: inherit;
        }
        &.alt {
          background-color: #f2f2f2;
        }
        &.dndDraggingSource,
        &.dndDraggingSource + .extras,
        &.ng-leave,
        &.ng-leave + .extras, {
          display: none;
        }
        &.dndPlaceholder {
          background-color: #f2f2f2;
          border: 2px dotted #999;
        }
        .orange-icon {
          color: $iconColor;
        }
        .btn-default:not(:hover) {
          border: 1px solid transparent;
          background-color: transparent;
        }
        .spinner-container {
          display: flex;
          justify-content: center;
        }
      }
      td, th {
        border-left: 0;
      }

      .extras {
        td {
          padding: 12px 0;
        }
        & + tr {
          border-top: 1px solid #f2f2f2;
        }
        .code {
          font-family: monospace;
        }
      }
    }
    .handle, *[draggable="true"] {
      cursor: move;
      cursor: -webkit-grab;
    }
    .handle {
      color: #999;
    }

    .manifest-btn {
      cursor: pointer;
    }

    input[type="text"] {
      padding: 2px 4px;
      border: 0;
    }

    .dropdown-menu {
      padding: 0;
      & > li {
        position: relative;

        & + li {
          border-top: 1px solid #ccc;
        }

        & > a {
          cursor: pointer;
          text-decoration: none;
          font-size: 13px;
          padding-top: 5px;
          padding-bottom: 5px;

          &.disabled {
            color: #999;
            text-decoration: none;
            cursor: default;
            &:hover {
              background-color: transparent;
            }
          }
        }

        .popover {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

    }
  }
}