#repository-page, #files-section {
  .graphs-container {
    position: relative;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0 0 1rem;
    &.collapsed {
      margin-top: 2.5rem;
      .graphs {
        display: none
      }
    }
  }

  .graphs {
    display: flex;
    & > * {
      float: none;
    }

    .highcharts-container {
      // throw chart onto GPU to fix safari ghosting issues
      transform: translateZ(0);
    }

    .highcharts-axis-labels {
      pointer-events: none;

      &.highcharts-xaxis-labels {
        font-family: 'icgc-icons';
        -webkit-font-smoothing: antialiased;
        text {
          fill: #166aa2 !important;
        }
      }
    }

    .highcharts-title {
      font-size: 16px !important;
    }
  }

  .download-manifests {

    .modal-body {
      padding: 0;

      .modal-info-wrapper {
        display: flex;
        margin-top: 15px;
        .modal-info-figure {
          flex-shrink: 0;
          width: 25%;
          max-width: 160px;
          max-height: 120px;
          align-self: center;
        }
        .modal-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
          margin-right: 15px;
        }
        .modal-info-figure + .modal-info {
          margin-left: 0;
        }
      }

      p {
        line-height: 1.5;
        margin: 0.5em 0;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 12px;
      .t_button {
        margin-left: 0.7em;
      }
    }

    table {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      margin-top: 15px;
      margin-bottom: 0;
      td.text-right:last-child, th.text-right:last-child {
        padding-right: 1em;
      }
      th:first-child:not(.text-right):not(.text-center),
      th:first-child:not(.text-right):not(.text-center),
      td:first-child:not(.text-right):not(.text-center) {
        padding-left: 1em;
      }
      tr {
        transition: all 0.3s ease;
        &:nth-child(odd) {
          background: inherit;
        }
        &.alt {
          background-color: #f2f2f2;
        }
        &.dndDraggingSource,
        &.dndDraggingSource + .extras,
        &.ng-leave,
        &.ng-leave + .extras, {
          display: none;
        }
        &.dndPlaceholder td {
          padding: 0 !important;
          &:before{
            box-sizing: border-box;
            content: '\00a0';
            width: 100%;
            height: 100%;
            display: block;
            background-color: #edf8ff;
            border: 1px dotted #ccc;
          }
        }
        .spinner-container {
          display: flex;
          justify-content: center;
        }
      }
      td, th {
        border-left: 0;
      }

      tbody {
        td {
          transition: background-color 0.3s $inOutSine, color 0.3s $inOutSine;
          background-color: transparent;
          &.tweening {
            background-color: rgba(237, 248, 255, 0.8);
            color: #8e6d90; 
          }
        }
      }

      .extras {
        td {
          padding: 12px 0;
        }
        & + tr {
          border-top: 1px solid #f2f2f2;
        }
        .code {
          font-family: monospace;
        }
        .row + .row {
          margin-top: 1em;
        }
      }
    }
    .handle, *[draggable="true"] {
      cursor: move;
      cursor: -webkit-grab;
    }
    .handle {
      color: #999;
    }

    .manifest-btn {
      cursor: pointer;
    }

    input.inconspicuous {
      padding: 2px 4px;
      border: 0;
    }

    .dropdown-menu {
      padding: 0;
      & > li {
        position: relative;

        & + li {
          border-top: 1px solid #ccc;
        }

        & > a {
          cursor: pointer;
          text-decoration: none;
          font-size: 13px;
          padding-top: 5px;
          padding-bottom: 5px;

          &.disabled {
            color: #999;
            text-decoration: none;
            cursor: default;
            &:hover {
              background-color: transparent;
            }
          }
        }
        .info-link {
          position: absolute;
          top: 0;
          right: 0;
          padding-left: 0;
          padding-right: 0;
        }
        .popover-body span {
          word-break: normal;
        }
      }

    }
  }
}

#files-section{
  .graphs-container {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.file-path-container {
  background: #fff;
  font-size: 1.25rem;
  position: relative;
  border-radius: 6px;
  border: 0.2rem solid #ddd;
  padding: 2px 4px;
  margin-bottom: 1em;
  display: flex;

  & > li + li:before {
    padding: 0 0px 0 5px;
  }

  li:last-child {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
  }

  .file-query-wrapper {
    position: relative;
    display: inline-flex;
    flex-grow: 1;
    margin-left: 2px;
  }

  .file-query-input {
    flex-grow: 1;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    border: 0;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
