$faded: #e6dede;
.survival-graph {

  .axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    path {
      stroke: $faded
    }

    .tick {
      line {
        stroke: #666;
      }
      text {
        fill: #888;
        font-size: 1.2ex;
      }
    }

    .axis-label {
      color: hsl(0, 0%, 60%);
      font-size: 0.75rem;
      fill: hsl(0, 0%, 60%);
      font-weight: 300;
    }
    .minor line {
      stroke: #e6dede;
    }

    &.x .tick line {
      opacity: 0.1;
    }

    &.y .tick line {
      opacity: 1;
    }
  }

  .line {
    fill: none;
    stroke-width: 1.5px;
  }

  .serie {
    .point {
      r: 3;
      transition: all 0.1s;
      cursor: pointer;
      stroke-width: none;
      &:hover, &:active {
        r: 5;
      }
      &[status="alive"] {
        opacity: 0.5;
      }
      &[status="deceased"] {
        opacity: 0;
        transition: r 0.3s, opacity 0.3s;
        r: 5;
        &:hover, &:active {
          opacity: 1;
          r: 2;
        }
      }
    }

    .point-line {
      cursor: pointer;
      &[status="deceased"] {
        opacity: 0;
      }
    }
  }

  .brush .extent {
    stroke: #fff;
    fill: $selection;
    shape-rendering: crispEdges;
    pointer-events: none;
  }

}

.survival-analysis {
  position: relative;

  &:not(:hover) {
    .tool-buttons {
      opacity: 0;
    }
  }
  .tool-buttons {
    opacity: 1;
    transition: all 0.25s ease;
    text-align: right;
    position: absolute;
    right: 0; 
  }

  .composite-button {
    .icon {
      transform: translateY(-3px);
    }
    .sub {
      position: absolute;
      font-size: 8px;
      font-weight: 800;
      width: 100%;
      left: 0;
      text-align: center;
      bottom: 1px;
    }
  }

  .survival-graph {
    width: 100%;
    svg {
      width: 100%;
      height: auto;
    }
  }

  .icon-spinner {
    width: 18px;
    height: 18px;
    opacity: 0.6;
    &:before {
      height: 1em;
      @extend .absolute-center !optional;
    }
  }

  .drag-to-zoom-prompt {
    color: #999;
    font-size: 11px;
    margin-right: 30px;
    height: 0;
    text-align: right;
  }

  .legend {
    /*position: absolute;
    bottom: -20px;*/
    /*left: 0;
    right: 0;*/
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & > li {
      cursor: default;
      font-size: 11px;
      line-height: 1.7;
      position: relative;
      user-select: none;
      display: inline-block;
      & + .set {
        margin-left: 20px;
      }
      &.disabled {
        color: #b7b7b7 !important;
      }
      &.interactable {
        cursor: pointer;
      }
      .icon-check, .icon-check-empty {
        font-size: 9px;
        position: absolute;
        margin-left: -2px;
        margin-top: 1px;
        transform: translateX(-100%);
      }
    }

  }
}

.exported-survival-svg {
  .legend {
    flex-direction: row;
  }
  .legend li {
    cursor: default;
    font-size: 11px;
    line-height: 1.7;
    position: static;
    display: block;
  }
}