<div data-ng-init="compound = CompoundCtrl.getCompound()">
    <div class="h1-wrap">
        <h1 data-ui-scrollpoint="105">
            <span class="t_badge t_badge__compound"></span>
            <span data-ng-bind=":: compound.name"></span>
        </h1>
    </div>
    <article fix-scroll class="full">
        <div class="t_tabs t_tabs__isolated">
            <div class="t_tabs__tab t_tabs__tab__compound" data-ng-click="CompoundCtrl.activeTab = 'summary'" data-ng-class="{active: CompoundCtrl.activeTab === 'summary'}"
                data-nested data-href="compound/{{compound.id}}">
                <translate>Summary</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__compound" data-ng-click="CompoundCtrl.activeTab = 'targetedGenes'" data-ng-class="{active: CompoundCtrl.activeTab === 'targetedGenes'}"
                data-nested data-href="compound/{{compound.id}}/targeted-genes">
                <translate>Targeted Genes</translate>
                <br>
            </div>
            <div class="t_tabs__tab t_tabs__tab__compound" data-ng-click="CompoundCtrl.activeTab = 'clinicalTrial'" data-ng-class="{active: CompoundCtrl.activeTab === 'clinicalTrial'}"
                data-nested data-href="compound/{{compound.id}}/clinical-trial">
                <translate>Clinical Trial</translate>
                <br>
            </div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: CompoundCtrl.activeTab === 'summary'}" data-ng-include="'scripts/compounds/views/compound.summary.html'"></div>
        <div class='t_tab_pane' data-ng-class="{active: CompoundCtrl.activeTab === 'targetedGenes'}">
            <div data-ng-include="'scripts/compounds/views/compound.targetedGenes.html'"></div>
        </div>
        <div class='t_tab_pane' data-ng-class="{active: CompoundCtrl.activeTab === 'clinicalTrial'}">
            <div data-ng-include="'scripts/compounds/views/compound.clinicalTrial.html'"></div>
        </div>
    </article>
</div>