<div data-ng-init="compound = CompoundCtrl.getCompound()">
    <div class="h1-wrap">
        <h1 data-ui-scrollpoint="79">
            <span class="t_badge t_badge__compound"></span>
            <span data-ng-bind=":: compound.name"></span>
        </h1>
    </div>
    <div data-scroll-spy="">
        <aside data-ui-scrollpoint="79" class="t_sidenav">
            <section>
                <ul class="t_subnav__items">
                    <li data-spy="summary" class="t_subnav__items__item current"><a data-scrollto href="#summary"><translate>Summary</translate></a></li>
                    <li data-spy="genes" class="t_subnav__items__item"><a data-scrollto href="#genes"><translate>Targeted Genes</translate></a></li>
                    <li data-spy="trials" class="t_subnav__items__item"><a data-scrollto href="#trials"><translate>Clinical Trials</translate></a></li>
                    <li><br></li>
                    <li class="t_subnav__items__item" data-ng-if="CompoundCtrl.getMutationImpactFacets() && CompoundCtrl.getMutationImpactFacets().functionalImpact.total > 0">
                        <span><translate>Page Filters</translate></span>
                    </li>
                    <li class="t_subnav__items__box" data-ng-if="CompoundCtrl.getMutationImpactFacets() && CompoundCtrl.getMutationImpactFacets().functionalImpact.total > 0">
                        <ul class="t_facets">
                            <terms data-type="mutation"
                                   data-facet-name="functionalImpact"
                                   data-hide-count="true"
                                   data-label="{{'Mutation Impact' | translate}}"
                                   data-facet=" CompoundCtrl.getMutationImpactFacets().functionalImpact"
                            ></terms>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <article>
            <section id="summary">
                <div class="wide">

                    <h3><translate>Summary</translate></h3>
                    <table class="table table-info">
                        <tbody>
                            <tr>
                                <th><translate>Name</translate></th>
                                <td data-ng-bind=":: compound.name"></td>
                            </tr>
                            <tr>
                                <th><translate>Synonyms</translate></th>
                                <td>
                                    <hide-text data-text="{{compound.synonyms.join(', ')}}">
                                    </hide-text>
                                </td>
                            </tr>
                            <tr>
                                <th>InChIKey</th>
                                <td data-ng-bind=":: compound.inchiKey"></td>
                            </tr>
                            <tr>
                                <th><translate>Compound Class</translate></th>
                                <td data-ng-bind=":: compound.drugClass | formatCompoundClass"></td>
                            </tr>
                            <tr>
                                <th><translate>Clinical Trials</translate></th>
                                <td>
                                    <a data-scrollto href="#trials" data-ng-bind=":: compound.cancerTrialCount"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="narrow omega">
                        <h3><translate>External References</translate></h3>
                        <table class="table table-info">
                            <tbody>
                                <tr>
                                    <th><translate>Zinc ID</translate></th>
                                    <td>
                                        <a href="http://zinc15.docking.org/substances/{{compound.id}}" target="_blank">
                                            <span class="icon-external-link"></span> <span data-ng-bind="compound.id"></span>
                                        </a>
                                    </td>
                                </tr>
                            <tr data-ng-repeat="(refName, refIds) in :: compound.externalReferences" data-ng-if="refIds.length">
                                <th data-ng-bind="CompoundCtrl.getPrettyExternalRefName(refName)"></th>
                                <td>
                                    <ul>
                                        <li data-ng-repeat="refId in :: refIds">
                                            <a  data-ng-if="refName === 'chembl'" href="https://www.ebi.ac.uk/chembl/compound/inspect/{{refId}}"
                                                target="_blank">
                                                <span class="icon-external-link"></span> <span data-ng-bind="refId"></span>
                                            </a>

                                            <a  data-ng-if="refName === 'drugbank'" href="http://www.drugbank.ca/drugs/{{refId}}"
                                                target="_blank">
                                                <span class="icon-external-link"></span> <span data-ng-bind="refId"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="wide">
                        <h3><translate>ATC Codes</translate></h3>
                        <div data-ng-if="compound.atcCodes.length == 0"><translate>No ATC Codes Found.</translate></div>
                        <table class="table table-info" data-ng-if="compound.atcCodes.length">
                            <tbody>
                                <tr>
                                    <th><translate>Code</translate></th>
                                    <th><translate>ATC Level 4 Code</translate></th>
                                    <th><translate>ATC Level 4 Description</translate></th>

                                </tr>
                                <tr data-ng-repeat="atcCodes in :: compound.atcCodes">
                                    <td>
                                        <a href="http://www.whocc.no/atc_ddd_index/?code={{atcCodes.atcLevel5Codes}}" target="_blank">
                                            <i class="icon-external-link"></i>
                                            <span data-ng-bind="atcCodes.atcLevel5Codes"></span>
                                        </a>
                                    </td>
                                    <td data-ng-bind="atcCodes.code"></td>
                                    <td data-ng-bind="atcCodes.description"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="narrow omega" data-ng-if="compound.imageURL">
                    <h3><translate>Molecule</translate></h3>
                    <div style="border: solid 1px #ccc; text-align: center; ">
                       <a href="{{compound.imageURL}}" class="no-style" target="_blank">
                           <img ng-src="{{compound.imageURL}}" data-ng-if="compound.imageURL" style="max-width: 100%" />
                       </a>
                    </div>
                </div>

                </section>
            <section id="genes">
                <div class="full">
                    <h3>
                        <translate>Targeted Genes</translate>

                        <span class="open-in pull-right" data-ng-if="CompoundCtrl.getTargetedCompoundGenes() && CompoundCtrl.getTargetedCompoundGenes().length > 0">
                            <translate has-markup>
                              Open in
                              <a href="/search/g?filters={{CompoundCtrl.getFilter()}}">
                                  Advanced Search
                              </a>
                              <a href="/browser/g?filters={{CompoundCtrl.getFilter()}}">
                                  <i class="icon-chart"></i>Genome Viewer
                              </a>
                            </translate>
                        </span>
                    </h3>



                    <div class="t_table_top">

                        <span data-ng-if="CompoundCtrl.getTargetedCompoundGenes() && CompoundCtrl.getTargetedCompoundGenes().length > 0">
                            <data-table-row-counts
                                data-data="CompoundCtrl.getTargetedCompoundGenes()"
                                data-filter="CompoundCtrl.tableFilter.targetedGenes"
                                data-label="{{'genes' | translate}}"
                                data-current-page="CompoundCtrl.currentGenesPage"
                                data-row-limit="CompoundCtrl.defaultGenesRowLimit">
                            </data-table-row-counts>
                            <span class="t_tools" data-toolbar="" data-entity="compound_mutated_genes" data-json="{{CompoundCtrl.getTargetedCompoundGenes()}}">
                                <span class="t_tools__tool" data-tooltip-placement="left" data-icgc-tooltip="{{'Export Table as TSV' | translate}}" data-ng-clicks="downloadHTMLTable(dl, 'tsv')"><i class="icon-file"></i></span>
                            </span>
                            <table-filter data-class="small-filter"
                                data-filter-model="CompoundCtrl.tableFilter.targetedGenes"
                                data-current-page="CompoundCtrl.currentGenesPage"></table-filter>
                        </span>
                        <span data-ng-if="CompoundCtrl.getTargetedCompoundGenes() &&  CompoundCtrl.getTargetedCompoundGenes().length === 0">
                            <translate>No targeted genes found.</translate>
                        </span>
                    </div>
                    <div class="empty" data-ng-if="! CompoundCtrl.getTargetedCompoundGenes()">
                        <h3>
                            <i class="icon-spinner icon-spin"></i> <translate>Loading targeted genes...</translate>
                        </h3>
                    </div>
                    <table class="table table-info" data-ng-if="CompoundCtrl.getTargetedCompoundGenes().length > 0">
                        <tbody>
                            <tr>
                                <th><translate>Symbol</translate></th>
                                <th><translate>Name</translate></th>
                                <th>
                                    <abbr data-icgc-tooltip="{{'Gene location on the genome, chr:start-end' | translate}}">
                                        <translate>Location</translate>
                                    </abbr>
                                </th>
                                <th><translate>Type</translate></th>
                                <th>
                                    <abbr data-icgc-tooltip="{{'Number of Donors where a Gene involved in the Gene Set can be targeted by the compound' | translate}}">#
                                        <translate>Donors affected</translate></abbr><i class="icon-sort-down"></i>
                                </th>
                                <th>
                                    <abbr data-icgc-tooltip="{{'Number of Mutations of gene observed' | translate}}" data-tooltip-placement="left"><translate># Mutations</translate></abbr>
                                </th>
                            </tr>
                            <tr data-ng-repeat="gene in (CompoundCtrl.getTargetedCompoundGenes() |
                                filter: CompoundCtrl.tableFilter.targetedGenes |
                                limitTo: CompoundCtrl.defaultGenesRowLimit : ((CompoundCtrl.currentGenesPage-1) * CompoundCtrl.defaultGenesRowLimit))">
                                <td><a href="/genes/{{gene.uiId}}" data-ng-bind-html="gene.uiSymbol | highlight: CompoundCtrl.tableFilter.targetedGenes"></a></td>
                                <td data-ng-bind-html="gene.uiName | highlight: CompoundCtrl.tableFilter.targetedGenes"></td>
                                <td data-ng-bind-html="gene.uiLocation | highlight: CompoundCtrl.tableFilter.targetedGenes"></td>
                                <td data-ng-bind-html="gene.uiType | highlight: CompoundCtrl.tableFilter.targetedGenes"></td>
                                <td class="text-right" style="position: relative; white-space: nowrap">
                                     <span data-ng-style="{width: gene.uiAffectedDonorCountTotalPercentage}"
                                           class="t_facets__facet__terms__active__term__bar">
                                     </span>
                                    <span data-ng-if="gene.uiAffectedDonorCountFiltered==null"><i class="icon-spinner icon-spin"></i></span>
                                    <span style="position: relative" data-ng-if="(gene.uiAffectedDonorCountFiltered | number) >= 0">
                                        <a data-ng-href='/search?filters={{gene.uiAffectedDonorCountFilter}}'
                                            data-ng-bind-html="gene.uiAffectedDonorCountFiltered | highlight: CompoundCtrl.tableFilter.targetedGenes">
                                        </a>
                                        /
                                        <a href="/search?filters={{CompoundCtrl.getAffectedDonorCountTotalFilter()}}"
                                            ng-bind-html="gene.uiAffectedDonorCountTotal | highlight: CompoundCtrl.tableFilter.targetedGenes"></a>
                                        <em data-ng-bind-html="'(' + gene.uiAffectedDonorCountTotalPercentage + ')' | highlight: CompoundCtrl.tableFilter.targetedGenes"></em>
                                    </span>

                                </td>
                                <td class="text-right">
                                    <span data-ng-if="gene.uiMutationCountTotal == null"><i class="icon-spinner icon-spin"></i></span>
                                    <span data-ng-if="gene.uiMutationCountTotal === 0">--</span>
                                    <a data-ng-if="gene.uiMutationCountTotal > '0'"
                                       data-ng-href='/search/m?filters={{gene.uiMutationCountFilter}}'
                                       data-ng-bind-html="gene.uiMutationCountTotal | highlight: CompoundCtrl.tableFilter.targetedGenes">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination-client-side data-data="CompoundCtrl.getTargetedCompoundGenes()"
                        data-filter="CompoundCtrl.tableFilter.targetedGenes"
                        data-row-limit="CompoundCtrl.defaultGenesRowLimit"
                        data-row-sizes="CompoundCtrl.rowSizes"
                        data-current-page="CompoundCtrl.currentGenesPage"></pagination-client-side>

                </div>
            </section>
            <section id="trials" data-ng-init="sortField = 'uiCode'; sortDescending = false;">
                <div class="full">
                    <h3>
                        <translate>Clinical Trials</translate>

                        <span class="pull-right open-in" data-ng-if="compound.trials.length > 0">
                            <translate has-markup>
                                Open in
                                <a href="http://zinc15.docking.org/substances/{{compound.id}}/trials/subsets/cancer/" target="_blank">
                                    <i class="icon-external-link"></i>
                                    Zinc
                                </a>
                            </translate>

                        </span>
                    </h3>
                    <div class="t_table_top">
                        <span data-ng-if="compound.trials.length > 0">
                            <data-table-row-counts
                                data-data="compound.uiTrials"
                                data-filter="CompoundCtrl.tableFilter.clinicalTrials"
                                data-label="{{'Clinical Trials' | translate}}"
                                data-current-page="CompoundCtrl.currentClinicalTrailsPage"
                                data-row-limit="CompoundCtrl.defaultClinicalTrialsRowLimit">
                            </data-table-row-counts>
                            <span class="t_tools" data-toolbar="" data-entity="compound_trials" data-json="{{compound.trials}}">
                            <span class="t_tools__tool" data-tooltip-placement="left" data-icgc-tooltip="{{'Export Table as TSV' | translate}}" data-ng-clicks="downloadHTMLTable(dl, 'tsv')"><i class="icon-file"></i></span>
                            </span>
                            <table-filter data-class="small-filter"
                                data-filter-model="CompoundCtrl.tableFilter.clinicalTrials"
                                data-current-page="CompoundCtrl.currentClinicalTrailsPage"></table-filter>
                        </span>
                        <span data-ng-if="compound.trials.length === 0">
                            <translate>No trials found.</translate>
                        </span>
                    </div>
                    <table class="table table-info" data-ng-if="compound.uiTrials.length > 0">
                        <thead>
                            <tr>
                                <th data-ng-click="sortField = 'uiCode'; sortDescending = ! sortDescending" class="sortable">
                                    <translate>Code</translate>
                                    <i data-ng-if="sortField !== 'uiCode'" class="icon-sort"></i>
                                    <i data-ng-if="sortField === 'uiCode'"
                                       data-ng-class="{'icon-sort-down': sortDescending, 'icon-sort-up': ! sortDescending}">
                                    </i>
                                </th>
                                <th data-ng-click="sortField = 'uiDescription'; sortDescending = ! sortDescending" class="sortable">
                                    <translate>Description</translate>
                                    <i data-ng-if="sortField !== 'uiDescription'" class="icon-sort"></i>
                                    <i data-ng-if="sortField === 'uiDescription'"
                                       data-ng-class="{'icon-sort-down': sortDescending, 'icon-sort-up': ! sortDescending}">
                                    </i>
                                </th>
                                <th>
                                    <translate>Conditions</translate>
                                </th>
                                <th data-ng-click="sortField = 'uiStartDate'; sortDescending = ! sortDescending" class="sortable">
                                    <translate>Start Date</translate>
                                    <i data-ng-if="sortField !== 'uiStartDate'" class="icon-sort" ></i>
                                    <i data-ng-if="sortField === 'uiStartDate'"
                                       data-ng-class="{'icon-sort-down': sortDescending, 'icon-sort-up': ! sortDescending}">
                                    </i>
                                </th>
                                <th data-ng-click="sortField = 'uiPhaseName'; sortDescending = ! sortDescending" class="sortable">
                                    <translate>Phase</translate>
                                    <i data-ng-if="sortField !== 'uiPhaseName'" class="icon-sort"></i>
                                    <i data-ng-if="sortField === 'uiPhaseName'"
                                       data-ng-class="{'icon-sort-down': sortDescending, 'icon-sort-up': ! sortDescending}">
                                    </i>
                                </th>
                                <th data-ng-click="sortField = 'uiStatusName'; sortDescending = ! sortDescending" class="sortable">
                                    <translate>Status</translate>
                                    <i data-ng-if="sortField !== 'uiStatusName'" class="icon-sort"></i>
                                    <i data-ng-if="sortField === 'uiStatusName'"
                                       data-ng-class="{'icon-sort-down': sortDescending, 'icon-sort-up': ! sortDescending}">
                                    </i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="trial in (compound.uiTrials |
                                filter: CompoundCtrl.tableFilter.clinicalTrials |
                                orderBy:sortField:sortDescending |
                                limitTo: CompoundCtrl.defaultClinicalTrialsRowLimit : ((CompoundCtrl.currentClinicalTrailsPage-1) * CompoundCtrl.defaultClinicalTrialsRowLimit))">
                                <td>
                                    <a style="white-space: nowrap" target="_blank" href="https://www.clinicaltrials.gov/ct2/show/{{trial.uiCode}}">
                                        <i class="icon-external-link"></i> <span data-ng-bind-html="trial.uiCode | highlight: CompoundCtrl.tableFilter.clinicalTrials"></span>
                                    </a>
                                </td>
                                <td>
                                    <hide-text 
                                        text="{{ trial.uiDescription}}"
                                        data-class="table-text-wrap"
                                        data-highlight-filter="CompoundCtrl.tableFilter.clinicalTrials"></hide-text>
                                </td>
                                <td class="text-wrap">
                                    <ul>
                                        <hide-list data-items="trial.uiConditions"
                                                   data-display-limit="2"
                                                   data-template-name="template/compoundList.html"
                                                   data-highlight-filter="CompoundCtrl.tableFilter.clinicalTrials">
                                        </hide-list>
                                    </ul>
                                </td>
                                <td data-ng-bind-html="trial.uiStartDate | highlight: CompoundCtrl.tableFilter.clinicalTrials" style="width:6rem; white-space: nowrap;"></td>
                                <td>
                                    <div data-ng-repeat="phase in trial.uiPhaseName">
                                        <span data-ng-bind-html="phase | highlight: CompoundCtrl.tableFilter.clinicalTrials"></span>
                                    </div>
                                </td>
                                <td class="text-wrap" data-ng-bind-html="trial.uiStatusName | highlight: CompoundCtrl.tableFilter.clinicalTrials"></td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination-client-side data-data="compound.uiTrials"
                        data-filter="CompoundCtrl.tableFilter.clinicalTrials"
                        data-row-limit="CompoundCtrl.defaultClinicalTrialsRowLimit"
                        data-row-sizes="CompoundCtrl.rowSizes"
                        data-current-page="CompoundCtrl.currentClinicalTrailsPage"></pagination-client-side>

                </div>
                <table class="hidden" id="compound_mutated_genes">
                    <thead>
                        <tr>
                            <th><translate>Symbol</translate></th>
                            <th><translate>Name</translate></th>
                            <th><translate>Location</translate></th>
                            <th><translate>Type</translate></th>
                            <th><translate>Number of donors affected</translate></th>
                            <th><translate>Percentage of affected donors</translate></th>
                            <th><translate>Number of Mutations</translate></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="gene in CompoundCtrl.getTargetedCompoundGenes()">
                            <td><a href="/genes/{{gene.id}}" data-ng-bind="gene.symbol"></a></td>
                            <td data-ng-bind="gene.name"></td>
                            <td data-ng-bind-template="chr{{gene.chromosome}}:{{gene.start}}-{{gene.end}}"></td>
                            <td data-ng-bind="gene.type | trans"></td>
                            <td>
                                {{ gene.affectedDonorCountFiltered | number }}
                            </td>
                            <td>
                                {{gene.affectedDonorCountFiltered/CompoundCtrl.getAffectedDonorCountTotal() * 100 | number:2}}%
                            </td>
                            <td>
                                {{ gene.mutationCountTotal | number }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="hidden" data-ng-if="compound.trials.length > 0" id="compound_trials">
                    <thead>
                        <tr>
                            <th><translate>Code</translate></th>
                            <th><translate>Description</translate></th>
                            <th><translate>Conditions</translate></th>
                            <th><translate>Start Date</translate></th>
                            <th><translate>Phase</translate></th>
                            <th><translate>Status</translate></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="trial in compound.trials | orderBy:sortField:sortDescending">
                            <td>
                                <a>
                                    <span data-ng-bind="trial.code"></span>
                                </a>
                            </td>
                            <td>
                               {{ trial.description }}
                            </td>
                            <td>
                                <span data-ng-repeat="condition in trial.conditions">
                                    {{condition.name}}
                                </span>
                            </td>
                            <td data-ng-bind="trial.startDate"></td>
                            <td data-ng-bind="trial.phaseName"></td>
                            <td data-ng-bind="trial.statusName"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article>
    </div>
</div>
