.home-main {
  // Homepage Colours
  $white: #ffffff;
  $light-grey: #fafafa;
  $border-grey: #eaecef;
  $placeholder-grey: #d4d4d4;
  $grey: #a1a1a1;
  $blue: #166aa2;
  $light-blue: #1693c0;
  $dark-blue: #283e5d;
  $orange: #e9931c;

  font-size: 1.25rem;
  color: $dark-blue;

  // Homepage Placeholders
  %content-row {
    width: 100%;
    padding: 32px 0;

    @include breakpoint($break-tablet) {
      padding: 48px 0;
    }
  }

  %two-col-flex {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 1 1 auto;
    }

    break {
      flex-basis: 100%;
      width: 0px;
      height: 0px;
      overflow: hidden;
    }

    .last {
      text-align: right;
      page-break-after: always;
      break-after: always;
    }
  }

  // Layout
  .white-row {
    @extend %content-row;
    background: $white;
  }

  .grey-row {
    @extend %content-row;
    background: $light-grey;
  }

  .blue-row {
    @extend %content-row;
    background: $light-grey;
    background-color: $blue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $white;
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    max-width: 1065px;
    margin: 0 auto;

    @include breakpoint($break-tablet) {
      flex-direction: row;
    }
  }

  h2,
  h3 {
    font-family: $sans-stack;
    margin: 0 0 1rem;
    color: $dark-blue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  h2 {
    font-size: 2.34375rem;
  }

  h3 {
    font-size: 1.9531rem;
  }

  // Content
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;

    @include breakpoint($break-tablet) {
      width: 60%;
      padding-right: 32px;
    }

    .search-box {
      background: $light-grey;
      padding: 24px;

      .t_suggest {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);

        %search-input {
          height: 60px;
          line-height: 60px;
          border: 0;
          border-radius: 0;
        }

        .search-input-container {
          position: relative;
          width: calc(100% - 144px);
        }

        .t_suggest__input {
          @extend %search-input;
          margin: 0;
          padding: 0 48px 0 21px;
          text-indent: 0;
          font-size: 1.25em;

          &::placeholder {
            color: $placeholder-grey;
          }
        }

        .t_suggest__embedded__right {
          top: 19px;
          right: 13px;
        }

        button[type='submit'] {
          @extend %search-input;
          width: 144px;
          padding: 0;
          text-align: center;
          font-size: 1.125em;
          background: $orange;
          color: $white;
        }
      }
    }
  }

  .projects-container {
    background: $light-grey;
    padding: 21px 32px 72px;

    @include breakpoint($break-tablet) {
      width: 40%;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 4px;
    }

    > a {
      display: inline-block;
      color: $orange;
      border-bottom: 1px solid $orange;
    }

    .stats {
      @extend %two-col-flex;
      padding: 48px 0 32px;
      border-bottom: solid 1px $border-grey;

      > div {
        margin-bottom: 1.5rem;
      }
    }

    .latest {
      @extend %two-col-flex;
      padding: 18px 0 0;

      .label {
        color: $grey;
      }

      i {
        color: $blue;
      }

      a {
        color: $light-blue;
      }
    }
  }
}
