.home-main {
  // Homepage Colours
  $white: #ffffff;
  $light-grey: #fafafa;
  $border-grey: #eaecef;
  $placeholder-grey: #d4d4d4;
  $grey: #a1a1a1;
  $dark-grey: #5d5d5d;
  $blue: #166aa2;
  $light-blue: #1693c0;
  $dark-blue: #283e5d;
  $orange: #e9931c;

  // Measuements
  $content-fold-max: 1095px;

  $spacing-min: 12px;
  $spacing-1x: 16px;
  $spacing-2x: $spacing-1x * 2;
  $spacing-3x: $spacing-1x * 3;
  $spacing-max: 72px;

  // home-main styles
  font-size: 1.11111111em;
  color: $dark-blue;

  // Homepage Placeholders
  %content-row {
    width: 100%;
    padding: $spacing-1x 0;

    @include breakpoint($break-tablet) {
      padding: $spacing-2x 0;
    }

    @include breakpoint($content-fold-max) {
      padding: $spacing-3x 0;
    }
  }

  %two-col-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include breakpoint($break-tablet) {
      flex-flow: row nowrap;

      > div {
        width: 50%;
      }
    }
  }

  %two-col-table-flex {
    display: flex;
    flex-flow: row wrap;

    > div {
      flex: 1 1 auto;
    }

    break {
      flex-basis: 100%;
      width: 0px;
      height: 0px;
      overflow: hidden;
    }

    .last {
      text-align: right;
      page-break-after: always;
      break-after: always;
    }
  }

  // Layout
  .white-row {
    @extend %content-row;
    background: $white;
  }

  .grey-row {
    @extend %content-row;
    background: $light-grey;
  }

  .blue-row {
    @extend %content-row;
    background: $light-grey;
    background-color: $blue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: $white;
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0 15px;

    @include breakpoint($break-tablet) {
      flex-direction: row;
    }

    @include breakpoint($content-fold-max) {
      padding: 0;
    }
  }

  h2,
  h3 {
    font-family: $sans-stack;
    margin: 0 0 1em;
    color: $dark-blue;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  h2 {
    font-size: 1.875em;
  }

  h3 {
    font-size: 1.5625em;
  }

  // Content
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;

    @include breakpoint($break-tablet) {
      width: 56%;
      padding-right: $spacing-1x;
    }

    @include breakpoint($content-fold-max) {
      width: 60%;
      padding-right: $spacing-2x;
    }

    .search-box {
      background: $light-grey;
      padding: $spacing-1x;
      margin-bottom: $spacing-1x;

      @include breakpoint($break-tablet) {
        margin-bottom: 0;
      }

      @include breakpoint($content-fold-max) {
        padding: 24px;
      }

      .t_suggest {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: $spacing-1x;

        %search-input {
          height: 48px;
          line-height: 48px;
          border: 0;
          border-radius: 0;

          @include breakpoint($content-fold-max) {
            height: 60px;
            line-height: 60px;
          }
        }

        .search-input-container {
          position: relative;
          width: calc(100% - 96px);

          @include breakpoint($content-fold-max) {
            width: calc(100% - 144px);
          }
        }

        .t_suggest__input {
          @extend %search-input;
          margin: 0;
          padding: 0 40px 0 21px;
          text-indent: 0;
          font-size: 1.25em;

          &::placeholder {
            color: $placeholder-grey;
          }

          @include breakpoint($content-fold-max) {
            padding: 0 48px 0 21px;
          }
        }

        .t_suggest__embedded__right {
          top: 50%;
          margin-top: -12px;
          right: 13px;
        }

        button[type='submit'] {
          @extend %search-input;
          width: 96px;
          padding: 0;
          text-align: center;
          font-size: 1.125em;
          background: $orange;
          color: $white;

          @include breakpoint($content-fold-max) {
            width: 144px;
          }
        }
      }

      .search-suggestions {
        color: $grey;
        padding-bottom: 30px;
        border-bottom: solid 2px $white;
        margin-bottom: 28px;
      }

      .advanced-search {
        h3 {
          color: $dark-grey;
          font-size: 1.125em;
          margin-bottom: 24px;
        }
        .buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          .btn {
            font-size: 1.125em;
            border-radius: 5px;
            color: $white;
            background-color: $blue;
            line-height: 50px;
            width: 30%;
            max-width: 180px;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  .projects-container {
    background: $light-grey;
    padding: $spacing-1x $spacing-1x $spacing-2x;

    @include breakpoint($break-tablet) {
      width: 44%;
    }

    @include breakpoint($content-fold-max) {
      width: 40%;
      padding: 21px $spacing-2x $spacing-max;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 4px;
    }

    > a {
      display: inline-block;
      color: $orange;
      border-bottom: 1px solid $orange;
    }

    .stats {
      @extend %two-col-table-flex;
      padding: 48px 0 $spacing-2x;
      border-bottom: solid 1px $border-grey;

      > div {
        margin-bottom: 1.5em;
      }
    }

    .latest {
      @extend %two-col-table-flex;
      padding: 18px 0 0;

      .label {
        color: $grey;
      }

      i {
        color: $blue;
      }

      a {
        color: $light-blue;
      }
    }
  }

  .intro {
    @extend %two-col-flex;
    margin-bottom: $spacing-1x;

    > div {
      &:first-of-type {
        padding: 0 0 $spacing-1x;
        border-bottom: solid 3px $border-grey;
      }
      &:last-of-type {
        padding: $spacing-1x 0 0;
      }
    }

    @include breakpoint($break-tablet) {
      margin-bottom: $spacing-2x;

      > div {
        &:first-of-type {
          padding: 0 $spacing-2x 0 $spacing-1x;
          border-right: solid 3px $border-grey;
          border-bottom: 0;
        }
        &:last-of-type {
          padding: 0 $spacing-1x 0 $spacing-2x;
        }
      }
    }

    @include breakpoint($content-fold-max) {
      margin-bottom: $spacing-max;

      > div {
        &:first-of-type {
          padding: 0 $spacing-max 0 $spacing-2x;
        }
        &:last-of-type {
          padding: 0 $spacing-2x 0 $spacing-max;
        }
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2em;
    }

    img {
      height: 110px;
      width: auto;

      @include breakpoint($content-fold-max) {
        height: 130px;
      }
    }
  }

  .updates {
    width: 100%;
    background: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 -172px;

    .header {
      display: flex;
      flex-flow: row column;
      justify-content: space-between;
      align-items: center;
      padding: 11px 22px;
      background: rgba(68, 199, 243, 0.1);

      h3 {
        margin: 0;
      }
    }

    .body {
      padding: 36px 22px 28px;
    }

    .footer {
      padding: 28px 22px 48px;
    }
  }

  .after-updates {
    margin-top: 172px;
  }
}
