<section>
<div data-ng-if="!analysisId" data-ng-controller="NewAnalysisController as NAC" class="analysis">
    <div style="font-size:1.25rem">
        <span class="action-toolbar" data-ng-show="NAC.analysisType !== null">
          <span class="action-item">
            <i class="icon-beaker"></i><a href="" data-ng-click="NAC.analysisType = null"><translate>Analysis</translate></a>
          </span>                  
        </span>
        <span data-ng-show="NAC.analysisType !== null">&gt;</span>
        <span data-ng-show="NAC.analysisType !== null">
          <translate>Select {{NAC.analysisType === 'enrichment'?'set':'sets'}} for 
          <strong>{{NAC.analysisName(NAC.analysisType)}}</strong></translate>
        </span>
    </div>

    <div data-ng-show="NAC.analysisType === null">
        <div>
            <div class="analysis-tiles">
                <div class="analysis-tile-container">
                    <div class="analysis-tile" data-ng-click="NAC.analysisType='enrichment'">
                        <h2
                           class="analysis-title"
                        >
                           {{NAC.analysisName('enrichment')}}
                        </h2>
                        <img
                           class="analysis-illustration"
                           src="/styles/images/analysis-enrichment.svg"
                        />
                        <div class="analysis-tile-detail">{{NAC.analysisDescription('enrichment')}}</div>
                    </div>

                    <div class="tile-extra-container" data-ng-click="NAC.demoEnrichment()">
                        <div class="tile-extra">
                           <h3 class="demo-title">
                              <translate>Demo</translate>
                           </h3>
                           <div class="demo-description">
                              {{NAC.analysisDemoDescription('enrichment')}}
                           </div>
                        </div>
                    </div>
                </div>
                <div class="analysis-tile-container">
                    <div class="analysis-tile" data-ng-click="NAC.analysisType='phenotype'">
                        <h2
                           class="analysis-title"
                        >
                           {{NAC.analysisName('phenotype')}}
                        </h2>
                        <img
                           class="analysis-illustration"
                           src="/styles/images/analysis-phenotype.svg"
                        />
                        <div class="analysis-tile-detail">{{NAC.analysisDescription('phenotype')}}</div>
                    </div>
                    <div class="tile-extra-container" data-ng-click="NAC.demoPhenotype()">
                        <div class="tile-extra">
                           <h3 class="demo-title">
                              <translate>Demo</translate>
                           </h3>
                           <div class="demo-description">
                              {{NAC.analysisDemoDescription('phenotype')}}
                           </div>
                        </div>
                    </div>
                </div>
                <div class="analysis-tile-container">
                    <div class="analysis-tile" data-ng-click="NAC.analysisType='set'">
                        <h2
                           class="analysis-title"
                        >{{NAC.analysisName('set')}}</h2>
                        <img
                           class="analysis-illustration"
                           src="/styles/images/analysis-set.svg"
                        />
                        <div class="analysis-tile-detail">{{NAC.analysisDescription('set')}}</div>
                    </div>
                    <div class="tile-extra-container" data-ng-click="NAC.demoSetOperation()">
                        <div class="tile-extra">
                           <h3 class="demo-title">
                              <translate>Demo</translate>
                           </h3>
                           <div class="demo-description">
                              {{NAC.analysisDemoDescription('set')}}
                           </div>
                        </div>
                    </div>
                </div>
                <div class="analysis-tile-container">
                    <div class="analysis-tile" data-ng-click="NAC.analysisType='oncogrid'">
                        <h2
                           class="analysis-title"
                        >{{NAC.analysisName('oncogrid')}}</h2>
                        <img
                           class="analysis-illustration"
                           src="/styles/images/analysis-onco.svg"
                        />
                        <div class="analysis-tile-detail">{{NAC.analysisDescription('oncogrid')}}</div>
                    </div>
                    <div class="tile-extra-container" data-ng-click="NAC.demoOncogrid()">
                        <div class="tile-extra">
                           <h3 class="demo-title">
                              <translate>Demo</translate>
                           </h3>
                           <div class="demo-description">
                              {{NAC.analysisDemoDescription('oncogrid')}}
                           </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="analysis-suggestions">
                <a class="cta" href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback">
                     <h3 class="cta-title">More?</h3>
                     <div class="cta-detail">
                        <translate>Do you have a specific type of analysis you want to see?</translate>
                        <br/>
                        <translate>Leave feedback and let us know.</translate>
                     </div>
                </a>
            </div>
        </div>
    </div>
    <br> 
    <div data-ng-if="NAC.analysisType">
        <set-selection
            ng-repeat="analysisType in ['enrichment', 'phenotype', 'set', 'oncogrid']"
            data-ng-if="analysisType === NAC.analysisType"
            sets="NAC.allSets"
            description="NAC.analysesMeta[analysisType].strings.description"
            demo-cta-text="NAC.analysesMeta[analysisType].strings.demoDescription"
            selection-instructions="NAC.analysesMeta[analysisType].strings.datasetSelectionInstructions"
            is-launching-analysis="NAC.isLaunchingAnalysis()"
            set-compatibility-criteria="NAC.analysesMeta[analysisType].setCompatibilityCriteria"
            analysis-satisfaction-criteria="NAC.analysesMeta[analysisType].analysisSatisfactionCriteria"
            on-click-launch="NAC.analysesMeta[analysisType].launch"
            on-click-launch-demo="NAC.analysesMeta[analysisType].launchDemo"
        ></set-selection>
    </div>
</div>
</section>