<section>
<div data-ng-if="!analysisId" data-ng-controller="NewAnalysisController as NAC" class="analysis">
    <div
        class="analysis-tool-selection col-md-7 col-md-push-2"
        ng-class="{
            'analysis-tool-selection--condensed': !!NAC.selectedAnalysis
            }"
    >
        <div
            ng-repeat="(analysisType, analysis) in NAC.analysesMeta"
            class="analysis-tool analysis-tool--{{analysis.type}}"
            ng-click="NAC.handleClickAnalysis(analysis)"
        >
            <div class="analysis-tool__image-wrapper" ng-if="analysis.image" ng-bind-html="analysis.image | to_trusted"></div>
            <div class="analysis-tool__column--text">
                <h2 class="analysis-tool__heading">
                    {{analysis.strings.name}}
                    <small>
                        <a
                            class="demo"
                            ng-click="analysis.launchDemo(); $event.stopPropagation(); $event.preventDefault();"
                            tooltip="{{analysis.strings.demoDescription}}"
                            href="#"
                        > (demo) </a>
                    </small>
                </h2>
                <p class="analysis-tool__description">
                    {{analysis.strings.description}}
                </p>
            </div>
        </div>


        <a
            class="analysis-tool analysis-tool--suggestions"
            href="mailto:dcc-support@icgc.org?Subject=Data%20Portal%20Feedback"
        >
            <div class="analysis-tool__image-wrapper">
                <img style="width: 48%;" src="/styles/images/lightbulb-illustration.svg">
            </div>
            <div class="analysis-tool__column--text">
                <h2 class="analysis-tool__heading" >More?</h2>
                <p class="analysis-tool__description">
                    <translate>Do you have a specific type of analysis you want to see?</translate>
                    <br/>
                    <translate>Leave feedback and let us know.</translate>
                </p>
            </div>
        </a>
    </div>
    <div
        class="row"
        ng-show="NAC.selectedAnalysis"
    >
        <div ng-click="NAC.handleClickAnalysis()">
            <i class="fa fa-arrow-left"></i> Return to tool selection
        </div>
        <div
            class="set-selection-wrapper col-md-7 col-md-push-2"
        >
            <div
                style="font-size: 22px; color: #333; font-size: 500;"
                data-ng-show="!NAC.selectedAnalysis"
            >
                <translate>Saved Sets</translate>
            </div>
            <div style="font-size:1.25rem" data-ng-show="NAC.selectedAnalysis">
                <small style="display: block; margin-bottom: -0.2em; color: #666;">
                    <translate>Select {{NAC.selectedAnalysis.type === 'enrichment' ? 'set' : 'sets'}} for
                </small> 
                <div>
                    <strong style="font-size: 22px; color: #333;">{{NAC.selectedAnalysis.strings.name}}</strong></translate>
                    <small>
                        <a
                            class="demo"
                            ng-click="NAC.selectedAnalysis.launchDemo()"
                            tooltip="{{analysis.strings.demoDescription}}"
                            href="#"
                        > (demo) </a>
                    </small>
                </div>
            </div>

            <div ng-show="!NAC.selectedAnalysis" style="color: #999;">
                <translate has-markup>You can create and save new <strong>donor</strong>, <strong>gene</strong>, or <strong>mutation</strong> sets of interest from
                <span class="action-toolbar"><span class="action-item"><i class="icon-search"></i><a href="/search">Advanced Search.</a></span></span></translate>
                <br>

                <translate has-markup>
                    You can also
                    <span class="action-toolbar">
                        <span class="action-item">
                            <i class="icon-floppy"></i>
                            <a href="" data-ng-click="NAC.addCustomGeneSet()">Upload</a> your own gene set.
                        </span>
                    </span>
                </translate>
            </div>
            <set-selection
                sets="NAC.allSets"
                description="NAC.selectedAnalysis.strings.description"
                selection-instructions="NAC.selectedAnalysis.strings.datasetSelectionInstructions"
                is-launching-analysis="NAC.isLaunchingAnalysis()"
                set-compatibility-criteria="NAC.selectedAnalysis.setCompatibilityCriteria"
                analysis-satisfaction-criteria="NAC.selectedAnalysis.analysisSatisfactionCriteria"
                on-click-launch="NAC.selectedAnalysis.launch"
                on-click-launch-demo="NAC.selectedAnalysis.launchDemo"
                on-selected-sets-change="NAC.handleSelectedSetsChange"
            ></set-selection>
        </div>
    </div>
</div>
</section>