<section class="analysis">
    <div class="sidepanel" data-ng-controller="AnalysisListController as ListController">
        <div>
            <button class="t_button t_button__destructive" data-ng-click="ListController.removeAllAnalyses()" 
                data-ng-disabled="ListController.analysisList.length === 0"
                data-tooltip="Delete All Analyses">
                <i class="icon-trash"></i> Delete all
            </button>
        </div>

        <div class="select-list" style="margin-top: 0.5rem" data-ng-if="ListController.analysisList.length === 0">
        You have no saved analyses.
        </div>

        <div class="select-list" style="margin-top: 0.5rem; max-height:40rem" data-ng-if="ListController.analysisList.length > 0">
            <div class="select-list-item"
                 data-ng-repeat="item in ListController.analysisList" 
                 data-ng-click="ListController.getAnalysis(item.id, item.type)"
                 data-ng-class="{active:  item.id === analysisId}">
               <span>
                   {{ ListController.analysisName(item.type) }}
                   <small class="pull-right t_suggest_detail"> 
                      {{item.timestamp | date:"yyyy-MM-dd"}}
                   </small><br>
                   <small data-ng-if="item.type === 'enrichment'" class="t_suggest_detail">
                       {{item.universe | universe}} - {{item.maxGeneCount | number}} {{item.maxGeneCount !== 1? "genes": "gene" }}
                   </small>
                   <small data-ng-if="item.type === 'set'" class="t_suggest_detail">
                       {{item.dataType | readable}} - {{item.inputSetCount}} sets
                   </small>
                   <small data-ng-if="item.type === 'phenotype'" class="t_suggest_detail">
                   Donor - {{item.inputSetCount}} sets
                   </small>
                   <span class="" data-ng-click="$event.stopPropagation(); ListController.remove(item.id, analysisId);">
                       <i class="icon-cancel pull-right select-list-cancel"
                          data-tooltip="Delete Analysis"
                          data-tooltip-placement="right">
                       </i>
                   </span>
               </span>
            </div>
        </div>
    </div>
    

    <div class="content ng-cloak analysis-content">
        <div style="margin: 0rem 0rem" data-ng-if="analysisId">
            <div data-ng-if="analysisType === 'enrichment'" >
                <div data-ng-if="!error">
                    <enrichment-result data-item="analysisResult"></enrichment-result>
                </div>
            </div>
            <div data-ng-if="analysisType === 'set' || analysisType === 'union'">
                <div data-ng-if="!error">
                    <set-operation data-item="analysisResult"></set-operation>
                </div>
            </div>
            <div data-ng-if="analysisType === 'phenotype'">
                <div data-ng-if="!error">
                    <phenotype-result data-item="analysisResult"></phenotype-result>
                </div>
            </div>
            <div class="clearfix"></div>
    
            <div data-ng-if="error" class="alert-error">
                <i class="icon-attention"></i><span>Analysis <strong>{{analysisId}}</strong> cannot be found on the server. It may no longer be valid with respect to current portal data.</span>
            </div>
        </div>
    </div>
</section>

