<section class="analysis" data-ng-controller="AnalysisListController as ListController">
    <div class="sidepanel">

        <div class="select-list" data-ng-if="ListController.analysisList.length === 0">
            <span class="select-list-no-item"><translate>You have no saved analysis.</translate></span>
        </div>

        <div class="select-list" data-ng-if="ListController.analysisList.length > 0">
            <div class="select-list-item"
                 data-ng-repeat="item in ListController.analysisList" 
                 data-ng-click="ListController.getAnalysis(item.id, item.type)"
                 data-ng-class="{active:  item.id === analysisId}">
               <span class="select-list-item-detail">
                  <i
                    class="icon-cancel pull-right select-list-cancel"
                    data-ng-click="$event.stopPropagation(); ListController.remove(item.id, analysisId);"
                    data-tooltip="{{'Delete Analysis' | translate}}"
                    data-tooltip-placement="right">
                  </i>
                  <span>{{ ListController.analysisName(item.type) }}</span>
                  <br>
                  
                  <small data-ng-if="item.type === 'enrichment'" class="t_suggest_detail">
                    <translate translate-comment="Please change 'genes' and 'gene' to appropreate translation">
                        {{item.universe | universe}} - {{item.maxGeneCount | number}} {{item.maxGeneCount !== 1? "genes": "gene" }}
                    </translate>
                  </small>
                  <small data-ng-if="item.type === 'set'" class="t_suggest_detail">
                    <translate translate-comment="'Mutation' - 'N' sets">
                        {{item.dataType | readable}} - {{item.inputSetCount}} sets
                    </translate>
                  </small>
                  <small data-ng-if="item.type === 'phenotype'" class="t_suggest_detail">
                    <translate>Donor - {{item.inputSetCount}} sets</translate>
                  </small>
                  <small data-ng-if="item.type === 'oncogrid'" class="t_suggest_detail">
                    <translate>{{item.donorCount}} Donors &amp; {{item.geneCount}} Genes</translate>
                  </small>
                  <br>
                  <small class="pull-left t_suggest_detail list-item-date"> 
                    {{item.timestamp | date:"yyyy-MM-dd"}}
                  </small>
               </span>
            </div>
        </div>

        <button class="delete-button t_button t_button__destructive pull-right" data-ng-click="ListController.removeAllAnalyses()" 
                data-ng-disabled="ListController.analysisList.length === 0"
                data-tooltip="{{'Delete All Analysis' | translate}}">
        <i class="icon-trash"></i> <translate>Delete all</translate>
        </button>        
    </div>
    <div
        class="content ng-cloak analysis-content"
        ng-repeat="item in ListController.analysisList"
        ng-lazy-show="item.id === analysisId"
    >
        <div style="padding: 2rem 1rem" data-ng-if="analysisId">
            <div data-ng-if="item.type === 'enrichment'" >
                <div data-ng-if="!error">
                    <enrichment-result data-item="analysisResult"></enrichment-result>
                </div>
            </div>
            <div data-ng-if="item.type === 'set' || item.type === 'union'">
                <div data-ng-if="!error">
                    <set-operation data-item="::(analysisResult.result ? analysisResult : undefined)"></set-operation>
                </div>
            </div>
            <div data-ng-if="item.type === 'phenotype'">
                <div data-ng-if="!error">
                    <phenotype-result data-item="::(analysisResult.results ? analysisResult : undefined)"></phenotype-result>
                </div>
            </div>
            <div data-ng-if="item.type === 'oncogrid'">
                <div data-ng-if="!error">
                    <oncogrid-analysis data-item="::(analysisResult.state === 'FINISHED' ? analysisResult : undefined)"></oncogrid-analysis>
                </div>
            </div>
            <div class="clearfix"></div>
    
            <div data-ng-if="error" class="alert-error">
                <i class="icon-attention"></i><span><translate has-markup>Analysis <strong>{{analysisId}}</strong> cannot be found on the server. It may no longer be valid with respect to current portal data.</translate></span>
            </div>
        </div>
    </div>
</section>

