.modify-existing-set-modal {
  .modal-body {
    padding: 0;
  }

  .empty {
    padding: 15px;
  }

  .table-info {
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 0;
    tr {
      cursor: pointer;
    }
  }
}